body {
    height: 100%;
    font: 14px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../image/storebg.png');
    background-color: #f9f9f9;
    color: #444444;
}

html {
    height: 100%;
}

img {
    color: transparent;
    font-size: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
    border: 0px;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
}

li {
    display: list-item;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
    margin-bottom: 20px;
}

a,a:active,a:link,a:visited {
    color: #333333;
    text-decoration: none;
}

a:hover, a.active-tag, a.active-page {
    text-decoration: underline;
    color: #f52f11;
}


a.button.orange {
    color: #FFFFFF;
    text-decoration: none;
}

a.button.gray {
    color: #333333;
    text-decoration: none;
}

h1 {
    padding-top: 20px;
}

.example-block {
   /* background: #ffffff;  */
    /*font-size: 10px; */
    overflow: hidden;
    /* margin-bottom: 20px;*/
    /*padding: 10px 0; */
    /*text-align: center;*/
}

.grid-container {
    padding-bottom: 20px;
    background-color: #fafafa;
    /*background-color: red; */
}

.grid-container > hr {
    margin-left: 10px;
    margin-right: 10px;
}

div[class*="push-"] section {
    background: #ddeecc;
}

div[class*="pull-"] section {
    background: #ffccdd;
}

.dynamic-px-width {
    display: block;
}

/* ******************************************************************************************** */

.top-links a {
    color: #fff;
    font-size: 14px;
}

ul.text-links .level-0 {
    padding-top: 10px;
}

ul.text-links .level-0 {
    padding-top: 10px;
}

ul.text-links .level-1 {
    margin-left: 10px;
}

ul.text-links .level-2 {
    margin-left: 20px;
}

ul.text-links .level-3 {
    margin-left: 30px;
}

ul.text-links .level-4 {
    margin-left: 40px;
}

/* Header */
.top-links {

}

.top-links a {
    color: #fff;
    font-size: 17px;
}

.top-q-links {
    padding-left: 20px;
    padding-bottom: 0px;
    box-sizing: border-box;

    margin-bottom: -7px;

}

.top-q-links li {
    margin-right: 15px;

}

.top-q-links li {
    display: inline-block;
}

.phones-wrap {
    margin-top: -4px;
}


.back span:before {
    content: " < "
}

.forward span:after {
    content: " > "
}


.active-checkout-step {
    font-weight: bold;
    font-size: 18px;
    color: #f5681c;
    margin-bottom: 5px;
    display: block;
}

.checkout-step {
    font-weight: bold;
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 5px;
    display: block;
}

.footer-table-tittle {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;
    color: #fff !important;
    text-transform: uppercase;
}

/** -------------------------- breadcrumbs -------------------------------------*/
.breadcrumb {
    position: relative;
    height: 30px;
    width: 100%;


}

.breadcrumb ul {
    position: relative;
    margin: 0 0px 0 0px;
    padding: 0;
    height: 30px;
    background: url('../image/breadcrumbImage.png') 0px -30px repeat-x;
}

.breadcrumb ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    height: 30px;
    display: inline;
}

.breadcrumb ul li a:nth-child(even) {
    font: 10px Verdana, Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 30px;
    display: block;
    float: left;
    background: url('../image/breadcrumbImage.png') 100% -60px no-repeat;
    padding: 0 17px 0 15px;
}

.breadcrumb ul li a:nth-child(odd) {
    font: 10px Verdana, Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 30px;
    display: block;
    float: left;
    background: url('../image/breadcrumbImage.png') 100% -90px no-repeat;
    padding: 0 1px 0 15px;
}

.breadcrumb ul li a:hover {
    text-decoration: underline;
    color: #f52f11;
}

.breadcrumb ul li a.active {
    background: none;
    color: rgb(0, 0, 0);
}

.breadcrumb ul li a.active:hover {
    text-decoration: none;
}

.breadcrumb .left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 30px;
    display: block;
    z-index: 1;
    background: url('../image/breadcrumbImage.png') 0% 0px no-repeat;
}

.breadcrumb .right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 10px;
    height: 30px;
    display: block;
    z-index: 1;
    background: url('../image/breadcrumbImage.png') 100% -90px no-repeat;
}

.breadcrumb-container {
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 5px;
}

/** --------------------------------------------------------------------------- */

.toggleMenu2 {
    display: none;
    background: #557799; /*335599;*/
    padding: 15px 10px;
    color: #fff;
    text-align: left;
    margin-bottom: 0px;
    border-bottom-width: 0px;
    width: 97%;
}


.topcatnav {
    list-style: none;
    *zoom: 1;
    /* background: #557799; /*335599;*/
    /*background: #7980a9;*/
    margin-top: 0px;
    padding-left: 0px;

    background-color: #557799; /* a5b8da; */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
    background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
    background-image: linear-gradient(to bottom, #a5b8da, #7089b3);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a5b8da, endColorstr=#7089b3);
}

.topcatnav:before,
.topcatnav:after {
    content: " ";
    display: table;
}

.topcatnav:after {
    clear: both;
}

.topcatnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /*width: 9em; */

}

.topcatnav a {
    padding: 10px 15px;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #FFFFFF;
}

.topcatnav a:hover {
    padding: 10px 15px;
    color: #FFBB22;
    font-style: normal;
}

/*wicket inactive link workaround*/
.topcatnav li span span {
    padding: 10px 15px;
    font-style : italic;
    line-height: 40px;
    color: #FFBB22;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}

.topcatnav li {
    position: relative;
}

.topcatnav > li {
    /*float: left;*/
    border-top: 1px solid #aaaaaa;

}

.topcatnav > li > .parent {
    background-image: url("../image/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}

.topcatnav > li > a {
    display: block;

    background-color: #557799; /* a5b8da; */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
    background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
    background-image: linear-gradient(to bottom, #a5b8da, #7089b3);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a5b8da, endColorstr=#7089b3);

}

.topcatnav li  ul {
    position: absolute;
    left: -9999px;
    margin: 0;
    padding: 0;
}

.topcatnav > li.hover > ul {
    left: 0;
}

.topcatnav li li.hover ul {
    left: 100%;
    top: 0;
}

.topcatnav li li a {
    display: block;
    background: #808080;
    /*background: #8990b9;*/
    position: relative;
    z-index: 100;
    border-top: 1px solid #ffffff;

}

.topcatnav li li li a {
    background: #909090;
    /*background: #99a0c9;*/
    z-index: 200;
    border-top: 1px solid #ffffff;
}

a.active-category {
    color: #FFBB22;
    font-style: italic;
    border-bottom: solid 2px #EE7600;
}

/* ------------------------------------------------------------------------------------- */


.toggleMenu {
    display: none;
    background: #557799; /*335599;*/
    padding: 15px 10px;
    color: #fff;
    text-align: left;
    margin-bottom: 0px;
    border-bottom-width: 0px;
    width: 97%;
}

a.toggleMenu,a.toggleMenu2 {
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #FFFFFF;
    border-right: 1px solid #7d99ca;

    background-color: #557799; /* a5b8da; */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
    background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
    background-image: linear-gradient(to bottom, #a5b8da, #7089b3);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a5b8da, endColorstr=#7089b3);
}

a.toggleMenu:hover,a.toggleMenu2:hover {
    color: #FFBB22;
    font-style: normal;
    border-right: 1px solid #7d99ca;
}

.nav {
    list-style: none;
    *zoom: 1;
    /* background: #557799; /*335599;*/
    margin-top: 0px;
    padding-left: 0px;

    background-color: #557799; /* a5b8da; */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
    background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
    background-image: linear-gradient(to bottom, #a5b8da, #7089b3);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a5b8da, endColorstr=#7089b3);
}

.nav:before,
.nav:after {
    content: " ";
    display: table;
}

.nav:after {
    clear: both;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    /*width: 9em; */

}

.nav a.nav-link {
    padding: 10px 15px;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #FFFFFF;
    border-right: 1px solid #7d99ca;
}

.nav a.active-tag, .nav a.active-page {
    color: #FFBB22;
    text-decoration: underline;
    font-style: italic;
}

/*wicket inactive link workaround*/
.nav span.nav-link {
    padding: 10px 15px;
    color: #FFBB22;
    font-style : italic;
    line-height: 40px;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    border-right: 1px solid #7d99ca;
}

.nav a.nav-link:hover {
    padding: 10px 15px;
    color: #FFBB22;
    font-style: normal;
    border-right: 1px solid #7d99ca;
}

.nav li {
    position: relative;
}

.nav > li {
    float: left;
    border-top: 1px solid #aaaaaa;

}

.nav > li > .parent {
    background-image: url("../image/downArrow.png");
    background-repeat: no-repeat;
    background-position: right;
}

.nav > li > a {
    display: block;
}

.nav li  ul {
    position: absolute;
    left: -9999px;
    margin: 0;
    padding: 0;
}

.nav > li.hover > ul {
    left: 0;
}

.nav li li.hover ul {
    left: 100%;
    top: 0;
}

.nav li li a {
    display: block;
    /*background: #8990b9;*/
    position: relative;
    z-index: 100;
    border-top: 1px solid #7d99ca;

    background-color: #557799; /* a5b8da; */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
    background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
    background-image: linear-gradient(to bottom, #a5b8da, #7089b3);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a5b8da, endColorstr=#7089b3);
}

.nav li li li a {
    z-index: 200;
    border-top: 1px solid #7d99ca;

    background-color: #557799; /* a5b8da; */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
    background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
    background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
    background-image: linear-gradient(to bottom, #a5b8da, #7089b3);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a5b8da, endColorstr=#7089b3);

}

#top-categories-desktop li {
    float: none;
}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }

    .nav > li {
        float: none;
    }

    .nav > li > .parent {
        background-position: 95% 50%;
    }

    .nav li li .parent {
        background-image: url("../image/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }

    .nav ul {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .nav > li.hover > ul, .nav li li.hover ul {
        position: static;
        margin: 0;
        padding: 0;
    }

}

/* ------------------------------------------------------------------*/
.filternav-head {
    color: #000000;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 1px;
    display: block;
}

.filternav {
    margin: 0;
    padding: 0;
}

.filternav li a:hover div div div  {
    color: #f52f11;
    text-decoration: underline;
}

.filternav-line {
    display:table;
    width:100%;
}

.filternav-row {
    display:table-row;
}

.filternav-row-attr {
    display:table-cell;
    text-align: left;
}

.filternav-row-val {
    display:table-cell;
    text-align: right;
}

/* -- product, sku  ------------------------------------------------------------ */

.product-tittle {
    color: #000000;
    font-size: 20px;
}

.product-tittle a:hover {
    color: #f52f11;
    font-size: 20px;

}

.product-sku-code {
    color: #000000;
}

.product-sku-code a:hover {
    color: #f52f11;
}

/* -- PRICE ------------------------------------------------------------ */

.regular-price-whole {
    font-family: fut;
    font-size: 22px;
    font-weight: bold;
}

.regular-price-dot {
    font-family: fut;
    font-size: 22px;
    font-weight: bold;
    font-size: 0.8em;
    vertical-align: baseline;
    top: -0.7em;
    position: relative;
    display: none;
    visibility: hidden;
}

.regular-price-decimal {
    font-family: fut;
    font-size: 22px;
    font-weight: bold;
    font-size: 0.8em;
    vertical-align: baseline;
    top: -0.7em;
    position: relative;
    text-decoration: underline;
}

.regular-sale-price-whole {
    font-family: fut;
    font-size: 22px;
    color: #aaaaaa;
    font-weight: lighter;
    text-decoration: line-through;
}

.regular-sale-price-dot {
    font-family: fut;
    font-size: 22px;
    color: #aaaaaa;
    font-weight: lighter;
    font-size: 0.5em;
    vertical-align: baseline;
    top: -0.7em;
    position: relative;
}

.regular-sale-price-decimal {
    font-family: fut;
    font-size: 22px;
    color: #aaaaaa;
    font-weight: lighter;
    font-size: 0.5em;
    vertical-align: baseline;
    top: -0.7em;
    position: relative;
    text-decoration: line-through;
}

.sale-price-whole {
    font-family: fut;
    font-size: 22px;
    color: #ff1111;
    font-weight: bold;
}

.sale-price-dot {
    font-family: fut;
    font-size: 22px;
    color: #ff1111;
    font-weight: bold;
    font-size: 0.8em;
    vertical-align: baseline;
    top: -0.7em;
    position: relative;
    display: none;
    visibility: hidden;
}

.sale-price-decimal {
    font-family: fut;
    font-size: 22px;
    color: #ff1111;
    font-weight: bold;
    font-size: 0.8em;
    vertical-align: baseline;
    top: -0.7em;
    position: relative;
    text-decoration: underline;
}

.sku .sale-price-save {
    font-size: 12px;
}

.menu .sale-price-save {
    font-size: 50%;
    margin-left: 3px;
    position: absolute;
}

.cart-total {
    border-top: #999999 solid 1px;
    font-size: 16px;
    margin-top: 5px;
    padding-top: 10px;
}

.cart-total .sale-price-save {
    font-size: 50%;
    display: block;
}

.cart-item-price  .sale-price-save {
    display: block;
}

.big {
    font-size: 20px;
}

.small {
    font-size: 12px;
}

.input-text {
    width:260px;

}

.input-select {
    width:260px;

}


.currency-active, .language-active, .items-per-page-active, .sort-order-active, .nav-page-active {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: .1em 0.5em .1em;
    border: 1px solid #000000;
}

.currency, .language, .items-per-page, .sort-order, .nav-page, .nav-page-control  {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #696969;
    padding: .1em 0.5em .1em;
    border: 1px solid #dadada;
}





.button {

    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.button:hover {
    text-decoration: none;
}

.button:active {
    position: relative;
    top: 1px;
}

.gray {
    color: #443333;
    border: solid 1px #aaaaaa;
    background: #e7e7e7;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e7e7e7));
    background: -moz-linear-gradient(top,  #ffffff,  ##e7e7e7);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e7e7e7');
}
.gray:hover {
    background: #cccccc;
    border: solid 1px #aaaaaa;
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#bcbcbc));
    background: -moz-linear-gradient(top,  #f0f0f0,  #bcbcbc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#bcbcbc');
}
.gray:active {
    color: #eafcea;
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#bcbcbc));
    background: -moz-linear-gradient(top,  #f0f0f0,  #bcbcbc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0f0f0', endColorstr='#bcbcbc');
}


.orange {
    color: #ffffff;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

.orange:hover {
    background: #f47c20;
    border: solid 1px #da7c0c;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top, #f88e11, #f06015);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

.orange:active {
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top, #f47a20, #faa51a);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');

}
/* wicket */

.feedbackPanelERROR {
    font-size:16px;
    font-weight:bold;
    color: #ff4444;
    margin-bottom:5px;
}

.feedbackPanelINFO {
    font-size:16px;
    font-weight:bold;
    color: #44ff44;
    margin-bottom:5px;
}


/* --------------------------------------------------------------------------------------------------------------- */
ul.resp-tabs-list, p {
    margin: 0px;
    padding: 0px;
}

.resp-tabs-list li {
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    padding: 13px 15px;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 15px;
}

.resp-tab-active {
    border: 1px solid #c1c1c1;
    border-bottom: none;
    margin-bottom: -1px !important;
    padding: 12px 14px 14px 14px !important;
}

.resp-tab-active {
    border-bottom: none;
    background-color: #fff;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    border: 1px solid #c1c1c1;
}

h2.resp-accordion {
    font-size: 13px;
    border: 1px solid #c1c1c1;
    border-top: 0px solid #c1c1c1;
    margin: 0px;
    padding: 10px 15px;
}

h2.resp-tab-active {
    border-bottom: 0px solid #c1c1c1 !important;
    margin-bottom: 0px !important;
    padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}

/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    border: 1px solid #c1c1c1;
    border-right: none;
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 12px solid #c1c1c1;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #9B9797;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #DBDBDB !important;
}

.resp-easy-accordion  h2.resp-accordion {
    display: block;
}

.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
    border-top: 1px solid #c1c1c1 !important;
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }

    .resp-accordion-closed {
        display: none !important;
    }

    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
}

/* ########################################## slider #########################################*/
.wrapper {
    background-color: white;
    width: 480px;
    margin: 40px auto;
    padding: 50px;
    box-shadow: 0 0 5px #999;
}
.list_carousel {
    margin: 0 0 30px 60px;
    width: 360px;
}
.list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.list_carousel li {
    font-size: 40px;
    /*color: #999;*/
    text-align: center;
    /*background-color: #eee;
    border: 5px solid #999;*/
    width: 50px;
    height: 80px;
    padding: 0;
    margin: 6px;
    display: block;
    float: left;
}
.list_carousel.responsive {
    width: auto;
    margin-left: 0;
}
.clearfix {
    float: none;
    clear: both;
}
.prev {
    float: left;
    margin-left: 10px;
}
.next {
    float: right;
    margin-right: 10px;
}
.pager {
    float: left;
    width: 300px;
    text-align: center;
}
.pager a {
    margin: 0 5px;
    text-decoration: none;
}
.pager a.selected {
    text-decoration: underline;
}
.timer {
    background-color: #999;
    height: 6px;
    width: 0px;
}

/* --------------------------------------------- */

.big-title{
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}

.middle-title{
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.small-title{
    font-weight: bold;
    color: #000000;
}

/* ---------------------  payment form ------------------------ */


#paymentDiv input[type=submit] {

    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    /*font: 16px/100% Arial, Helvetica, sans-serif;*/
    padding: .5em 2em .55em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);

    color: #ffffff;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');

    font-size: 20px;

}

/* ---------------------  search classes ------------------------ */

.search-input {
    padding-right: 0px;
    text-align: center;
}

.search-input input {
    width: 95%;
}

.search-button {
    text-align: right;
    padding-left: 0px;
    margin-right: 0px;
}


/* ---------------------  utility classes ------------------------ */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

.text-90p {
    font-size: 90%;
}

.width-100p {
    width: 100%;
}

ul.list li{
    list-style: circle;
    margin-left: 30px;
}

/* --------------------------------------------- */

.modal-message {
    position:   absolute;
    z-index:    1000;
    left:       50%;
    top:        25%;
}

.modal-message-inner {
    position:   relative;
    left:       -50%;
    border: 5px solid #333;
    background-color: #fff;
    padding: 10px 10px 10px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* ------------------- social ------------------- */

.a2a_kit{
    margin-top: 15px;
}