<wrapper *ngIf="lang">

  <div class="text-right data-control">
    <data-control [changed]="changed"
                  (saveEvent)="onSaveHandler()"
                  (discardEvent)="onDiscardEventHandler()"
                  (refreshEvent)="onRefreshHandler()"></data-control>
  </div>

  <div class="row">
    <div class="col-lg-12">
      Languages
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      Available
    </div>
    <div class="col-lg-4">
      Supported
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <wrapper *ngFor="#available of lang.all">
        <span class="available" (click)=onAvailableLanguageClick(available)>{{available.second}} ( {{available.first}} )</span>
      </wrapper>
    </div>
    <div class="col-lg-4">
      <wrapper *ngFor="#supported of lang.supported">
        <span class="supported" (click)=onSupportedLanguageClick(supported)>{{supported}}</span>
      </wrapper>
    </div>
  </div>

</wrapper>
