<wrapper *ngIf="shop">

  <div class="text-right data-control">

    <button type="button" (click)="onPowerOff()" [ngClass]="shopDisabled ? 'btn btn-danger btn-circle btn-xl':'btn btn-success btn-circle btn-xl'">
      <i class="fa fa-power-off"></i>
    </button>

    <data-control [changed]="changed"
                  (saveEvent)="onSaveHandler()"
                  (discardEvent)="onDiscardEvent()"
                  (refreshEvent)="onRefreshHandler()"></data-control>
  </div>

  <div>
    <div class="col-md-9 col-lg-6">
      <div class="panel-body">
        <form role="form">
          <fieldset>
            <div class="form-group">
              <input class="form-control" (ngModelChange)="onDataChange()" placeholder="Shop-code" name="code" type="text" [(ngModel)]="shop.code">
            </div>
            <div class="form-group">
              <input class="form-control"  (ngModelChange)="onDataChange()"  placeholder="Shop-name" name="name" type="text"  autofocus  [(ngModel)]="shop.name">
            </div>
            <div class="form-group">
              <textarea class="form-control"  (ngModelChange)="onDataChange()"  placeholder="Shop-decription" name="description" [(ngModel)]="shop.description"></textarea>
            </div>
            <div class="form-group">
              <input class="form-control" (ngModelChange)="onDataChange()"  placeholder="Shop-name" name="name" type="text"  autofocus  [(ngModel)]="shop.fspointer">
            </div>
          </fieldset>
        </form>
      </div>

    </div>
  </div>

</wrapper>
