<wrapper *ngIf="shopLocalization">

  <data-control [changed]="changed"
                (saveEvent)="onSaveHandler()"
                (discardEvent)="onDiscardEvent()"
                (refreshEvent)="onRefreshHandler()"></data-control>

  <localization-table title="Window title"
                      [data]="shopLocalization.displayTitles"
                      (dataChanged)="onDataChanged()"></localization-table>

  <localization-table title="Meta keywords"
                      [data]="shopLocalization.displayMetakeywords"
                      (dataChanged)="onDataChanged()"></localization-table>

  <localization-table title="Description"
                      [data]="shopLocalization.displayMetadescriptions"
                      (dataChanged)="onDataChanged()"></localization-table>

</wrapper>
