<wrapper *ngIf="curr">

  <div class="text-right data-control">
    <data-control [changed]="changed"
                  (saveEvent)="onSaveHandler()"
                  (discardEvent)="onDiscardEventHandler()"
                  (refreshEvent)="onRefreshHandler()"></data-control>
  </div>

  <div class="row">
    <div class="col-lg-3">
      Currency
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      Available
    </div>
    <div class="col-lg-3">
      Supported
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <wrapper *ngFor="#available of curr.all">
        <span class="available" (click)=onAvailableCurrencyClick(available)>{{available}}</span>
      </wrapper>
    </div>
    <div class="col-lg-3">
      <wrapper *ngFor="#supported of curr.supported">
        <span class="supported" (click)=onSupportedCurrencyClick(supported)>{{supported}}</span>
      </wrapper>
    </div>
  </div>

</wrapper>
