<wrapper>

  <data-control [changed]="changed"
                (saveEvent)="onSaveHandler()"
                (discardEvent)="onDiscardEventHandler()"
                (refreshEvent)="onRefreshHandler()"></data-control>

  <modal id="editNewCategoryName"
         [title]="'New category'"
         [cancelLabel]="'Cancel'"
         [positiveLabel]="'Save'"
         (loaded)="editNewCategoryNameModalLoaded($event)"
         (closed)="editNewCategoryNameModalResult($event)">
    <form role="form">
      <fieldset>
        <div class="row">
          <div class="col-lg-3">
            Name
          </div>
          <div class="col-lg-9">
            <input class="form-control" placeholder="Name of new category"
                   name="newCategoryName" type="text" [(ngModel)]="newCategoryName">
          </div>
        </div>
      </fieldset>
    </form>
  </modal>

  <div class="row">
    <div class="col-lg-3">
      <button type="button"
              class="btn btn-default"
              (click)="createNew(selectedNode)"
              [ngClass]="{disabled : selectedNode == null}">New category</button>
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-3">&nbsp;</div>

  </div>

  <div class="row">
    <div class="col-lg-3 panel-heading">All categories</div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3 panel-heading">Assigned</div>

  </div>
  <div class="row">
    <div class="col-lg-3 panel-body">
      <tree-view [Nodes]="nodes"
                 [SelectedNode]="selectedNode"
                 (onSelectedChanged)="onSelectNode($event)"
                 (onRequestNodes)="onRequest($event)">
      </tree-view>
    </div>
    <div class="col-lg-1">
      <button type="button" class="btn btn-primary" (click)="assignToShopClick(selectedNode)"
              [ngClass]="{disabled : selectedNode == null}">&gt;&gt;</button>
    </div>
    <div class="col-lg-3 panel-body">
      <wrapper *ngFor="#cat of assigned">
        <span class="assigned" (click)=onAssignedClick(cat)>{{cat.name}}</span>
      </wrapper>
    </div>
  </div>


</wrapper>
