<template [ngIf]="masterObject">

  <section class="no-more-tables">
    <table class="table-bordered table-striped table-condensed cf">
      <thead class="cf">
      <tr>
        <th>{{ 'AV_ATTRIBUTE' | translate }}</th>
        <th>{{ 'AV_TYPE' | translate }}</th>
        <th>{{ 'AV_VALUE' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of filteredObjectAttributes; let i = index" class="{{row == selectedRow ? 'active' : ''}}">
        <template [ngIf]=" ( i >= pageStart &&  i < pageEnd )">
          <td title="{{ 'AV_ATTRIBUTE' | translate }}"><a (click)="onSelectRow(row)" [ngClass]="isRemovedAttribute(row) ? 'text-strikethrough text-danger': (isNewAttribute(row) ? 'text-success':'')" [title]="row.attribute.code">{{row.attribute.name}}</a></td>
          <td title="{{ 'AV_TYPE' | translate }}"><a (click)="onSelectRow(row)" [ngClass]="isRemovedAttribute(row) ? 'text-strikethrough text-danger': (isNewAttribute(row) ? 'text-success':'')" [title]="row.attribute.code">{{row.attribute.etypeName}}</a></td>
          <td title="{{ 'AV_VALUE' | translate }}" class="av-td-value"><a (click)="onSelectRow(row)" [ngClass]="isRemovedAttribute(row) ? 'text-strikethrough text-danger text-force-break': (isNewAttribute(row) ? 'text-success text-force-break':'text-force-break')"><div [innerHTML]="getDisplayValue(row)"></div></a></td>
        </template>
      </tr>
      </tbody>
    </table>
  </section>

  <div>
    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [ngModel]="currentPage" (pageChanged)="onPageChanged($event)" class="pagination-sm"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>



  <modal #deleteConfirmationModalDialog
         title="{{ 'MODAL_CONFIRM_TITLE' | translate }}"
         cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
         positiveLabel="{{ 'MODAL_BUTTON_DELETE' | translate }}"
         [valid]="true"
         (closed)="onDeleteConfirmationResult($event)">
    {{ 'MODAL_CONFIRM_DELETE' | translate:{value: (selectedRow ? (selectedRow.attribute.name + ': ' + selectedRow.val) : '') } }}
  </modal>

  <modal #editModalDialog
         title="{{ 'AV_ATTRIBUTE' | translate }}"
         cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
         positiveLabel="{{ 'MODAL_BUTTON_SAVE' | translate }}"
         [valid]="validForSave"
         (closed)="onEditModalResult($event)">

    <template [ngIf]="isBooleanEditor()">

      <form role="form">
        <fieldset>
          <div class="row" [hidden]="!attributeToEdit.attribute.description">
            <div class="col-xs-12">
              <pre class="bg-success">{{ attributeToEdit.attribute.description }}</pre>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9">{{ attributeToEdit.attribute.name }}</div>
            <div class="col-md-3">
              <input name="val" class="form-control" type="checkbox" [(ngModel)]="attributeToEditBoolean" (ngModelChange)="onDataChange($event)">
            </div>
          </div>
        </fieldset>
      </form>

    </template>

    <template [ngIf]="isMiniTextEditor()">

      <form role="form">
        <fieldset>
          <div class="row" [hidden]="!attributeToEdit.attribute.description">
            <div class="col-xs-12">
              <pre class="bg-success">{{ attributeToEdit.attribute.description }}</pre>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">{{ attributeToEdit.attribute.name }}</div>
            <div class="col-md-6">
              <input name="val" class="form-control" type="text" [(ngModel)]="attributeToEdit.val" (ngModelChange)="onDataChange($event)" required>
            </div>
          </div>
        </fieldset>
      </form>

    </template>


    <template [ngIf]="isTextEditor()">

      <form role="form">
        <fieldset>
          <div class="row" [hidden]="!attributeToEdit.attribute.description">
            <div class="col-xs-12">
              <pre class="bg-success">{{ attributeToEdit.attribute.description }}</pre>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">{{ attributeToEdit.attribute.name }}</div>
            <div class="col-xs-12">
              <input name="val" class="form-control" type="text" [(ngModel)]="attributeToEdit.val" (ngModelChange)="onDataChange($event)" required>
            </div>
          </div>
        </fieldset>
      </form>

    </template>


    <template [ngIf]="isTextAreaEditor()">

      <form role="form">
        <fieldset>
          <div class="row" [hidden]="!attributeToEdit.attribute.description">
            <div class="col-xs-12">
              <pre class="bg-success">{{ attributeToEdit.attribute.description }}</pre>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">{{ attributeToEdit.attribute.name }}</div>
            <div class="col-xs-12">
              <textarea name="val" class="form-control" rows="6" [(ngModel)]="attributeToEdit.val" (ngModelChange)="onDataChange($event)" required></textarea>
            </div>
          </div>
        </fieldset>
      </form>

    </template>


    <template [ngIf]="isLocalisableEditor()">

      <form role="form">
        <fieldset>
          <div class="row" [hidden]="!attributeToEdit.attribute.description">
            <div class="col-xs-12">
              <pre class="bg-success">{{ attributeToEdit.attribute.description }}</pre>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">{{ attributeToEdit.attribute.name }}</div>
            <div class="col-xs-12">
              <yc-i18n-table [source]="attributeToEdit"
                             value="val"
                             i18n="displayVals"
                             (dataChanged)="onDataChange($event)"></yc-i18n-table>
            </div>
          </div>
        </fieldset>
      </form>

    </template>

    <template [ngIf]="isImageEditor()">

      <form role="form">
        <fieldset>
          <div class="row" [hidden]="!attributeToEdit.attribute.description">
            <div class="col-xs-12">
              <pre class="bg-success">{{ attributeToEdit.attribute.description }}</pre>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12" [hidden]="attributeToEditImagePreviewAvailable">
              <p class="bg-danger">{{ 'AV_IMAGE_NO_PREVIEW' | translate }}</p>
            </div>
            <div class="col-xs-12" [hidden]="!isFileUploadDisabled()">
              <p class="bg-danger">{{ 'MODAL_UPLOAD_DISABLED' | translate }}</p>
            </div>
            <div class="col-xs-12">{{ attributeToEdit.attribute.name }}</div>
            <div class="col-xs-12">{{ attributeToEdit.val }} <button class="btn btn-default" type="button" (click)="onFileClickRelay()" [hidden]="isFileUploadDisabled()">{{ 'MODAL_BUTTON_UPLOAD' | translate }}</button></div>
            <div class="col-xs-12 av-image-preview" [innerHTML]="attributeToEditImagePreview"></div>
          </div>
          <div class="row">
            <div class="col-xs-12 hidden-xs hidden-sm">
              <div class="hidden-file">
                <input id="avmodaluploadimage" name="val" type="file" (change)="onImageFileSelected($event)" accept="image/png,image/jpg,image/jpeg">
              </div>
            </div>
          </div>
        </fieldset>
      </form>

    </template>

  </modal>

</template>
