<div class=" {{ loading ? 'loading-data' : '' }}">
  <ul class="nav nav-second-level item-list-control">
    <li>
      <form>
        <div class="input-group">
          <input class="form-control filter-input" type="text" name="attributeFilter" [(ngModel)]="attributeFilter" (ngModelChange)="onFilterChange()" autocomplete="off"/>
          <span class="input-group-btn">
            <button class="btn btn-default btn-circle filter-btn" type="button" (click)="onClearFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
              <i class="fa fa-times-circle-o"></i>
            </button>
          </span>
        </div>
      </form>
    </li>
    <li *ngIf="attributeFilterRequired">
      <p class="bg-danger text-padding block-margin-spacer">{{ 'FILTER_REQUIRED' | translate }}</p>
    </li>

    <li *ngIf="attributeFilterCapped">
      <p class="bg-warning text-padding block-margin-spacer">{{ 'FILTER_CAPPED' | translate }}</p>
    </li>
  </ul>

  <ul class="nav nav-second-level item-list">

    <li *ngFor="let attribute of filteredAttributes">
      <a (click)="onSelectClick(attribute)" class="{{ (selectedAttribute != null && attribute != null && selectedAttribute.attributeId == attribute.attributeId) ? 'bg-info js-click' : 'js-click' }}"><span class="label label-info">{{attribute.code}}</span> {{attribute.name}} <span [innerHTML]="getSearchFlags(attribute)"></span></a>
    </li>

  </ul>
</div>
