<ul class="nav nav-second-level item-list-control">
  <li>
    <form>
      <div class="input-group">
        <input class="form-control filter-input" type="text" name="currencyFilter" [(ngModel)]="currencyFilter" (ngModelChange)="onFilterChange()" autocomplete="off"/>
        <span class="input-group-btn">
          <button class="btn btn-default btn-circle filter-btn" type="button" (click)="onClearFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
            <i class="fa fa-times-circle-o"></i>
          </button>
        </span>
      </div>
    </form>
  </li>
</ul>

<ul class="nav nav-second-level item-list">

  <li *ngFor="let currency of filteredCurrencies">
    <a (click)="onSelectClick(currency.first)" class="{{ (selectedCurrency != null && selectedCurrency == currency.first) ? 'bg-info js-click' : (isShopCurrency(currency) ? 'bg-success js-click' : 'js-click') }}"><span class="label label-info">{{currency.first}}</span> {{currency.first == currency.second ? '' : currency.second }}</a>
  </li>

</ul>

