<ng-template [ngIf]="country">

  <form role="form" [formGroup]="countryForm">
    <tabset>

      <tab heading="{{ 'TAB_MAIN' | translate }}"  (select)="tabSelected('Main')">

        <div>
          <div class="col-md-9 col-lg-6">
            <div class="panel-body">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'LOCATION_COUNTRY_CODE' | translate }}</label>
                  <input autofocus class="form-control" placeholder="{{ 'LOCATION_COUNTRY_CODE' | translate }}" formControlName="countryCode" name="countryCode" type="text" [(ngModel)]="country.countryCode">
                  <div [hidden]="countryForm.controls['countryCode'].valid || countryForm.controls['countryCode'].pristine" class="alert alert-danger">
                    {{ 'COUNTRY_CODE_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'LOCATION_COUNTRY_ISO' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'LOCATION_COUNTRY_ISO' | translate }}" formControlName="isoCode" name="isoCode" type="text" [(ngModel)]="country.isoCode">
                  <div [hidden]="countryForm.controls['isoCode'].valid || countryForm.controls['isoCode'].pristine" class="alert alert-danger">
                    {{ 'COUNTRY_ISO_REQUIRED' | translate }}
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>

      </tab>

      <tab heading="{{ 'TAB_I18N' | translate }}"  (select)="tabSelected('I18n')">

        <div class="panel-body">
          <div class="row">
            <div class="col-lg-9">
              <yc-i18n-table title="{{ 'NAME' | translate }}"
                             [source]="country"
                             value="name"
                             valueI18n="displayNames"
                             defaultRequired="true"
                             (dataChanged)="onNameDataChange($event)"></yc-i18n-table>
            </div>
          </div>
        </div>
      </tab>

      <tab heading="{{ 'LOCATION_STATES' | translate }}"  (select)="tabSelected('SKU')">

        <ng-template [ngIf]="!(country.countryId > 0)">

          <div class="row">
            <div class="col-xs-12 block-padding-spacer">
              <div class="bg-info text-padding">
                <p>{{ 'SAVEDOBJECT_REQUIRED' | translate }}</p>
              </div>
            </div>
          </div>

        </ng-template>

        <ng-template [ngIf]="country.countryId > 0">

          <div class="panel-body">
            <div class="row">
              <div class="row data-control">

                <div class="col-xs-12 col-md-5 padding-lr-0">

                  <form class="width-100">
                    <div class="input-group">
                      <input class="form-control filter-input" type="text" name="stateFilter" [(ngModel)]="stateFilter" autocomplete="off"/>
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-circle btn-xl" type="button" (click)="onClearStateFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
                          <i class="fa fa-times-circle-o"></i>
                        </button>
                      </span>
                    </div>
                  </form>

                </div>

              </div>
            </div>

            <div class="row">
              <yc-states [states]="country.states" [filter]="stateFilter" (dataSelected)="onStateSelected($event)"></yc-states>
            </div>
          </div>
        </ng-template>

      </tab>

    </tabset>

  </form>

</ng-template>
