<div>

  <section class="no-more-tables">
    <table class="table-bordered table-striped table-condensed cf">
      <thead class="cf">
      <tr>
        <th><a class="js-click" (click)="onSortClick('countryCode')">{{ 'LOCATION_COUNTRY_CODE' | translate }} <span [hidden]="sortColumn != 'countryCode'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
        <th><a class="js-click" (click)="onSortClick('isoCode')">{{ 'LOCATION_COUNTRY_ISO' | translate }} <span [hidden]="sortColumn != 'isoCode'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
        <th><a class="js-click" (click)="onSortClick('name')">{{ 'NAME' | translate }} <span [hidden]="sortColumn != 'name'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of filteredCountries; let i = index" class="{{row == selectedCountry ? 'active' : ''}}">
        <td title="{{ 'LOCATION_COUNTRY_CODE' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.countryCode}}</a></td>
        <td title="{{ 'LOCATION_COUNTRY_ISO' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.isoCode}}</a></td>
        <td title="{{ 'NAME' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.name}}</a></td>
      </tr>
      </tbody>
    </table>
  </section>

  <div>
    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [ngModel]="currentPage" (pageChanged)="onPageChanged($event)" class="pagination-sm"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>

</div>
