<div>

  <section class="no-more-tables">
    <table class="table-bordered table-striped table-condensed cf">
      <thead class="cf">
      <tr>
        <th>{{ 'LOCATION_COUNRY_CODE' | translate }}</th>
        <th>{{ 'LOCATION_COUNRY_ISO' | translate }}</th>
        <th>{{ 'NAME' | translate }}</th>
        <th>{{ 'LOCATION_COUNRY_NAME_LOCAL' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of countries; let i = index" class="{{row == selectedCountry ? 'active' : ''}}">
        <template [ngIf]=" ( i >= (itemsPerPage * (currentPage - 1)) ) && ( i < (itemsPerPage * currentPage) )">
          <td title="{{ 'LOCATION_COUNRY_CODE' | translate }}"><a (click)="onSelectRow(row)">{{row.countryCode}}</a></td>
          <td title="{{ 'LOCATION_COUNRY_ISO' | translate }}"><a (click)="onSelectRow(row)">{{row.isoCode}}</a></td>
          <td title="{{ 'NAME' | translate }}"><a (click)="onSelectRow(row)">{{row.name}}</a></td>
          <td title="{{ 'LOCATION_COUNRY_NAME_LOCAL' | translate }}"><a (click)="onSelectRow(row)">{{row.displayName == null || row.displayName == '' ? '-' : row.displayName}}</a></td>
        </template>
      </tr>
      </tbody>
    </table>
  </section>

  <div>
    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [(ngModel)]="currentPage" class="pagination-sm"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>


  <modal id="deleteConfirmationModalDialog"
         title="{{ 'MODAL_CONFIRM_TITLE' | translate }}"
         cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
         positiveLabel="{{ 'MODAL_BUTTON_DELETE' | translate }}"
         [valid]="true"
         (loaded)="deleteConfirmationModalDialogLoaded($event)"
         (closed)="onDeleteConfirmationResult($event)">
    {{ 'MODAL_CONFIRM_DELETE' | translate:{value: (selectedCountry ? selectedCountry.name : '') } }}
  </modal>


</div>
