<ng-template [ngIf]="state">

  <form role="form" [formGroup]="stateForm">
    <tabset>

      <tab heading="{{ 'TAB_MAIN' | translate }}"  (select)="tabSelected('Main')">
        <div>
          <div class="col-md-9 col-lg-6">
            <div class="panel-body">
                <fieldset>
                  <div class="form-group">
                    <label>{{ 'LOCATION_COUNTRY_CODE' | translate }}</label>
                    <input class="form-control" placeholder="{{ 'LOCATION_COUNTRY_CODE' | translate }}" formControlName="countryCode" name="countryCode" type="text" [ngModel]="state.countryCode" [readonly]="true">
                    <div [hidden]="stateForm.controls['countryCode'].valid || stateForm.controls['countryCode'].pristine" class="alert alert-danger">
                      {{ 'COUNTRY_CODE_REQUIRED' | translate }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label>{{ 'LOCATION_STATE_CODE' | translate }}</label>
                    <input class="form-control" placeholder="{{ 'LOCATION_STATE_CODE' | translate }}" formControlName="stateCode" name="stateCode" type="text" [(ngModel)]="state.stateCode">
                    <div [hidden]="stateForm.controls['stateCode'].valid || stateForm.controls['stateCode'].pristine" class="alert alert-danger">
                      <div [hidden]="!stateForm.controls['stateCode'].hasError('maxlength')">
                        {{ 'MAXLENGTH_REQUIRED' | translate:{value: 64} }}
                      </div>
                      {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
                    </div>
                  </div>
                </fieldset>
            </div>
          </div>
        </div>
      </tab>

      <tab heading="{{ 'TAB_I18N' | translate }}"  (select)="tabSelected('I18n')">

        <div class="panel-body">
          <div class="row">
            <div class="col-lg-9">
              <yc-i18n-table title="{{ 'NAME' | translate }}"
                             [source]="state"
                             value="name"
                             valueI18n="displayNames"
                             defaultRequired="true"
                             (dataChanged)="onNameDataChange($event)"></yc-i18n-table>
            </div>
          </div>
        </div>
      </tab>

    </tabset>
  </form>

</ng-template>
