<template [ngIf]="state">

  <div>
    <div class="col-md-9 col-lg-6">
      <div class="panel-body">
        <form role="form" [formGroup]="stateForm">
          <fieldset>
            <div class="form-group">
              <label>{{ 'LOCATION_COUNTRY_CODE' | translate }}</label>
              <input class="form-control" placeholder="{{ 'LOCATION_COUNTRY_CODE' | translate }}" formControlName="countryCode" name="countryCode" type="text" [ngModel]="state.countryCode" [readonly]="true">
              <div [hidden]="stateForm.controls['countryCode'].valid || stateForm.controls['countryCode'].pristine" class="alert alert-danger">
                {{ 'COUNTRY_CODE_REQUIRED' | translate }}
              </div>
            </div>
            <div class="form-group">
              <label>{{ 'LOCATION_STATE_CODE' | translate }}</label>
              <input autofocus class="form-control" placeholder="{{ 'LOCATION_STATE_CODE' | translate }}" formControlName="stateCode" name="stateCode" type="text" [(ngModel)]="state.stateCode">
              <div [hidden]="stateForm.controls['stateCode'].valid || stateForm.controls['stateCode'].pristine" class="alert alert-danger">
                {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
              </div>
            </div>
            <div class="form-group">
              <label>{{ 'NAME' | translate }}</label>
              <input class="form-control" placeholder="{{ 'NAME' | translate }}" formControlName="name" name="name" type="text"  [(ngModel)]="state.name">
              <div [hidden]="stateForm.controls['name'].valid || stateForm.controls['name'].pristine" class="alert alert-danger">
                {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
              </div>
            </div>
            <div class="form-group">
              <label>{{ 'LOCATION_COUNTRY_NAME_LOCAL' | translate }}</label>
              <input class="form-control" placeholder="{{ 'LOCATION_COUNTRY_NAME_LOCAL' | translate }}" formControlName="displayName" name="displayName" type="text" [(ngModel)]="state.displayName">
              <div [hidden]="stateForm.controls['displayName'].valid || stateForm.controls['displayName'].pristine" class="alert alert-danger">
                {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
              </div>
            </div>
          </fieldset>
        </form>
      </div>

    </div>
  </div>

</template>
