<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:flex="http://www.springframework.org/schema/flex"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/flex http://www.springframework.org/schema/flex/spring-flex-1.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
">


    <!--context:component-scan base-package="com.npa"/-->


    <security:http entry-point-ref="entryPoint">
        <security:anonymous enabled="false"/>
    </security:http>

    <bean id="entryPoint"
          class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint"/>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:password-encoder hash="md5"/>
            <security:jdbc-user-service
                    data-source-ref="dataSourceSec"
                    group-authorities-by-username-query=""
                    users-by-username-query="SELECT m.email as username, m.password, 1 as enabled FROM TMANAGER m where m.email = ?"
                    authorities-by-username-query="SELECT mr.email as username, mr.code as authority FROM TMANAGERROLE mr  WHERE mr.email = ?"/>
        </security:authentication-provider>
    </security:authentication-manager>


    <bean id="dataSourceSec" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:comp/env/jdbc/yesjndi"/>
        <property name="lookupOnStartup" value="true"/>
        <property name="cache" value="true"/>
        <property name="proxyInterface" value="javax.sql.DataSource"/>
    </bean>


    <!-- ########################################### HornetQ configuration begin  ################################# -->

    <bean name="mbeanServer" class="java.lang.management.ManagementFactory" factory-method="getPlatformMBeanServer"/>
    <bean name="hornetQSecurityManagerImpl" class="org.hornetq.spi.core.security.HornetQSecurityManagerImpl"/>


    <bean name="fileConfiguration" class="org.hornetq.core.config.impl.FileConfiguration" init-method="start"
          destroy-method="stop">
        <property name="journalType" value="NIO"/>
        <property name="pagingDirectory"
                  value="#{systemProperties['java.io.tmpdir']+systemProperties['file.separator']+'yes-cart'+systemProperties['file.separator']+'hornetq'+systemProperties['file.separator']+'management'+systemProperties['file.separator']+'paging'}"/>
        <property name="bindingsDirectory"
                  value="#{systemProperties['java.io.tmpdir']+systemProperties['file.separator']+'yes-cart'+systemProperties['file.separator']+'hornetq'+systemProperties['file.separator']+'management'+systemProperties['file.separator']+'bindings'}"/>
        <property name="largeMessagesDirectory"
                  value="#{systemProperties['java.io.tmpdir']+systemProperties['file.separator']+'yes-cart'+systemProperties['file.separator']+'hornetq'+systemProperties['file.separator']+'management'+systemProperties['file.separator']+'large-messages'}"/>
        <property name="journalDirectory"
                  value="#{systemProperties['java.io.tmpdir']+systemProperties['file.separator']+'yes-cart'+systemProperties['file.separator']+'hornetq'+systemProperties['file.separator']+'management'+systemProperties['file.separator']+'journal'}"/>
    </bean>

    <!-- The core server -->
    <bean name="hornetQServerImpl" class="org.hornetq.core.server.impl.HornetQServerImpl">
        <constructor-arg ref="fileConfiguration"/>
        <constructor-arg ref="mbeanServer"/>
        <constructor-arg ref="hornetQSecurityManagerImpl"/>
    </bean>

    <!-- The JMS server -->

    <bean name="jmsServerManagerImpl" class="org.hornetq.jms.server.impl.JMSServerManagerImpl" init-method="start"
          destroy-method="stop">
        <constructor-arg ref="hornetQServerImpl"/>
    </bean>

    <bean id="inVmConnectionFactory" class="org.hornetq.jms.client.HornetQConnectionFactory">
        <constructor-arg value="false"/>
        <constructor-arg ref="inVmTransportConfiguration"/>
    </bean>

    <bean id="inVmTransportConfiguration" class="org.hornetq.api.core.TransportConfiguration">
        <constructor-arg index="0" value="org.hornetq.core.remoting.impl.invm.InVMConnectorFactory"/>
    </bean>


    <!-- ########################################### HornetQ configuration end  ################################# -->


    <!-- #################################### queues and jms templates begin ###############################-->

    <bean id="jndiTemplate" class="org.springframework.jndi.JndiTemplate">
        <property name="environment">
            <props>
                <prop key="java.naming.factory.initial">org.apache.naming.java.javaURLContextFactory</prop>
                <prop key="java.naming.factory.url.pkgs">org.apache.naming</prop>
            </props>
        </property>
    </bean>

    <bean id="jmsQueueConnectionFactory" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiTemplate" ref="jndiTemplate"/>
        <property name="jndiName" value="HQConnectionFactory"/>
    </bean>


    <bean id="managerRegistrationQueue" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiTemplate" ref="jndiTemplate"/>
        <property name="jndiName" value="queue/ManagerRegistrationQueue"/>
    </bean>
    <bean id="managerRegistrationJMSTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="jmsQueueConnectionFactory"/>
        <property name="defaultDestination" ref="managerRegistrationQueue"/>
    </bean>

    <!-- #################################### queues and jms templates end ###############################-->


    <!-- #################################  aspects configurations begin ######################################-->


    <bean id="managerRegistrationAspect" class="org.yes.cart.service.domain.aspect.impl.ManagerRegistrationAspect">
        <constructor-arg index="0" ref="managerRegistrationJMSTemplate"/>
        <constructor-arg index="1">
            <bean class="org.yes.cart.service.domain.impl.PassPhraseGeneratorImpl">
                <constructor-arg index="0" value="8"/>
            </bean>
        </constructor-arg>
        <constructor-arg index="2">
            <bean class="org.yes.cart.service.domain.impl.MD5HashHelperImpl"/>
        </constructor-arg>
    </bean>
    <!-- #################################  aspects configurations end ######################################-->


    <!-- #################################  message consumers begin ######################################-->

    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="localhost"/>
        <property name="port" value="25"/>
        <property name="username" value="yourusername"/>
        <property name="password" value="yourpassword"/>
        <property name="javaMailProperties">
            <props>
                <!-- Use SMTP-AUTH to authenticate to SMTP server -->
                <!--<prop key="mail.smtp.auth">true</prop>-->
                <!-- Use TLS to encrypt communication with SMTP server -->
                <prop key="mail.smtp.starttls.enable">true</prop>
            </props>
        </property>
    </bean>


    <!-- send notification with new customer account information and password -->

    <bean id="managerRegistrationListener"
          class="org.yes.cart.domain.message.consumer.ManagerRegistrationMessageListener">
        <constructor-arg index="0" type="org.springframework.mail.javamail.JavaMailSender" ref="mailSender"/>
        <constructor-arg index="1" type="org.yes.cart.service.mail.MailComposer" ref="mailComposer"/>
    </bean>
    <bean id="managerRegistrationJmsContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="jmsQueueConnectionFactory"/>
        <property name="destination" ref="managerRegistrationQueue"/>
        <property name="messageListener" ref="managerRegistrationListener"/>
        <property name="sessionTransacted" value="true"/>
    </bean>


    <!-- #################################  message consumers end ######################################-->

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
          autowire="byName">
        <property name="configLocation" value="classpath:hibernate-nc.cfg.xml"/>
        <property name="mappingResources">
            <list>
                <value>npa.xml</value>
            </list>
        </property>
        <property name="entityInterceptor">
            <bean class="org.yes.cart.domain.interceptor.AuditInterceptor"/>
        </property>
        <property name="hibernateProperties">
            <props>
               <prop key="hibernate.search.default.indexBase">
                    #{systemProperties['java.io.tmpdir']+systemProperties['file.separator']+'yes-cart'}
                </prop>
            </props>
        </property>
    </bean>

    <import resource="classpath*:core-config.xml"/>

    <import resource="classpath*:payment-api.xml"/>


</beans>
