<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2009 Igor Azarnyi, Denys Pavlov
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ################################ Pre order inventory scanning  ###################################### -->

    <bean name="preorderJob" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="org.yes.cart.bulkjob.cron.YcCronJob" />
        <property name="jobDataAsMap">
            <map>
                <entry key="jobName" value="Inventory Awaiting Delivery Processing" />
                <entry key="job" value-ref="bulkAwaitingInvetoryDeliveriesProcessor" />
            </map>
        </property>
    </bean>

    <bean id="preOrderJobCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="preorderJob" />
        <!-- each 15 minute 0,15,30 and 45 -->
        <property name="cronExpression" value="* 0/15 * * * ?" />
    </bean>

    <!-- ################################ Customer tagging  ################################################# -->

    <bean name="customerTagJob" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="org.yes.cart.bulkjob.cron.YcCronJob" />
        <property name="jobDataAsMap">
            <map>
                <entry key="jobName" value="Customer Tagging" />
                <entry key="job" value-ref="bulkCustomerTagProcessor" />
            </map>
        </property>
    </bean>

    <bean id="customerTagJobCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="customerTagJob" />
        <!-- at 3:00 am -->
        <property name="cronExpression" value="0 0 3 * * ?" />
    </bean>

    <!-- ################################ Bulk email  ###################################################### -->

    <bean id="bulkMailProcessor" class="org.yes.cart.bulkjob.mail.BulkMailProcessorImpl">
        <constructor-arg index="0" ref="mailService"/>
        <constructor-arg index="1" ref="mailComposer"/>
        <constructor-arg index="2" ref="mailSender"/>
        <constructor-arg index="3" ref="systemService"/>
        <constructor-arg index="4" ref="runtimeAttributeService"/>
        <property name="delayBetweenEmailsMs" value="10000"/>
        <property name="cycleExceptionsThreshold" value="3"/>
    </bean>

    <bean name="sendMailJob" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="org.yes.cart.bulkjob.cron.YcCronJob" />
        <property name="jobDataAsMap">
            <map>
                <entry key="jobName" value="Send Mail" />
                <entry key="job" value-ref="bulkMailProcessor" />
            </map>
        </property>
    </bean>

    <bean id="sendMailJobCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="sendMailJob" />
        <!-- each 10 minute 0,10,20,30,40,50 -->
        <property name="cronExpression" value="* 0/10 * * * ?" />
    </bean>

    <!-- ################################ Scheduler  ####################################################### -->

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="preOrderJobCronTrigger" />
                <ref bean="customerTagJobCronTrigger" />
                <ref bean="sendMailJobCronTrigger" />
            </list>
        </property>
    </bean>


</beans>
        
