<cw-modal #selectModalDialog
          title="{{ 'MODAL_BUTTON_SORT' | translate }}"
          cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
          positiveLabel="{{ 'MODAL_BUTTON_SELECT' | translate }}"
          [valid]="validForSelect"
          (closed)="onSelectConfirmationResult($event)">
  <div class="item-list-overflow">
    <ul class="nav nav-second-level item-list">

      <li *ngFor="let option of availableOptions">
        <a (click)="onSelectClick(option)" class="{{ (option != null && selectedOption == option.key) ? 'bg-info js-click' : 'js-click' }}"><span>{{ option.message ? option.message : (option.messageKey | translate) }}</span> <span [hidden]="option == null || sortColumn != option.key">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a>
      </li>

    </ul>
  </div>
</cw-modal>
