<div>

  <section class="no-more-tables">
    <table class="table-bordered table-striped table-condensed cf">
      <thead class="cf">
      <tr>
        <th>{{ 'CODE' | translate }}</th>
        <th>{{ 'CUSTOMER_EMAIL' | translate }}</th>
        <th>{{ 'CUSTOMER_FULLNAME' | translate }}</th>
        <th>{{ 'CUSTOMER_TYPE' | translate }}</th>
        <th>{{ 'CUSTOMER_POLICY' | translate }}</th>
        <th>{{ 'CUSTOMER_TAG' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of filteredCustomers; let i = index" class="{{row == selectedCustomer ? 'active' : ''}}">
        <template [ngIf]=" ( i >= pageStart &&  i < pageEnd )">
          <td title="{{ 'CODE' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.customerId}}</a></td>
          <td title="{{ 'CUSTOMER_EMAIL' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.email}}</a></td>
          <td title="{{ 'CUSTOMER_FULLNAME' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.salutation}} {{row.firstname}}  {{row.middlename}}  {{row.lastname}}</a></td>
          <td title="{{ 'CUSTOMER_TYPE' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.customerType}}</a></td>
          <td title="{{ 'CUSTOMER_POLICY' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.pricingPolicy}}</a></td>
          <td title="{{ 'CUSTOMER_TAG' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.tag}}</a></td>
        </template>
      </tr>
      </tbody>
    </table>
  </section>

  <div>
    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [ngModel]="currentPage" (pageChanged)="onPageChanged($event)" class="pagination-sm"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>

</div>
