<ng-template [ngIf]="customer">

  <form role="form" [formGroup]="customerForm">
    <tabset>

      <tab heading="{{ 'TAB_MAIN' | translate }}"  (select)="tabSelected('Main')">

        <ng-template [ngIf]="mustSelectShop">
          <div class="row">
            <div class="col-xs-12 block-padding-spacer">
              <div class="bg-warning text-padding">
                <p>{{ 'CUSTOMER_TAB_SHOPS_NEW' | translate }}</p>
              </div>
            </div>
          </div>
        </ng-template>

        <div class="row">
          <div class="col-md-9 col-lg-6">
            <div class="panel-body">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'CODE' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'CODE' | translate }}" formControlName="code" name="code" type="text" [ngModel]="customer.customerId" [readonly]="true">
                </div>
                <div class="form-group">
                  <label>{{ 'CUSTOMER_EMAIL' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'CUSTOMER_EMAIL' | translate }}" formControlName="email" name="email" type="text" [(ngModel)]="customer.email">
                  <div [hidden]="customerForm.controls['email'].valid || customerForm.controls['email'].pristine" class="alert alert-danger">
                    {{ 'EMAIL_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'CUSTOMER_SALUTATION' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'CUSTOMER_SALUTATION' | translate }}" formControlName="salutation" name="salutation" type="text" [(ngModel)]="customer.salutation">
                  <div [hidden]="customerForm.controls['salutation'].valid || customerForm.controls['salutation'].pristine" class="alert alert-danger">
                    <div [hidden]="!customerForm.controls['salutation'].hasError('maxlength')">
                      {{ 'MAXLENGTH_REQUIRED' | translate:{value: 128} }}
                    </div>
                    {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'CUSTOMER_FIRSTNAME' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'CUSTOMER_FIRSTNAME' | translate }}" formControlName="firstname" name="firstname" type="text" [(ngModel)]="customer.firstname">
                  <div [hidden]="customerForm.controls['firstname'].valid || customerForm.controls['firstname'].pristine" class="alert alert-danger">
                    <div [hidden]="!customerForm.controls['firstname'].hasError('maxlength')">
                      {{ 'MAXLENGTH_REQUIRED' | translate:{value: 128} }}
                    </div>
                    {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'CUSTOMER_MIDDLENAME' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'CUSTOMER_MIDDLENAME' | translate }}" formControlName="middlename" name="middlename" type="text" [(ngModel)]="customer.middlename">
                  <div [hidden]="customerForm.controls['middlename'].valid || customerForm.controls['middlename'].pristine" class="alert alert-danger">
                    <div [hidden]="!customerForm.controls['middlename'].hasError('maxlength')">
                      {{ 'MAXLENGTH_REQUIRED' | translate:{value: 128} }}
                    </div>
                    {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'CUSTOMER_LASTNAME' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'CUSTOMER_LASTNAME' | translate }}" formControlName="lastname" name="lastname" type="text" [(ngModel)]="customer.lastname">
                  <div [hidden]="customerForm.controls['lastname'].valid || customerForm.controls['lastname'].pristine" class="alert alert-danger">
                    <div [hidden]="!customerForm.controls['lastname'].hasError('maxlength')">
                      {{ 'MAXLENGTH_REQUIRED' | translate:{value: 128} }}
                    </div>
                    {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'CUSTOMER_TYPE' | translate }} <a class="js-click" (click)="onTypeHelpClick()"><i class="fa fa-question-circle"></i></a></label>
                  <input class="form-control" placeholder="{{ 'CUSTOMER_TYPE' | translate }}" formControlName="customerType" name="customerType" type="text" [(ngModel)]="customer.customerType">
                  <div [hidden]="customerForm.controls['customerType'].valid || customerForm.controls['customerType'].pristine" class="alert alert-danger">
                    <div [hidden]="!customerForm.controls['customerType'].hasError('maxlength')">
                      {{ 'MAXLENGTH_REQUIRED' | translate:{value: 255} }}
                    </div>
                    {{ 'ALPHANUM_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'CUSTOMER_POLICY' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'CUSTOMER_POLICY' | translate }}" formControlName="pricingPolicy" name="pricingPolicy" type="text" [(ngModel)]="customer.pricingPolicy">
                  <div [hidden]="customerForm.controls['pricingPolicy'].valid || customerForm.controls['pricingPolicy'].pristine" class="alert alert-danger">
                    <div [hidden]="!customerForm.controls['pricingPolicy'].hasError('maxlength')">
                      {{ 'MAXLENGTH_REQUIRED' | translate:{value: 255} }}
                    </div>
                    {{ 'ALPHANUM_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'CUSTOMER_COMPANY1' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'CUSTOMER_COMPANY1' | translate }}" formControlName="companyName1" name="companyName1" type="text" [(ngModel)]="customer.companyName1">
                  <div [hidden]="customerForm.controls['companyName1'].valid || customerForm.controls['companyName1'].pristine" class="alert alert-danger">
                    <div [hidden]="!customerForm.controls['companyName1'].hasError('maxlength')">
                      {{ 'MAXLENGTH_REQUIRED' | translate:{value: 255} }}
                    </div>
                    {{ 'ALPHANUM_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'CUSTOMER_COMPANY2' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'CUSTOMER_COMPANY2' | translate }}" formControlName="companyName2" name="companyName2" type="text" [(ngModel)]="customer.companyName2">
                  <div [hidden]="customerForm.controls['companyName2'].valid || customerForm.controls['companyName2'].pristine" class="alert alert-danger">
                    <div [hidden]="!customerForm.controls['companyName2'].hasError('maxlength')">
                      {{ 'MAXLENGTH_REQUIRED' | translate:{value: 255} }}
                    </div>
                    {{ 'ALPHANUM_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'CUSTOMER_DEPARTMENT' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'CUSTOMER_DEPARTMENT' | translate }}" formControlName="companyDepartment" name="companyDepartment" type="text" [(ngModel)]="customer.companyDepartment">
                  <div [hidden]="customerForm.controls['companyDepartment'].valid || customerForm.controls['companyDepartment'].pristine" class="alert alert-danger">
                    <div [hidden]="!customerForm.controls['companyDepartment'].hasError('maxlength')">
                      {{ 'MAXLENGTH_REQUIRED' | translate:{value: 255} }}
                    </div>
                    {{ 'ALPHANUM_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'CUSTOMER_TAG' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'CUSTOMER_TAG' | translate }}" formControlName="tag" name="tag" type="text" [(ngModel)]="customer.tag">
                  <div [hidden]="customerForm.controls['tag'].valid || customerForm.controls['tag'].pristine" class="alert alert-danger">
                    <div [hidden]="!customerForm.controls['tag'].hasError('maxlength')">
                      {{ 'MAXLENGTH_REQUIRED' | translate:{value: 255} }}
                    </div>
                    {{ 'TAGS_REQUIRED' | translate }}
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </tab>


      <tab  (select)="tabSelected('B2B')">

        <ng-template tabHeading>
          {{ 'CUSTOMER_TAB_B2B' | translate }} <span class="label label-info">SaaS</span>
        </ng-template>

        <div class="row">
          <div class="col-xs-12">
            <div class="panel-body text-muted">
              <div class="row">
                <div class="col-xs-3"><strong>{{ 'CUSTOMER_FULLCOMPANY' | translate }}</strong></div>
                <div class="col-xs-9">{{customer.companyName1}} {{customer.companyName2}}  {{customer.companyDepartment}}&nbsp;</div>
              </div>
              <div class="row">
                <div class="col-xs-3"><strong>{{ 'CUSTOMER_TYPE' | translate }}</strong></div>
                <div class="col-xs-9">{{ customer.customerType }}&nbsp;</div>
              </div>
              <div class="row">
                <div class="col-xs-3"><strong>{{ 'CUSTOMER_POLICY' | translate }}</strong></div>
                <div class="col-xs-9">{{ customer.pricingPolicy }}&nbsp;</div>
              </div>
              <div class="row">
                <div class="col-xs-3"><strong>{{ 'CUSTOMER_B2B_BLOCK_CHECKOUT' | translate }}</strong></div>
                <div class="col-xs-9"><i class="fa {{ customer.checkoutBocked || customer.checkoutBockedForOrdersOver > 0 ? 'fa-check text-muted' : 'fa-remove text-muted' }}"></i> {{ customer.checkoutBockedForOrdersOver > 0 ? '> ' + customer.checkoutBockedForOrdersOver : '' }}</div>
              </div>
              <div class="row">
                <div class="col-xs-3"><strong>{{ 'CUSTOMER_B2B_APPROVE_ORDER' | translate }}</strong></div>
                <div class="col-xs-9"><i class="fa {{ customer.ordersRequireApproval || customer.ordersRequireApprovalForOrdersOver > 0 ? 'fa-check text-muted' : 'fa-remove text-muted' }}"></i> {{ customer.ordersRequireApprovalForOrdersOver > 0 ? '> ' + customer.ordersRequireApprovalForOrdersOver : '' }}</div>
              </div>

            </div>
          </div>
        </div>

      </tab>

      <tab heading="{{ 'TAB_SHOPS' | translate }}"  (select)="tabSelected('Shops')">

        <ng-template [ngIf]="customer != null">

          <ng-template [ngIf]="!(customer.customerId > 0) && (customer.customerShops == null || customer.customerShops.length == 0)">
            <div class="row">
              <div class="col-xs-12 block-padding-spacer">
                <div class="bg-warning text-padding">
                  <p>{{ 'CUSTOMER_TAB_SHOPS_NEW' | translate }}</p>
                </div>
              </div>
            </div>
          </ng-template>

          <div class="panel-body">
            <div class="row">
              <div class="col-md-6 col-lg-5">
                <div class="panel panel-default">
                  <div class="panel-heading">{{ 'ASSIGNED' | translate }}</div>
                  <ul class="list-group">
                    <li *ngFor="let supported of supportedShops" class="list-group-item {{ supported.second.disabled ? 'disabled text-muted' : '' }}">
                      <h5>
                        <span class="{{ supported.first.disabled ? 'label label-danger': (supported.first.masterCode != null ? 'label label-info' : 'label label-success') }}">{{supported.first.masterCode != null ? supported.first.masterCode + ': ' : ''}}{{supported.first.code}}</span> {{supported.first.name}}
                        <button class="pull-right btn btn-danger btn-circle btn-sm" (click)=onSupportedShopClick(supported)><i class="fa fa-power-off"></i></button>
                        <button class="pull-right btn btn-info btn-circle btn-sm" style="margin-right: 3px" (click)=onRowReset(supported.first)><i class="fa fa-repeat"></i></button>
                      </h5>
                      <p><small>{{supported.first.description}}</small></p>
                      <p><small>{{supported.second.updatedTimestamp | ycdatetime }} {{supported.second.updatedBy }}</small></p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-lg-5">
                <div class="panel panel-default">
                  <div class="panel-heading">{{ 'AVAILABLE' | translate }}</div>
                  <ul class="list-group">
                    <li *ngFor="let available of availableShops" class="list-group-item">
                      <h5>
                        <span class="{{ available.first.disabled ? 'label label-danger': (available.first.masterCode != null ? 'label label-info' : 'label label-success') }}">{{available.first.masterCode != null ? available.first.masterCode + ': ' : ''}}{{available.first.code}}</span> <span class="{{ available.second.disabled ? 'text-success' : '' }}">{{available.first.name}}</span>
                        <button class="pull-right btn {{ available.second.disabled ? 'btn-success' : 'btn-default' }} btn-circle btn-sm" (click)=onAvailableShopClick(available)><i class="fa {{ available.second.disabled ? 'fa-power-off' : 'fa-link' }}"></i></button>
                      </h5>
                      <p><small class="{{ available.second.disabled ? 'text-success' : '' }}">{{available.first.description}}</small></p>
                      <p><small>{{available.second.updatedTimestamp | ycdatetime }} {{available.second.updatedBy }}</small></p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </ng-template>

      </tab>

      <tab heading="{{ 'TAB_ATTRIBUTES' | translate }}"  (select)="tabSelected('Attributes')">

        <ng-template [ngIf]="!(customer.customerId > 0)">

          <div class="row">
            <div class="col-xs-12 block-padding-spacer">
              <div class="bg-info text-padding">
                <p>{{ 'SAVEDOBJECT_REQUIRED' | translate }}</p>
              </div>
            </div>
          </div>

        </ng-template>

        <ng-template [ngIf]="customer.customerId > 0">

          <div class="panel-body">
            <div class="row">
              <div class="row data-control">


                <div class="col-xs-12 col-md-5 padding-lr-0">

                  <form class="width-100">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button type="button" (click)="onSearchHelpToggle()" class="btn {{ searchHelpShow ? 'btn-info' : 'btn-default' }} btn-circle btn-xl" title="{{ 'MODAL_BUTTON_HELPFILTER' | translate }}">
                          <i class="fa fa-question-circle-o"></i>
                        </button>
                        <button type="button" (click)="sortSelectModal.showDialog()" class="btn {{ attributeSort.first ? 'btn-info' : 'btn-default' }} btn-square btn-xl" title="{{ 'MODAL_BUTTON_HELPSORT' | translate }}">
                          <i class="fa fa-sort-amount-asc"></i>
                        </button>
                      </span>
                      <input class="form-control filter-input" type="text" name="attributeFilter" [(ngModel)]="attributeFilter" autocomplete="off"/>
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-circle btn-xl" type="button" (click)="onClearFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
                          <i class="fa fa-times-circle-o"></i>
                        </button>
                      </span>
                    </div>
                  </form>

                </div>

                <div class="col-xs-12 col-md-7 padding-lr-0 button-panel">

                  <button type="button" (click)="onImageOnlyMode()" class="btn {{ imageOnlyMode ? 'btn-danger' : 'btn-default' }} btn-circle btn-xl" title="{{ 'MODAL_BUTTON_PREVIEW' | translate }}">
                    <i class="fa fa-picture-o"></i>
                  </button>

                  <button type="button" (click)="onRowEditSelected()" [disabled]="selectedRow == null" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_EDIT' | translate }}">
                    <i class="fa fa-edit"></i>
                  </button>

                  <button type="button" (click)="onRowDeleteSelected()" [disabled]="selectedRow == null" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELETE' | translate }}">
                    <i class="fa fa-remove"></i>
                  </button>

                </div>

              </div>
            </div>

            <div class="row">

              <div class="block-padding-spacer" *ngIf="searchHelpShow">
                <div class="bg-info text-padding block-padding-spacer">
                  <p>{{ 'SEARCH_HELP_AV_VALUES' | translate }} <span><button type="button" (click)="onSearchValues()" class="btn btn-default btn-circle"><i class="fa fa-circle"></i></button></span></p>
                  <p>{{ 'SEARCH_HELP_AV_VALUES_CHANGES' | translate }} <span><button type="button" (click)="onSearchValuesChanges()" class="btn btn-default btn-circle"><i class="fa fa-edit"></i></button></span></p>
                  <p>{{ 'SEARCH_HELP_AV_VALUES_NEW' | translate }} <span><button type="button" (click)="onSearchValuesNew()" class="btn btn-default btn-circle"><i class="fa fa-plus"></i></button></span></p>
                  <p>{{ 'SEARCH_HELP_AV_VALUES_NEW_ONLY' | translate }} <span><button type="button" (click)="onSearchValuesNewOnly()" class="btn btn-default btn-circle"><i class="fa fa-plus-circle"></i></button></span></p>
                </div>
              </div>

            </div>

            <div class="row">
              <yc-attribute-values #attributeValuesComponent
                                   [masterObject]="customer"
                                   masterObjectType="customer"
                                   [objectAttributes]="attributes"
                                   [attributeFilter]="attributeFilter"
                                   [sortorder]="attributeSort"
                                   [imageOnlyMode]="imageOnlyMode"
                                   (dataSelected)="onSelectRow($event)"
                                   (dataChanged)="onAttributeDataChanged($event)"
                                   (pageSelected)="onPageSelected($event)"
                                   (sortSelected)="onSortSelected($event)"></yc-attribute-values>
            </div>
          </div>

          <yc-sort-select #sortSelectModal
                          [sortColumn]="attributeSort.first"
                          [sortDesc]="attributeSort.second"
                          [availableOptions]=" ([
                              { key: 'name', messageKey: 'AV_ATTRIBUTE' },
                              { key: 'etype', messageKey: 'AV_TYPE' }
                          ]) "
                          (sortSelected)="onSortSelected($event)"></yc-sort-select>

        </ng-template>

      </tab>

      <tab heading="{{ 'TAB_ADDRESSBOOK' | translate }}"  (select)="tabSelected('Addressbook')">

        <yc-addressbook [customer]="customer" [reload]="reloadAddressbook" [shops]="addressShops"></yc-addressbook>

      </tab>

      <tab  heading="{{ 'TAB_AUDIT' | translate }}" (select)="tabSelected('Audit')">

        <div class="row">
          <div class="col-xs-12">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-4"><strong>{{ 'CREATED' | translate }}</strong></div>
                <div class="col-xs-8">{{ customer.createdTimestamp | ycdatetime }} {{ customer.createdBy }}</div>
              </div>
              <div class="row">
                <div class="col-xs-4"><strong>{{ 'UPDATED' | translate }}</strong></div>
                <div class="col-xs-8">{{ customer.updatedTimestamp | ycdatetime }} {{ customer.updatedBy }}</div>
              </div>
            </div>
          </div>
        </div>

      </tab>

    </tabset>
  </form>

</ng-template>

<yc-modal #typeHelpModalDialog
          title="{{ 'CUSTOMER_TYPES_AVAILABLE' | translate }}"
          cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
          positiveLabel="{{ 'MODAL_BUTTON_SELECT' | translate }}"
          [valid]="selectedCustomerType != null"
          (closed)="onSelectCustomerTypeResult($event)">

  <div class="item-list-overflow">
    <ul *ngIf="availableCustomerTypes != null" class="nav nav-second-level item-list">
      <li [hidden]="availableCustomerTypes != null && availableCustomerTypes.length > 0">{{ 'CUSTOMER_TYPES_AVAILABLE_NONE' | translate }}</li>
      <li *ngFor="let availableCustomerType of availableCustomerTypes">
        <a (click)="onSelectCustomerType(availableCustomerType)" class="{{ selectedCustomerType == availableCustomerType.first ? 'bg-info' : '' }} js-click"><span class="label label-info">{{ availableCustomerType.first }}</span> {{ availableCustomerType.second }}</a>
      </li>
    </ul>
  </div>

</yc-modal>

<yc-modal #resetConfirmationModalDialog
          title="{{ 'MODAL_CONFIRM_TITLE' | translate }}"
          cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
          positiveLabel="{{ 'MODAL_BUTTON_RESET' | translate }}"
          [valid]="true"
          (closed)="onResetConfirmationResult($event)">
  {{ 'CUSTOMER_RESET_MSG' | translate:{shop: resetShopName } }}
</yc-modal>

