<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <div>

        <script type="text/javascript">
            var sURL = window.location.pathname;
            function search() {
                var aInput = document.getElementById("searchPhraze");
                if (!isBlank(aInput.value)) {
                    var query = '/query/' + aInput.value;
                    window.location.href = sURL + query;
                }
            }
            function isBlank(str) {
                return (!str || /^\s*$/.test(str));
            }
        </script>


        <table cellpadding="0" cellspacing="0" width="100%">
            <tr valign="top">
                <td>
                    <input id="searchPhraze" type="text"
                           onkeydown="if(event.keyCode == 13 ) {search();}"/>
                </td>
                <td width="32">
                    <input id="searchButton" type="button"
                           onclick="search();"
                           src="images/layout/nav/search/nav-search-butt.jpg"/>
                </td>
            </tr>
        </table>

    </div>
</wicket:panel>
</body>
</html>