<div>

  <section class="no-more-tables">
    <table class="table-bordered table-striped table-condensed cf">
      <thead class="cf">
      <tr>
        <th>{{ 'CODE' | translate }}</th>
        <th>{{ 'NAME' | translate }}</th>
        <th>{{ 'INVENTORY_STOCK' | translate }}</th>
        <th>{{ 'INVENTORY_RESERVED' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of filteredInventory; let i = index" class="{{row == selectedInventory ? 'active' : ''}}">
        <template [ngIf]=" ( i >= pageStart &&  i < pageEnd )">
          <td title="{{ 'CODE' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.skuCode}}</a></td>
          <td title="{{ 'NAME' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.skuName}}</a>&nbsp;</td>
          <td title="{{ 'INVENTORY_STOCK' | translate }}" class="text-right"><a class="js-click" (click)="onSelectRow(row)">{{row.quantity | ycquantity}}</a></td>
          <td title="{{ 'INVENTORY_RESERVED' | translate }}" class="text-right"><a class="js-click" (click)="onSelectRow(row)">{{row.reserved | ycquantity}}</a></td>
        </template>
      </tr>
      </tbody>
    </table>
  </section>

  <div>
    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [ngModel]="currentPage" (pageChanged)="onPageChanged($event)" class="pagination-sm"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>

</div>
