<template [ngIf]="carrier">

  <form role="form" [formGroup]="carrierForm">
    <tabset>

      <tab heading="{{ 'TAB_I18N' | translate }}"  (select)="tabSelected('I18n')">

        <div class="panel-body">
          <div class="row">
            <div class="col-lg-9">
              <yc-i18n-table title="{{ 'NAME' | translate }}"
                             [source]="carrier"
                             value="name"
                             i18n="displayNames"
                             defaultRequired="true"
                             (dataChanged)="onNameDataChange($event)"></yc-i18n-table>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-9">
              <yc-i18n-table title="{{ 'DESCRIPTION' | translate }}"
                             [source]="carrier"
                             value="description"
                             i18n="displayDescriptions"
                             (dataChanged)="onDescriptionDataChange($event)"></yc-i18n-table>
            </div>
          </div>
        </div>
      </tab>

      <tab heading="{{ 'TAB_SHOPS' | translate }}"  (select)="tabSelected('Shops')">

        <template [ngIf]="!(carrier.carrierId > 0)">

          <div class="row">
            <div class="col-xs-12 block-padding-spacer">
              <div class="bg-info text-padding">
                <p>{{ 'SAVEDOBJECT_REQUIRED' | translate }}</p>
              </div>
            </div>
          </div>

        </template>

        <template [ngIf]="carrier.carrierId > 0">

          <div class="row">
            <div class="col-md-6 col-lg-5">
              <h3>{{ 'ASSIGNED' | translate }}</h3>
                <span *ngFor="let supported of supportedShops">
                  <a class="btn js-click" (click)=onSupportedShopClick(supported)><span [ngClass]="supported.second.disabled ? 'text-strikethrough text-muted' : '' ">{{supported.first.name}} ( {{supported.first.code}} ) </span> <i class="fa fa-remove"></i></a>
                </span>
            </div>
            <div class="col-md-6 col-lg-5">
              <h3>{{ 'AVAILABLE' | translate }}</h3>
                <span *ngFor="let available of availableShops">
                  <a class="btn js-click" (click)=onAvailableShopClick(available)>{{available.first.name}} ( {{available.first.code}} ) <i class="fa fa-plus"></i></a>
                </span>
            </div>
          </div>

        </template>

      </tab>

    </tabset>
  </form>

</template>
