<template [ngIf]="carrier">

  <div class="row">
    <yc-i18n-table title="{{ 'NAME' | translate }}"
                   [source]="carrier"
                   value="name"
                   i18n="displayNames"
                   (dataChanged)="onDataChanged()"></yc-i18n-table>
  </div>

  <div class="row">
    <yc-i18n-table title="{{ 'DESCRIPTION' | translate }}"
                   [source]="carrier"
                   value="description"
                   i18n="displayDescriptions"
                   (dataChanged)="onDataChanged()"></yc-i18n-table>
  </div>

</template>
