<ng-template [ngIf]="carrier">

  <form role="form" [formGroup]="carrierForm">
    <tabset>

      <tab heading="{{ 'TAB_MAIN' | translate }}"  (select)="tabSelected('Main')">

        <div>
          <div class="col-md-9 col-lg-6">
            <div class="panel-body">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'CODE' | translate }}</label>
                  <input autofocus class="form-control" placeholder="{{ 'CODE' | translate }}" formControlName="code" name="code" type="text" [(ngModel)]="carrier.code">
                  <div [hidden]="carrierForm.controls['code'].valid || carrierForm.controls['code'].pristine" class="alert alert-danger">
                    <div [hidden]="!carrierForm.controls['code'].hasError('checking')">
                      {{ 'REMOTE_CHECK' | translate }}
                    </div>
                    <div [hidden]="!carrierForm.controls['code'].hasError('DUPLICATE')">
                      {{ 'UNIQUE_REQUIRED' | translate }}
                    </div>
                    <div [hidden]="!carrierForm.controls['code'].hasError('maxlength')">
                      {{ 'MAXLENGTH_REQUIRED' | translate:{value: 255} }}
                    </div>
                    {{ 'ALPHANUM_REQUIRED' | translate }}
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>

      </tab>

      <tab heading="{{ 'TAB_I18N' | translate }}"  (select)="tabSelected('I18n')">

        <div class="panel-body">
          <div class="row">
            <div class="col-lg-9">
              <yc-i18n-table title="{{ 'NAME' | translate }}"
                             [source]="carrier"
                             value="name"
                             valueI18n="displayNames"
                             defaultRequired="true"
                             (dataChanged)="onNameDataChange($event)"></yc-i18n-table>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-9">
              <yc-i18n-table title="{{ 'DESCRIPTION' | translate }}"
                             [source]="carrier"
                             value="description"
                             valueI18n="displayDescriptions"
                             (dataChanged)="onDescriptionDataChange($event)"></yc-i18n-table>
            </div>
          </div>
        </div>
      </tab>

      <tab heading="{{ 'TAB_SHOPS' | translate }}"  (select)="tabSelected('Shops')">

        <div class="panel-body">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <div class="panel panel-default">
                <div class="panel-heading">{{ 'ASSIGNED' | translate }}</div>
                <ul class="list-group">
                  <li *ngFor="let supported of supportedShops" class="list-group-item {{ supported.second.disabled ? 'disabled text-muted' : '' }}">
                    <h5>
                      <span class="{{ supported.first.disabled ? 'label label-danger': (supported.first.masterCode != null ? 'label label-info' : 'label label-success') }}">{{supported.first.masterCode != null ? supported.first.masterCode + ': ' : ''}}{{supported.first.code}}</span> {{supported.first.name}}
                      <button class="pull-right btn btn-danger btn-circle btn-sm" (click)=onSupportedShopClick(supported)><i class="fa fa-unlink"></i></button>
                    </h5>
                    <p><small>{{supported.first.description}}</small></p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-lg-5">
              <div class="panel panel-default">
                <div class="panel-heading">{{ 'AVAILABLE' | translate }}</div>
                <ul class="list-group">
                  <li *ngFor="let available of availableShops" class="list-group-item">
                    <h5>
                      <span class="{{ available.first.disabled ? 'label label-danger': (available.first.masterCode != null ? 'label label-info' : 'label label-success') }}">{{available.first.masterCode != null ? available.first.masterCode + ': ' : ''}}{{available.first.code}}</span> <span>{{available.first.name}}</span>
                      <button class="pull-right btn btn-default btn-circle btn-sm" (click)=onAvailableShopClick(available)><i class="fa fa-link"></i></button>
                    </h5>
                    <p><small>{{available.first.description}}</small></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </tab>

      <tab heading="{{ 'CARRIER_SLA' | translate }}"  (select)="tabSelected('SLA')">

        <ng-template [ngIf]="!(carrier.carrierId > 0)">

          <div class="row">
            <div class="col-xs-12 block-padding-spacer">
              <div class="bg-info text-padding">
                <p>{{ 'SAVEDOBJECT_REQUIRED' | translate }}</p>
              </div>
            </div>
          </div>

        </ng-template>

        <ng-template [ngIf]="carrier.carrierId > 0">

          <div class="panel-body">
            <div class="row">
              <div class="row data-control">

                <div class="col-xs-12 col-md-5 padding-lr-0">

                  <form class="width-100">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button type="button" (click)="sortSelectSlaModal.showDialog()" class="btn {{ slaSort.first ? 'btn-info' : 'btn-default' }} btn-circle btn-xl" title="{{ 'MODAL_BUTTON_HELPSORT' | translate }}">
                          <i class="fa fa-sort-amount-asc"></i>
                        </button>
                      </span>
                      <input class="form-control filter-input" type="text" name="slaFilter" [(ngModel)]="slaFilter" autocomplete="off"/>
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-circle btn-xl" type="button" (click)="onClearSlaFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
                          <i class="fa fa-times-circle-o"></i>
                        </button>
                      </span>
                    </div>
                  </form>

                </div>

                <div class="col-xs-12 col-md-7 padding-lr-0 button-panel">

                  <button type="button" (click)="onRowAddSLA()" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_CREATE' | translate }}">
                    <i class="fa fa-plus"></i>
                  </button>

                  <button type="button" (click)="onRowEditSelectedSLA()" [disabled]="selectedSla == null" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_EDIT' | translate }}">
                    <i class="fa fa-edit"></i>
                  </button>

                  <button type="button" (click)="onRowDeleteSelectedSLA()" [disabled]="selectedSla == null" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELETE' | translate }}">
                    <i class="fa fa-remove"></i>
                  </button>

                </div>

              </div>
            </div>

            <div class="row">
              <yc-slas [slas]="carrier.slas"
                       [paymentGateways]="paymentGateways"
                       [fulfilmentCentres]="fulfilmentCentres"
                       [filter]="slaFilter"
                       [sortorder]="slaSort"
                       (dataSelected)="onSlaSelected($event)"
                       (pageSelected)="onPageSelectedSla($event)"
                       (sortSelected)="onSortSelectedSla($event)"></yc-slas>
            </div>
          </div>

          <yc-sort-select #sortSelectSlaModal
                          [sortColumn]="slaSort.first"
                          [sortDesc]="slaSort.second"
                          [availableOptions]=" ([
                              { key: 'code', messageKey: 'CARRIERSLA_CODE' },
                              { key: 'name', messageKey: 'NAME' }
                          ]) "
                          (sortSelected)="onSortSelectedSla($event)"></yc-sort-select>

        </ng-template>

      </tab>

    </tabset>
  </form>

</ng-template>
