<template [ngIf]="sla">

  <form role="form" [formGroup]="slaForm">
    <tabset>

      <tab heading="{{ 'TAB_MAIN' | translate }}"  (select)="tabSelected('Main')">
        <div>
          <div class="col-md-9 col-lg-6">
            <div class="panel-body">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'CARRIERSLA_CODE' | translate }}</label>
                  <input autofocus class="form-control" placeholder="{{ 'CARRIERSLA_CODE' | translate }}" formControlName="code" name="code" type="text" [(ngModel)]="sla.code">
                  <div [hidden]="slaForm.controls['code'].valid || slaForm.controls['code'].pristine" class="alert alert-danger">
                    <div [hidden]="!slaForm.controls['code'].hasError('checking')">
                      {{ 'REMOTE_CHECK' | translate }}
                    </div>
                    <div [hidden]="!slaForm.controls['code'].hasError('DUPLICATE')">
                      {{ 'UNIQUE_REQUIRED' | translate }}
                    </div>
                    {{ 'ALPHANUM_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'CARRIERSLA_SLATYPE' | translate }}</label>
                  <select class="form-control" formControlName="slaType" name="slaType" type="text"  [(ngModel)]="sla.slaType">
                    <option value="F">{{ 'CARRIERSLA_SLATYPE_F' | translate }}</option>
                    <option value="R">{{ 'CARRIERSLA_SLATYPE_R' | translate }}</option>
                    <option value="W">{{ 'CARRIERSLA_SLATYPE_W' | translate }}</option>
                    <option value="E">{{ 'CARRIERSLA_SLATYPE_E' | translate }}</option>
                  </select>
                  <div [hidden]="slaForm.controls['slaType'].valid || slaForm.controls['slaType'].pristine" class="alert alert-danger">
                    {{ 'SIMPLE_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group" [hidden]="sla.slaType != 'E'">
                  <label>{{ 'CARRIERSLA_SCRIPT' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'CARRIERSLA_SCRIPT' | translate }}" formControlName="script" name="script" type="text"    [(ngModel)]="sla.script">
                  <div [hidden]="slaForm.controls['script'].valid || slaForm.controls['script'].pristine" class="alert alert-danger">
                    {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
                  </div>
                </div>
                <div>
                  <input formControlName="namedDay" name="namedDay" type="checkbox" [(ngModel)]="sla.namedDay">
                  <label>{{ 'CARRIERSLA_NAMEDDAY' | translate }}</label>
                </div>
                <div>
                  <input formControlName="guaranteed" name="guaranteed" type="checkbox" [(ngModel)]="sla.guaranteed">
                  <label>{{ 'CARRIERSLA_GUARANTEED' | translate }}</label>
                </div>
                <div class="form-group">
                  <label>{{ 'CARRIERSLA_MINDAYS' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'CARRIERSLA_MINDAYS' | translate }}" formControlName="minDays" name="minDays" type="text" [(ngModel)]="sla.minDays">
                  <div [hidden]="slaForm.controls['minDays'].valid || slaForm.controls['minDays'].pristine" class="alert alert-danger">
                    {{ 'NUM_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'CARRIERSLA_MAXDAYS' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'CARRIERSLA_MAXDAYS' | translate }}" formControlName="maxDays" name="maxDays" type="text" [(ngModel)]="sla.maxDays">
                  <div [hidden]="slaForm.controls['maxDays'].valid || slaForm.controls['maxDays'].pristine" class="alert alert-danger">
                    {{ 'NUM_REQUIRED' | translate }}
                  </div>
                </div>
              </fieldset>
            </div>

          </div>
        </div>
      </tab>

      <tab heading="{{ 'TAB_I18N' | translate }}"  (select)="tabSelected('I18n')">

        <div class="panel-body">
          <div class="row">
            <div class="col-lg-9">
              <yc-i18n-table title="{{ 'NAME' | translate }}"
                             [source]="sla"
                             value="name"
                             i18n="displayNames"
                             defaultRequired="true"
                             (dataChanged)="onNameDataChange($event)"></yc-i18n-table>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-9">
              <yc-i18n-table title="{{ 'DESCRIPTION' | translate }}"
                             [source]="sla"
                             value="description"
                             i18n="displayDescriptions"
                             [formGroup]="slaForm"
                             (dataChanged)="onDescriptionDataChange($event)"></yc-i18n-table>
            </div>
          </div>

        </div>
      </tab>

      <tab heading="{{ 'TAB_PG' | translate }}"  (select)="tabSelected('PG')">

        <div class="row">
          <div class="col-md-6 col-lg-5">
            <h3>{{ 'ASSIGNED' | translate }}</h3>
            <span *ngFor="let supportedPg of supportedPgs">
              <a class="btn js-click" (click)=onSupportedPgClick(supportedPg)><span [ngClass]="supportedPg.active ? '' : 'text-strikethrough text-muted'">{{supportedPg.name}}</span> <i class="fa fa-remove"></i></a>
            </span>
          </div>
          <div class="col-md-6 col-lg-5">
            <h3>{{ 'AVAILABLE' | translate }}</h3>
            <span *ngFor="let availablePg of availablePgs">
              <a class="btn js-click" (click)=onAvailablePgClick(availablePg)>{{availablePg.name}} <i class="fa fa-plus"></i></a>
            </span>
          </div>
        </div>

      </tab>

      <tab heading="{{ 'SHOP_TAB_WAREHOUSES' | translate }}"  (select)="tabSelected('FC')">

        <div class="row">
          <div class="col-md-6 col-lg-5">
            <h3>{{ 'ASSIGNED' | translate }}</h3>
            <span *ngFor="let supportedFc of supportedFcs">
              <a class="btn js-click" (click)=onSupportedFcClick(supportedFc)><span>{{supportedFc.name}}</span> <i class="fa fa-remove"></i></a>
            </span>
          </div>
          <div class="col-md-6 col-lg-5">
            <h3>{{ 'AVAILABLE' | translate }}</h3>
            <span *ngFor="let availableFc of availableFcs">
              <a class="btn js-click" (click)=onAvailableFcClick(availableFc)>{{availableFc.name}} <i class="fa fa-plus"></i></a>
            </span>
          </div>
        </div>

      </tab>


      <tab heading="{{ 'CARRIERSLA_EXCLUSIONS' | translate }}"  (select)="tabSelected('Exclusions')">

        <div>
          <div class="col-md-9 col-lg-6">
            <div class="panel-body">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'CARRIERSLA_EXCLUDE_CUSTOMER_TYPES' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'CARRIERSLA_EXCLUDE_CUSTOMER_TYPES' | translate }}" formControlName="excludeCustomerTypes" name="excludeCustomerTypes" type="text" [(ngModel)]="sla.excludeCustomerTypes">
                </div>
                <div>
                  <input formControlName="excludeMonday" name="excludeMonday" type="checkbox" [(ngModel)]="excludeMonday">
                  <label>{{ 'CARRIERSLA_EXCLUDE_MON' | translate }}</label>
                </div>
                <div>
                  <input formControlName="excludeTuesday" name="excludeTuesday" type="checkbox" [(ngModel)]="excludeTuesday">
                  <label>{{ 'CARRIERSLA_EXCLUDE_TUE' | translate }}</label>
                </div>
                <div>
                  <input formControlName="excludeWednesday" name="excludeWednesday" type="checkbox" [(ngModel)]="excludeWednesday">
                  <label>{{ 'CARRIERSLA_EXCLUDE_WED' | translate }}</label>
                </div>
                <div>
                  <input formControlName="excludeThursday" name="excludeThursday" type="checkbox" [(ngModel)]="excludeThursday">
                  <label>{{ 'CARRIERSLA_EXCLUDE_THU' | translate }}</label>
                </div>
                <div>
                  <input formControlName="excludeFriday" name="excludeFriday" type="checkbox" [(ngModel)]="excludeFriday">
                  <label>{{ 'CARRIERSLA_EXCLUDE_FRI' | translate }}</label>
                </div>
                <div>
                  <input formControlName="excludeSaturday" name="excludeSaturday" type="checkbox" [(ngModel)]="excludeSaturday">
                  <label>{{ 'CARRIERSLA_EXCLUDE_SAT' | translate }}</label>
                </div>
                <div>
                  <input formControlName="excludeSunday" name="excludeSunday" type="checkbox" [(ngModel)]="excludeSunday">
                  <label>{{ 'CARRIERSLA_EXCLUDE_SUN' | translate }}</label>
                </div>
                <div class="form-group">
                  <label>{{ 'CARRIERSLA_EXCLUDE_DATES' | translate }}</label>
                  <div>
                    <ul>
                      <li *ngFor="let range of sla.excludeDates">
                        {{ range.first | ycdate }}{{ range.second ? (' - ' + (range.second | ycdate)) : '' }}
                        <button type="button" (click)="onExclusionDateRemove(range)" class="js-click btn btn-danger btn-circle" title="{{ 'MODAL_BUTTON_DELETE' | translate }}">
                          <i class="fa  fa-remove"></i>
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'CARRIERSLA_EXCLUDE_DATES_ONE' | translate }}</label>
                  <div class="row">
                    <div class="col-xs-12 col-md-5">
                      <input class="form-control" placeholder="{{ 'CARRIERSLA_EXCLUDE_DATES_ONE_FROM' | translate }}" formControlName="excludefrom" name="excludefrom" type="text" [(ngModel)]="excludefrom">
                    </div>
                    <div class="col-xs-12 col-md-5">
                      <input class="form-control" placeholder="{{ 'CARRIERSLA_EXCLUDE_DATES_ONE_TO' | translate }}" formControlName="excludeto" name="excludeto" type="text" [(ngModel)]="excludeto">
                    </div>
                    <div class="col-xs-12 col-md-2">
                      <button type="button" (click)="onExclusionDateNew()" [disabled]="!(slaForm.controls['excludefrom'].valid) || !(slaForm.controls['excludeto'].valid)" class="js-click btn btn-circle" title="{{ 'MODAL_BUTTON_CREATE' | translate }}">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                  <div [hidden]="(slaForm.controls['excludefrom'].valid || slaForm.controls['excludefrom'].pristine) && (slaForm.controls['excludeto'].valid || slaForm.controls['excludeto'].pristine)" class="alert alert-danger">
                    {{ 'DATE_REQUIRED' | translate }}
                  </div>
                </div>
                <div>
                  <input formControlName="billingAddressNotRequired" name="billingAddressNotRequired" type="checkbox" [(ngModel)]="sla.billingAddressNotRequired">
                  <label>{{ 'CARRIERSLA_NO_BILL' | translate }}</label>
                </div>
                <div>
                  <input formControlName="deliveryAddressNotRequired" name="deliveryAddressNotRequired" type="checkbox" [(ngModel)]="sla.deliveryAddressNotRequired">
                  <label>{{ 'CARRIERSLA_NO_SHIP' | translate }}</label>
                </div>
              </fieldset>
            </div>

          </div>
        </div>
      </tab>

      <tab heading="{{ 'TAB_EXTERNAL' | translate }}"  (select)="tabSelected('External')">

        <div>
          <div class="col-md-9 col-lg-6">
            <div class="panel-body">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'CARRIERSLA_REF' | translate }}</label>
                  <input autofocus class="form-control" placeholder="{{ 'CARRIERSLA_REF' | translate }}" formControlName="externalRef" name="externalRef" type="text" [(ngModel)]="sla.externalRef">
                  <div [hidden]="slaForm.controls['externalRef'].valid || slaForm.controls['externalRef'].pristine" class="alert alert-danger">
                    {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
                  </div>
                </div>
              </fieldset>
            </div>

          </div>
        </div>

      </tab>

    </tabset>
  </form>

</template>
