<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>

    <span wicket:id="name">[product or sku name]</span>
    <wicket:message key="sku.code">[sku.code:]</wicket:message>
    <span wicket:id="skuCode">[sku num]</span>

    <wicket:container wicket:id="imageView">
        [product image view]
    </wicket:container>


    <a wicket:id="addToCartLink">
        <wicket:message key="add.to.cart">[add one to cart]</wicket:message>
    </a>
    <wicket:container wicket:id="priceView">
        [price]
    </wicket:container>


    <wicket:container wicket:id="priceTiersView">
        [price tiers view]
    </wicket:container>

    <wicket:container wicket:id="skuList">
        [product variation / sku list]
    </wicket:container>

    <wicket:container wicket:id="description">
        [product or sku description]
    </wicket:container>

    <wicket:container wicket:id="skuAttrView">
        [attributes view]
    </wicket:container>

    <wicket:container wicket:id="accessoriesView">
        [accessories]
    </wicket:container>


</wicket:panel>
</body>
</html>