<table width="440" border="0">
    <tr>
        <td>
            <img src="cid:mail-head_jpeg" border="0">
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%">
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        Dear <b>$lastName</b> !
                        <br>
                        You or somebody else request new password at
                        <% if (shopUrl != null && !shopUrl.isEmpty()) { %>
                        "<a
                            href="<%out.print(shopUrl.iterator().next())%>">$shopName</a>" shop.
                        <% } else { %>
                        $shopName
                        <% }%>
                        <br>
                        New password is <b>$password</b>
                        <hr>
                        Contact information:
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
</table>



