<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2009 Denys Pavlov, Igor Azarnyi
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

 <configuration debug="false">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>
    <!--<logger name="org.hibernate.jdbc" level="INFO">-->
        <!--<appender-ref ref="stdout"/>-->
    <!--</logger>-->
    <!--<logger name="org.hibernate.type" level="INFO">-->
        <!--<appender-ref ref="stdout"/>-->
    <!--</logger>-->
    <!--<logger name="org.hibernate.transaction" level="INFO">-->
        <!--<appender-ref ref="stdout"/>-->
    <!--</logger>-->
    <!--<logger name="org.yes" level="INFO">-->
        <!--<appender-ref ref="stdout"/>-->
    <!--</logger>-->
    <!--<logger name="org.hibernate.pretty" level="INFO">-->
        <!--<appender-ref ref="stdout"/>-->
    <!--</logger>-->
    <logger name="org.hibernate.tool.hbm2ddl" level="OFF">
        <appender-ref ref="stdout"/>
    </logger>
    <!--<logger name="org.hibernate" level="OFF">-->
        <!--<appender-ref ref="stdout"/>-->
    <!--</logger>-->
    <!--<logger name="org.hibernate.secure" level="INFO">-->
        <!--<appender-ref ref="stdout"/>-->
    <!--</logger>-->
    <!--<logger name="org.hibernate.SQL" level="INFO">-->
        <!--<appender-ref ref="stdout"/>-->
    <!--</logger>-->
    <!--<logger name="net.sf.hibernate" level="OFF">-->
        <!--<appender-ref ref="stdout"/>-->
    <!--</logger>-->
    <!--<logger name="com.opensymphony.oscache" level="INFO">-->
        <!--<appender-ref ref="stdout"/>-->
    <!--</logger>-->
    <!--<logger name="org.hibernate.cache" level="INFO">-->
        <!--<appender-ref ref="stdout"/>-->
    <!--</logger>-->
    <logger name="RESTTEST" level="OFF"><!-- Set level to INFO to print request/response of the tests -->
        <appender-ref ref="stdout"/>
    </logger>
    <root level="ERROR"><!-- Lower logging level to diagnose problems with tests -->
        <appender-ref ref="stdout"/>
    </root>
</configuration>