<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright 2009 Igor Azarnyi, Denys Pavlov
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:flex="http://www.springframework.org/schema/flex"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/flex http://www.springframework.org/schema/flex/spring-flex-1.5.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
">

    <bean name="myJpaHibernateConfigProcessor" class="org.springframework.flex.core.io.LocalJpaHibernateConfigProcessor">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>


    <flex:message-broker>
        <flex:config-processor ref="myJpaHibernateConfigProcessor"/>
        <flex:secured/>
    </flex:message-broker>

    <!--    ROLE_SMADMIN    ROLE_SMSHOPADMIN    ROLE_SMWAREHOUSEADMIN    ROLE_SMCALLCENTER    -->

    <bean id="remoteUserManagementService" class="org.yes.cart.remote.service.impl.RemoteManagementServiceImpl">
        <constructor-arg index="0" ref="userManagementService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="addUser" access="ROLE_SMADMIN"/>
            <security:protect method="getManagers" access="ROLE_SMADMIN"/>
            <security:protect method="updateUser" access="ROLE_SMADMIN"/>
            <security:protect method="resetPassword"
                              access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="deleteUser" access="ROLE_SMADMIN"/>
            <security:protect method="addRole" access="ROLE_SMADMIN"/>
            <security:protect method="updateRole" access="ROLE_SMADMIN"/>
            <security:protect method="deleteRole" access="ROLE_SMADMIN"/>
            <security:protect method="grantRole" access="ROLE_SMADMIN"/>
            <security:protect method="revokeRole" access="ROLE_SMADMIN"/>
        </security:intercept-methods>

    </bean>

    <bean id="remoteAttributeGroupService" class="org.yes.cart.remote.service.impl.RemoteAttributeGroupServiceImpl">
        <constructor-arg index="0" ref="dtoAttributeGroupService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getAttributeGroupByCode" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteAttributeService" class="org.yes.cart.remote.service.impl.RemoteAttributeServiceImpl">
        <constructor-arg index="0" ref="dtoAttributeService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="findByAttributeGroupCode" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteEtypeService" class="org.yes.cart.remote.service.impl.RemoteEtypeServiceImpl">
        <constructor-arg index="0" ref="dtoEtypeService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteShopService" class="org.yes.cart.remote.service.impl.RemoteShopServiceImpl">
        <constructor-arg index="0" ref="dtoShopService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN"/>
            <security:protect method="getSupportedCurrencies" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="updateSupportedCurrencies" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteShopUrlService" class="org.yes.cart.remote.service.impl.RemoteShopUrlServiceImpl">
        <constructor-arg index="0" ref="dtoShopUrlService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getAllByShopId" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <!--seoGenericService-->

    <bean id="remoteCategoryService" class="org.yes.cart.remote.service.impl.RemoteCategoryServiceImpl">
        <constructor-arg index="0" ref="dtoCategoryService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getAllByShopId" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>


            <security:protect method="getEntityAttributes" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="updateEntityAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="createEntityAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="deleteAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="assignToShop" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="unassignFromShop" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getByProductId" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteCustomerService" class="org.yes.cart.remote.service.impl.RemoteCustomerServiceImpl">
        <constructor-arg index="0" ref="dtoCustomerService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="findCustomer" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="remoteResetPassword" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>

            <security:protect method="getEntityAttributes" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="updateEntityAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="createEntityAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="deleteAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>



    <bean id="remoteProductService" class="org.yes.cart.remote.service.impl.RemoteProductServiceImpl">
        <constructor-arg index="0" ref="dtoProductService"/>
        <constructor-arg index="1" ref="reindexService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getProductByCategory" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getProductByCategoryWithPaging" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteProductSkuService" class="org.yes.cart.remote.service.impl.RemoteProductSkuServiceImpl">
        <constructor-arg index="0" ref="dtoProductSkuService"/>
        <constructor-arg index="1" ref="reindexService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="createSkuPrice" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="updateSkuPrice" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="removeSkuPrice" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getEntityAttributes" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="updateEntityAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="createEntityAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="deleteAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAllProductSkus" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
        </security:intercept-methods>
    </bean>


    <bean id="remoteBrandService" class="org.yes.cart.remote.service.impl.RemoteBrandServiceImpl">
        <constructor-arg index="0" ref="dtoBrandService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>

            <security:protect method="getEntityAttributes" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="updateEntityAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="createEntityAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="deleteAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>

        </security:intercept-methods>
    </bean>

    <bean id="remoteCarrierService" class="org.yes.cart.remote.service.impl.RemoteCarrierServiceImpl">
        <constructor-arg index="0" ref="dtoCarrierService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteCarrierSlaService" class="org.yes.cart.remote.service.impl.RemoteCarrierSlaServiceImpl">
        <constructor-arg index="0" ref="dtoCarrierSlaService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteProductAssociationService" class="org.yes.cart.remote.service.impl.RemoteProductAssociationServiceImpl">
        <constructor-arg index="0" ref="dtoProductAssociationService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getProductAssociations" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getProductAssociationsByProductAssociationType" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteAssociationService" class="org.yes.cart.remote.service.impl.RemoteAssociationServiceImpl">
        <constructor-arg index="0" ref="dtoAssociationService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteProdTypeAttributeViewGroupService" class="org.yes.cart.remote.service.impl.RemoteProdTypeAttributeViewGroupServiceImpl">
        <constructor-arg index="0" ref="dtoProdTypeAttributeViewGroupService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteAddressService" class="org.yes.cart.remote.service.impl.RemoteAddressServiceImpl">
        <constructor-arg index="0" ref="dtoAddressService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="getAddressesByCustomerId" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>


    <bean id="remoteCustomerWishListService" class="org.yes.cart.remote.service.impl.RemoteCustomerWishListServiceImpl">
        <constructor-arg index="0" ref="dtoCustomerWishListService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="getByCustomerId" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteWarehouseService" class="org.yes.cart.remote.service.impl.RemoteWarehouseServiceImpl">
        <constructor-arg index="0" ref="dtoWarehouseService"/>
        <constructor-arg index="1" ref="reindexService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="findByShopId" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="assignWarehouse" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="unassignWarehouse" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="removeSkuOnWarehouse" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="createSkuOnWarehouse" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="updateSkuOnWarehouse" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="findProductSkusOnWarehouse" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteProductTypeService" class="org.yes.cart.remote.service.impl.RemoteProductTypeServiceImpl">
        <constructor-arg index="0" ref="dtoProductTypeService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteProductTypeAttrService" class="org.yes.cart.remote.service.impl.RemoteProductTypeAttrServiceImpl">
        <constructor-arg index="0" ref="dtoProductTypeAttrService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getByProductTypeId" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteImageService" class="org.yes.cart.remote.service.impl.RemoteImageServiceImpl">
        <constructor-arg index="0" ref="dtoImageService"/>
        <constructor-arg index="1" ref="dtoShopService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="addImageToRepository" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getImageAsByteArray" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getSeoImage" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>


    <bean id="remoteProductCategoryService" class="org.yes.cart.remote.service.impl.RemoteProductCategoryServiceImpl">
        <constructor-arg index="0" ref="dtoProductCategoryService"/>
        <constructor-arg index="1" ref="reindexService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="removeByCategoryProductIds" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>


    <bean id="remoteCountryService" class="org.yes.cart.remote.service.impl.RemoteCountryServiceImpl">
        <constructor-arg index="0" ref="dtoCountryService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteCustomerOrderService" class="org.yes.cart.remote.service.impl.RemoteCustomerOrderServiceImpl">
        <constructor-arg index="0" ref="dtoCustomerOrderService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="findCustomerOrdersByCriteria" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>


    <bean id="remoteStateService" class="org.yes.cart.remote.service.impl.RemoteStateServiceImpl">
        <constructor-arg index="0" ref="dtoStateService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteUploadService" class="org.yes.cart.remote.service.impl.RemoteUploadServiceImpl">
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="upload" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
        </security:intercept-methods>
    </bean>

    <bean id="reindexService"
          class="org.yes.cart.remote.service.impl.ReindexServiceImpl">
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="reindexAllProducts" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteFlexSupportService"
          class="org.yes.cart.remote.service.impl.RemoteFlexSupportServiceImpl">
        <flex:remoting-destination/>
    </bean>


    <bean id="remoteBackdoorService" class="org.yes.cart.remote.service.impl.RemoteBackdoorServiceImpl">
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="reindexAllProducts" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="reindexProduct"     access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="reindexProducts"    access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="sqlQuery"           access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="hsqlQuery"          access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="luceneQuery"        access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
        </security:intercept-methods>
    </bean>


    <bean id="bulkImportService" class="org.yes.cart.bulkimport.service.impl.ImportDirectorImplService">
        <constructor-arg index="0" ref="bulkImportServiceImpl"/>
        <constructor-arg index="1" ref="bulkImportImageService"/>
        <constructor-arg index="2">
            <list>

                <value>brandimport.xml</value>
                <value>attribute.xml</value>  <!--product attributes only, sku and rest attributes import not implemented-->
                <value>attributeviewgroup.xml</value>  <!-- group of attributes -->
                <value>producttype.xml</value>  <!-- product types -->
                <value>category.xml</value>
                <value>shopcategory.xml</value>
                <value>productypeattributeviewgroup.xml</value>  <!-- attributes view groups for product types -->
                <value>producttypeattr.xml</value>  <!-- attribute  for product types -->
                <value>product.xml</value>  <!-- products and description -->
                <value>productsku.xml</value>  <!-- product sku -->
                <value>warehouse.xml</value>
                <value>skuquantity.xml</value>  <!--sku qty on warehouse-->
                <value>skuprice.xml</value>  <!--sku prices-->
                <value>productcategory.xml</value>  <!-- distribution products by categories -->

            </list>
        </constructor-arg>

        <constructor-arg index="3" value="#{systemProperties['java.io.tmpdir']+systemProperties['file.separator']+'yes-cart'+systemProperties['file.separator']+'archive'}"/>
        <constructor-arg index="4" value="import-descriptor"/>
        <constructor-arg index="5" value="#{systemProperties['java.io.tmpdir']+systemProperties['file.separator']+'yes-cart'+systemProperties['file.separator']+'import'}"/>
        <constructor-arg index="6" ref="productService"/>


        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="doImport" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
        </security:intercept-methods>


    </bean>


    <import resource="report.xml"/>
    <import resource="classpath*:payment-api.xml"/>


    <bean id="remoteReportService" class="org.yes.cart.report.impl.ReportServiceImpl">
        <constructor-arg ref="genericDao" index="0"/>
        <constructor-arg index="1">
            <list>
                <ref bean="reportShopSummaryInfo"/>
                <ref bean="reportAvailableStock"/>
            </list>
        </constructor-arg>
        <constructor-arg value="report" index="2"/>

        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="downloadReport" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="downloadReport" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
        </security:intercept-methods>


    </bean>

    <bean id="remotePaymentModulesManagementService" class="org.yes.cart.remote.service.impl.RemotePaymentModulesManagementServiceImpl">
        <constructor-arg index="0" ref="paymentModulesManager"/>
        <constructor-arg index="1" ref="customerOrderPaymentService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="getAllowedPaymentGateways" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAvailablePaymentGateways" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getPaymentGatewayParameters" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="updateConfigurationParameter" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="allowPaymentGateway" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="disallowPaymentGateway" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="findPayments" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getPaymentGateways" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>





</beans>
        
