<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:flex="http://www.springframework.org/schema/flex"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/flex http://www.springframework.org/schema/flex/spring-flex-1.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
">

    <flex:message-broker>
        <flex:secured/>
    </flex:message-broker>

    <!--    ROLE_SMADMIN    ROLE_SMSHOPADMIN    ROLE_SMWAREHOUSEADMIN    ROLE_SMCALLCENTER    -->

    <bean id="reindexService"
          class="org.yes.cart.remote.service.impl.ReindexServiceImpl">
        <constructor-arg index="0" ref="productService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="reindexAllProducts" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteUserManagmentService" class="org.yes.cart.remote.service.impl.RemoteManagementServiceImpl">
        <constructor-arg index="0" ref="userManagmentService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="addUser" access="ROLE_SMADMIN"/>
            <security:protect method="getManagers" access="ROLE_SMADMIN"/>
            <security:protect method="updateUser" access="ROLE_SMADMIN"/>
            <security:protect method="resetPassword"
                              access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="deleteUser" access="ROLE_SMADMIN"/>
            <security:protect method="addRole" access="ROLE_SMADMIN"/>
            <security:protect method="updateRole" access="ROLE_SMADMIN"/>
            <security:protect method="deleteRole" access="ROLE_SMADMIN"/>
            <security:protect method="grantRole" access="ROLE_SMADMIN"/>
            <security:protect method="revokeRole" access="ROLE_SMADMIN"/>
        </security:intercept-methods>

    </bean>

    <bean id="remoteAttributeGroupService" class="org.yes.cart.remote.service.impl.RemoteAttributeGroupServiceImpl">
        <constructor-arg index="0" ref="dtoAttributeGroupService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getAttributeGroupByCode" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteAttributeService" class="org.yes.cart.remote.service.impl.RemoteAttributeServiceImpl">
        <constructor-arg index="0" ref="dtoAttributeService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="findByAttributeGroupCode" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteEtypeService" class="org.yes.cart.remote.service.impl.RemoteEtypeServiceImpl">
        <constructor-arg index="0" ref="dtoEtypeService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteShopService" class="org.yes.cart.remote.service.impl.RemoteShopServiceImpl">
        <constructor-arg index="0" ref="dtoShopService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN"/>
            <security:protect method="getSupportedCurrencies" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="setSupportedCurrencies" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteShopUrlService" class="org.yes.cart.remote.service.impl.RemoteShopUrlServiceImpl">
        <constructor-arg index="0" ref="dtoShopUrlService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getAllByShopId" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <!--seoGenericService-->

    <bean id="remoteCategoryService" class="org.yes.cart.remote.service.impl.RemoteCategoryServiceImpl">
        <constructor-arg index="0" ref="dtoCategoryService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getAllByShopId" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>


            <security:protect method="getEntityAttributes" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="updateEntityAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="createEntityAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="deleteAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="assignToShop" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="unassignFromShop" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getByProductId" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteCustomerService" class="org.yes.cart.remote.service.impl.RemoteCustomerServiceImpl">
        <constructor-arg index="0" ref="dtoCustomerService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="findCustomer" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="remoteResetPassword" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>

            <security:protect method="getEntityAttributes" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="updateEntityAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="createEntityAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="deleteAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>


    <bean id="remoteSeoService" class="org.yes.cart.remote.service.impl.RemoteSeoServiceImpl">
        <constructor-arg index="0" ref="dtoSeoService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>


    <bean id="remoteProductService" class="org.yes.cart.remote.service.impl.RemoteProductServiceImpl">
        <constructor-arg index="0" ref="dtoProductService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getProductByCategory" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getProductByCategoryWithPaging" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteProductSkuService" class="org.yes.cart.remote.service.impl.RemoteProductSkuServiceImpl">
        <constructor-arg index="0" ref="dtoProductSkuService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="createSkuPrice" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="updateSkuPrice" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="removeSkuPrice" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getEntityAttributes" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="updateEntityAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="createEntityAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="deleteAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAllProductSkus" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
        </security:intercept-methods>
    </bean>


    <bean id="remoteBrandService" class="org.yes.cart.remote.service.impl.RemoteBrandServiceImpl">
        <constructor-arg index="0" ref="dtoBrandService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>

            <security:protect method="getEntityAttributes" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="updateEntityAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="createEntityAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="deleteAttributeValue" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>

        </security:intercept-methods>
    </bean>

    <bean id="remoteCarrierService" class="org.yes.cart.remote.service.impl.RemoteCarrierServiceImpl">
        <constructor-arg index="0" ref="dtoCarrierService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteCarrierSlaService" class="org.yes.cart.remote.service.impl.RemoteCarrierSlaServiceImpl">
        <constructor-arg index="0" ref="dtoCarrierSlaService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteProductAssociationService" class="org.yes.cart.remote.service.impl.RemoteProductAssociationServiceImpl">
        <constructor-arg index="0" ref="dtoProductAssociationService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getProductAssociations" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getProductAssociationsByProductAssociationType" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteAssociationService" class="org.yes.cart.remote.service.impl.RemoteAssociationServiceImpl">
        <constructor-arg index="0" ref="dtoAssociationService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteAvailabilityService" class="org.yes.cart.remote.service.impl.RemoteAvailabilityServiceImpl">
        <constructor-arg index="0" ref="dtoAvailabilityService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_NONE"/>
            <security:protect method="update" access="ROLE_NONE"/>
            <security:protect method="remove" access="ROLE_NONE"/>
            <security:protect method="getNew" access="ROLE_NONE"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteAddressService" class="org.yes.cart.remote.service.impl.RemoteAddressServiceImpl">
        <constructor-arg index="0" ref="dtoAddressService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="getAddressesByCustomerId" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>


    <bean id="remoteCustomerWishListService" class="org.yes.cart.remote.service.impl.RemoteCustomerWishListServiceImpl">
        <constructor-arg index="0" ref="dtoCustomerWishListService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="getByCustomerId" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteWarehouseService" class="org.yes.cart.remote.service.impl.RemoteWarehouseServiceImpl">
        <constructor-arg index="0" ref="dtoWarehouseService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="findByShopId" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="assignWarehouse" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="unassignWarehouse" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="removeSkuOnWarehouse" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="createSkuOnWarehouse" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="updateSkuOnWarehouse" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="findProductSkusOnWarehouse" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteProductTypeService" class="org.yes.cart.remote.service.impl.RemoteProductTypeServiceImpl">
        <constructor-arg index="0" ref="dtoProductTypeService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteProductTypeAttrService" class="org.yes.cart.remote.service.impl.RemoteProductTypeAttrServiceImpl">
        <constructor-arg index="0" ref="dtoProductTypeAttrService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getByProductTypeId" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteImageService" class="org.yes.cart.remote.service.impl.RemoteImageServiceImpl">
        <constructor-arg index="0" ref="dtoImageService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="addImageToRepository" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getImageAsByteArray" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getSeoImage" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>


    <bean id="remoteProductCategoryService" class="org.yes.cart.remote.service.impl.RemoteProductCategoryServiceImpl">
        <constructor-arg index="0" ref="dtoProductCategoryService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="removeByCategoryProductIds" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>


    <bean id="remoteCountryService" class="org.yes.cart.remote.service.impl.RemoteCountryServiceImpl">
        <constructor-arg index="0" ref="dtoCountryService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>

    <bean id="remoteCustomerOrderService" class="org.yes.cart.remote.service.impl.RemoteCustomerOrderServiceImpl">
        <constructor-arg index="0" ref="dtoCustomerOrderService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="findCustomerOrdersByCriterias" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>


    <bean id="remoteStateService" class="org.yes.cart.remote.service.impl.RemoteStateServiceImpl">
        <constructor-arg index="0" ref="dtoStateService"/>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="create" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="update" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="remove" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="getNew" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
            <security:protect method="getAll" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
            <security:protect method="getById" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN,ROLE_SMCALLCENTER"/>
        </security:intercept-methods>
    </bean>


    <!--bean id="csvBulkImport" class="org.yes.cart.service.impl.CsvBulkImportServiceImpl">
        <property name="extendedConversionService" ref="extendedConversionService"/>
        <property name="genericDAO" ref="genericDao"/>
    </bean>


    <bean id="imageBulkImport" class="org.yes.cart.service.impl.BulkImportImagesServiceImpl">
        <property name="attributeDao" ref="attributeDao"/>
        <property name="genericDAO" ref="genericDao"/>
        <property name="imageService" ref="imageService"/>
        <property name="regExp" value="_([.[^_]]*)_[a-z]\.jpe?g$"/>
        <property name="filePatterntRegExp" value="(.*)\.jpe?g"/>
    </bean>

    <bean id="bulkImportService" class="org.yes.cart.bulkimport.service.impl.ImportDirectorImplService">
        <constructor-arg index="0" ref="csvBulkImport"/>
        <constructor-arg index="1" ref="imageBulkImport"/>
        <constructor-arg index="2">
            <list>
                <value>brand.xml</value>
                <value>producttype.xml</value>
                <value>product.xml</value>
                <value>productsku.xml</value>
                <value>productskuquantity.xml</value>
                <value>productskuprice.xml</value>
                <value>productcategory.xml</value>
            </list>
        </constructor-arg>
        <flex:remoting-destination/>
        <security:intercept-methods>
            <security:protect method="doImport" access="ROLE_SMADMIN,ROLE_SMSHOPADMIN,ROLE_SMWAREHOUSEADMIN"/>
        </security:intercept-methods>

        <property name="systemService" ref="systemService"/>
        <property name="productService" ref="productService"/>

    </bean-->


</beans>
        
