<div class="row">
  <div>
    <h1 class="page-header">{{ 'PANEL_EMPLOYEES_ROLES' | translate }} {{ selectedRole && (!roleEdit || roleEdit.roleId > 0) ? (' / ' + selectedRole.code) : '' }}</h1>
  </div>


  <div class="row data-control">

    <div class="col-xs-12 col-md-5 padding-lr-0" [hidden]="viewMode !== 'roles'">
      <form class="width-100">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" (click)="sortSelectModal.showDialog()" class="btn {{ roleSort.first ? 'btn-info' : 'btn-default' }} btn-circle btn-xl" title="{{ 'MODAL_BUTTON_HELPSORT' | translate }}">
              <i class="fa fa-sort-amount-asc"></i>
            </button>
          </span>
          <input class="form-control filter-input" type="text" name="roleFilter" [(ngModel)]="roleFilter" autocomplete="off"/>
          <span class="input-group-btn">
            <button class="btn btn-default btn-circle btn-xl" type="button" (click)="onClearFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
              <i class="fa fa-times-circle-o"></i>
            </button>
          </span>
        </div>
      </form>
    </div>

    <div class="col-xs-12 {{ viewMode === 'roles' ? 'col-md-7' : '' }} padding-lr-0 button-panel">

      <button type="button" (click)="onBackToList()" [hidden]="viewMode === 'roles'" class="btn btn-info btn-circle btn-xl" title="{{ 'MODAL_BUTTON_BACK' | translate }}">
        <i class="fa fa-chevron-left"></i>
      </button>

      <button type="button" (click)="onRowNew()" [disabled]="viewMode !== 'roles'" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_CREATE' | translate }}">
        <i class="fa fa-plus"></i>
      </button>

      <button type="button" (click)="onRowEditSelected()" [disabled]="selectedRole == null || viewMode !== 'roles'" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_EDIT' | translate }}">
        <i class="fa fa-edit"></i>
      </button>

      <button type="button" (click)="onRowDeleteSelected()" [disabled]="selectedRole == null || (roleEdit != null && roleEdit.roleId === 0)" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELETE' | translate }}">
        <i class="fa fa-remove"></i>
      </button>

      <yc-data-control [changed]="changed"
                       [valid]="validForSave"
                       (saveEvent)="onSaveHandler()"
                       (discardEvent)="onDiscardEventHandler()"
                       (refreshEvent)="onRefreshHandler()"></yc-data-control>

    </div>

  </div>

  <div [hidden]="viewMode !== 'roles'" class="{{ loading ? 'loading-data' : '' }}">
    <yc-roles [roles]="roles" [filter]="roleFilter" [sortorder]="roleSort"
              (dataSelected)="onRoleSelected($event)"
              (pageSelected)="onPageSelected($event)"
              (sortSelected)="onSortSelected($event)"></yc-roles>
  </div>

  <div [hidden]="viewMode !== 'role'" class="{{ loading ? 'loading-data' : '' }}">
    <yc-role [role]="roleEdit" (dataChanged)="onRoleChanged($event)"></yc-role>
  </div>

  <yc-modal #deleteConfirmationModalDialog
            title="{{ 'MODAL_CONFIRM_TITLE' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_DELETE' | translate }}"
            [valid]="true"
            (closed)="onDeleteConfirmationResult($event)">
    {{ 'MODAL_CONFIRM_DELETE' | translate:{value: deleteValue } }}
  </yc-modal>


  <yc-sort-select #sortSelectModal
                  [sortColumn]="roleSort.first"
                  [sortDesc]="roleSort.second"
                  [availableOptions]=" ([
                      { key: 'code', messageKey: 'CODE' },
                      { key: 'description', messageKey: 'DESCRIPTION' }
                  ]) "
                  (sortSelected)="onSortSelected($event)"></yc-sort-select>
</div>
