<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>

    <table align="center" width="800" cellpadding="0" cellspacing="0">
        <tr><td><span wicket:id="feedback"/></td></tr>
        <tr><td>
            <form wicket:id="loginForm">
                <table>
                    <tr>
                        <td colspan="2">
                            <span><wicket:message key="existingUser">[login existing user]</wicket:message></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <wicket:message key="email">[user email]</wicket:message>
                        </td>
                        <td><input type="text"  wicket:id="email"/></td>
                    </tr>
                    <tr>
                        <td>
                            <wicket:message key="password">[password]</wicket:message>
                        </td>
                        <td><input type="password"  wicket:id="password"/></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" wicket:id="loginBtn"  wicket:message="value:signIn"/>
                            <input type="submit" wicket:id="restorePasswordBtn"  wicket:message="value:restorePassword"/>
                        </td>
                    </tr>
                </table>
            </form>                
        </td></tr>
        <tr><td>&nbsp;</td></tr>
    </table>

</wicket:panel>
</body>
</html>