<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>

    <form wicket:id="loginForm">
			
		<div style="clear:both;">
			<p>
				<div class="g360">
					&nbsp;
				</div>			
			</p>
		</div>

		<div style="clear:both;">
			<p>
				<div class="g144">
					<wicket:message key="email">[user email]</wicket:message>
				</div>
				<div class="g216">
					<input type="text"  wicket:id="email" style="width:200px"/>
				</div>			
			</p>
		</div>

		<div style="clear:both;">
			<p>
				<div class="g144">
					<wicket:message key="password">[password]</wicket:message>
				</div>
				<div class="g216">
					<input type="password"  wicket:id="password" style="width:200px"/>
				</div>			
			</p>
		</div>
		
		<div style="clear:both;">			
			<div class="g360">
				<p align="right">
					<a wicket:id="registrationLink"><wicket:message key="registration">[registration]</wicket:message></a>
					<input type="submit" wicket:id="restorePasswordBtn"  wicket:message="value:restorePassword"/>
					<input type="submit" wicket:id="loginBtn"  wicket:message="value:signIn"/>					
				</p>					
			</div>			
		</div>
		
		
    </form>                

</wicket:panel>
</body>
</html>