body {
    background: #efefef;
    font-family: Verdana, Arial, Helvetica;
    font-size: 12px;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #888888;
}

a:hover {
    color: #330000;
    text-decoration: none;
    border-bottom: 2px solid red;
}

.hmenulink {
    color: black;
}

.mainpage {
    border: solid 1px #d6d6d6;
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}

p {
    overflow: hidden;
    padding: 10px 0;
    margin: 0 0 5px 0;
}

.gr {
    background: #999999; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#efefef'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #ffffff, #efefef); /* for firefox 3.6+ */
}

.grhead {
    background: #999999; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#efefef', endColorstr = '#ffffff'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#ffffff)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #efefef, #ffffff); /* for firefox 3.6+ */
}


.filterdivone {
    display:inline-block;
    width: 200px;
}

.filterdivtwo {
    text-align: right;
    display: inline-block;
}

.searchInput {
    width: 724px;
}


/* Generated via www.cssmenubuilder.com */

.menu{margin:0 auto; padding:0; height:30px; width:100%; display:block; background:url('topMenuImages.png') repeat-x;}
.menu li{padding:0; margin:0; list-style:none; display:inline;}
.menu li a{float:left; padding-left:15px; display:block; color:rgb(0,0,0); text-decoration:none; font:12px Verdana, Arial, Helvetica, sans-serif; cursor:pointer; background:url('topMenuImages.png') 0px -30px no-repeat;}
.menu li a span{line-height:30px; float:left; display:block; padding-right:15px; background:url('topMenuImages.png') 100% -30px no-repeat;}
.menu li span span{line-height:30px; float:left; display:block; padding-right:15px; background:url('topMenuImages.png') 100% -30px no-repeat;}
.menu li a:hover{background-position:0px -60px; color:rgb(51,0,0);}
.menu li a:hover span{background-position:100% -60px;}
.menu li a.active, .menu li a.active:hover{line-height:30px; font:12px Verdana, Arial, Helvetica, sans-serif; background:url('topMenuImages.png') 0px -90px no-repeat; color:rgb(0,0,0);}
.menu li a.active span, .menu li a.active:hover span {background:url('topMenuImages.png') 100% -90px no-repeat;  color:rgb(0,0,0);}



.vmenu{margin:0; padding:0; width:300px; list-style:none;background:rgb(255,0,0);}
.vmenu li{padding:0; margin:0 0 1px 0; height:40px; display:block; }
.vmenu li a{text-align:left;height:40px; padding:0px 25px; font:12px Verdana, Arial, Helvetica, sans-serif; color:rgb(0,0,0); display:block; background:url('verMenuImages.png') 0px 0px no-repeat; text-decoration:none;}
.vmenu li a:hover{background:url('verMenuImages.png') 0px -40px no-repeat; color:rgb(51,0,0);}
.vmenu li a.active, .menu li a.active:hover{background:url('verMenuImages.png') 0px -80px no-repeat; color:rgb(0,0,0);}
.vmenu li a span{line-height:40px;}


.breadcrumb{position:relative; height:30px; width:100%;}
.breadcrumb ul{position:relative; margin:0 5px 0 5px; padding:0; height:30px; background:url('breadcrumbImage.png') 0px -30px repeat-x; }
.breadcrumb ul li{padding:0; margin:0; list-style:none; float:left; height:30px; display:inline;}

.breadcrumb ul li a {font:12px Arial, Helvetica, sans-serif; color:rgb(0,0,0); text-decoration:none; line-height:30px; display:block; background:url('breadcrumbImage.png') 100% -60px no-repeat; padding:0 17px 0 15px; }

.breadcrumb ul li a:hover {text-decoration:underline; color:rgb(51,0,0);}
.breadcrumb ul li a.active{background:none; color:rgb(0,0,0);}
.breadcrumb ul li a.active:hover {text-decoration:none;}
.breadcrumb .left{position:absolute; top:0px; left:0px; width:10px; height:30px; display:block; z-index:1; background:url('breadcrumbImage.png') 0% 0px no-repeat;}
.breadcrumb .right{position:absolute; top:0px; right:0px; width:10px; height:30px; display:block; z-index:1; background:url('breadcrumbImage.png') 100% -90px no-repeat; }


