body {
    background: #efefef;
    font-family: Verdana, Arial, Helvetica;
    font-size: 12px;
}

a {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid #cccccc;
}

a:hover {
    color: #330000;
    text-decoration: none;
    border-bottom: 2px solid red;
}

.hmenulink {
    color: black;
}

.mainpage {
    border: solid 1px #d6d6d6;
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}

p {
    overflow: hidden;
    padding: 10px 0;
    margin: 0 0 5px 0;
}

.gr {
    background: #999999; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#efefef'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #ffffff, #efefef); /* for firefox 3.6+ */
}

.grhead {
    background: #999999; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#efefef', endColorstr = '#ffffff'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#ffffff)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #efefef, #ffffff); /* for firefox 3.6+ */
}


.filterdivone {
    display:inline-block;
    width: 200px;
}

.filterdivtwo {
    text-align: right;
    display: inline-block;
}

.searchInput {
    width: 724px;
}


/* Generated via www.cssmenubuilder.com */

.menu{margin:0 auto; padding:0; height:30px; width:100%; display:block; background:url('topMenuImages.png') repeat-x;}
.menu li{padding:0; margin:0; list-style:none; display:inline;}
.menu li a{float:left; padding-left:15px; display:block; color:rgb(0,0,0); text-decoration:none; font:12px Verdana, Arial, Helvetica, sans-serif; cursor:pointer; background:url('topMenuImages.png') 0px -30px no-repeat;}
.menu li a span{line-height:30px; float:left; display:block; padding-right:15px; background:url('topMenuImages.png') 100% -30px no-repeat;}
.menu li span span{line-height:30px; float:left; display:block; padding-right:15px; background:url('topMenuImages.png') 100% -30px no-repeat;}
.menu li a:hover{background-position:0px -60px; color:rgb(51,0,0);}
.menu li a:hover span{background-position:100% -60px;}
.menu li a.active, .menu li a.active:hover{line-height:30px; font:12px Verdana, Arial, Helvetica, sans-serif; background:url('topMenuImages.png') 0px -90px no-repeat; color:rgb(0,0,0);}
.menu li a.active span, .menu li a.active:hover span {background:url('topMenuImages.png') 100% -90px no-repeat;  color:rgb(0,0,0);}

.vmenu {
    margin: 0;
    padding: 0;
    /*width: 226px; */
    list-style: none;
    background: rgb(255, 0, 0);
}
.vmenu li{padding:0; margin:0 0 1px 0; height:40px; display:block; }
.vmenu li a {
    text-align: left;
    height: 40px;
    padding: 0px 3px;
    font: 12px Verdana, Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    display: block;
    background: url('verMenuImages.png') 0px 0px no-repeat;
    text-decoration: none;
}
.vmenu li a:hover{background:url('verMenuImages.png') 0px -40px no-repeat; color:rgb(51,0,0);}
.vmenu li a.active, .menu li a.active:hover{background:url('verMenuImages.png') 0px -80px no-repeat; color:rgb(0,0,0);}
.vmenu li a span {line-height:40px; }



.filternav {margin:0; padding:0; width:236px; list-style:none;background:rgb(255,0,0);}
.filternav li{padding:0; margin:0 0 1px 0; height:20px; display:block; }
.filternav-head {
    width: 236px;
    background: rgb(255, 255, 255);
    margin: 1px 0px 1px 0px;
    height: 40px;
    display: block;
    text-align: center;
    font: 12px Verdana, Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    display: block;
    background: url('verMenuImages.png') 0px 0px no-repeat;
    text-decoration: none;
    vertical-align : middle;
    display : table-cell;
}
.filternav li a {
    text-align: left;
    height: 20px;
    padding: 0px 3px;
    font: 9px Verdana, Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    display: block;
    background: url('verMenuImages.png') 0px 0px no-repeat;
    text-decoration: none;
}
.filternav li a:hover{background:url('verMenuImages.png') 0px -40px no-repeat; color:rgb(51,0,0);}
.filternav li a.active, .menu li a.active:hover{background:url('verMenuImages.png') 0px -80px no-repeat; color:rgb(0,0,0);}
.filternav li a span {line-height:20px; }
.filternav li a em   {line-height:20px; float:right; font-style: normal;}
.filternav li a em:before   {   content: "[" }
.filternav li a em:after    {   content: "]" }


.attrhead {
    /*width: 560px;
    background: rgb(255, 255, 255);
	margin-top: 10px;
    margin: 1px 0px 1px 0px;
    height: 25px;
    display: block;
    text-align: center;
    font: 12px Verdana, Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    display: block;
    background: url('verMenuImages.png') 0px 0px repeat-x;
    text-decoration: none;
    vertical-align : middle;
    display : table-cell;*/
	display : none;
}
.attr   {
    text-align: left;
    height: 20px;
    padding: 0px 3px;
    font: 9px Verdana, Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    display: block;
    /*background: url('verMenuImages.png') 0px 0px no-repeat;*/
    text-decoration: none;
}
.attr span{line-height:20px;}
.attr em   {line-height:20px; float:right; font-style: normal;}



.breadcrumb{position:relative; height:30px; width:100%;}
.breadcrumb ul {position:relative; margin:0 5px 0 5px; padding:0; height:30px; background:url('breadcrumbImage.png') 0px -30px repeat-x; }
.breadcrumb ul li {padding:0; margin:0; list-style:none; float:left; height:30px; display:inline;}

.breadcrumb ul li a:nth-child(even) {
    font: 10px Verdana, Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 30px;
    display: block;
    float:left;
    background: url('breadcrumbImage.png') 100% -60px no-repeat;
    padding: 0 17px 0 15px;
}

.breadcrumb ul li a:nth-child(odd) {
    font: 10px Verdana, Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 30px;
    display: block;
    float:left;
    background: url('breadcrumbImage.png') 100% -90px no-repeat;
    padding: 0 1px 0 15px;
}


.breadcrumb ul li a:hover {text-decoration:underline; color:rgb(51,0,0);}
.breadcrumb ul li a.active{background:none; color:rgb(0,0,0);}
.breadcrumb ul li a.active:hover {text-decoration:none;}
.breadcrumb .left{position:absolute; top:0px; left:0px; width:10px; height:30px; display:block; z-index:1; background:url('breadcrumbImage.png') 0% 0px no-repeat;}
.breadcrumb .right{position:absolute; top:0px; right:0px; width:10px; height:30px; display:block; z-index:1; background:url('breadcrumbImage.png') 100% -90px no-repeat; }



.sku-column {
    margin: 0 10px 0 10px;
    overflow: hidden;
    float: left;
    display: inline;
}

.sku-in-list-row {
    width: 300px;
    margin: 1px 1px 1px 1px;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
    background-color: transparent;
}

.sku-in-list-row * { background-color: transparent; }

.sku-in-list-row-grid_1 {width: 34px;  background-color: transparent;}
.sku-in-list-row-grid_2 {width: 98px;  background-color: transparent;}
.sku-in-list-row-grid_3 {width: 162px; background-color: transparent;}
.sku-in-list-row-grid_4 {width: 226px; background-color: transparent;}
.sku-in-list-row-grid_5 {width: 280px; background-color: transparent;}

.sku-in-list-row-grid_1 * { background-color: transparent; }
.sku-in-list-row-grid_2 * { background-color: transparent;}
.sku-in-list-row-grid_3 * { background-color: transparent;}
.sku-in-list-row-grid_4 * { background-color: transparent;}
.sku-in-list-row-grid_5 * { background-color: transparent;}


.sku-in-list {
    background: #999999; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#efefef'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #ffffff, #efefef); /* for firefox 3.6+ */
    width: 300px;
    border: solid 1px #d6d6d6;
    margin-top: 2px;
    margin-left: 3px;
}

.sku-in-list-description {
    height: 120px;
    overflow: hidden;
}

.sku-in-list-description div p:before  {   content: "&npsp;&npsp;&npsp;&npsp;" }

.sku-in-list-head {
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
}




.sku-row {
    width: 608px;
    margin: 1px 1px 1px 1px;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
    background-color: transparent;

}

.sku {
    background: #999999; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#efefef'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #ffffff, #efefef); /* for firefox 3.6+ */
    width: 608px;
    border: solid 1px #d6d6d6;
    margin-top: 39px;
    margin-left: 10px;
}

.sku-row * { background-color: transparent; }

.sku-row-grid_1 {width: 34px;  background-color: transparent;}
.sku-row-grid_2 {width: 98px;  background-color: transparent;}
.sku-row-grid_3 {width: 162px; background-color: transparent;}
.sku-row-grid_4 {width: 226px; background-color: transparent;}
.sku-row-grid_5 {width: 280px; background-color: transparent;}
.sku-row-grid_10 {width: 570px; background-color: transparent;}

.sku-row-grid_1 * { background-color: transparent; }
.sku-row-grid_2 * { background-color: transparent;}
.sku-row-grid_3 * { background-color: transparent;}
.sku-row-grid_4 * { background-color: transparent;}
.sku-row-grid_5 * { background-color: transparent;}
.sku-row-grid_10 * { background-color: transparent;}

/* ------------------------------------------------ tabs ------------------------------------------ */

#content{
    margin:15px auto;
    width:580px;
    position:relative;
    height:100%;
}
#wrapper{
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
    border:2px solid #fff;
    background-color:#f9f9f9;
    width:580px;
    overflow:hidden;
}
#steps{
    width:568px;
    /*height:320px;*/
    overflow:hidden;
}
.step{
    float:left;
    width:568px;
    /*height:320px;*/
}
#navigation{
    height:40px;
    background-color:#e9e9e9;
    border-top:1px solid #fff;
}
#navigation ul{
    list-style:none;
    float:left;
    margin-left:22px;
}
#navigation ul li{
    float:left;

    position:relative;

}
#navigation ul li a{
    display:block;
    height:40px;
    background-color:#444;
    /*color:#777;*/
    outline:none;
    /*font-weight:bold;*/
    text-decoration:none;
    line-height:40px;
    padding:0px 20px;

    background:#f0f0f0;
    background:
        -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.09, rgb(240,240,240)),
            color-stop(0.55, rgb(227,227,227)),
            color-stop(0.78, rgb(240,240,240))
        );
    background:
        -moz-linear-gradient(
            center bottom,
            rgb(240,240,240) 9%,
            rgb(227,227,227) 55%,
            rgb(240,240,240) 78%
        )
}
#navigation ul li a:hover,
#navigation ul li.selected a{
    background:#d8d8d8;
    /*color:#666;*/
    text-shadow:1px 1px 1px #fff;
}
span.checked{

    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}
span.error{

    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}
#steps form fieldset{
    border:none;
    padding-bottom:20px;
}
#steps form legend{
    text-align:left;

    color:#555555;
    font-size:18px;
    text-shadow:1px 1px 1px #fff;
    /*font-weight:bold;*/
    float:left;
    width:590px;
    padding:10px 0px 10px 10px;

}
#steps form p{
    float:left;
    clear:both;
    margin:5px 0px;
    background-color:#f4f4f4;
    border:1px solid #fff;
    width:400px;
    padding:10px;
    margin-left:100px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
}
