<div>

  <section class="no-more-tables">
    <table class="table-bordered table-striped table-condensed cf">
      <thead class="cf">
      <tr>
        <th>{{ 'CODE' | translate }}</th>
        <th>{{ 'NAME' | translate }} / {{ 'SEO_URI' | translate }}</th>
        <th>{{ 'CONTENT_TEMPLATE' | translate }}</th>
        <th>{{ 'CONTENT_FROM' | translate }}</th>
        <th>{{ 'CONTENT_TO' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of filteredContents; let i = index" class="{{row == selectedContent ? 'active' : ''}}">
        <template [ngIf]=" ( i >= pageStart &&  i < pageEnd )">
          <td title="{{ 'CODE' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.guid}}</a></td>
          <td title="{{ 'NAME' | translate }} / {{ 'SEO_URI' | translate }}"><i class="fa fa-sitemap" title="{{row.parentName}}"></i> <a class="js-click" (click)="onSelectRow(row)">{{row.name}}</a> <span [innerHTML]="getUri(row)"></span></td>
          <td title="{{ 'CATEGORY_TEMPLATE' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.uitemplate}}</a></td>
          <td title="{{ 'CATEGORY_FROM' | translate }}" class="{{ isAvailableFromNow(row) ? '' : 'bg-danger' }}"><a class="js-click" (click)="onSelectRow(row)">{{row.availablefrom | ycdatetime }}</a>&nbsp;</td>
          <td title="{{ 'CATEGORY_TO' | translate }}" class="{{ isAvailableToNow(row) ? '' : 'bg-danger' }}"><a class="js-click" (click)="onSelectRow(row)">{{row.availableto | ycdatetime }}</a>&nbsp;</td>
        </template>
      </tr>
      </tbody>
    </table>
  </section>

  <div>
    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [ngModel]="currentPage" (pageChanged)="onPageChanged($event)" class="pagination-sm"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>

</div>
