<template [ngIf]="content">

  <form role="form" [formGroup]="contentForm">
    <tabset>

      <tab heading="{{ 'TAB_MAIN' | translate }}"  (select)="tabSelected('Main')">

        <div class="panel-body">

          <div class="row">
            <div class="col-md-9 col-lg-6">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'CONTENT_PARENT' | translate }}</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="{{ 'CONTENT_PARENT' | translate }}" formControlName="parentName" name="parentName" type="text" [(ngModel)]="content.parentName" [readonly]="true"/>
                    <span class="input-group-btn">
                      <button type="button" (click)="onEditParent()" class="btn">
                        <i class="fa fa-edit"></i>
                      </button>
                    </span>
                  </div>
                  <div [hidden]="contentForm.controls['parentName'].valid || contentForm.controls['parentName'].pristine" class="alert alert-danger">
                    {{ 'SIMPLE_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'CODE' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'CODE' | translate }}" formControlName="guid" name="guid" type="text" [(ngModel)]="content.guid"/>
                  <div [hidden]="contentForm.controls['guid'].valid || contentForm.controls['guid'].pristine" class="alert alert-danger">
                    <div [hidden]="!contentForm.controls['guid'].hasError('checking')">
                      {{ 'REMOTE_CHECK' | translate }}
                    </div>
                    <div [hidden]="!contentForm.controls['guid'].hasError('DUPLICATE')">
                      {{ 'UNIQUE_REQUIRED' | translate }}
                    </div>
                    {{ 'ALPHANUM_REQUIRED' | translate }}
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <div class="row">
            <div class="col-md-9 col-lg-6">
              <yc-i18n-table title="{{ 'NAME' | translate }}"
                             [source]="content"
                             value="name"
                             defaultRequired="true"
                             i18n="displayNames"
                             (dataChanged)="onNameDataChange($event)"></yc-i18n-table>
            </div>
          </div>

          <div class="row">
            <div class="col-md-9 col-lg-6">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'AV_RANK' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'AV_RANK' | translate }}" formControlName="rank" name="rank" type="text" [(ngModel)]="content.rank">
                  <div [hidden]="contentForm.controls['rank'].valid || contentForm.controls['rank'].pristine" class="alert alert-danger">
                    {{ 'NUM_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'CONTENT_FROM' | translate }}</label>
                  <input class="form-control" placeholder="yyyy-MM-dd HH:mm:SS" formControlName="availablefrom" name="availablefrom" type="text" [(ngModel)]="availablefrom">
                  <div [hidden]="contentForm.controls['availablefrom'].valid || contentForm.controls['availablefrom'].pristine" class="alert alert-danger">
                    {{ 'DATE_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'CONTENT_TO' | translate }}</label>
                  <input class="form-control" placeholder="yyyy-MM-dd HH:mm:SS" formControlName="availableto" name="availableto" type="text" [(ngModel)]="availableto">
                  <div [hidden]="contentForm.controls['availableto'].valid || contentForm.controls['availableto'].pristine" class="alert alert-danger">
                    {{ 'DATE_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'DESCRIPTION' | translate }}</label>
                  <textarea class="form-control" placeholder="{{ 'DESCRIPTION' | translate }}" formControlName="description" name="description" rows="4" [(ngModel)]="content.description"></textarea>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </tab>

      <tab heading="{{ 'TAB_TEMPLATES' | translate }}"  (select)="tabSelected('Templates')">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-9 col-lg-6">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'CONTENT_TEMPLATE' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'CATEGORY_TEMPLATE' | translate }}" formControlName="uitemplate" name="uitemplate" type="text" [(ngModel)]="content.uitemplate">
                  <div [hidden]="contentForm.controls['uitemplate'].valid || contentForm.controls['uitemplate'].pristine" class="alert alert-danger">
                    {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class=" bg-info text-padding">
                <ul class="no-bullet">
                  <li><b>content</b>: {{ 'CONTENT_TEMPLATE_content' | translate }} </li>
                  <li><b>dynocontent</b>: {{ 'CONTENT_TEMPLATE_dynocontent' | translate }} </li>
                  <li><b>include</b>: {{ 'CONTENT_TEMPLATE_include' | translate }} </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </tab>

      <tab heading="{{ 'TAB_SEO' | translate }}"  (select)="tabSelected('SEO')">
        <div class="panel-body">

          <div class="row" *ngIf="content.contentId > 0">
            <div class="col-lg-9">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'SEO_URI' | translate }}</label>
                  <div class="input-group">
                    <div class="input-group-addon">/content/</div>
                    <input class="form-control" placeholder="{{ 'SEO_URI' | translate }}" type="text" value="{{ content.contentId }}" readonly="readonly"/>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-9">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'SEO_URI' | translate }}</label>
                  <div class="input-group">
                    <div class="input-group-addon">/content/</div>
                    <input class="form-control" placeholder="{{ 'SEO_URI' | translate }}" formControlName="uri" name="uri" type="text" [(ngModel)]="content.uri"/>
                  </div>
                  <div [hidden]="contentForm.controls['uri'].valid || contentForm.controls['uri'].pristine" class="alert alert-danger">
                    <div [hidden]="!contentForm.controls['uri'].hasError('checking')">
                      {{ 'REMOTE_CHECK' | translate }}
                    </div>
                    <div [hidden]="!contentForm.controls['uri'].hasError('DUPLICATE')">
                      {{ 'UNIQUE_REQUIRED' | translate }}
                    </div>
                    {{ 'SEOURI_REQUIRED' | translate }}
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-9">
              <yc-i18n-table title="{{ 'SEO_TITLE' | translate }}"
                             [source]="content"
                             value="title"
                             i18n="displayTitles"
                             (dataChanged)="onTitleDataChange($event)"></yc-i18n-table>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-9">
              <yc-i18n-table title="{{ 'SEO_KEYWORDS' | translate }}"
                             [source]="content"
                             value="metakeywords"
                             i18n="displayMetakeywords"
                             (dataChanged)="onKeywordsDataChange($event)"></yc-i18n-table>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-9">
              <yc-i18n-table title="{{ 'SEO_DESCRIPTION' | translate }}"
                             [source]="content"
                             value="metadescription"
                             i18n="displayMetadescriptions"
                             (dataChanged)="onMetaDataChange($event)"></yc-i18n-table>
            </div>
          </div>

        </div>

      </tab>

      <tab heading="{{ 'CONTENT_TAB_CMS' | translate }}"  (select)="tabSelected('CMS')">

        <template [ngIf]="!(content.contentId > 0)">

          <div class="row">
            <div class="col-xs-12 block-padding-spacer">
              <div class="bg-info text-padding">
                <p>{{ 'SAVEDOBJECT_REQUIRED' | translate }}</p>
              </div>
            </div>
          </div>

        </template>

        <div class="panel-body">

          <template [ngIf]="content.contentId > 0">

            <div class="panel panel-default" *ngFor="let body of content.contentBodies">
              <div class="panel-heading">
                <h3 class="panel-title"><span><button type="button" (click)="onCMSEdit(body)" class="btn btn-circle" title="{{ 'MODAL_BUTTON_EDIT' | translate }}"><i class="fa fa-edit"></i></button></span> <span><button type="button" (click)="onCMSEditRaw(body)" class="btn btn-circle" title="{{ 'MODAL_BUTTON_EDIT' | translate }}"><i class="fa fa-code"></i></button></span> {{ content.name }} <span [ngClass]="body.text ? 'label label-success' : 'label label-danger'">{{ body.lang }}</span></h3>
              </div>
              <div class="panel-body" [innerHTML]="getCMSPreview(body)"></div>
            </div>

          </template>

        </div>

      </tab>

      <tab heading="{{ 'TAB_ATTRIBUTES' | translate }}"  (select)="tabSelected('Attributes')">

        <template [ngIf]="!(content.contentId > 0)">

          <div class="row">
            <div class="col-xs-12 block-padding-spacer">
              <div class="bg-info text-padding">
                <p>{{ 'SAVEDOBJECT_REQUIRED' | translate }}</p>
              </div>
            </div>
          </div>

        </template>

        <template [ngIf]="content.contentId > 0">

          <div class="panel-body">
            <div class="row">
              <div class="text-right data-control">

                <form class="pull-left">
                  <input class="filter-input" type="text" name="attributeFilter" [(ngModel)]="attributeFilter" autocomplete="off"/>
                  <a class="js-click" (click)="onClearFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}"><i class="fa fa-remove"></i></a>
                  <a class="js-click" (click)="onSearchHelpToggle()" title="{{ 'MODAL_BUTTON_HELPFILTER' | translate }}"><i class="fa fa-question-circle"></i></a>
                </form>

                <button type="button" (click)="onRowEditSelected()" [disabled]="selectedRow == null" class="btn btn-circle btn-xl" title="{{ 'MODAL_BUTTON_EDIT' | translate }}">
                  <i class="fa fa-edit"></i>
                </button>

                <button type="button" (click)="onRowDeleteSelected()" [disabled]="selectedRow == null" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELETE' | translate }}">
                  <i class="fa fa-remove"></i>
                </button>

              </div>
            </div>

            <div class="row">

              <div *ngIf="searchHelpShow">
                <div class="bg-info text-padding">
                  <p>{{ 'SEARCH_HELP_AV_VALUES' | translate }} <span><button type="button" (click)="onSearchValues()" class="btn btn-circle"><i class="fa fa-circle"></i></button></span></p>
                  <p>{{ 'SEARCH_HELP_AV_VALUES_CHANGES' | translate }} <span><button type="button" (click)="onSearchValuesChanges()" class="btn btn-circle"><i class="fa fa-edit"></i></button></span></p>
                  <p>{{ 'SEARCH_HELP_AV_VALUES_NEW' | translate }} <span><button type="button" (click)="onSearchValuesNew()" class="btn btn-circle"><i class="fa fa-plus"></i></button></span></p>
                  <p>{{ 'SEARCH_HELP_AV_VALUES_NEW_ONLY' | translate }} <span><button type="button" (click)="onSearchValuesNewOnly()" class="btn btn-circle"><i class="fa fa-plus-circle"></i></button></span></p>
                </div>
              </div>

            </div>

            <div class="row">
              <yc-attribute-values #attributeValuesComponent
                                   [masterObject]="content"
                                   masterObjectType="category"
                                   [objectAttributes]="attributes"
                                   [attributeFilter]="attributeFilter"
                                   (dataSelected)="onSelectRow($event)"
                                   (dataChanged)="onAttributeDataChanged($event)"></yc-attribute-values>
            </div>
          </div>
        </template>

      </tab>

    </tabset>
  </form>

</template>

<yc-content-select #contentParentSelectComponent [shop]="shop"
                   (dataSelected)="onContentParentSelected($event)"></yc-content-select>


<yc-modal #rawEditConfirmationModalDialog
          title="{{ 'MODAL_BUTTON_EDIT' | translate }}"
          cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
          positiveLabel="{{ 'MODAL_BUTTON_CHANGE' | translate }}"
          [valid]="true"
          (closed)="onEditConfirmationResult($event)">

  <form role="form" *ngIf="bodyEdit != null">
    <fieldset>
      <div class="row">
        <div class="col-xs-12">{{ content != null ? content.name : '' }} <span class="label label-info">{{ bodyEdit.lang }}</span></div>
      </div>
      <div class="row block-margin-spacer">
        <div class="col-xs-12">
          <textarea class="form-control" name="bodyEditChange" [(ngModel)]="bodyEditChange"></textarea>
        </div>
      </div>
    </fieldset>
  </form>

</yc-modal>
