<section class="no-more-tables {{ loading ? 'loading-data' : '' }}">
  <table class="table-bordered table-striped table-condensed cf">
    <thead class="cf">
    <tr>
      <th>{{ 'SHOP_EMAIL_TEMPLATES' | translate }}</th>
      <th>{{ 'SHOP_EMAIL_TEMPLATES_CMS' | translate }}</th>
      <th>{{ 'SHOP_EMAIL_TEMPLATES_FROM' | translate }}</th>
      <th>{{ 'SHOP_EMAIL_TEMPLATES_TO' | translate }}</th>
      <th>{{ 'SHOP_EMAIL_TEMPLATES_ENABLED' | translate }}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let emailTemplate of filteredTemplates; let i = index" class="{{ emailTemplate.unavailable ? 'text-muted' : '' }} {{ emailTemplate.name == selectedName ? 'active': '' }}">
      <ng-template [ngIf]=" ( i >= pageStart &&  i < pageEnd )">
        <td title="{{ 'SHOP_EMAIL_TEMPLATES' | translate }}">
          <ng-template [ngIf]="!emailTemplate.image && !emailTemplate.part">
            <a class="js-click" (click)="onEmailPreview(emailTemplate)">{{ emailTemplate.name }}</a> <i class="fa fa-envelope"></i>
          </ng-template>
          <ng-template [ngIf]="emailTemplate.image">
            {{ emailTemplate.name }} <i class="fa fa-picture-o"></i>
          </ng-template>
          <ng-template [ngIf]="emailTemplate.part">
            {{ emailTemplate.name }} <i class="fa fa-puzzle-piece"></i>
          </ng-template>
          <span class="label label-info" [hidden]="!emailTemplate.unavailable">SaaS</span>
        </td>
        <td title="{{ 'SHOP_EMAIL_TEMPLATES_CMS' | translate }}">
          <ng-template [ngIf]="!emailTemplate.image">
            <a class="js-click" (click)="onClickCms(emailTemplate, emailTemplate.cmsNameHTML)"><span class="label {{ emailTemplate.cmsHTML ? 'label-info' : 'label-default' }}">HTML</span></a> &nbsp;
            <a class="js-click" (click)="onClickCms(emailTemplate, emailTemplate.cmsNameTXT)"><span class="label {{ emailTemplate.cmsTXT ? 'label-info' : 'label-default' }}">TXT</span></a> &nbsp;
            <ng-template [ngIf]="!emailTemplate.part">
              <a class="js-click" (click)="onClickCms(emailTemplate, emailTemplate.cmsNameProp)"><span class="label {{ emailTemplate.cmsProp ? 'label-info' : 'label-default' }}">PROP</span></a>
            </ng-template>
          </ng-template>
          <ng-template [ngIf]="emailTemplate.image">
            <a class="js-click" (click)="onClickCms(emailTemplate, emailTemplate.cmsNameImage)"><span class="label {{ emailTemplate.cmsImage ? 'label-info' : 'label-default' }}">IMG</span></a> &nbsp;
          </ng-template>
        </td>
        <td title="{{ 'SHOP_EMAIL_TEMPLATES_FROM' | translate }}">{{ emailTemplate.from }}<i class="fa fa-remove text-danger" [hidden]="emailTemplate.part || emailTemplate.image || emailTemplate.from != null"></i>&nbsp;</td>
        <td title="{{ 'SHOP_EMAIL_TEMPLATES_TO' | translate }}">{{ emailTemplate.to != '-' ? emailTemplate.to : ' ' }}<i class="fa fa-remove text-danger" [hidden]="emailTemplate.part || emailTemplate.image || emailTemplate.to != null"></i>&nbsp;</td>
        <td title="{{ 'SHOP_EMAIL_TEMPLATES_ENABLED' | translate }}" class="text-center"><i class="fa {{ emailTemplate.disabled ? 'fa-remove text-danger' : 'fa-check-circle-o text-success' }}"></i></td>
      </ng-template>
    </tr>
    </tbody>
  </table>
</section>

<div>
  <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [ngModel]="currentPage" (pageChanged)="onPageChanged($event)" class="pagination-sm"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
</div>

<cw-mail-preview #mailPreviewComponent></cw-mail-preview>
