<ul class="treenodes lvl-{{level}}">
  <li *ngFor="let node of nodes" class="treenode">
    <i class="nodebutton fa fa-{{node.children.length === 0 ?  'none' : (node.expanded ? 'minus' : 'plus') }}-square-o"
       (click)="onExpand(node)">
    </i>

		<a class="nodetext {{ isDisabled(node) ? 'bg-success' : (node == selectedNode ? 'bg-info' : '') }}"
       (click)="onSelectNode(node)">
			{{node.name}}
		</a>

    <yc-tree-view [level]="level+1"
                  [nodes]="node.children"
                  [selectedNode]="selectedNode"
                  (onSelectedChanged)="onSelectNode($event)"
                  (onRequestNodes)="onRequest($event)"
                  *ngIf="isExpanded(node)">
    </yc-tree-view>
  </li>
</ul>
