<div class="row">
  <div>
    <h1 class="page-header">{{ 'PANEL_SHIPPING_CARRIERS' | translate }} {{ selectedCarrier && (!carrierEdit || carrierEdit.carrierId > 0) ? (' / ' + selectedCarrier.name) + ( selectedSla && (!slaEdit || slaEdit.carrierslaId > 0) ? (' / ' + selectedSla.name) : '' ) : '' }}</h1>
  </div>


  <div class="row data-control">

    <div class="col-xs-12 col-md-5 padding-lr-0" [hidden]="viewMode !== 'carriers'">
      <form class="width-100">
        <div class="input-group">
          <input class="form-control filter-input" type="text" name="carrierFilter" [(ngModel)]="carrierFilter" (ngModelChange)="onCarrierFilterChange($event)" autocomplete="off"/>
          <span class="input-group-btn">
            <button class="btn btn-default btn-circle btn-xl" type="button" (click)="onClearFilterCarrier()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
              <i class="fa fa-times-circle-o"></i>
            </button>
          </span>
        </div>
      </form>
    </div>

    <div class="col-xs-12 {{ viewMode === 'carriers' || viewMode === 'slas' ? 'col-md-7' : '' }} padding-lr-0 button-panel">

      <button type="button" (click)="onBackToList()" [hidden]="viewMode === 'carriers'" class="btn btn-info btn-circle btn-xl" title="{{ 'MODAL_BUTTON_BACK' | translate }}">
        <i class="fa fa-chevron-left"></i>
      </button>

      <button type="button" (click)="onRowNew()" [disabled]="viewMode !== 'carriers'" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_CREATE' | translate }}">
        <i class="fa fa-plus"></i>
      </button>

      <button type="button" (click)="onRowEditSelected()" [disabled]="selectedCarrier == null || viewMode !== 'carriers'" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_EDIT' | translate }}">
        <i class="fa fa-edit"></i>
      </button>

      <button type="button" (click)="onRowDeleteSelected()" [disabled]="selectedCarrier == null || (carrierEdit != null && carrierEdit.carrierId === 0)" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELETE' | translate }}">
        <i class="fa fa-remove"></i>
      </button>

      <yc-data-control [changed]="changed"
                       [valid]="validForSave"
                       (saveEvent)="onSaveHandler()"
                       (discardEvent)="onDiscardEventHandler()"
                       (refreshEvent)="onRefreshHandler()"></yc-data-control>

    </div>

  </div>


  <div [hidden]="viewMode !== 'carriers'" class="{{ loading ? 'loading-data' : '' }}">
    <yc-carriers [carriers]="carriers" [shops]="shops"
                 (dataSelected)="onCarrierSelected($event)"
                 (pageSelected)="onPageSelected($event)"
                 (sortSelected)="onSortSelected($event)"></yc-carriers>
  </div>

  <div [hidden]="viewMode !== 'carrier'" class="{{ loading ? 'loading-data' : '' }}">
    <yc-carrier [carrier]="carrierEdit" [shops]="shops" [paymentGateways]="pgs" [fulfilmentCentres]="fcs"
                (dataChanged)="onCarrierChanged($event)"
                (slaSelected)="onSlaSelected($event)"
                (slaAddClick)="onSlaAdd($event)"
                (slaEditClick)="onSlaEdit($event)"
                (slaDeleteClick)="onSlaDelete($event)"></yc-carrier>
  </div>

  <div [hidden]="viewMode !== 'sla'" class="{{ loading ? 'loading-data' : '' }}">
    <yc-sla [sla]="slaEdit" [paymentGateways]="pgs" [fulfilmentCentres]="fcs"
            (dataChanged)="onSlaChanged($event)"></yc-sla>
  </div>


  <yc-modal #deleteConfirmationModalDialog
            title="{{ 'MODAL_CONFIRM_TITLE' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_DELETE' | translate }}"
            [valid]="true"
            (closed)="onDeleteConfirmationResult($event)">
    {{ 'MODAL_CONFIRM_DELETE' | translate:{value: deleteValue } }}
  </yc-modal>


</div>
