<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <div>
        <a wicket:id="categoryLinkImage">
            <img border="0" wicket:id="categoryImage" align="left" hspace="10" vspace="10"/>
        </a>

        <a wicket:id="categoryLinkName">
            <span wicket:id="categoryName">[sub category name]</span>
        </a>

        <a wicket:id="categoryLinkDescription">
            <span wicket:id="categoryDescription">[sub category description]</span>
        </a>
    </div>
</wicket:panel>
</body>
</html>