<template [ngIf]="shop">

  <div class="row">
    <div>
      <h1 class="page-header">{{shop.name}}</h1>
    </div>
  </div>

  <tabset>

    <tab heading="Main"  (select)="tabSelected('Main')">
      <shop-main></shop-main>
    </tab>

    <tab heading="Localization" (select)="tabSelected('I18n')">
      <shop-i18n [shop]="shop"></shop-i18n>
    </tab>

    <tab heading="Urls" (select)="tabSelected('Urls')">
      <shop-url [shop]="shop"></shop-url>
    </tab>

    <tab heading="Currency" (select)="tabSelected('Currency')">
      <shop-currency [shop]="shop"></shop-currency>
    </tab>

    <tab heading="Language" (select)="tabSelected('Language')">
      <shop-language [shop]="shop"></shop-language>
    </tab>

    <tab heading="Catalogue" (select)="tabSelected('Catalogue')">
      <shop-catalog [shop]="shop"></shop-catalog>
    </tab>

  </tabset>

</template>
