<template [ngIf]="shop">

  <div class="row">
    <div>
      <h1 class="page-header">{{shop.name}}</h1>
    </div>
  </div>

  <tabset>

    <tab heading="{{ 'SHOP_TAB_OVERVIEW' | translate }}" (select)="tabSelected('Summary')">
      <yc-shop-summary [shop]="shop" [reload]="reloadSummary"></yc-shop-summary>
    </tab>

    <tab heading="{{ 'TAB_MAIN' | translate }}"  (select)="tabSelected('Main')">
      <yc-shop-main></yc-shop-main>
    </tab>

    <tab heading="{{ 'SHOP_TAB_ALIAS' | translate }}" (select)="tabSelected('Aliases')">
      <yc-shop-alias [shop]="shop" [reload]="reloadAliases"></yc-shop-alias>
    </tab>

    <tab heading="{{ 'SHOP_TAB_CATALOG' | translate }}" (select)="tabSelected('Catalogue')">
      <yc-shop-catalog [shop]="shop" [reload]="reloadCatalogue"></yc-shop-catalog>
    </tab>

    <tab heading="{{ 'SHOP_TAB_CARRIERS' | translate }}" (select)="tabSelected('Carriers')">
      <yc-shop-carrier [shop]="shop" [reload]="reloadCarriers"></yc-shop-carrier>
    </tab>

    <tab heading="{{ 'SHOP_TAB_WAREHOUSES' | translate }}" (select)="tabSelected('Warehouse')">
      <yc-shop-fulfilment-centre [shop]="shop" [reload]="reloadWarehouse"></yc-shop-fulfilment-centre>
    </tab>

    <tab heading="{{ 'TAB_ATTRIBUTES' | translate }}" (select)="tabSelected('Attributes')">
      <yc-shop-attributes [shop]="shop" [reload]="reloadAttributes"></yc-shop-attributes>
    </tab>

    <tab  (select)="tabSelected('Addressbook')">

      <template tabHeading>
        {{ 'TAB_ADDRESSBOOK' | translate }} <span class="label label-info">YCE</span>
      </template>

      <yc-addressbook [customer]="shopCustomer" [reload]="reloadAddressbook" [shops]="addressShops"></yc-addressbook>
    </tab>

  </tabset>

</template>
