<ng-template [ngIf]="shop">

  <div class="row">
    <div>
      <h1 class="page-header">{{shop.name}}</h1>
    </div>
  </div>

  <tabset>

    <tab heading="{{ 'SHOP_TAB_OVERVIEW' | translate }}" (select)="tabSelected('Summary')">
      <cw-shop-summary [shop]="shop" [reload]="reloadSummary"></cw-shop-summary>
    </tab>

    <tab heading="{{ 'TAB_MAIN' | translate }}"  (select)="tabSelected('Main')">
      <cw-shop-main></cw-shop-main>
    </tab>

    <tab heading="{{ 'SHOP_TAB_ALIAS' | translate }}" (select)="tabSelected('Aliases')">
      <cw-shop-alias [shop]="shop" [reload]="reloadAliases"></cw-shop-alias>
    </tab>

    <tab heading="{{ 'SHOP_TAB_CATALOG' | translate }}" (select)="tabSelected('Catalogue')">
      <cw-shop-catalog-min [shop]="shop" [reload]="reloadCatalogue"></cw-shop-catalog-min>
    </tab>

    <tab heading="{{ 'SHOP_TAB_CARRIERS' | translate }}" (select)="tabSelected('Carriers')">
      <cw-shop-carrier [shop]="shop" [reload]="reloadCarriers"></cw-shop-carrier>
    </tab>

    <tab heading="{{ 'SHOP_TAB_WAREHOUSES' | translate }}" (select)="tabSelected('Warehouse')">
      <cw-shop-fulfilment-centre [shop]="shop" [reload]="reloadWarehouse"></cw-shop-fulfilment-centre>
    </tab>

    <tab heading="{{ 'TAB_ATTRIBUTES' | translate }}" (select)="tabSelected('Attributes')">
      <cw-shop-attributes [shop]="shop" [reload]="reloadAttributes"></cw-shop-attributes>
    </tab>

    <tab  (select)="tabSelected('Addressbook')">

      <ng-template tabHeading>
        {{ 'TAB_ADDRESSBOOK' | translate }} <span class="label label-info">SaaS</span>
      </ng-template>

      <cw-addressbook [customer]="shopCustomer" [reload]="reloadAddressbook" [shops]="addressShops"></cw-addressbook>
    </tab>

    <tab  heading="{{ 'TAB_AUDIT' | translate }}" (select)="tabSelected('Audit')">

      <div class="row">
        <div class="col-xs-12">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-4"><strong>{{ 'CREATED' | translate }}</strong></div>
              <div class="col-xs-8">{{ shop.createdTimestamp | cwdatetime }} {{ shop.createdBy }}</div>
            </div>
            <div class="row">
              <div class="col-xs-4"><strong>{{ 'UPDATED' | translate }}</strong></div>
              <div class="col-xs-8">{{ shop.updatedTimestamp | cwdatetime }} {{ shop.updatedBy }}</div>
            </div>
          </div>
        </div>
      </div>

    </tab>


  </tabset>

</ng-template>
