<div>

  <section class="no-more-tables">
    <table class="table-bordered table-striped table-condensed cf">
      <thead class="cf">
      <tr>
        <th><a class="js-click" (click)="onSortClick('name')">{{ 'NAME' | translate }} <span [hidden]="sortColumn != 'name'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
        <th><a class="js-click" (click)="onSortClick('type')">{{ 'DATAGROUP_TYPE' | translate }} <span [hidden]="sortColumn != 'type'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
        <th><a class="js-click" (click)="onSortClick('qualifier')">{{ 'DATAGROUP_QUALIFIER' | translate }} <span [hidden]="sortColumn != 'qualifier'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
        <th>{{ 'DATAGROUP_DESCRIPTORS' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of filteredDataGroups; let i = index" class="{{row == selectedDataGroup ? 'active' : ''}}">
        <ng-template [ngIf]=" ( i >= pageStart &&  i < pageEnd )">
          <td title="{{ 'NAME' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.name}}</a></td>
          <td title="{{ 'DATAGROUP_TYPE' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.type}}</a></td>
          <td title="{{ 'DATAGROUP_QUALIFIER' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.qualifier}}&nbsp;</a></td>
          <td title="{{ 'DATAGROUP_DESCRIPTORS' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.descriptors}}&nbsp;</a></td>
        </ng-template>
      </tr>
      </tbody>
    </table>
  </section>

  <div>
    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [ngModel]="currentPage" (pageChanged)="onPageChanged($event)" class="pagination-sm"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>

</div>
