<ng-template [ngIf]="dataGroup">

  <form role="form" [formGroup]="dataGroupForm">
    <tabset>

      <tab heading="{{ 'TAB_MAIN' | translate }}"  (selectTab)="tabSelected('Main')">

        <div>
          <div class="col-md-9 col-lg-6">
            <div class="panel-body">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'DATAGROUP_QUALIFIER' | translate }}</label>
                  <input autofocus class="form-control" placeholder="{{ 'DATAGROUP_QUALIFIER' | translate }}" formControlName="qualifier" name="qualifier" type="text" [(ngModel)]="dataGroup.qualifier">
                  <div [hidden]="dataGroupForm.controls['qualifier'].valid || dataGroupForm.controls['qualifier'].pristine" class="alert alert-danger">
                    <div [hidden]="!dataGroupForm.controls['qualifier'].hasError('maxlength')">
                      {{ 'MAXLENGTH_REQUIRED' | translate:{value: 255} }}
                    </div>
                    {{ 'ALPHANUM_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'DATAGROUP_TYPE' | translate }}</label>
                  <select class="form-control" formControlName="type" name="type" type="text" [(ngModel)]="dataGroup.type">
                    <option value="IMPORT">IMPORT</option>
                    <option value="EXPORT">EXPORT</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>{{ 'DATAGROUP_DESCRIPTORS' | translate }}</label>
                  <textarea class="form-control" placeholder="{{ 'DATAGROUP_DESCRIPTORS' | translate }}" formControlName="descriptors" name="descriptors" rows="4" [(ngModel)]="dataGroup.descriptors"></textarea>
                </div>
              </fieldset>
            </div>

          </div>
        </div>

      </tab>

      <tab heading="{{ 'TAB_I18N' | translate }}"  (selectTab)="tabSelected('I18n')">

        <div class="panel-body">
          <div class="row">
            <div class="col-lg-9">
              <cw-i18n-table title="{{ 'NAME' | translate }}"
                             [source]="dataGroup"
                             value="name"
                             valueI18n="displayNames"
                             defaultRequired="true"
                             (dataChanged)="onNameDataChange($event)"></cw-i18n-table>
            </div>
          </div>

        </div>
      </tab>

      <tab  heading="{{ 'TAB_AUDIT' | translate }}" (selectTab)="tabSelected('Audit')">

        <div class="row">
          <div class="col-xs-12">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-4"><strong>{{ 'CREATED' | translate }}</strong></div>
                <div class="col-xs-8">{{ dataGroup.createdTimestamp | cwdatetime }} {{ dataGroup.createdBy }}</div>
              </div>
              <div class="row">
                <div class="col-xs-4"><strong>{{ 'UPDATED' | translate }}</strong></div>
                <div class="col-xs-8">{{ dataGroup.updatedTimestamp | cwdatetime }} {{ dataGroup.updatedBy }}</div>
              </div>
            </div>
          </div>
        </div>

      </tab>

    </tabset>
  </form>

</ng-template>
