<div class="row">
  <div>
    <h1 class="page-header">{{ 'PANEL_INVENTORY_WAREHOUSES' | translate }} {{ selectedCentre ? (' / ' + selectedCentre.name) : '' }}</h1>
  </div>


  <div class="row data-control">

    <div class="col-xs-12 col-md-5 padding-lr-0" [hidden]="viewMode !== 'centres'">
      <form class="width-100">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" (click)="sortSelectModal.showDialog()" class="btn {{ centres.searchContext.sortBy ? 'btn-info' : 'btn-default' }} btn-circle btn-xl" title="{{ 'MODAL_BUTTON_HELPSORT' | translate }}">
              <i class="fa fa-sort-amount-asc"></i>
            </button>
          </span>
          <input class="form-control filter-input" type="text" name="centreFilter" [(ngModel)]="centreFilter" (ngModelChange)="onFilterChange($event)" autocomplete="off"/>
          <span class="input-group-btn">
            <button class="btn btn-default btn-circle btn-xl" type="button" (click)="onClearFilterCentre()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
              <i class="fa fa-times-circle-o"></i>
            </button>
          </span>
        </div>
      </form>
    </div>

    <div class="col-xs-12 {{ viewMode === 'centres' ? 'col-md-7' : '' }} padding-lr-0 button-panel">

      <button type="button" (click)="onBackToList()" [hidden]="viewMode === 'centres'" class="btn btn-info btn-circle btn-xl">
        <i class="fa fa-chevron-left"></i>
      </button>

      <button type="button" (click)="onRowNew()" [disabled]="viewMode !== 'centres'" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_CREATE' | translate }}">
        <i class="fa fa-plus"></i>
      </button>

      <button type="button" (click)="onRowEditSelected()" [disabled]="selectedCentre == null || viewMode !== 'centres'" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_EDIT' | translate }}">
        <i class="fa fa-edit"></i>
      </button>

      <button type="button" (click)="onRowDeleteSelected()" [disabled]="selectedCentre == null || (centreEdit != null && centreEdit.warehouseId === 0)" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELETE' | translate }}">
        <i class="fa fa-remove"></i>
      </button>

      <yc-data-control [changed]="changed"
                       [valid]="validForSave"
                       (saveEvent)="onSaveHandler()"
                       (discardEvent)="onDiscardEventHandler()"
                       (refreshEvent)="onRefreshHandler()"></yc-data-control>

    </div>

  </div>


  <div [hidden]="viewMode !== 'centres'" class="{{ loading ? 'loading-data' : '' }}">
    <yc-fulfilment-centres [centres]="centres" [shops]="shops"
                           (dataSelected)="onCentreSelected($event)"
                           (pageSelected)="onPageSelected($event)"
                           (sortSelected)="onSortSelected($event)"></yc-fulfilment-centres>
  </div>

  <div [hidden]="viewMode !== 'centre'" class="{{ loading ? 'loading-data' : '' }}">
    <yc-fulfilment-centre [centre]="centreEdit" [shops]="shops" (dataChanged)="onCentreChanged($event)"></yc-fulfilment-centre>
  </div>

  <yc-modal #deleteConfirmationModalDialog
            title="{{ 'MODAL_CONFIRM_TITLE' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_DELETE' | translate }}"
            [valid]="true"
            (closed)="onDeleteConfirmationResult($event)">
    {{ 'MODAL_CONFIRM_DELETE' | translate:{value: deleteValue } }}
  </yc-modal>

  <yc-sort-select #sortSelectModal
                  [sortColumn]="centres.searchContext.sortBy"
                  [sortDesc]="centres.searchContext.sortDesc"
                  [availableOptions]=" ([
                      { key: 'code', messageKey: 'CODE' },
                      { key: 'name', messageKey: 'NAME' }
                  ]) "
                  (sortSelected)="onSortSelected($event)"></yc-sort-select>
</div>
