<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/security 
           http://www.springframework.org/schema/security/spring-security-2.0.xsd
           http://www.springframework.org/schema/lang 
           http://www.springframework.org/schema/lang/spring-lang-2.5.xsd">

    <context:component-scan base-package="org.yes.cart"/>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
          autowire="byName">
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
        <property name="mappingResources">
            <list>
                <value>npa.xml</value>
            </list>
        </property>
        <property name="entityInterceptor">
            <bean class="org.yes.cart.payment.persistence.service.impl.AuditInterceptor"/>
        </property>
    </bean>


    <import resource="classpath*:core-config.xml"/>

    <import resource="modules.xml"/>

    <bean id="shopResolverService" class="org.yes.cart.web.support.service.impl.ShopResolverServiceImpl">
        <constructor-arg index="0" ref="shopService"/>
    </bean>


    <bean id="shopResolverFilter" class="org.yes.cart.web.filter.ShopResolverFilter">
        <constructor-arg index="0" ref="shopResolverService"/>
        <constructor-arg index="1" ref="systemService"/>
        <constructor-arg index="2" ref="categoryService"/>
        <constructor-arg index="3" ref="shopService"/>
    </bean>

    <bean id="cookieTuplizer" class="org.yes.cart.web.support.util.cookie.impl.CookieTuplizerImpl" scope="prototype">  <!-- one read , second write-->
        <constructor-arg index="0" value="CHANGE_PASSWORD_ON_PRODUCTION"/>
        <constructor-arg index="1" value="2048"/>
        <constructor-arg index="2" value="DES"/>
        <constructor-arg index="3" value="DES/ECB/PKCS5Padding"/>
    </bean>


    <bean id="shoppingCartSessionFilter" class="org.yes.cart.web.filter.ShoppingCartSessionFilter">
        <constructor-arg index="0" ref="cookieTuplizer"/>
    </bean>

    <bean id="shoppingCartPersister" class="org.yes.cart.web.phazelistener.ShoppingCartPersister">
        <constructor-arg index="0" ref="cookieTuplizer"/>
    </bean>




    <!--
        <security:http auto-config='true'>
                <security:intercept-url pattern="/**" access="ROLE_USER" />
                <security:concurrent-session-control max-sessions="1"/>
                <security:logout logout-url="/logout" logout-success-url="/"/>
                </security:http>

                <security:authentication-provider>
                <security:user-service properties="classpath:users.properties">
                </security:user-service>
                </security:authentication-provider>
    -->


</beans>