<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <span><wicket:message key="sort">[sort]</wicket:message></span>
    <span><wicket:message key="by.name">[by name]</wicket:message></span>
    <a wicket:id="orderByNameA">&#x21E7;</a>
    <a wicket:id="orderByNameD">&#x21E9;</a>
    &nbsp;
    <span><wicket:message key="by.price">[by price]</wicket:message></span>
    <a wicket:id="orderByPriceA">&#x21E7;</a>
    <a wicket:id="orderByPriceD">&#x21E9;</a>
</wicket:panel>
</body>
</html>