<div>

  <section class="no-more-tables">
    <table class="table-bordered table-striped table-condensed cf">
      <thead class="cf">
      <tr>
        <th><a class="js-click" (click)="onSortClick('code')">{{ 'CODE' | translate }} <span [hidden]="sortColumn != 'code'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
        <th style="width: 25%"><a class="js-click" (click)="onSortClick('name')">{{ 'NAME' | translate }} <span [hidden]="sortColumn != 'name'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
        <th>{{ 'PROMOTION_SPEC' | translate }}</th>
        <th>{{ 'PROMOTION_TAG' | translate }}</th>
        <th><a class="js-click" (click)="onSortClick('enabledFrom')">{{ 'PROMOTION_ENABLED_FROM' | translate }} <span [hidden]="sortColumn != 'enabledFrom'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
        <th><a class="js-click" (click)="onSortClick('enabledTo')">{{ 'PROMOTION_ENABLED_TO' | translate }} <span [hidden]="sortColumn != 'enabledTo'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
        <th>{{ 'PROMOTION_ENABLED' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of filteredPromotions; let i = index" class="{{row == selectedPromotion ? 'active' : ''}}">
        <td title="{{ 'CODE' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.code}} <span [hidden]="row.shopCode == selectedShopCode"><i class="fa fa-share-alt-square" title="{{row.shopCode}}"></i></span></a></td>
        <td title="{{ 'NAME' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.name}}</a></td>
        <td title="{{ 'PROMOTION_SPEC' | translate }}"><a class="js-click" (click)="onSelectRow(row)"><i title="{{ 'PROMOTION_TYPE_' + row.promoType | translate }}" class="fa {{getPromoTypeIcon(row)}}"></i> <i title="{{ 'PROMOTION_ACTION_' + row.promoAction | translate }}" class="fa {{getPromoActionIcon(row)}}"></i> <i title="{{ (row.canBeCombined ? 'PROMOTION_CAN_COMBINE' : 'PROMOTION_CANNOT_COMBINE') | translate }}" class="fa {{ row.canBeCombined ? 'fa-object-group' : 'fa-object-ungroup' }}"></i> <i title="{{ 'PROMOTION_COUPON_TRIGGERED' | translate }}" class="fa {{ row.couponTriggered ? 'fa-ticket' : '' }}"></i></a></td>
        <td title="{{ 'PROMOTION_TAG' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.tag}}&nbsp;</a></td>
        <td title="{{ 'PROMOTION_ENABLED_FROM' | translate }}" class="{{ isAvailableFromNow(row) ? '' : 'bg-danger' }}"><a class="js-click" (click)="onSelectRow(row)">{{row.enabledFrom | cwdatetime }}</a>&nbsp;</td>
        <td title="{{ 'PROMOTION_ENABLED_TO' | translate }}" class="{{ isAvailableToNow(row) ? '' : 'bg-danger' }}"><a class="js-click" (click)="onSelectRow(row)">{{row.enabledTo | cwdatetime }}</a>&nbsp;</td>
        <td title="{{ 'PROMOTION_ENABLED' | translate }}" class="text-center"><a class="js-click" (click)="onSelectRow(row)"><i class="fa {{row.enabled ? 'fa-check-circle-o text-success' : 'fa-remove text-danger'}}"></i></a></td>
      </tr>
      </tbody>
    </table>
  </section>

  <div>
    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [ngModel]="currentPage" (pageChanged)="onPageChanged($event)" class="pagination-sm"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>

</div>
