<ng-template [ngIf]="promotion">

  <div *ngIf="promotion.enabled">
    <p class="bg-warning text-padding">{{ 'PROMOTION_ENABLED_TIP' | translate }}</p>
  </div>

  <form role="form" [formGroup]="promotionForm">
    <tabset>

      <tab heading="{{ 'TAB_MAIN' | translate }}"  (select)="tabSelected('Main')">

        <div class="row">
          <div class="col-md-9 col-lg-6">
            <div class="panel-body">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'CODE' | translate }}</label>
                  <input autofocus class="form-control" placeholder="{{ 'CODE' | translate }}" formControlName="code" name="code" type="text" [(ngModel)]="promotion.code">
                  <div [hidden]="promotionForm.controls['code'].valid || promotionForm.controls['code'].pristine" class="alert alert-danger">
                    <div [hidden]="!promotionForm.controls['code'].hasError('checking')">
                      {{ 'REMOTE_CHECK' | translate }}
                    </div>
                    <div [hidden]="!promotionForm.controls['code'].hasError('DUPLICATE')">
                      {{ 'UNIQUE_REQUIRED' | translate }}
                    </div>
                    <div [hidden]="!promotionForm.controls['code'].hasError('maxlength')">
                      {{ 'MAXLENGTH_REQUIRED' | translate:{value: 255} }}
                    </div>
                    {{ 'ALPHANUM_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'PROMOTION_SHOP_CODE' | translate }}</label>
                  <input class="form-control" formControlName="shopCode" name="shopCode" type="text" [ngModel]="promotion.shopCode" [readonly]="true">
                </div>
                <div class="form-group">
                  <label>{{ 'CURRENCY' | translate }}</label>
                  <input class="form-control" formControlName="currency" name="currency" type="text" [ngModel]="promotion.currency" [readonly]="true">
                </div>
                <div class="form-group">
                  <label>{{ 'AV_RANK' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'AV_RANK' | translate }}" formControlName="rank" name="rank" type="text" [(ngModel)]="promotion.rank">
                  <div [hidden]="promotionForm.controls['rank'].valid || promotionForm.controls['rank'].pristine" class="alert alert-danger">
                    {{ 'NUM_REQUIRED' | translate }}
                  </div>
                </div>

                <cw-datetime title="{{ 'PROMOTION_ENABLED_FROM' | translate }}" [value]="promotion.enabledFrom" (dataChanged)="onAvailableFrom($event)"></cw-datetime>

                <cw-datetime title="{{ 'PROMOTION_ENABLED_TO' | translate }}" [value]="promotion.enabledTo" (dataChanged)="onAvailableTo($event)"></cw-datetime>

                <div class="form-group">
                  <label>{{ 'PROMOTION_TAG' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'PROMOTION_TAG' | translate }}" formControlName="tag" name="tag" type="text" [(ngModel)]="promotion.tag">
                  <div [hidden]="promotionForm.controls['tag'].valid || promotionForm.controls['tag'].pristine" class="alert alert-danger">
                    {{ 'TAGS_REQUIRED' | translate }}
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </tab>

      <tab heading="{{ 'TAB_I18N' | translate }}"  (select)="tabSelected('I18n')">

        <div class="panel-body">

          <div class="row">
            <div class="col-lg-9">
              <cw-i18n-table title="{{ 'NAME' | translate }}"
                             [source]="promotion"
                             value="name"
                             defaultRequired="true"
                             valueI18n="displayNames"
                             (dataChanged)="onNameDataChange($event)"></cw-i18n-table>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-9">
              <cw-i18n-table title="{{ 'DESCRIPTION' | translate }}"
                             [source]="promotion"
                             value="description"
                             valueI18n="displayDescriptions"
                             (dataChanged)="onDescriptionDataChange($event)"></cw-i18n-table>
            </div>
          </div>

        </div>

      </tab>

      <tab heading="{{ 'PROMOTION_CONDITION' | translate }}"  (select)="tabSelected('Condition')">

        <div class="row">
          <div class="col-md-9 col-lg-6">
            <div class="panel-body">
              <fieldset>
                <div class="form-group">
                  <input formControlName="canBeCombined" name="canBeCombined" type="checkbox" [(ngModel)]="promotion.canBeCombined">
                  <label>{{ 'PROMOTION_CAN_COMBINE' | translate }}</label>
                </div>
                <div class="form-group">
                  <input formControlName="couponTriggered" name="couponTriggered" type="checkbox" [(ngModel)]="promotion.couponTriggered">
                  <label>{{ 'PROMOTION_COUPON_TRIGGERED' | translate }}</label>
                </div>
                <div class="form-group">
                  <label>{{ 'PROMOTION_TYPE' | translate }}</label>
                  <select class="form-control" formControlName="promoType" name="promoType" type="text" [(ngModel)]="promotion.promoType">
                    <option value="O">{{ 'PROMOTION_TYPE_O' | translate }}</option>
                    <option value="I">{{ 'PROMOTION_TYPE_I' | translate }}</option>
                    <option value="S">{{ 'PROMOTION_TYPE_S' | translate }}</option>
                    <option value="C">{{ 'PROMOTION_TYPE_C' | translate }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>{{ 'PROMOTION_ACTION' | translate }}</label>
                  <select class="form-control" formControlName="promoAction" name="promoAction" type="text" [(ngModel)]="promotion.promoAction">
                    <option value="P" [disabled]="promotion.promoType == 'C'">{{ 'PROMOTION_ACTION_P' | translate }}</option>
                    <option value="S" [disabled]="promotion.promoType == 'C' || promotion.promoType == 'S'">{{ 'PROMOTION_ACTION_S' | translate }}</option>
                    <option value="F" [disabled]="promotion.promoType == 'C'">{{ 'PROMOTION_ACTION_F' | translate }}</option>
                    <option value="G" [disabled]="promotion.promoType == 'C' || promotion.promoType == 'S'">{{ 'PROMOTION_ACTION_G' | translate }}</option>
                    <option value="T" [disabled]="promotion.promoType != 'C'">{{ 'PROMOTION_ACTION_T' | translate }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>{{ 'PROMOTION_CONTEXT_' + promotion.promoAction  | translate: { currency: promotion.currency } }}</label>
                  <input class="form-control" placeholder="{{ 'PROMOTION_CONTEXT_' + promotion.promoAction  | translate: { currency: promotion.currency } }}" formControlName="promoActionContext" name="promoActionContext" type="text" [(ngModel)]="promotion.promoActionContext">
                  <div [hidden]="promotionForm.controls['promoActionContext'].valid || promotionForm.controls['promoActionContext'].pristine" class="alert alert-danger">
                    {{ 'SIMPLE_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'PROMOTION_CONDITION_RULE'  | translate }}</label>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">
                        <span><button type="button" (click)="onRuleHelpClick()" class="btn btn-default btn-circle" title="{{ 'MODAL_BUTTON_EDIT' | translate }}"><i class="fa fa-code"></i></button></span>&nbsp;
                        <span><button type="button" (click)="onCategoryClick()" class="btn btn-default btn-circle" title="{{ 'PANEL_PIM_CATEGORIES' | translate }}"><i class="fa fa-sitemap"></i></button></span>&nbsp;
                        <span><button type="button" (click)="onBrandClick()" class="btn btn-default btn-circle" title="{{ 'PANEL_PIM_BRANDS' | translate }}"><i class="fa fa-copyright"></i></button></span>
                      </h3>
                    </div>
                    <div class="panel-body">
                      <textarea class="form-control" placeholder="{{ 'PROMOTION_CONDITION_RULE' | translate }}" formControlName="eligibilityCondition" name="eligibilityCondition" rows="10" [(ngModel)]="promotion.eligibilityCondition"></textarea>
                      <div [hidden]="promotionForm.controls['eligibilityCondition'].valid || promotionForm.controls['eligibilityCondition'].pristine" class="alert alert-danger">
                        {{ 'SIMPLE_REQUIRED' | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>

      </tab>

      <tab heading="{{ 'PROMOTION_COUPONS' | translate }}"  (select)="tabSelected('Coupons')">

        <ng-template [ngIf]="!(promotion.promotionId > 0)">

          <div class="row">
            <div class="col-xs-12 block-padding-spacer">
              <div class="bg-info text-padding">
                <p>{{ 'SAVEDOBJECT_REQUIRED' | translate }}</p>
              </div>
            </div>
          </div>

        </ng-template>

        <ng-template [ngIf]="!(promotion.promotionId > 0 && promotion.couponTriggered)">

          <div class="row">
            <div class="col-xs-12 block-padding-spacer">
              <div class="bg-warning text-padding">
                <p>{{ 'PROMOTION_COUPONS_TIP' | translate }}</p>
              </div>
            </div>
          </div>

        </ng-template>

        <ng-template [ngIf]="promotion.promotionId > 0">

          <div class="panel-body">
            <div class="row">
              <div class="row data-control">

                <div class="col-xs-12 col-md-5 padding-lr-0">

                  <form class="width-100">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <button type="button" (click)="onForceShowAll()" class="btn {{ forceShowAll ? 'btn-danger' : 'btn-default' }} btn-circle btn-xl " title="{{ (forceShowAll ? 'MODAL_BUTTON_ALLFILTEROFF' : 'MODAL_BUTTON_ALLFILTERON') | translate }}">
                          <i class="fa fa-filter"></i>
                        </button>
                      </span>
                      <input class="form-control filter-input" type="text" name="couponFilter" [(ngModel)]="couponFilter" (ngModelChange)="onFilterChange($event)" autocomplete="off"/>
                      <span class="input-group-btn">
                        <button class="btn btn-default btn-circle btn-xl" type="button" (click)="onClearFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
                          <i class="fa fa-times-circle-o"></i>
                        </button>
                      </span>
                    </div>
                  </form>

                </div>

                <div class="col-xs-12 col-md-7 padding-lr-0 button-panel">

                  <button type="button" (click)="onCouponGenerate()" [disabled]="!(promotion.promotionId > 0 && promotion.couponTriggered)" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_CREATE' | translate }}">
                    <i class="fa fa-plus"></i>
                  </button>

                  <!--<button type="button" (click)="onDownloadHandler()" [disabled]="cannotExport" class="btn btn-info btn-circle btn-xl hidden-sm hidden-xs" title="{{ 'MODAL_BUTTON_DOWNLOAD' | translate }}">-->
                    <!--<i class="fa fa-download"></i>-->
                  <!--</button>-->

                  <button type="button" (click)="onCouponDeleteSelected()" [disabled]="selectedCoupon == null" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELETE' | translate }}">
                    <i class="fa fa-remove"></i>
                  </button>

                  <button type="button" (click)="onRefreshHandler()" class="btn btn-info btn-circle btn-xl" title="{{ 'MODAL_BUTTON_REFRESH' | translate }}">
                    <i class="fa fa-refresh"></i>
                  </button>

                </div>

              </div>
            </div>

            <div *ngIf="couponFilterRequired" class="row">
              <p class="bg-danger text-padding">{{ 'FILTER_REQUIRED' | translate }}</p>
            </div>

            <div class="row {{ loading ? 'loading-data' : '' }}" >
              <cw-promotion-coupons #couponsComponent
                                    [coupons]="coupons"
                                    (dataSelected)="onCouponSelected($event)" (pageSelected)="onPageSelected($event)" (sortSelected)="onSortSelected($event)"></cw-promotion-coupons>
            </div>
          </div>
        </ng-template>

      </tab>

      <tab  heading="{{ 'TAB_AUDIT' | translate }}" (select)="tabSelected('Audit')">

        <div class="row">
          <div class="col-xs-12">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-4"><strong>{{ 'CREATED' | translate }}</strong></div>
                <div class="col-xs-8">{{ promotion.createdTimestamp | cwdatetime }} {{ promotion.createdBy }}</div>
              </div>
              <div class="row">
                <div class="col-xs-4"><strong>{{ 'UPDATED' | translate }}</strong></div>
                <div class="col-xs-8">{{ promotion.updatedTimestamp | cwdatetime }} {{ promotion.updatedBy }}</div>
              </div>
            </div>
          </div>
        </div>

      </tab>

    </tabset>
  </form>

  <cw-modal #ruleHelpModalDialog
            title="{{ 'PROMOTION_CONDITION_RULE_TEMPLATE' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_SELECT' | translate }}"
            [valid]="selectedRuleTemplate != null"
            (closed)="onSelectRuleTemplateResult($event)">

    <div class="item-list-overflow">
      <ul *ngIf="promotion.promoType == 'I'" class="nav nav-second-level item-list">
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_BUY_X_QTY')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_BUY_X_QTY' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_BUY_X_QTY' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_BUY_ONE_OF')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_BUY_ONE_OF' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_BUY_ONE_OF' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_PRODUCT_IS_FEATURED')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_PRODUCT_IS_FEATURED' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_PRODUCT_IS_FEATURED' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_PRODUCT_TYPE_IS_DIGITAL')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_PRODUCT_TYPE_IS_DIGITAL' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_PRODUCT_TYPE_IS_DIGITAL' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_IS_OF_BRAND')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_IS_OF_BRAND' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_IS_OF_BRAND' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_IS_OF_CATEGORY')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_IS_OF_CATEGORY' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_IS_OF_CATEGORY' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_PRODUCT_HAS_ATTRIBUTE')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_PRODUCT_HAS_ATTRIBUTE' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_PRODUCT_HAS_ATTRIBUTE' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_PRODUCT_ATTRIBUTE_VALUE')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_PRODUCT_ATTRIBUTE_VALUE' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_PRODUCT_ATTRIBUTE_VALUE' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_HAS_TAG')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_HAS_TAG' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_HAS_TAG' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_REGISTERED')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_REGISTERED' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_REGISTERED' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_FIRSTNAME')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_FIRSTNAME' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_FIRSTNAME' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_EMAIL_CONTAINS')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_EMAIL_CONTAINS' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_EMAIL_CONTAINS' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_TYPE_IS')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_TYPE_IS' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_TYPE_IS' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_PRICING_POLICY_IS')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_PRICING_POLICY_IS' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_PRICING_POLICY_IS' | translate }}</a></li>
      </ul>
      <ul *ngIf="promotion.promoType == 'O'" class="nav nav-second-level item-list">
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_TOTAL_MORE_THAN')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_TOTAL_MORE_THAN' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_ITEM_TOTAL_MORE_THAN' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_ORDER_NET_TOTAL_MORE_THAN')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_ORDER_NET_TOTAL_MORE_THAN' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_ORDER_NET_TOTAL_MORE_THAN' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_HAS_TAG')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_HAS_TAG' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_HAS_TAG' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_REGISTERED')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_REGISTERED' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_REGISTERED' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_FIRSTNAME')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_FIRSTNAME' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_FIRSTNAME' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_EMAIL_CONTAINS')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_EMAIL_CONTAINS' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_EMAIL_CONTAINS' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_TYPE_IS')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_TYPE_IS' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_TYPE_IS' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_PRICING_POLICY_IS')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_PRICING_POLICY_IS' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_PRICING_POLICY_IS' | translate }}</a></li>
      </ul>
      <ul *ngIf="promotion.promoType == 'S'" class="nav nav-second-level item-list">
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_ORDER_TOTAL_MORE_THAN')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_ORDER_TOTAL_MORE_THAN' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_ORDER_TOTAL_MORE_THAN' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_HAS_TAG')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_HAS_TAG' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_HAS_TAG' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_REGISTERED')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_REGISTERED' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_REGISTERED' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_FIRSTNAME')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_FIRSTNAME' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_FIRSTNAME' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_EMAIL_CONTAINS')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_EMAIL_CONTAINS' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_EMAIL_CONTAINS' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_TYPE_IS')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_TYPE_IS' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_TYPE_IS' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_PRICING_POLICY_IS')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_PRICING_POLICY_IS' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_PRICING_POLICY_IS' | translate }}</a></li>
      </ul>
      <ul *ngIf="promotion.promoType == 'C'" class="nav nav-second-level item-list">
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_TAG_FOR_COUNTRY_X')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_TAG_FOR_COUNTRY_X' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_TAG_FOR_COUNTRY_X' | translate }}</a></li>
        <li><a (click)="onSelectRuleTemplate('PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_EMAIL_CONTAINS')" class="{{ selectedRuleTemplateName == 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_EMAIL_CONTAINS' ? 'bg-info' : '' }} js-click">{{ 'PROMOTION_CONDITION_RULE_TEMPLATE_CUSTOMER_EMAIL_CONTAINS' | translate }}</a></li>
      </ul>
    </div>
  </cw-modal>

</ng-template>


<cw-modal #deleteConfirmationModalDialog
          title="{{ 'MODAL_CONFIRM_TITLE' | translate }}"
          cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
          positiveLabel="{{ 'MODAL_BUTTON_DELETE' | translate }}"
          [valid]="true"
          (closed)="onDeleteConfirmationResult($event)">
  {{ 'MODAL_CONFIRM_DELETE' | translate:{value: deleteValue } }}
</cw-modal>


<cw-category-min-select #categorySelectComponent
                        (dataSelected)="onCatalogTreeDataSelected($event)"></cw-category-min-select>

<cw-brand-select #brandsModalDialog
                 (dataSelected)="onBrandSelected($event)"></cw-brand-select>


<cw-modal #generateCouponsModalDialog
          title="{{ 'PROMOTION_COUPONS' | translate }}"
          cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
          positiveLabel="{{ 'PROMOTION_COUPONS_GENERATE' | translate }}"
          [valid]="validForGenerate"
          (closed)="onGenerateConfirmationResult($event)">

  <div>
    <p class="bg-success text-padding">{{ 'PROMOTION_COUPONS_GENERATE_TIP' | translate }}</p>
  </div>

  <ng-template [ngIf]="generateCoupons">
    <form role="form" [formGroup]="couponForm">
      <fieldset>
        <div class="row">
          <div class="col-lg-3">{{ 'CODE' | translate }}</div>
          <div class="col-lg-9">
            <input class="form-control" formControlName="code" name="code" type="text" [(ngModel)]="generateCoupons.code">
            <div [hidden]="couponForm.controls['code'].valid || couponForm.controls['code'].pristine" class="alert alert-danger">
              {{ 'ALPHANUM_REQUIRED' | translate }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">{{ 'PROMOTION_COUPON_LIMIT' | translate }}</div>
          <div class="col-lg-9">
            <input class="form-control" formControlName="usageLimit" name="usageLimit" type="text" [(ngModel)]="generateCoupons.usageLimit">
            <div [hidden]="couponForm.controls['usageLimit'].valid || couponForm.controls['usageLimit'].pristine" class="alert alert-danger">
              {{ 'POS_DECIMAL_REQUIRED' | translate }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">{{ 'PROMOTION_COUPON_LIMIT_PER_CUSTOMER' | translate }}</div>
          <div class="col-lg-9">
            <input class="form-control" formControlName="usageLimitPerCustomer" name="usageLimitPerCustomer" type="text" [(ngModel)]="generateCoupons.usageLimitPerCustomer">
            <div [hidden]="couponForm.controls['usageLimitPerCustomer'].valid || couponForm.controls['usageLimitPerCustomer'].pristine" class="alert alert-danger">
              {{ 'POS_DECIMAL_REQUIRED' | translate }}
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </ng-template>

</cw-modal>




