<yc-modal #testConfigModalDialog
          title="{{ 'TEST' | translate }}"
          cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
          positiveLabel="{{ 'MODAL_BUTTON_RUN' | translate }}"
          [valid]="true"
          (closed)="onRunTestResult($event)">
  <form role="form" [formGroup]="testRulesForm">
    <fieldset>
      <div class="row">
        <div class="col-xs-3">{{ 'CUSTOMER_EMAIL' | translate }}</div>
        <div class="col-xs-9">
          <input class="form-control" formControlName="testCustomer" name="testCustomer" type="text" [(ngModel)]="testConfig.customer">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">{{ 'CARRIERSLA_CODE' | translate }}</div>
        <div class="col-xs-9">
          <div class="input-group">
            <input class="form-control" formControlName="testShipping" name="testShipping" type="text" [(ngModel)]="testConfig.shipping">
            <span class="input-group-btn">
                <button type="button" (click)="onSearchSLA()" class="btn btn-default">
                  <i class="fa fa-truck"></i>
                </button>
              </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">{{ 'PROMOTION_COUPONS' | translate }}</div>
        <div class="col-xs-9">
          <input class="form-control" formControlName="testCoupons" name="testCoupons" type="text" [(ngModel)]="testConfig.coupons">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">{{ 'PROMOTION_TEST_TIME' | translate }}</div>
        <div class="col-xs-9">
          <input class="form-control" formControlName="testTime" name="testTime" type="text" [(ngModel)]="testTime">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <strong>{{ 'SKU' | translate }}*</strong>
          <button type="button" (click)="onSearchSKU()" class="btn btn-default btn-circle">
            <i class="fa fa-search"></i>
          </button>
        </div>
        <div class="col-xs-12">
          <textarea class="form-control" formControlName="testSku" name="testSku" rows="6" [(ngModel)]="testConfig.sku"></textarea>
        </div>
        <div class="col-xs-12">*<small>{{ 'PROMOTION_RULE_TEST_TIP' | translate }}</small></div>
      </div>
    </fieldset>
  </form>
</yc-modal>

<yc-product-sku-select #productSkuSelectDialog (dataSelected)="onProductSkuSelected($event)"></yc-product-sku-select>

<yc-carrier-sla-select #carrierSlaSelectDialog (dataSelected)="onCarrierSlaSelected($event)"></yc-carrier-sla-select>
