<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <table width="100%">
        <tr>
            <td colspan="2">
                &#9679; <span wicket:id="head">[attr name]</span>
            </td>
        </tr>
        <tr wicket:id="linkList">
            <td align="left" nowrap>
                &nbsp;&nbsp;&#8226; <a wicket:id="link"><span wicket:id="linkName">[attr value]</span></a>
            </td>
            <td align="right"  class="info2">
                [<span wicket:id="quantity">[qty]</span>]
            </td>
        </tr>
    </table>
    <br>
</wicket:panel>
</body>
</html>