<div class="row">
  <div>
    <h1 class="page-header">{{ 'PANEL_SYSTEM_DATAGROUPS' | translate }} {{ selectedDataGroup ? (' / ' + selectedDataGroup.name) : '' }}</h1>
  </div>


  <div class="row data-control">

    <div class="col-xs-12 col-md-5 padding-lr-0" [hidden]="viewMode !== 'groups'">
      <form class="width-100">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" (click)="sortSelectModal.showDialog()" class="btn {{ datagroupSort.first ? 'btn-info' : 'btn-default' }} btn-circle btn-xl" title="{{ 'MODAL_BUTTON_HELPSORT' | translate }}">
              <i class="fa fa-sort-amount-asc"></i>
            </button>
          </span>
          <input class="form-control filter-input" type="text" name="datagroupFilter" [(ngModel)]="datagroupFilter" autocomplete="off"/>
          <span class="input-group-btn">
            <button class="btn btn-default btn-circle btn-xl" type="button" (click)="onClearFilterDataGroup()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
              <i class="fa fa-times-circle-o"></i>
            </button>
          </span>
        </div>
      </form>
    </div>

    <div class="col-xs-12 {{ viewMode === 'groups' ? 'col-md-7' : '' }} padding-lr-0 button-panel">

      <button type="button" (click)="onBackToList()" [hidden]="viewMode === 'groups'" class="btn btn-info btn-circle btn-xl">
        <i class="fa fa-chevron-left"></i>
      </button>

      <button type="button" (click)="onRowNew()" [disabled]="datagroupEdit != null" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_CREATE' | translate }}">
        <i class="fa fa-plus"></i>
      </button>

      <button type="button" (click)="onRowEditSelected()" [disabled]="datagroupEdit != null || selectedDataGroup == null" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_EDIT' | translate }}">
        <i class="fa fa-edit"></i>
      </button>

      <button type="button" (click)="onRowDeleteSelected()" [disabled]="selectedDataGroup == null || (datagroupEdit != null && datagroupEdit.datagroupId === 0)" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELETE' | translate }}">
        <i class="fa fa-remove"></i>
      </button>

      <cw-data-control [changed]="changed"
                       [valid]="validForSave"
                       (saveEvent)="onSaveHandler()"
                       (discardEvent)="onDiscardEventHandler()"
                       (refreshEvent)="onRefreshHandler()"></cw-data-control>

    </div>

  </div>


  <div [hidden]="viewMode !== 'groups'" class="{{ loading ? 'loading-data' : '' }}">
    <cw-datagroups [datagroups]="datagroups" [filter]="datagroupFilter" [sortorder]="datagroupSort"
                   (dataSelected)="onDataGroupSelected($event)"
                   (pageSelected)="onPageSelected($event)"
                   (sortSelected)="onSortSelected($event)"></cw-datagroups>
  </div>

  <div [hidden]="viewMode !== 'group'" class="{{ loading ? 'loading-data' : '' }}">
    <cw-datagroup [dataGroup]="datagroupEdit" (dataChanged)="onDataGroupChanged($event)"></cw-datagroup>
  </div>

  <cw-modal #deleteConfirmationModalDialog
            title="{{ 'MODAL_CONFIRM_TITLE' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_DELETE' | translate }}"
            [valid]="true"
            (closed)="onDeleteConfirmationResult($event)">
    {{ 'MODAL_CONFIRM_DELETE' | translate:{value: deleteValue } }}
  </cw-modal>


  <cw-sort-select #sortSelectModal
                  [sortColumn]="datagroupSort.first"
                  [sortDesc]="datagroupSort.second"
                  [availableOptions]=" ([
                      { key: 'name', messageKey: 'NAME' },
                      { key: 'type', messageKey: 'DATAGROUP_TYPE' },
                      { key: 'qualifier', messageKey: 'DATAGROUP_QUALIFIER' }
                  ]) "
                  (sortSelected)="onSortSelected($event)"></cw-sort-select>
</div>
