<ng-template [ngIf]="locs == null">

  <div class="row {{ loading ? 'loading-data' : '' }}">
    <div class="col-xs-12 block-padding-spacer">
      <div class="bg-info text-padding" [hidden]="loading">
        <p>{{ 'SAVEDOBJECT_REQUIRED' | translate }}</p>
      </div>
    </div>
  </div>

</ng-template>

<ng-template [ngIf]="locs">

  <div class="text-right data-control">
    <yc-data-control [changed]="changed"
                     [valid]="true"
                     (saveEvent)="onSaveHandler()"
                     (discardEvent)="onDiscardEventHandler()"
                     (refreshEvent)="onRefreshHandler()"></yc-data-control>
  </div>

  <div class="row {{ loading ? 'loading-data' : '' }}">
    <div class="col-md-6 col-lg-5">
      <div class="panel panel-default">
        <div class="panel-heading">{{ 'BILLING' | translate }} {{ 'ASSIGNED' | translate }}</div>
        <ul class="list-group">
          <li *ngFor="let supported of selectedBilling" class="list-group-item">
            <h5>
              <span class="label label-info">{{supported.first}}</span> {{supported.second}}
              <button class="pull-right btn btn-danger btn-circle btn-sm" (click)=onSupportedBillingClick(supported)><i class="fa fa-unlink"></i></button>
            </h5>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-lg-5">
      <div class="panel panel-default">
        <div class="panel-heading">{{ 'BILLING' | translate }} {{ 'AVAILABLE' | translate }}</div>
        <ul class="list-group">
          <li *ngFor="let available of availableBilling" class="list-group-item">
            <h5>
              <span class="label label-info">{{available.first}}</span> {{available.second}}
              <button class="pull-right btn btn-default btn-circle btn-sm" (click)=onAvailableBillingClick(available)><i class="fa fa-link"></i></button>
            </h5>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-5">
      <div class="panel panel-default">
        <div class="panel-heading">{{ 'SHIPPING' | translate }} {{ 'ASSIGNED' | translate }}</div>
        <ul class="list-group">
          <li *ngFor="let supported of selectedShipping" class="list-group-item">
            <h5>
              <span class="label label-info">{{supported.first}}</span> {{supported.second}}
              <button class="pull-right btn btn-danger btn-circle btn-sm" (click)=onSupportedShippingClick(supported)><i class="fa fa-unlink"></i></button>
            </h5>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-lg-5">
      <div class="panel panel-default">
        <div class="panel-heading">{{ 'SHIPPING' | translate }} {{ 'AVAILABLE' | translate }}</div>
        <ul class="list-group">
          <li *ngFor="let available of availableShipping" class="list-group-item">
            <h5>
              <span class="label label-info">{{available.first}}</span> {{available.second}}
              <button class="pull-right btn btn-default btn-circle btn-sm" (click)=onAvailableShippingClick(available)><i class="fa fa-link"></i></button>
            </h5>
          </li>
        </ul>
      </div>
    </div>
  </div>

</ng-template>
