<template [ngIf]="lang == null">

  <div class="row {{ loading ? 'loading-data' : '' }}">
    <div class="col-xs-12 block-padding-spacer">
      <div class="bg-info text-padding" [hidden]="loading">
        <p>{{ 'SAVEDOBJECT_REQUIRED' | translate }}</p>
      </div>
    </div>
  </div>

</template>

<template [ngIf]="lang">

  <div class="text-right data-control">
    <yc-data-control [changed]="changed"
                     [valid]="true"
                     (saveEvent)="onSaveHandler()"
                     (discardEvent)="onDiscardEventHandler()"
                     (refreshEvent)="onRefreshHandler()"></yc-data-control>
  </div>

  <div class="row {{ loading ? 'loading-data' : '' }}">
    <div class="col-md-6 col-lg-5">
      <h3>{{ 'ASSIGNED' | translate }}</h3>
      <span *ngFor="let supported of lang.supported">
        <a class="btn js-click" (click)=onSupportedLanguageClick(supported)>{{supported}} <i class="fa fa-remove"></i></a>
      </span>
    </div>
    <div class="col-md-6 col-lg-5">
      <h3>{{ 'AVAILABLE' | translate }}</h3>
      <span *ngFor="let available of lang.all">
        <a class="btn js-click" (click)=onAvailableLanguageClick(available)>{{available.second}} ( {{available.first}} ) <i class="fa fa-plus"></i></a>
      </span>
    </div>
  </div>

</template>
