<wrapper *ngIf="shopUrl">

  <div class="text-right data-control">

    <button type="button" (click)="onRowNew()" class="btn btn-circle btn-xl">
      <i class="fa fa-plus"></i>
    </button>

    <data-control [changed]="changed"
                  [valid]="true"
                  (saveEvent)="onSaveHandler()"
                  (discardEvent)="onDiscardEventHandler()"
                  (refreshEvent)="onRefreshHandler()"></data-control>
  </div>

  <!--<form  role="form" [formGroup]="shopUrlListForm">-->
    <div class="row">
      <div class="col-lg-5">
        Url
      </div>
      <div class="col-lg-5">
        Theme
      </div>
      <div class="col-lg-2">
        &nbsp;
      </div>
    </div>

    <wrapper *ngFor="let row of shopUrl.urls; let i = index">
      <div class="row"  *ngIf=" ( i >= (itemsPerPage * (currentPage - 1)) ) && ( i < (itemsPerPage * currentPage) )">
        <div class="col-md-4">
          {{row.url}}
        </div>
        <div class="col-md-4">
          {{row.theme}}
        </div>
        <div class="col-md-2">
          <button class="btn btn-circle btn-sm" (click)="onRowEdit(row)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-danger btn-circle btn-sm" (click)="onRowDelete(row)">
            <i class="fa fa-remove"></i>
          </button>
        </div>
      </div>
    </wrapper>

    <div class="row">
        <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [(ngModel)]="currentPage" class="pagination-sm"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        <!-- pagination [boundaryLinks]="true" [totalItems]="totalItems" formControlName="pager" [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" class="pagination-sm"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination -->
    </div>
  <!--</form>-->



  <modal id="deleteConfirmationModalDialog"
         [title]="'Are you sure?'"
         [cancelLabel]="'Cancel'"
         [positiveLabel]="'OK'"
         [valid]="true"
         (loaded)="deleteConfirmationModalDialogLoaded($event)"
         (closed)="onDeleteConfirmationResult($event)">
    Do you really want to delete url {{urlToDelete}} ?
  </modal>

  <modal id="editUrlModalDialog"
         [title]="'Shop URL'"
         [cancelLabel]="'Cancel'"
         [positiveLabel]="'Save'"
         [valid]="validForSave"
         (loaded)="editUrlModalLoaded($event)"
         (closed)="onEditUrlModalResult($event)">

    <form role="form" [formGroup]="shopUrlForm">
      <fieldset>
        <div class="row">
          <div class="col-lg-3">
            URL
          </div>
          <div class="col-lg-9">
            <input class="form-control" placeholder="Default value" formControlName="url" type="text" [(ngModel)]="urlToEdit.url" (ngModelChange)="onDataChange($event)">
            <div [hidden]="shopUrlForm.controls['url'].valid || shopUrlForm.controls['url'].pristine" class="alert alert-danger">
              url is not valid
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            Theme
          </div>
          <div class="col-lg-9">
            <input class="form-control" placeholder="Default value" formControlName="theme" type="text" [(ngModel)]="urlToEdit.theme" (ngModelChange)="onDataChange($event)">
          </div>

        </div>
      </fieldset>
    </form>

  </modal>

</wrapper>
