<template [ngIf]="shop">

  <div class="text-right data-control">

    <button type="button" (click)="onPowerOff()" [ngClass]="shopDisabled ? 'btn btn-danger btn-circle btn-xl':'btn btn-success btn-circle btn-xl'" [disabled]="shop.shopId <= 0" title="{{ (shopDisabled ? 'MODAL_BUTTON_DISABLE' : 'MODAL_BUTTON_ENABLE') | translate }}">
      <i class="fa fa-power-off"></i>
    </button>

    <yc-data-control [changed]="changed"
                     [valid]="validForSave"
                     (saveEvent)="onSaveHandler()"
                     (discardEvent)="onDiscardEvent()"
                     (refreshEvent)="onRefreshHandler()"></yc-data-control>
  </div>

  <div>
    <div class="col-md-9 col-lg-6">
      <div class="panel-body">
        <form role="form" [formGroup]="shopMainForm">
          <fieldset>
            <div class="form-group">
              <label>{{ 'CODE' | translate }} <span [hidden]="shop.masterCode == null" class="label label-success">{{shop.masterCode}}</span> <span [hidden]="shop.masterCode == null" class="label label-info">YCE</span></label>
              <input autofocus  class="form-control" placeholder="{{ 'CODE' | translate }}" formControlName="code" name="code" type="text" [(ngModel)]="shop.code" autocomplete="off">
              <div [hidden]="shopMainForm.controls['code'].valid || shopMainForm.controls['code'].pristine" class="alert alert-danger">
                <div [hidden]="!shopMainForm.controls['code'].hasError('checking')">
                  {{ 'REMOTE_CHECK' | translate }}
                </div>
                <div [hidden]="!shopMainForm.controls['code'].hasError('DUPLICATE')">
                  {{ 'UNIQUE_REQUIRED' | translate }}
                </div>
                {{ 'ALPHANUM_REQUIRED' | translate }}
              </div>
            </div>
            <div class="form-group">
              <label>{{ 'NAME' | translate }}</label>
              <input class="form-control" placeholder="{{ 'NAME' | translate }}" formControlName="name" name="name" type="text"  [(ngModel)]="shop.name">
              <div [hidden]="shopMainForm.controls['name'].valid || shopMainForm.controls['name'].pristine" class="alert alert-danger">
                {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
              </div>
            </div>
            <div class="form-group">
              <label>{{ 'DESCRIPTION' | translate }}</label>
              <textarea class="form-control"  placeholder="{{ 'DESCRIPTION' | translate }}" formControlName="description" name="description" [(ngModel)]="shop.description"></textarea>
            </div>
            <div class="form-group">
              <label>{{ 'SHOP_THEME_CHAIN' | translate }}</label>
              <input class="form-control"  placeholder="{{ 'SHOP_THEME_CHAIN' | translate }}" formControlName="fspointer" name="fspointer" type="text" [(ngModel)]="shop.fspointer">
            </div>
          </fieldset>
        </form>
      </div>

    </div>
  </div>

</template>


<yc-modal #disableConfirmationModalDialog
          title="{{ 'MODAL_CONFIRM_TITLE' | translate }}"
          cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
          positiveLabel="{{ 'MODAL_BUTTON_OK' | translate }}"
          [valid]="true"
          (closed)="onDisableConfirmationResult($event)">
  {{ 'MODAL_CONFIRM_MSG_OFF' | translate:{value: offValue } }}
</yc-modal>

