<template [ngIf]="shopSummary == null">

  <div class="row {{ loading ? 'loading-data' : '' }}">
    <div class="col-xs-12 block-padding-spacer">
      <div class="bg-info text-padding" [hidden]="loading">
        <p>{{ 'SAVEDSHOP_REQUIRED' | translate }}</p>
      </div>
    </div>
  </div>

</template>

<template [ngIf]="shopSummary">

  <div class="text-right data-control">
    <yc-data-control [changed]="false"
                     [valid]="false"
                     (saveEvent)="onSaveHandler()"
                     (discardEvent)="onDiscardEvent()"
                     (refreshEvent)="onRefreshHandler()"></yc-data-control>
  </div>

  <div class="row" [hidden]="loading || !misconfigured">
    <div class="col-xs-12 block-padding-spacer">
      <div class="bg-warning text-padding">
        <p>{{ 'SHOP_MISCONFIGURED' | translate }}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel-body">
        <div class="row block-margin-spacer">
          <div class="col-xs-5 col-md-4"><strong>{{ 'NAME' | translate }}</strong></div>
          <div class="col-xs-7 col-md-8">
            <div><span [ngClass]="shopSummary.disabled ? 'label label-danger':'label label-success'">{{shopSummary.masterCode != null ? shopSummary.masterCode + ': ' : ''}}{{shopSummary.code}}</span> {{shopSummary.name}} <span [hidden]="shopSummary.masterCode == null" class="label label-info">YCE</span></div>
            <div *ngFor="let aliasCode of shopSummary.aliases">
              <span class="label label-info">{{aliasCode}}</span> {{shopSummary.name}}
            </div>
          </div>
        </div>
        <div class="row block-margin-spacer">
          <div class="col-xs-5 col-md-4"><strong>{{ 'SHOP_THEME_CHAIN' | translate }}</strong></div>
          <div class="col-xs-7 col-md-8">{{ shopSummary.themeChain }}</div>
        </div>
        <div class="row block-margin-spacer">
          <div class="col-xs-5 col-md-4"><strong class="text-muted">{{ shopSummary.sfPageTraceEnabled.first }}</strong> <span class="label label-info">YCE</span></div>
          <div class="col-xs-7 col-md-8"><i class="fa {{ shopSummary.sfPageTraceEnabled.second ? 'fa-check text-muted' : 'fa-remove text-muted' }}"></i></div>
        </div>
        <div class="row block-margin-spacer">
          <div class="col-xs-5 col-md-4"><strong class="{{ shopSummary.primaryUrlAndThemeChain == null ? 'text-danger' : ''}}">{{ 'SHOP_TAB_URL' | translate }}: {{ 'SHOP_URL_PRIMARY' | translate }}</strong></div>
          <div class="col-xs-7 col-md-8" *ngIf="shopSummary.primaryUrlAndThemeChain">
            <div><a href="http://{{ shopSummary.primaryUrlAndThemeChain.first }}" target="_blank">{{shopSummary.primaryUrlAndThemeChain.first}}</a></div>
            <div><strong>{{ 'SHOP_THEME_CHAIN' | translate }}</strong>: {{shopSummary.primaryUrlAndThemeChain.second}}</div>
          </div>
          <div class="col-xs-7 col-md-8" *ngIf="shopSummary.primaryUrlAndThemeChain == null">
            <i class="fa fa-remove text-danger"></i>
          </div>
        </div>
        <div class="row block-margin-spacer" *ngIf="shopSummary.aliasUrlAndThemeChain.length > 0">
          <div class="col-xs-5 col-md-4"><strong>{{ 'SHOP_TAB_URL' | translate }}</strong></div>
          <div class="col-xs-7 col-md-8">
            <div *ngFor="let alias of shopSummary.aliasUrlAndThemeChain">
              <div><a href="http://{{ alias.first }}" target="_blank">{{alias.first}}</a></div>
              <div><strong>{{ 'SHOP_THEME_CHAIN' | translate }}</strong>: {{alias.second}}</div>
            </div>
          </div>
        </div>
        <div class="row block-margin-spacer">
          <div class="col-xs-5 col-md-4"><strong class="{{ shopSummary.currencies.length == 0 ? 'text-danger' : ''}}">{{ 'SHOP_TAB_CURRENCY' | translate }}</strong></div>
          <div class="col-xs-7 col-md-8" *ngIf="shopSummary.currencies.length > 0">
            <div *ngFor="let currency of shopSummary.currencies"><span class="label label-info">{{currency.first}}</span> {{currency.second}}</div>
          </div>
          <div class="col-xs-7 col-md-8" *ngIf="shopSummary.currencies.length == 0">
            <i class="fa fa-remove text-danger"></i>
          </div>
        </div>
        <div class="row block-margin-spacer">
          <div class="col-xs-5 col-md-4"><strong class="{{ shopSummary.locales.length == 0 ? 'text-danger' : ''}}">{{ 'SHOP_TAB_LANGUAGE' | translate }}</strong></div>
          <div class="col-xs-7 col-md-8" *ngIf="shopSummary.locales.length > 0">
            <div *ngFor="let language of shopSummary.locales"><span class="label label-info">{{language.first}}</span> {{language.second}} <i title="shop_{{ language.first }}.properties.xml" class="fa fa-gears {{ isI18nConfigOn(language.first, shopSummary.i18nOverrides) ? 'text-muted': 'text-muted' }}"></i> <span class="label label-info">YCE</span></div>
          </div>
          <div class="col-xs-7 col-md-8" *ngIf="shopSummary.locales.length == 0">
            <i class="fa fa-remove text-danger"></i>
          </div>
        </div>
        <div class="row block-margin-spacer">
          <div class="col-xs-5 col-md-4"><strong class="{{ shopSummary.billingLocations.length == 0 ? 'text-danger' : ''}}">{{ 'SHOP_TAB_LOCATIONS' | translate }}: {{ 'BILLING' | translate }}</strong></div>
          <div class="col-xs-7 col-md-8" *ngIf="shopSummary.billingLocations.length > 0">
            <div *ngFor="let billing of shopSummary.billingLocations"><span class="label label-info">{{billing.first}}</span> {{billing.second}}</div>
          </div>
          <div class="col-xs-7 col-md-8" *ngIf="shopSummary.billingLocations.length == 0">
            <i class="fa fa-remove text-danger"></i>
          </div>
        </div>
        <div class="row block-margin-spacer">
          <div class="col-xs-5 col-md-4"><strong class="{{ shopSummary.shippingLocations.length == 0 ? 'text-danger' : ''}}">{{ 'SHOP_TAB_LOCATIONS' | translate }}: {{ 'SHIPPING' | translate }}</strong></div>
          <div class="col-xs-7 col-md-8" *ngIf="shopSummary.shippingLocations.length > 0">
            <div *ngFor="let shipping of shopSummary.shippingLocations"><span class="label label-info">{{shipping.first}}</span> {{shipping.second}}</div>
          </div>
          <div class="col-xs-7 col-md-8" *ngIf="shopSummary.shippingLocations.length == 0">
            <i class="fa fa-remove text-danger"></i>
          </div>
        </div>
        <div class="row block-margin-spacer">
          <div class="col-xs-5 col-md-4"><strong class="{{ shopSummary.categories.length == 0 ? 'text-danger' : ''}}">{{ 'SHOP_TAB_CATALOG' | translate }}</strong></div>
          <div class="col-xs-7 col-md-8" *ngIf="shopSummary.categories.length > 0">
            <div *ngFor="let category of shopSummary.categories"><i class="fa {{ category.second ? 'fa-remove text-danger' : 'fa-check text-success' }}"></i> <span class="{{ category.second ? 'test-muted' : '' }}">{{category.first}}</span></div>
          </div>
          <div class="col-xs-7 col-md-8" *ngIf="shopSummary.categories.length == 0">
            <i class="fa fa-remove text-danger"></i>
          </div>
        </div>
        <div class="row block-margin-spacer">
          <div class="col-xs-5 col-md-4"><strong class="{{ shopSummary.carriers.length == 0 ? 'text-danger' : ''}}">{{ 'SHOP_TAB_CARRIERS' | translate }}</strong></div>
          <div class="col-xs-7 col-md-8" *ngIf="shopSummary.carriers.length > 0">
            <div *ngFor="let carrier of shopSummary.carriers"><i class="fa {{ carrier.second ? 'fa-remove text-danger' : 'fa-check text-success' }}"></i> <span class="{{ carrier.second ? 'test-muted' : '' }}">{{carrier.first}}</span></div>
          </div>
          <div class="col-xs-7 col-md-8" *ngIf="shopSummary.carriers.length == 0">
            <i class="fa fa-remove text-danger"></i>
          </div>
        </div>
        <div class="row block-margin-spacer">
          <div class="col-xs-5 col-md-4"><strong class="{{ shopSummary.fulfilmentCentres.length == 0 ? 'text-danger' : ''}}">{{ 'SHOP_TAB_WAREHOUSES' | translate }}</strong></div>
          <div class="col-xs-7 col-md-8" *ngIf="shopSummary.fulfilmentCentres.length > 0">
            <div *ngFor="let fulfilmentCentre of shopSummary.fulfilmentCentres"><i class="fa {{ fulfilmentCentre.second ? 'fa-remove text-danger' : 'fa-check text-success' }}"></i> <span class="{{ fulfilmentCentre.second ? 'test-muted' : '' }}">{{fulfilmentCentre.first}}</span></div>
          </div>
          <div class="col-xs-7 col-md-8" *ngIf="shopSummary.fulfilmentCentres.length == 0">
            <i class="fa fa-remove text-danger"></i>
          </div>
        </div>
        <div class="row block-margin-spacer">
          <div class="col-xs-5 col-md-4"><strong class="{{ shopSummary.paymentGateways.length == 0 ? 'text-danger' : ''}}">{{ 'SHOP_TAB_PGS' | translate }}</strong></div>
          <div class="col-xs-7 col-md-8" *ngIf="shopSummary.paymentGateways.length > 0">
            <div *ngFor="let paymentGateway of shopSummary.paymentGateways"><i class="fa {{ paymentGateway.second ? 'fa-remove text-danger' : 'fa-check text-success' }}"></i> <span class="{{ paymentGateway.second ? 'test-muted' : '' }}">{{paymentGateway.first}}</span></div>
          </div>
          <div class="col-xs-7 col-md-8" *ngIf="shopSummary.paymentGateways.length == 0">
            <i class="fa fa-remove text-danger"></i>
          </div>
        </div>
        <div class="row block-margin-spacer">
          <div class="col-xs-5 col-md-4"><strong>{{ shopSummary.adminEmail.first }}</strong></div>
          <div class="col-xs-7 col-md-8">{{ shopSummary.adminEmail.second }}</div>
          <div class="clearfix"></div>
          <div class="col-xs-5 col-md-4"><strong>{{ shopSummary.anonymousBrowsing.first }}</strong></div>
          <div class="col-xs-7 col-md-8"><i class="fa {{ shopSummary.anonymousBrowsing.second ? 'fa-remove text-success' : 'fa-check text-danger' }}" title="{{ shopSummary.anonymousBrowsing.first }}"></i></div>
        </div>
        <div class="row block-margin-spacer">
          <div class="col-xs-5 col-md-4"><strong class="text-muted">{{ shopSummary.b2bProfileActive.first }}</strong> <span class="label label-info">YCE</span></div>
          <div class="col-xs-7 col-md-8"><i class="fa {{ shopSummary.b2bProfileActive.second ? 'fa-check text-success' : 'fa-remove text-danger' }}" title="{{ shopSummary.b2bProfileActive.first }}"></i></div>
          <div class="clearfix"></div>
          <div class="col-xs-5 col-md-4"><strong class="text-muted">{{ shopSummary.b2bAddressbookActive.first }}</strong> <span class="label label-info">YCE</span></div>
          <div class="col-xs-7 col-md-8"><i class="fa {{ shopSummary.b2bAddressbookActive.second ? 'fa-check text-success' : 'fa-remove text-danger' }}" title="{{ shopSummary.b2bAddressbookActive.first }}"></i></div>
          <div class="clearfix"></div>
          <div class="col-xs-5 col-md-4"><strong class="text-muted">{{ shopSummary.b2bStrictPriceActive.first }}</strong> <span class="label label-info">YCE</span></div>
          <div class="col-xs-7 col-md-8"><i class="fa {{ shopSummary.b2bStrictPriceActive.second ? 'fa-check text-success' : 'fa-remove text-danger' }}" title="{{ shopSummary.b2bStrictPriceActive.first }}"></i></div>
        </div>
        <div class="row block-margin-spacer">
          <div class="col-xs-5 col-md-4"><strong>{{ shopSummary.cookiePolicy.first }}</strong></div>
          <div class="col-xs-7 col-md-8"><i class="fa {{ shopSummary.cookiePolicy.second ? 'fa-check text-success' : 'fa-remove text-danger' }}" title="{{ shopSummary.cookiePolicy.first }}"></i></div>
        </div>
        <div class="row block-margin-spacer">
          <div class="col-xs-5 col-md-4"><strong>{{ shopSummary.checkoutEnableGuest.first }}</strong></div>
          <div class="col-xs-7 col-md-8"><i class="fa {{ shopSummary.checkoutEnableGuest.second ? 'fa-check text-success' : 'fa-remove text-danger' }}"></i></div>
          <div class="clearfix"></div>
          <div class="col-xs-5 col-md-4"><strong>{{ shopSummary.checkoutEnableCoupons.first }}</strong></div>
          <div class="col-xs-7 col-md-8"><i class="fa {{ shopSummary.checkoutEnableCoupons.second ? 'fa-check text-success' : 'fa-remove text-danger' }}"></i></div>
          <div class="clearfix"></div>
          <div class="col-xs-5 col-md-4"><strong>{{ shopSummary.checkoutEnableMessage.first }}</strong></div>
          <div class="col-xs-7 col-md-8"><i class="fa {{ shopSummary.checkoutEnableMessage.second ? 'fa-check text-success' : 'fa-remove text-danger' }}"></i></div>
          <div class="clearfix"></div>
          <div class="col-xs-5 col-md-4"><strong>{{ shopSummary.checkoutEnableQuanityPicker.first }}</strong></div>
          <div class="col-xs-7 col-md-8"><i class="fa {{ shopSummary.checkoutEnableQuanityPicker.second ? 'fa-check text-success' : 'fa-remove text-danger' }}"></i></div>
        </div>
        <div class="row block-margin-spacer">
          <div class="col-xs-5 col-md-4"><strong>{{ shopSummary.searchInSubCatsEnable.first }}</strong></div>
          <div class="col-xs-7 col-md-8"><i class="fa {{ shopSummary.searchInSubCatsEnable.second ? 'fa-check text-success' : 'fa-remove text-danger' }}"></i></div>
          <div class="clearfix"></div>
          <div class="col-xs-5 col-md-4"><strong class="text-muted">{{ shopSummary.searchCompoundEnable.first }}</strong> <span class="label label-info">YCE</span></div>
          <div class="col-xs-7 col-md-8"><i class="fa {{ shopSummary.searchCompoundEnable.second ? 'fa-check text-muted' : 'fa-remove text-muted' }}"></i></div>
          <div class="clearfix"></div>
          <div class="col-xs-5 col-md-4"><strong class="text-muted">{{ shopSummary.searchSuggestEnable.first }}</strong> <span class="label label-info">YCE</span></div>
          <div class="col-xs-7 col-md-8">
            <i class="fa {{ shopSummary.searchSuggestEnable.second ? 'fa-check text-muted' : 'fa-remove text-muted' }}"></i>
            <span class="text-muted" [hidden]="!shopSummary.searchSuggestEnable.second">{{ shopSummary.searchSuggestMaxResults.second }} <i class="fa fa-info" title="{{ shopSummary.searchSuggestMaxResults.first }}"></i></span>
            <span class="text-muted" [hidden]="!shopSummary.searchSuggestEnable.second">{{ shopSummary.searchSuggestMinChars.second }} <i class="fa fa-info" title="{{ shopSummary.searchSuggestMinChars.first }}"></i></span>
          </div>
        </div>
        <div class="row block-margin-spacer" *ngIf="shopSummary.customerTypes.length > 0">
          <div class="col-xs-12">
            <section class="no-more-tables">
              <table class="table-bordered table-striped table-condensed cf">
                <thead class="cf">
                <tr>
                  <th>{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}</th>
                  <th *ngFor="let type of shopSummary.customerTypes"><span class="label label-info" title="{{type.second}}">{{type.first}}</span> <span class="hidden-sm">{{type.second}}</span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td title="{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}"><i class="fa fa-user"></i> {{ shopSummary.customerTypesAbleToRegister.first }}</td>
                  <td *ngFor="let type of shopSummary.customerTypes" title="{{type.first}}: {{type.second}}"><i class="fa  {{ isTypeEnabled(type.first, shopSummary.customerTypesAbleToRegister.second) ? 'fa-check text-success' : 'fa-remove text-danger' }}"></i></td>
                </tr>
                <tr>
                  <td title="{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}"><i class="fa fa-envelope-square"></i> {{ shopSummary.customerTypesRequireRegistrationNotification.first }}</td>
                  <td *ngFor="let type of shopSummary.customerTypes" title="{{type.first}}: {{type.second}}"><i class="fa  {{ isTypeEnabled(type.first, shopSummary.customerTypesRequireRegistrationNotification.second) ? 'fa-check text-success' : 'fa-remove text-danger' }}"></i></td>
                </tr>
                <tr>
                  <td title="{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}"><i class="fa fa-check-square-o"></i> {{ shopSummary.customerTypesRequireRegistrationApproval.first }}</td>
                  <td *ngFor="let type of shopSummary.customerTypes" title="{{type.first}}: {{type.second}}"><i class="fa  {{ isTypeEnabled(type.first, shopSummary.customerTypesRequireRegistrationApproval.second) ? 'fa-check text-success' : 'fa-remove text-danger' }}"></i></td>
                </tr>
                <tr>
                  <td title="{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}"><i class="fa fa-dollar"></i> {{ shopSummary.customerTypesSeeTax.first }}</td>
                  <td *ngFor="let type of shopSummary.customerTypes" title="{{type.first}}: {{type.second}}"><i class="fa  {{ (shopSummary.customerTypesSeeTax.second.length == 0 || isTypeEnabled(type.first, shopSummary.customerTypesSeeTax.second)) ? 'fa-check text-success' : 'fa-remove text-danger' }}"></i></td>
                </tr>
                <tr>
                  <td title="{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}"><i class="fa fa-dollar"></i> {{ shopSummary.customerTypesSeeNetPrice.first }}</td>
                  <td *ngFor="let type of shopSummary.customerTypes" title="{{type.first}}: {{type.second}}"><i class="fa  {{ (shopSummary.customerTypesSeeNetPrice.second.length == 0 || isTypeEnabled(type.first, shopSummary.customerTypesSeeNetPrice.second)) ? 'fa-circle-o' : 'fa-circle' }}"></i></td>
                </tr>
                <tr>
                  <td title="{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}"><i class="fa fa-dollar"></i> {{ shopSummary.customerTypesSeeTaxAmount.first }}</td>
                  <td *ngFor="let type of shopSummary.customerTypes" title="{{type.first}}: {{type.second}}"><i class="fa  {{ (shopSummary.customerTypesSeeTaxAmount.second.length == 0 || isTypeEnabled(type.first, shopSummary.customerTypesSeeTaxAmount.second)) ? 'fa-dollar' : 'fa-percent' }}"></i></td>
                </tr>
                <tr>
                  <td title="{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}"><i class="fa fa-dollar"></i> {{ shopSummary.customerTypesChangeTaxView.first }}</td>
                  <td *ngFor="let type of shopSummary.customerTypes" title="{{type.first}}: {{type.second}}"><i class="fa  {{ isTypeEnabled(type.first, shopSummary.customerTypesChangeTaxView.second) ? 'fa-check text-success' : 'fa-remove text-danger' }}"></i></td>
                </tr>
                <tr>
                  <td title="{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}"><i class="fa fa-dollar"></i> {{ shopSummary.customerTypesHidePrices.first }}</td>
                  <td *ngFor="let type of shopSummary.customerTypes" title="{{type.first}}: {{type.second}}"><i class="fa  {{ isTypeEnabled(type.first, shopSummary.customerTypesHidePrices.second) ? 'fa-check text-danger' : 'fa-remove text-success' }}"></i></td>
                </tr>
                <tr>
                  <td title="{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}" class="text-muted"><i class="fa fa-envelope"></i> {{ shopSummary.customerTypesRfq.first }} <span class="label label-info">YCE</span></td>
                  <td *ngFor="let type of shopSummary.customerTypes" title="{{type.first}}: {{type.second}}"><i class="fa  {{ isTypeEnabled(type.first, shopSummary.customerTypesRfq.second) ? 'fa-check text-success' : 'fa-remove text-danger' }}"></i></td>
                </tr>
                <tr>
                  <td title="{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}" class="text-muted"><i class="fa fa-shopping-cart text-warning"></i> {{ shopSummary.customerTypesOrderApproval.first }} <span class="label label-info">YCE</span></td>
                  <td *ngFor="let type of shopSummary.customerTypes" title="{{type.first}}: {{type.second}}"><i class="fa  {{ isTypeEnabled(type.first, shopSummary.customerTypesOrderApproval.second) ? 'fa-check text-success' : 'fa-remove text-danger' }}"></i></td>
                </tr>
                <tr>
                  <td title="{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}" class="text-muted"><i class="fa fa-shopping-cart text-danger"></i> {{ shopSummary.customerTypesBlockCheckout.first }} <span class="label label-info">YCE</span></td>
                  <td *ngFor="let type of shopSummary.customerTypes" title="{{type.first}}: {{type.second}}"><i class="fa  {{ isTypeEnabled(type.first, shopSummary.customerTypesBlockCheckout.second) ? 'fa-check text-success' : 'fa-remove text-danger' }}"></i></td>
                </tr>
                <tr>
                  <td title="{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}" class="text-muted"><i class="fa fa-repeat"></i> {{ shopSummary.customerTypesRepeatOrders.first }} <span class="label label-info">YCE</span></td>
                  <td *ngFor="let type of shopSummary.customerTypes" title="{{type.first}}: {{type.second}}"><i class="fa  {{ isTypeEnabled(type.first, shopSummary.customerTypesRepeatOrders.second) ? 'fa-check text-success' : 'fa-remove text-danger' }}"></i></td>
                </tr>
                <tr>
                  <td title="{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}" class="text-muted"><i class="fa fa-list"></i> {{ shopSummary.customerTypesShoppingLists.first }} <span class="label label-info">YCE</span></td>
                  <td *ngFor="let type of shopSummary.customerTypes" title="{{type.first}}: {{type.second}}"><i class="fa  {{ isTypeEnabled(type.first, shopSummary.customerTypesShoppingLists.second) ? 'fa-check text-success' : 'fa-remove text-danger' }}"></i></td>
                </tr>
                <tr>
                  <td title="{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}" class="text-muted"><i class="fa fa-drivers-license-o"></i> {{ shopSummary.customerTypesB2BOrderForm.first }} <span class="label label-info">YCE</span></td>
                  <td *ngFor="let type of shopSummary.customerTypes" title="{{type.first}}: {{type.second}}"><i class="fa  {{ isTypeEnabled(type.first, shopSummary.customerTypesB2BOrderForm.second) ? 'fa-check text-success' : 'fa-remove text-danger' }}"></i></td>
                </tr>
                <tr>
                  <td title="{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}" class="text-muted"><i class="fa fa-edit"></i> {{ shopSummary.customerTypesB2BOrderLineRemarks.first }} <span class="label label-info">YCE</span></td>
                  <td *ngFor="let type of shopSummary.customerTypes" title="{{type.first}}: {{type.second}}"><i class="fa  {{ isTypeEnabled(type.first, shopSummary.customerTypesB2BOrderLineRemarks.second) ? 'fa-check text-success' : 'fa-remove text-danger' }}"></i></td>
                </tr>
                <tr>
                  <td title="{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}" class="text-muted"><i class="fa fa-edit"></i> {{ shopSummary.customerTypesAddressBookDisabled.first }} <span class="label label-info">YCE</span></td>
                  <td *ngFor="let type of shopSummary.customerTypes" title="{{type.first}}: {{type.second}}"><i class="fa  {{ shopSummary.b2bAddressbookActive.second || isTypeEnabled(type.first, shopSummary.customerTypesAddressBookDisabled.second) ? 'fa-check text-danger' : 'fa-remove text-success' }}"></i></td>
                </tr>
                <tr>
                  <td title="{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}"><i class="fa fa-truck"></i> {{ shopSummary.customerTypesDisableOneAddress.first }}</td>
                  <td *ngFor="let type of shopSummary.customerTypes" title="{{type.first}}: {{type.second}}"><i class="fa  {{ isTypeEnabled(type.first, shopSummary.customerTypesDisableOneAddress.second) ? 'fa-files-o' : 'fa-file-o' }}"></i></td>
                </tr>
                </tbody>
              </table>
            </section>
          </div>
        </div>
        <div class="row block-margin-spacer" *ngIf="shopSummary.customerTypes.length == 0">
          <div class="col-xs-12">
            <section class="no-more-tables">
              <table class="table-bordered table-striped table-condensed cf">
                <thead class="cf">
                <tr>
                  <th class="text-danger">{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}</th>
                  <th><span class="label label-info" title="x">x</span> <span class="hidden-sm">x</span></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td title="{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}"><i class="fa fa-user"></i> {{ shopSummary.customerTypesAbleToRegister.first }}</td>
                  <td title="X"><i class="fa fa-remove text-danger"></i></td>
                </tr>
                </tbody>
              </table>
            </section>
          </div>
        </div>
        <div class="row block-margin-spacer" *ngIf="shopSummary.emailTemplates.length > 0">
          <div class="col-xs-12">
            <section class="no-more-tables">
              <table class="table-bordered table-striped table-condensed cf">
                <thead class="cf">
                <tr>
                  <th>{{ 'SHOP_EMAIL_TEMPLATES' | translate }}</th>
                  <th>{{ 'SHOP_EMAIL_TEMPLATES_ENABLED' | translate }}</th>
                  <th>{{ 'SHOP_EMAIL_TEMPLATES_CMS' | translate }}</th>
                  <th>{{ 'SHOP_EMAIL_TEMPLATES_FROM' | translate }}</th>
                  <th>{{ 'SHOP_EMAIL_TEMPLATES_TO' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let emailTemplate of shopSummary.emailTemplates" class="{{ isEmailConfigOn(emailTemplate.first, shopSummary.emailTemplatesYCE) ? 'text-muted' : '' }}">
                  <td title="{{ 'SHOP_EMAIL_TEMPLATES' | translate }}">{{ emailTemplate.first }} <span class="label label-info" [hidden]="!isEmailConfigOn(emailTemplate.first, shopSummary.emailTemplatesYCE)">YCE</span></td>
                  <td title="{{ 'SHOP_EMAIL_TEMPLATES_ENABLED' | translate }}"><i class="fa {{ emailTemplate.second ? 'fa-remove text-danger' : 'fa-check text-success' }}"></i></td>
                  <td title="{{ 'SHOP_EMAIL_TEMPLATES_CMS' | translate }}"><i class="fa fa-check text-info" [hidden]="!isEmailConfigOn(emailTemplate.first, shopSummary.emailTemplatesShop)"></i>&nbsp;</td>
                  <td title="{{ 'SHOP_EMAIL_TEMPLATES_FROM' | translate }}">{{ getEmailConfigString(emailTemplate.first, shopSummary.emailTemplatesFrom) }}<i class="fa fa-remove text-danger" [hidden]="getEmailConfigString(emailTemplate.first, shopSummary.emailTemplatesFrom) != ''"></i></td>
                  <td title="{{ 'SHOP_EMAIL_TEMPLATES_TO' | translate }}">{{ getEmailConfigString(emailTemplate.first, shopSummary.emailTemplatesTo) }}<i class="fa fa-remove text-danger" [hidden]="getEmailConfigString(emailTemplate.first, shopSummary.emailTemplatesTo) != ''"></i></td>
                </tr>
                </tbody>
              </table>
            </section>
          </div>
        </div>

      </div>
    </div>
  </div>

</template>
