<template [ngIf]="shopLocalization == null">

  <div class="row {{ loading ? 'loading-data' : '' }}">
    <div class="col-xs-12 block-padding-spacer">
      <div class="bg-info text-padding" [hidden]="loading">
        <p>{{ 'SAVEDOBJECT_REQUIRED' | translate }}</p>
      </div>
    </div>
  </div>

</template>

<template [ngIf]="shopLocalization">


  <div class="text-right data-control">
    <yc-data-control [changed]="changed"
                     [valid]="validForSave"
                     (saveEvent)="onSaveHandler()"
                     (discardEvent)="onDiscardEvent()"
                     (refreshEvent)="onRefreshHandler()"></yc-data-control>
  </div>

  <form role="form" [formGroup]="shopSEOForm">

    <div class="panel-body {{ loading ? 'loading-data' : '' }}">
      <div class="row">
        <div class="col-lg-9">
          <yc-i18n-table title="{{ 'SEO_TITLE' | translate }}"
                         [source]="shopLocalization"
                         value="title"
                         i18n="displayTitles"
                         (dataChanged)="onTitleDataChange($event)"></yc-i18n-table>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-9">
          <yc-i18n-table title="{{ 'SEO_KEYWORDS' | translate }}"
                         [source]="shopLocalization"
                         value="metakeywords"
                         i18n="displayMetakeywords"
                         (dataChanged)="onKeywordsDataChange($event)"></yc-i18n-table>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-9">
          <yc-i18n-table title="{{ 'SEO_DESCRIPTION' | translate }}"
                         [source]="shopLocalization"
                         value="metadescription"
                         i18n="displayMetadescriptions"
                         (dataChanged)="onMetaDataChange($event)"></yc-i18n-table>
        </div>
      </div>

    </div>
  </form>
</template>
