<ng-template [ngIf]="lang == null">

  <div class="row {{ loading ? 'loading-data' : '' }}">
    <div class="col-xs-12 block-padding-spacer">
      <div class="bg-info text-padding" [hidden]="loading">
        <p>{{ 'SAVEDOBJECT_REQUIRED' | translate }}</p>
      </div>
    </div>
  </div>

</ng-template>

<ng-template [ngIf]="lang">

  <div class="text-right data-control">
    <yc-data-control [changed]="changed"
                     [valid]="true"
                     (saveEvent)="onSaveHandler()"
                     (discardEvent)="onDiscardEventHandler()"
                     (refreshEvent)="onRefreshHandler()"></yc-data-control>
  </div>

  <div class="row {{ loading ? 'loading-data' : '' }}">
    <div class="col-md-6 col-lg-5">
      <div class="panel panel-default">
        <div class="panel-heading">{{ 'ASSIGNED' | translate }}</div>
        <ul class="list-group">
          <li *ngFor="let supported of lang.supported" class="list-group-item">
            <h5>
              <span class="label label-info">{{supported}}</span> {{getLanguageName(supported)}}
              <button class="pull-right btn btn-danger btn-circle btn-sm" (click)=onSupportedLanguageClick(supported)><i class="fa fa-remove"></i></button>
            </h5>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-lg-5">
      <div class="panel panel-default">
        <div class="panel-heading">{{ 'AVAILABLE' | translate }}</div>
        <ul class="list-group">
          <li *ngFor="let available of lang.all" class="list-group-item">
            <h5>
              <span class="label label-info">{{available.first}}</span> {{available.second}}
              <button class="pull-right btn btn-default btn-circle btn-sm" (click)=onAvailableLanguageClick(available)><i class="fa fa-plus"></i></button>
            </h5>
          </li>
        </ul>
      </div>
    </div>
  </div>

</ng-template>
