<template [ngIf]="shopAlias == null">

  <div class="row {{ loading ? 'loading-data' : '' }}">
    <div class="col-xs-12 block-padding-spacer">
      <div class="bg-info text-padding" [hidden]="loading">
        <p>{{ 'SAVEDOBJECT_REQUIRED' | translate }}</p>
      </div>
    </div>
  </div>

</template>

<template [ngIf]="shopAlias">

  <div class="text-right data-control">

    <form class="pull-left">
      <input class="filter-input" type="text" name="aliasFilter" [(ngModel)]="aliasFilter" (ngModelChange)="onFilterChange($event)" autocomplete="off"/>
      <a class="js-click" (click)="onClearFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}"><i class="fa fa-remove"></i></a>
    </form>

    <button type="button" (click)="onRowNew()" class="btn btn-circle btn-xl" title="{{ 'MODAL_BUTTON_CREATE' | translate }}">
      <i class="fa fa-plus"></i>
    </button>

    <button type="button" (click)="onRowEditSelected()" [disabled]="selectedRow == null" class="btn btn-circle btn-xl" title="{{ 'MODAL_BUTTON_EDIT' | translate }}">
      <i class="fa fa-edit"></i>
    </button>

    <button type="button" (click)="onRowDeleteSelected()" [disabled]="selectedRow == null" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELETE' | translate }}">
      <i class="fa fa-remove"></i>
    </button>

    <yc-data-control [changed]="changed"
                     [valid]="true"
                     (saveEvent)="onSaveHandler()"
                     (discardEvent)="onDiscardEventHandler()"
                     (refreshEvent)="onRefreshHandler()"></yc-data-control>


  </div>

  <section class="no-more-tables {{ loading ? 'loading-data' : '' }}">
    <table class="table-bordered table-striped table-condensed cf">
      <thead class="cf">
      <tr>
        <th>{{ 'CODE' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of filteredShopAlias; let i = index" class="{{row == selectedRow ? 'active' : ''}}">
        <template [ngIf]=" ( i >= pageStart &&  i < pageEnd )">
          <td title="{{ 'CODE' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.alias}}</a></td>
        </template>
      </tr>
      </tbody>
    </table>
  </section>

  <div>
    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [ngModel]="currentPage" (pageChanged)="onPageChanged($event)" class="pagination-sm"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>



  <yc-modal #deleteConfirmationModalDialog
            title="{{ 'MODAL_CONFIRM_TITLE' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_DELETE' | translate }}"
            [valid]="true"
            (closed)="onDeleteConfirmationResult($event)">
    {{ 'MODAL_CONFIRM_DELETE' | translate:{value: (selectedRow ? selectedRow.alias : '') } }}
  </yc-modal>

  <yc-modal #editModalDialog
            title="{{ 'SHOP_TAB_ALIAS' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_SAVE' | translate }}"
            [valid]="validForSave"
            (closed)="onEditModalResult($event)">

    <form role="form" [formGroup]="shopAliasForm">
      <fieldset>
        <div class="row">
          <div class="col-lg-3">{{ 'CODE' | translate }}</div>
          <div class="col-lg-9">
            <input class="form-control" formControlName="alias" type="text" [(ngModel)]="aliasToEdit.alias">
            <div [hidden]="shopAliasForm.controls['alias'].valid || shopAliasForm.controls['alias'].pristine" class="alert alert-danger">
              <div [hidden]="!shopAliasForm.controls['alias'].hasError('checking')">
                {{ 'REMOTE_CHECK' | translate }}
              </div>
              <div [hidden]="!shopAliasForm.controls['alias'].hasError('DUPLICATE')">
                {{ 'UNIQUE_REQUIRED' | translate }}
              </div>
              {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
            </div>
          </div>
        </div>
      </fieldset>
    </form>

  </yc-modal>

</template>
