<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <wicket:link>
        <link rel="stylesheet" type="text/css" href="../../../../../style/reset.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../../style/text.css"/>
        <link rel="stylesheet" type="text/css" href="../../../../../style/1024_16_10_10.css"/>
    </wicket:link>
    <title>
        <wicket:message key="createEditAddress">[Create or edit address]</wicket:message>
    </title>
</head>

<body>

<div class="mainpage">
    <div class="row grhead">
        <div class="column grid_16 grhead">
            <p>
                <wicket:message key="createEditAddress">[Checkout]</wicket:message>
            </p>
        </div>
    </div>
	
	<div class="row">
        <div class="column grid_1"><p>&nbsp;</p>
            
        </div>
        <div class="column grid_14">
            <div wicket:id="feedback">[feedpack panel]</div>
        </div>
		<div class="column grid_1">
            
        </div>
    </div>
	
	<form wicket:id="addressForm">
	
	<div class="row">
        <div class="column grid_1"><p>&nbsp;</p>
            
        </div>
        <div class="column grid_14">
            <div class="g144 m5">
					<wicket:message key="firstName">[First name]</wicket:message>
			</div>
            <div class="g720 m5">
					<input type="text" class="input-text" wicket:id="firstName" maxlength="128"/>
			</div>

            <div class="g144 m5">
					<wicket:message key="lastName">[Last name]</wicket:message>
			</div>
            <div class="g720 m5">
					<input type="text" class="input-text" wicket:id="lastName"  maxlength="128"/>
			</div>

            <div class="g144 m5">
					<wicket:message key="line1">[line 1]</wicket:message>
			</div>
            <div class="g720 m5">
					<input type="text" class="input-text" wicket:id="line1"  maxlength="255"/>
			</div>

            <div class="g144 m5">
					<wicket:message key="line2">[line 2]</wicket:message>
			</div>
            <div class="g720 m5">
					<input type="text" class="input-text" wicket:id="line2"  maxlength="255"/>
			</div>				

            <div class="g144 m5">
					<wicket:message key="country">[Country]</wicket:message>
			</div>
            <div class="g720 m5">
					<select class="input-select" wicket:id="country"/>
			</div>			

            <div class="g144 m5">
					<wicket:message key="state">[State]</wicket:message>
			</div>
            <div class="g720 m5">
					<select class="input-select" wicket:id="state"/>
			</div>
			
            <div class="g144 m5">
					<wicket:message key="city">[City]</wicket:message>
			</div>
            <div class="g720 m5">
					<input type="text" class="input-text" wicket:id="city"  maxlength="128"/>
			</div>		
			
            <div class="g144 m5">
					<wicket:message key="postcode">[postcode]</wicket:message>
			</div>
            <div class="g720 m5">
					<input type="text" class="input-text" wicket:id="postcode"  maxlength="16"/>
			</div>		
			
            <div class="g144 m5">
					<wicket:message key="phoneList">[phoneList]</wicket:message>
			</div>
            <div class="g720 m5">
					 <input type="text" class="input-text" wicket:id="phoneList"  maxlength="256"/>
			</div>					
			
            <div class="g144 m5">
				<p>
					
				</p>
			</div>
            <div class="g720 m5">
				<p>
							<a wicket:id="cancel"  class="button gray">
                                    <span>
                                        <wicket:message key="cancel">[cancel]</wicket:message>
                                    </span>
                            </a>
                            <a wicket:id="addAddress"  class="button gray">
                                    <span>
                                        <wicket:message key="create">[create]</wicket:message>
                                    </span>
                            </a>					
				</p>
			</div>		
			
            <div class="g144 m5">
				<p>
					
				</p>
			</div>
            <div class="g720 m5">
				<p>
					
				</p>
			</div>				
        </div>
		<div class="column grid_1">
            
        </div>
    </div>
             

            </form>
	
	<div class="row gr">
        <div class="column grid_16 gr">
            <p>
                &nbsp;
            </p>
        </div>
    </div>
</div>



</body>
</html>