<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <form wicket:id="selectAddressForm">
        <table>
            <tr>
                <td colspan="2">
                    <span wicket:id="addressTitle">[type dependend message]</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <a wicket:id="createLink">
                    <span>
                        <wicket:message key="create">[create]</wicket:message>
                    </span>
                    </a>
                </td>
            </tr>
            <tr wicket:id="addressList">
                <td>
                    <div wicket:id="addrLine1">[line 1]</div>
                    <div wicket:id="addrLine2">[line 2]</div>
                    <div wicket:id="addrLine3">[line 3]</div>
                    <div wicket:id="addrLine4">[line 4]</div>
                    <div wicket:id="addrLine5">[line 5]</div>
                </td>
                <td valign="top">
                    <a wicket:id="deleteLink">
                    <span>
                        <wicket:message key="delete">[delete]</wicket:message>
                    </span>
                    </a>
                    <a wicket:id="editLink">
                    <span>
                        <wicket:message key="edit">[edit]</wicket:message>
                    </span>
                    </a>
                </td>
            </tr>
        </table>
    </form>

    <form wicket:id="editAddressForm">

    </form>

</wicket:panel>
</body>
</html>