<div class="row">
  <div>
    <h1 class="page-header">{{ 'PANEL_SYSTEM_INDEX' | translate }} {{ selectedShop != null ? (' / ' + selectedShop.name) : '' }}</h1>
  </div>

  <div class="text-right data-control">

    <button type="button" (click)="onReindexAll()" [disabled]="jobRunning" class="btn btn-info btn-circle btn-xl" title="{{ 'MODAL_BUTTON_INDEXALL' | translate }}">
      <i class="fa fa-gears"></i>
    </button>

    <button type="button" (click)="onReindexOne()" [disabled]="jobRunning || (selectedShop == null)" class="btn btn-info btn-circle btn-xl" title="{{ 'MODAL_BUTTON_INDEXONE' | translate }}">
      <i class="fa fa-gear"></i>
    </button>

    <button type="button" (click)="onRefreshResults()" [hidden]="jobCompleted == false" class="btn btn-danger btn-circle btn-xl" >
      <i class="fa fa-refresh"></i>
    </button>

  </div>

  <div *ngIf="jobRunning">
    <p class="bg-warning text-padding">{{ 'REINDEX_MESSAGE' | translate }}</p>
  </div>

  <div *ngIf="jobCompleted">
    <p class="{{ jobStatus.completion == 'OK' ? 'bg-success' : 'bg-danger' }} text-padding">{{ ('REINDEX_COMPLETED_' + jobStatus.completion) | translate }}</p>
  </div>


  <div [hidden]="jobStatus != null">
    <yc-shop-select [showNewLink]="false" (dataSelected)="selectShop($event)"></yc-shop-select>
  </div>

  <div [hidden]="jobStatus == null" class="{{ jobRunning ? 'running-job-log' : 'finished-job-log' }}">
    <textarea class="job-log" [ngModel]="lastReport"></textarea>
  </div>

</div>
