<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= APP_BASE %>">
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= APP_TITLE %></title>
  <meta name="description" content="YC JAM">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>

  <yc-app>
    <div class="container gear-top">
      <div class="row gear-bottom">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 vcenter">
          <form class="whitebg" name="loginForm" action="" method="GET">

            <div class="text-center clearfix">
              <a href="http://yes-cart.org" target="_blank">
                <img border="0" src="<%= APP_BASE %>assets/img/logo-button-100x100.png"/>
              </a>
            </div>

            <div class="text-center clearfix">
              <img border="0" src="<%= APP_BASE %>assets/img/ajax-loader.gif"/>
            </div>

            <div class="input-group input-sm">
              Powered by <a href="http://yes-cart.org" target="_blank">YC - pure <sup>e</sup>Commerce</a><br/>
              &copy; YesCart.org 2009 - <script>document.write(new Date().getFullYear())</script>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Plain spinner
        <div id="overlay"><img id="loading" src="<%= APP_BASE %>assets/img/ajax-loader.gif"></div>
     -->
  </yc-app>

  <script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

  <!-- shims:js -->
  <!-- endinject -->

  <% if (BUILD_TYPE === 'dev') { %>
  <script src="<%= APP_BASE %>app/system-config.js"></script>
  <% } %>

  <!-- libs:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

  <% if (BUILD_TYPE === 'dev') { %>
  <script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e,
        'Report this error at http://www.inspire-software.com/jira/browse/YC');
    });
  </script>
  <% } %>

</body>
</html>
