
<div id="sidebar-logo">
  Powered by<br/>
  <a href="http://yes-cart.org" target="_blank">YC - pure <sup>e</sup>Commerce</a>
</div>


<div id="sidebar-login">
  <span>{{ 'LOGGED_IN' | translate: { user: currentUserName } }}</span>
  <a href="../j_spring_security_logout">
    <i class="fa fa-power-off "></i>
  </a>
</div>


<accordion [closeOthers]="true">

  <accordion-group>
    <div accordion-heading>{{ 'PANEL_CUSTOMER_SERVICE' | translate }}</div>
    <ul class="nav nav-second-level">
      <li>
        <a [routerLink]="['/Home']">TODO: {{ 'PANEL_CUSTOMER_SERVICE_ORDERS' | translate }}</a>
      </li>
      <li>
        <a [routerLink]="['/Home']">TODO: {{ 'PANEL_CUSTOMER_SERVICE_PAYMENTS' | translate }}</a>
      </li>
      <li>
        <a [routerLink]="['/Home']">TODO: {{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }}</a>
      </li>
    </ul>
  </accordion-group>


  <accordion-group>
    <div accordion-heading>{{ 'PANEL_PIM' | translate }}</div>
    <ul class="nav nav-second-level">
      <li>
        <a [routerLink]="['/catalog']">{{ 'PANEL_PIM_CATEGORIES' | translate }}</a>
      </li>
      <li>
        <a [routerLink]="['/Home']">TODO: {{ 'PANEL_PIM_PRODUCTS' | translate }}</a>
      </li>
    </ul>
  </accordion-group>

  <accordion-group>
    <div accordion-heading>{{ 'PANEL_SHIPPING' | translate }}</div>
    <ul class="nav nav-second-level">
      <li>
        <a [routerLink]="['/shipping']">{{ 'PANEL_SHIPPING_CARRIERS' | translate }}</a>
      </li>
      <li>
        <a [routerLink]="['/locations']">{{ 'PANEL_SHIPPING_LOCATIONS' | translate }}</a>
      </li>
    </ul>
  </accordion-group>

  <accordion-group>
    <div accordion-heading>{{ 'PANEL_SHOPS' | translate }}</div>
    <yc-shop-list (shopEditTask)="selectCurrentShop($event)"></yc-shop-list>
  </accordion-group>

  <accordion-group>
    <div accordion-heading>{{ 'PANEL_HELP' | translate }}</div>
    <ul class="nav nav-second-level">
      <li>
        <a [routerLink]="['/license']">{{ 'PANEL_HELP_LICENSE' | translate }}</a>
      </li>
      <li>
        <a href="http://www.inspire-software.com/confluence/display/YC3EN/YC+3.x.x+Wiki" target="_blank">{{ 'PANEL_HELP_DOCS' | translate }}</a>
      </li>
      <li>
        <a href="http://www.yes-cart.org" target="_blank">YesCart.org</a>
      </li>
    </ul>
  </accordion-group>


<!--
  <accordion-group heading="Dynamic Body Content">
    <p>The body of the accordion group grows to fit the contents</p>
    <button type="button" class="btn btn-primary btn-sm" (click)="addItem()">Add Item</button>
    <div *ngFor="#item of items">{{item}}</div>
  </accordion-group>
-->
<!--
  <accordion-group #group [isOpen]="status.open">
    <div accordion-heading>
      I can have markup, too!
      <i class="pull-right glyphicon"
         [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
    </div>
    This is just some content to illustrate fancy headings.
  </accordion-group>
-->
</accordion>



<!--
<ul class="nav in" [closeOthers]="oneAtATime">


  <ul class="nav in" accordion>
    <li>
      <a [routerLink]="['/Home']"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
    </li>
    <li>
      <a [routerLink]="['/About']"><i class="fa fa-dashboard fa-fw"></i> About</a>
    </li>
  </ul>
</ul>
-->
