<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <form wicket:id="passwordForm">
		<div class="g864 m5 menu"  style="border: solid 1px #d6d6d6;">
			<p>
				<span><wicket:message key="password">[change password]</wicket:message></span>
			</p>
		</div>
		
		<div class="g864 m5">
			<p>
				<wicket:message key="changePassword">[change password]</wicket:message>
			</p>
		</div>
		
		<div class="g864 m5">
			<p>
                <a wicket:id="saveLink">
                    <span>
                        <wicket:message key="save">[save]</wicket:message>
                    </span>
                </a>
			</p>
		</div>		
	
    </form>
</wicket:panel>
</body>
</html>