<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <form wicket:id="shippingForm">
        <div class="row">
            <div class="g72 m5">
                <p>&nbsp;
                </p>
            </div>

            <div class="g216 m5">
                <p>
                    <wicket:message key="carrier">[Carrier]</wicket:message>
                </p>

            </div>
            <div class="g360 m5">
                <p>
                    <select wicket:id="carrier" class="input-select"/>
                </p>
            </div>
            
        </div>

        <div class="row">
            <div class="g72 m5">
                <p>&nbsp;
                </p>
            </div>

            <div class="g216 m5">
                <p>
                    <wicket:message key="carrierSla">[Carrier SLA]</wicket:message>
                </p>

            </div>
            <div class="g576 m5">
                <p>
                    <select wicket:id="carrierSla" class="input-select"/>
                </p>

            </div>
        </div>
		
		<div class="row">
		<div class="g504 m5">
                <p>&nbsp;
                </p>
            </div>
		<div class="g144 m5"  style="  font-size:16px; margin-top: 5px; padding-top: 10px;	">
                <p>&nbsp;
                    <wicket:container wicket:id="priceView">
                        [price]
                    </wicket:container>
                </p>
            </div>
		</div>

    </form>
</wicket:panel>
</body>
</html>