<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>

    <table align="center" width="800" cellpadding="0" cellspacing="0">
        <tr>
            <td><span wicket:id="feedback"/></td>
        </tr>
        <tr>
            <td>
                <form wicket:id="registerForm">
                    <table>
                        <tr>
                            <td colspan="2">
                                <span><wicket:message key="newUser">[new user]</wicket:message></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <wicket:message key="email">[user email]</wicket:message>
                            </td>
                            <td><input type="text" wicket:id="email"/></td>
                        </tr>
                        <tr>
                            <td>
                                <wicket:message key="firstname">[first name]</wicket:message>
                            </td>
                            <td><input type="text" wicket:id="firstname"/></td>
                        </tr>
                        <tr>
                            <td>
                                <wicket:message key="lastname">[last name]</wicket:message>
                            </td>
                            <td><input type="text" wicket:id="lastname"/></td>
                        </tr>
                        <tr>
                            <td>
                                <wicket:message key="phone">[phone]</wicket:message>
                            </td>
                            <td><input type="text" wicket:id="phone"/></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <input type="submit" wicket:id="registerBtn" wicket:message="value:register"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>
</wicket:panel>
</body>
</html>