<p style="font-family:sans-serif;font-size:14px;font-weight:normal;text-transform:none;margin-top:0;margin-bottom:20px;color:#464951;text-align:left;">
    Contact form message by <%out.print(additionalData.email)%> in
    <% if (shopSecureUrl != null && !shopSecureUrl.isEmpty()) { %>
    <a href="<%out.print(shopSecureUrl.iterator().next())%>">$shopName</a>
    <% } else { %>
    $shopName
    <% }%>
    shop.
    <br>
    <b>Subject:</b> <%out.print(additionalData.subject)%>
    <br>
    <b>Message:</b>
    <br>
    <%out.print(additionalData.body)%>
</p>
