<div class="row">
  <div>
    <h1 class="page-header">{{ 'PANEL_MARKETING_TAX' | translate }} /
      <button type="button" (click)="onShopSelect()" [disabled]="viewMode !== 'taxes'" class="btn {{ selectedShop != null ? 'btn-default' : 'btn-danger' }} btn-circle" title="{{ 'MODAL_BUTTON_SELECTSHOP' | translate }}">
        <i class="fa fa-home"></i>
      </button>
      {{ selectedShop != null ? selectedShop.name : '' }} /
      <button type="button" (click)="onCurrencySelect()" [disabled]="selectedShop == null || viewMode !== 'taxes'" class="btn {{ selectedCurrency != null ? 'btn-default' : 'btn-danger' }} btn-circle" title="{{ 'MODAL_BUTTON_SELECTCURRENCY' | translate }}">
        <i class="fa fa-dollar"></i>
      </button>
      {{ selectedCurrency != null ? selectedCurrency : ''}} {{ selectedTax ? (' / ' + selectedTax.description) : '' }}
    </h1>
  </div>


  <div class="row data-control">

    <div class="col-xs-12 col-md-4 col-lg-5 padding-lr-0" [hidden]="viewMode !== 'taxes'">
      <form class="width-100">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" (click)="onSearchHelpToggleTax()" class="btn {{ searchHelpTaxShow ? 'btn-info' : 'btn-default' }} btn-circle btn-xl" title="{{ 'MODAL_BUTTON_HELPFILTER' | translate }}">
              <i class="fa fa-question-circle-o"></i>
            </button>
            <button type="button" (click)="sortSelectModal.showDialog()" class="btn {{ taxes.searchContext.sortBy ? 'btn-info' : 'btn-default' }} btn-square btn-xl" title="{{ 'MODAL_BUTTON_HELPSORT' | translate }}">
              <i class="fa fa-sort-amount-asc"></i>
            </button>
          </span>
          <input class="form-control filter-input" type="text" name="taxesFilter" [(ngModel)]="taxesFilter" (ngModelChange)="onTaxFilterChange($event)" autocomplete="off"/>
          <span class="input-group-btn">
            <button class="btn btn-default btn-circle btn-xl" type="button" (click)="onClearFilterTax()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
              <i class="fa fa-times-circle-o"></i>
            </button>
          </span>
        </div>
      </form>
    </div>

    <div class="col-xs-12 {{ viewMode !== 'pricelisttest' ? 'col-md-8 col-lg-7' : '' }} padding-lr-0 button-panel">

      <button type="button" (click)="onBackToList()" [hidden]="viewMode === 'taxes'" class="btn btn-info btn-circle btn-xl" title="{{ 'MODAL_BUTTON_BACK' | translate }}">
        <i class="fa fa-chevron-left"></i>
      </button>

      <button type="button" (click)="onTestRules()" [disabled]="selectedShop == null" class="btn  {{ viewMode === 'pricelisttest' ? 'btn-success' : 'btn-default' }} btn-circle btn-xl" title="{{ 'TEST' | translate }}">
        <i class="fa fa-play"></i>
      </button>

      <button type="button" (click)="onRowNew()" [disabled]="selectedShop == null || viewMode !== 'taxes'" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_CREATE' | translate }}">
        <i class="fa fa-plus"></i>
      </button>

      <button type="button" (click)="onRowCopySelected()" [disabled]="selectedTax == null || viewMode !== 'taxes'" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_COPY' | translate }}">
        <i class="fa fa-copy"></i>
      </button>

      <button type="button" (click)="onRowEditSelected()" [disabled]="selectedTax == null || viewMode !== 'taxes'" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_EDIT' | translate }}">
        <i class="fa fa-edit"></i>
      </button>

      <button type="button" (click)="onRowDeleteSelected()" [disabled]="selectedTax == null || (taxEdit != null && taxEdit.taxId === 0)" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELETE' | translate }}">
        <i class="fa fa-remove"></i>
      </button>

      <cw-data-control (refreshEvent)="onRefreshHandler()"></cw-data-control>

    </div>

  </div>

  <div *ngIf="searchHelpTaxShow">
    <div class="bg-info text-padding block-margin-spacer">
      <p>{{ 'SEARCH_HELP_TAX_DEFAULT' | translate }}</p>
      <p>{{ 'SEARCH_HELP_TAX_RATE' | translate }} <span><button type="button" (click)="onSearchRate()" class="btn btn-default btn-circle"><i class="fa fa-calculator"></i></button></span></p>
      <p>{{ 'SEARCH_HELP_TAX_TYPE' | translate }} <span><button type="button" (click)="onSearchType()" class="btn btn-default btn-circle"><i class="fa fa-adjust"></i></button></span></p>
    </div>
  </div>

  <div *ngIf="selectedShop == null">
    <p class="bg-danger text-padding">
      {{ 'SHOP_SELECTION_REQUIRED' | translate }}
      <span>
        <button type="button" (click)="onShopSelect()" class="btn btn-default btn-circle"><i class="fa fa-home"></i></button>
      </span>
    </p>
  </div>

  <div *ngIf="selectedShop != null && selectedCurrency == null">
    <p class="bg-danger text-padding">
      {{ 'CURRENCY_SELECTION_REQUIRED' | translate }}
      <span>
        <button type="button" (click)="onCurrencySelect()" class="btn btn-default btn-circle"><i class="fa fa-dollar"></i></button>
      </span>
    </p>
  </div>

  <div [hidden]="viewMode !== 'taxes'" class="{{ loading ? 'loading-data' : '' }}">
    <cw-taxes [taxes]="taxes" [selectedShopCode]="selectedShopCode"
              (dataSelected)="onTaxSelected($event)"
              (pageSelected)="onPageSelected($event)"
              (sortSelected)="onSortSelected($event)"></cw-taxes>
  </div>

  <div [hidden]="viewMode !== 'pricelisttest'"  class="{{ loading ? 'loading-data' : '' }}">
    <cw-promotion-test-result [cart]="testCart"></cw-promotion-test-result>
  </div>

  <cw-modal #deleteConfirmationModalDialog
            title="{{ 'MODAL_CONFIRM_TITLE' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_DELETE' | translate }}"
            [valid]="true"
            (closed)="onDeleteConfirmationResult($event)">
    {{ 'MODAL_CONFIRM_DELETE' | translate:{value: deleteValue } }}
  </cw-modal>


  <cw-modal #editTaxModalDialog
            title="{{ taxEdit != null ? taxEdit.code : '' }}"
            footer="{{ taxEdit?.updatedTimestamp | cwdatetime }} {{ taxEdit?.updatedBy }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_OK' | translate }}"
            [valid]="validForSaveTax"
            (closed)="onEditTaxResult($event)">

    <ng-template [ngIf]="taxEdit">
      <form role="form" [formGroup]="taxEditForm">
        <fieldset>
          <div class="row">
            <div class="col-xs-3">{{ 'CODE' | translate }}</div>
            <div class="col-xs-9">
              <input class="form-control" formControlName="code" name="code" type="text" [(ngModel)]="taxEdit.code">
              <div [hidden]="taxEditForm.controls['code'].valid || taxEditForm.controls['code'].pristine" class="alert alert-danger">
                <div [hidden]="!taxEditForm.controls['code'].hasError('checking')">
                  {{ 'REMOTE_CHECK' | translate }}
                </div>
                <div [hidden]="!taxEditForm.controls['code'].hasError('DUPLICATE')">
                  {{ 'UNIQUE_REQUIRED' | translate }}
                </div>
                <div [hidden]="!taxEditForm.controls['code'].hasError('maxlength')">
                  {{ 'MAXLENGTH_REQUIRED' | translate:{value: 36} }}
                </div>
                {{ 'ALPHANUM_REQUIRED' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">{{ 'DESCRIPTION' | translate }}</div>
            <div class="col-xs-9">
              <input class="form-control" formControlName="description" name="description" type="text" [(ngModel)]="taxEdit.description">
              <div [hidden]="taxEditForm.controls['description'].valid || taxEditForm.controls['description'].pristine" class="alert alert-danger">
                {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">{{ 'TAX_SHOP_CODE' | translate }}</div>
            <div class="col-xs-9">
              <input class="form-control" formControlName="shopCode" name="shopCode" type="text" [(ngModel)]="taxEdit.shopCode" [readonly]="true">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">{{ 'CURRENCY' | translate }}</div>
            <div class="col-xs-9">
              <input class="form-control" formControlName="currency" name="currency" type="text" [(ngModel)]="taxEdit.currency" [readonly]="true">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">{{ 'TAX_RATE' | translate }}</div>
            <div class="col-xs-9">
              <input class="form-control" formControlName="taxRate" name="taxRate" type="text" [(ngModel)]="taxEdit.taxRate">
              <div [hidden]="taxEditForm.controls['taxRate'].valid || taxEditForm.controls['taxRate'].pristine" class="alert alert-danger">
                {{ 'TAX_REQUIRED' | translate }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">{{ 'TAX_TYPE' | translate }}</div>
            <div class="col-xs-9">
              <select class="form-control" formControlName="exclusiveOfPrice" name="exclusiveOfPrice" [(ngModel)]="taxEdit.exclusiveOfPrice">
                <option value="true">{{ 'TAX_TYPE_EXCLUSIVE' | translate }}</option>
                <option value="false">{{ 'TAX_TYPE_INCLUSIVE' | translate }}</option>
              </select>
            </div>
          </div>
        </fieldset>
      </form>
    </ng-template>
  </cw-modal>


  <cw-modal #selectShopModalDialog
            title="{{ 'PANEL_SHOPS' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_SELECT' | translate }}"
            [valid]="selectedShop != null"
            (closed)="onSelectShopResult($event)">

    <div class="item-list-overflow">
      <cw-shop-select [showNewLink]="false" (dataSelected)="onShopSelected($event)"></cw-shop-select>
    </div>
  </cw-modal>

  <cw-modal #selectCurrencyModalDialog
            title="{{ 'CURRENCY' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_SELECT' | translate }}"
            [valid]="selectedCurrency != null"
            (closed)="onSelectCurrencyResult($event)">

    <div class="item-list-overflow">
      <cw-currency-select [shop]="selectedShop" (dataSelected)="onCurrencySelected($event)"></cw-currency-select>
    </div>
  </cw-modal>

  <cw-promotion-test-config #runTestModalDialog (dataConfigured)="onRunTestResult($event)"></cw-promotion-test-config>

  <cw-sort-select #sortSelectModal
                  [sortColumn]="taxes.searchContext.sortBy"
                  [sortDesc]="taxes.searchContext.sortDesc"
                  [availableOptions]=" ([
                      { key: 'code', messageKey: 'CODE' },
                      { key: 'taxRate', messageKey: 'TAX_RATE' },
                      { key: 'exclusiveOfPrice', messageKey: 'TAX_TYPE' }
                  ]) "
                  (sortSelected)="onSortSelected($event)"></cw-sort-select>
</div>
