<div class="row">
  <div>
    <h1 class="page-header">{{ 'PANEL_CUSTOMER_SERVICE_ORDERS' | translate }} {{ orderTransitionNumber ? (' / ' + orderTransitionNumber) : '' }}</h1>
  </div>


  <div class="row data-control">

    <div class="col-xs-12 col-md-5 padding-lr-0" [hidden]="viewMode !== 'customerorders'">
      <form class="width-100">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" (click)="onSearchHelpToggle()" class="btn {{ searchHelpShow ? 'btn-info' : 'btn-default' }} btn-circle btn-xl" title="{{ 'MODAL_BUTTON_HELPFILTER' | translate }}">
              <i class="fa fa-question-circle-o"></i>
            </button>
            <button type="button" (click)="sortSelectModal.showDialog()" class="btn {{ customerorders.searchContext.sortBy ? 'btn-info' : 'btn-default' }} btn-square btn-xl" title="{{ 'MODAL_BUTTON_HELPSORT' | translate }}">
              <i class="fa fa-sort-amount-asc"></i>
            </button>
            <button type="button" (click)="onForceShowAll()" class="btn {{ forceShowAll ? 'btn-danger' : 'btn-default' }} btn-square btn-xl " title="{{ (forceShowAll ? 'MODAL_BUTTON_ALLFILTEROFF' : 'MODAL_BUTTON_ALLFILTERON') | translate }}">
              <i class="fa fa-filter"></i>
            </button>
          </span>
          <input class="form-control filter-input" type="text" name="customerorderFilter" [(ngModel)]="customerorderFilter" (ngModelChange)="onFilterChange($event)" autocomplete="off"/>
          <span class="input-group-btn">
            <button class="btn btn-default btn-circle btn-xl" type="button" (click)="onClearFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
              <i class="fa fa-times-circle-o"></i>
            </button>
          </span>
        </div>
      </form>
    </div>

    <div class="col-xs-12 {{ viewMode === 'customerorders' ? 'col-md-7' : '' }} padding-lr-0 button-panel">

      <button type="button" (click)="onBackToList()" [hidden]="viewMode === 'customerorders'" class="btn btn-info btn-circle btn-xl" title="{{ 'MODAL_BUTTON_BACK' | translate }}">
        <i class="fa fa-chevron-left"></i>
      </button>

      <button type="button" (click)="onExportSelected()" [hidden]="selectedCustomerorder == null || !selectedCustomerorder.blockExport" class="btn btn-warning btn-circle btn-xl" title="{{ 'MODAL_BUTTON_ORDEREXPORT' | translate }}">
        <i class="fa fa-upload"></i>
      </button>

      <button type="button" (click)="onApproveValidSelected()" [hidden]="!selectedCustomerorderApprovableValid" class="btn btn-success btn-circle btn-xl" title="{{ 'MODAL_BUTTON_ORDERAPPROVEVALID' | translate }}">
        <i class="fa fa-check-square-o"></i>
      </button>

      <button type="button" (click)="onApproveSelected()" [hidden]="!selectedCustomerorderApprovable" class="btn btn-success btn-circle btn-xl" title="{{ 'MODAL_BUTTON_ORDERAPPROVE' | translate }}">
        <i class="fa fa-check"></i>
      </button>

      <button type="button" (click)="onCancelSelected()" [hidden]="!selectedCustomerorderCancellable" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_ORDERCANCEL' | translate }}">
        <i class="fa fa-ban"></i>
      </button>

      <button type="button" (click)="onReturnSelected()" [hidden]="!selectedCustomerorderReturnable" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_ORDERRETURN' | translate }}">
        <i class="fa fa-reply"></i>
      </button>

      <button type="button" (click)="onRefundSelected()" [hidden]="!selectedCustomerorderRefundable" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_ORDERREFUND' | translate }}">
        <i class="fa fa-dollar"></i>
      </button>

      <button type="button" (click)="onRefundManualSelected()" [hidden]="!selectedCustomerorderRefundableManual" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_ORDERREFUNDOFFLINE' | translate }}">
        <i class="fa fa-dollar"></i>
      </button>



      <button type="button" (click)="onRFQConfirmSelected()" [hidden]="!selectedCustomerRFQApprovable" class="btn btn-success btn-circle btn-xl" title="{{ 'MODAL_BUTTON_RFQAPPROVE' | translate }}">
        <i class="fa fa-check"></i>
      </button>

      <button type="button" (click)="onRFQCancelSelected()" [hidden]="!selectedCustomerRFQCancellable" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_RFQCANCEL' | translate }}">
        <i class="fa fa-ban"></i>
      </button>

      <button type="button" (click)="onRFQSetOfferSelected()" [hidden]="!selectedCustomerRFQOrderlineOfferable" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_RFQOFFER' | translate }}">
        <i class="fa fa-dollar"></i>
      </button>



      <button type="button" (click)="onPackDeliverySelected()" [hidden]="!selectedCustomerdeliveryPackable" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELIVERYPACK' | translate }}">
        <i class="fa fa-archive"></i>
      </button>

      <button type="button" (click)="onMarkReadyForShippingDeliverySelected()" [hidden]="!selectedCustomerdeliveryPacked" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELIVERYSHIP' | translate }}">
        <i class="fa fa-check"></i>
      </button>

      <button type="button" (click)="onStartDeliverySelected()" [hidden]="!selectedCustomerdeliveryShippable" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELIVERYSHIPPED' | translate }}">
        <i class="fa fa-truck"></i>
      </button>

      <button type="button" (click)="onShipDeliveryManualSelected()" [hidden]="!selectedCustomerdeliveryShippableManual" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELIVERYSHIPPEDOFFLINE' | translate }}">
        <i class="fa fa-truck"></i>
      </button>

      <button type="button" (click)="onMarkShippedDeliverySelected()" [hidden]="!selectedCustomerdeliveryDelivered" class="btn btn-success btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELIVERYSHIPPEDOFFLINE' | translate }}">
        <i class="fa fa-check"></i>
      </button>

      <button type="button" (click)="onUpdateDeliveryRefSelected()" [hidden]="!selectedCustomerdeliveryTrackable" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELIVERYREF' | translate }}">
        <i class="fa fa-external-link"></i>
      </button>



      <button type="button" (click)="onNotesSelected()" [hidden]="!selectedCustomerorderNotable" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_ORDERNOTES' | translate }}">
        <i class="fa fa-sticky-note-o" style="background: #FFFF88;"></i>
      </button>



      <button type="button" (click)="onRowEditSelected()" [disabled]="selectedCustomerorder == null" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_EDIT' | translate }}">
        <i class="fa fa-edit"></i>
      </button>

      <button type="button" (click)="onShowGrossTotalClick()" class="btn btn-default btn-circle btn-xl">
        <i class="fa {{showGrossTotal ? 'fa-toggle-on' : 'fa-toggle-off'}}" title="{{ (showGrossTotal ? 'CUSTOMERORDER_TOTAL_NO_TAX' : 'CUSTOMERORDER_TOTAL_WITH_TAX') | translate }}"></i>
      </button>

      <cw-data-control [changed]="changed"
                       [valid]="validForSave"
                       (saveEvent)="onSaveHandler()"
                       (discardEvent)="onDiscardEventHandler()"
                       (refreshEvent)="onRefreshHandler()"></cw-data-control>

    </div>

  </div>

  <div [hidden]="viewMode !== 'customerorders'" class="{{ loading ? 'loading-data' : '' }}">

    <div *ngIf="searchHelpShow">
      <div class="bg-info text-padding block-margin-spacer">
        <p>{{ 'SEARCH_HELP_CUSTOMER_ORDERS_ALL' | translate }} <span><button type="button" (click)="onSearchStatusAllOrders()" class="btn btn-default btn-circle"><i class="fa fa-arrows-alt"></i></button></span> <span class="text-muted">{{ 'SEARCH_HELP_CUSTOMER_RFQ_ALL' | translate }} <span><button type="button" (click)="onSearchStatusAllRFQ()" class="btn btn-default btn-circle"><i class="fa fa-arrows-alt"></i></button></span></span> <span class="label label-info">SaaS</span></p>
        <ul><li *ngFor="let status of statuses"><input type="checkbox" name="{{status.first}}" [(ngModel)]="status.second" (ngModelChange)="onFilterChange($event)"/> {{status.first | translate }}</li></ul>
        <p>{{ 'SEARCH_HELP_CUSTOMER_ORDERS_DEFAULT' | translate }}</p>
        <p>{{ 'SEARCH_HELP_CUSTOMER_ORDERS_OPEN' | translate }} <span><button type="button" (click)="onSearchStatusOpen()" class="btn btn-default btn-circle"><i class="fa fa-exclamation"></i></button></span></p>
        <p>{{ 'SEARCH_HELP_CUSTOMER_ORDERS_PAYMENT' | translate }} <span><button type="button" (click)="onSearchStatusPayment()" class="btn btn-default btn-circle"><i class="fa fa-dollar"></i></button></span></p>
        <p>{{ 'SEARCH_HELP_CUSTOMER_ORDERS_CANCELLED' | translate }} <span><button type="button" (click)="onSearchStatusCancelled()" class="btn btn-default btn-circle"><i class="fa fa-remove"></i></button></span></p>
        <p>{{ 'SEARCH_HELP_CUSTOMER_ORDERS_COMPLETED' | translate }} <span><button type="button" (click)="onSearchStatusCompleted()" class="btn btn-default btn-circle"><i class="fa fa-check"></i></button></span></p>
        <p>{{ 'SEARCH_HELP_CUSTOMER_ORDERS_NUMBER' | translate }} <span><button type="button" (click)="onSearchNumber()" class="btn btn-default btn-circle"><i class="fa fa-tag"></i></button></span></p>
        <p>{{ 'SEARCH_HELP_CUSTOMER_ORDERS_CUSTOMER' | translate }} <span><button type="button" (click)="onSearchCustomer()" class="btn btn-default btn-circle"><i class="fa fa-user"></i></button></span></p>
        <p>{{ 'SEARCH_HELP_CUSTOMER_ORDERS_ADDRESS' | translate }} <span><button type="button" (click)="onSearchAddress()" class="btn btn-default btn-circle"><i class="fa fa-home"></i></button></span></p>
        <p>{{ 'SEARCH_HELP_CUSTOMER_ORDERS_ID' | translate }} <span><button type="button" (click)="onSearchId()" class="btn btn-default btn-circle"><i class="fa fa-asterisk"></i></button></span></p>
        <p>{{ 'SEARCH_HELP_CALENDAR' | translate }} <span><button type="button" (click)="onSearchDate()" class="btn btn-default btn-circle"><i class="fa fa-calendar"></i></button></span></p>
        <p>{{ 'SEARCH_HELP_CUSTOMER_ORDERS_RESERVED' | translate }} <span><button type="button" (click)="onSearchReserved()" class="btn btn-default btn-circle"><i class="fa fa-tag"></i></button></span></p>
        <p>{{ 'SEARCH_HELP_CUSTOMER_SHOP' | translate }} <span><button type="button" (click)="onSearchInshop()" class="btn btn-default btn-circle"><i class="fa fa-home"></i></button></span></p>
      </div>
    </div>

    <div *ngIf="customerorderFilterRequired">
      <p class="bg-danger text-padding">{{ 'FILTER_REQUIRED' | translate }}</p>
    </div>

    <cw-customerorders [customerorders]="customerorders"
                       (dataSelected)="onCustomerorderSelected($event)"
                       (pageSelected)="onPageSelected($event)"
                       (sortSelected)="onSortSelected($event)"></cw-customerorders>
  </div>

  <div [hidden]="viewMode !== 'customerorder'" class="{{ loading ? 'loading-data' : '' }}">
    <cw-customerorder [customerorder]="customerorderEdit"
                      (dataSelected)="onCustomerdeliverySelected($event)"></cw-customerorder>
  </div>

  <cw-modal #orderTransitionConfirmationModalDialog
            title="{{ 'MODAL_CONFIRM_TITLE' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_OK' | translate }}"
            [valid]="orderTransitionValid"
            (closed)="onOrderTransitionConfirmationResult($event)">

    <form role="form">
      <fieldset>
        <div class="row">
          <div class="col-xs-12" [hidden]="!orderTransitionNameOfflineNote">
            <p class="bg-danger text-padding">{{ orderTransitionName + '.offlinenote' | translate }}</p>
          </div>
          <div class="col-xs-12">
            <p class="bg-info text-padding">{{ orderTransitionName | translate:{order: orderTransitionNumber } }}</p>
          </div>
        </div>
        <div class="row" [hidden]="!orderTransitionRequiresParam1">
          <div class="col-lg-3">{{ ('CUSTOMERORDER_MANUAL_TRANSITION_PARAM_' + orderTransitionParam1Key) | translate }}</div>
          <div class="col-lg-9">
            <input class="form-control" name="orderTransitionParam1Value" type="text" [(ngModel)]="orderTransitionParam1Value" (ngModelChange)="onTransitionMessageChange($event)" autocomplete="off">
          </div>
        </div>
        <div class="row" [hidden]="!orderTransitionRequiresParam2">
          <div class="col-lg-3">{{ ('CUSTOMERORDER_MANUAL_TRANSITION_PARAM_' + orderTransitionParam2Key) | translate }}</div>
          <div class="col-lg-9">
            <input class="form-control" name="orderTransitionParam2Value" type="text" [(ngModel)]="orderTransitionParam2Value" (ngModelChange)="onTransitionMessageChange($event)" autocomplete="off">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">{{ 'CUSTOMERORDER_MANUAL_TRANSITION_MESSAGE' | translate }}</div>
          <div class="col-lg-9">
            <textarea class="form-control" name="orderTransitionMessage" [(ngModel)]="orderTransitionMessage" (ngModelChange)="onTransitionMessageChange($event)" rows="3" autocomplete="off"></textarea>
          </div>
        </div>
        <div class="row" [hidden]="!orderTransitionSupportsClientMessage">
          <div class="col-lg-3"><span class="text-danger">{{ 'CUSTOMERORDER_MANUAL_TRANSITION_CLIENT_MESSAGE' | translate }}</span></div>
          <div class="col-lg-9">
            <textarea class="form-control" name="orderTransitionClientMessage" [(ngModel)]="orderTransitionClientMessage" (ngModelChange)="onTransitionMessageChange($event)" rows="3" autocomplete="off"></textarea>
          </div>
        </div>
      </fieldset>
    </form>
  </cw-modal>

  <cw-modal #orderExportModalDialog
            title="{{ 'CUSTOMERORDER_EXPORT_CONFIRM_TITLE' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_OK' | translate }}"
            [valid]="true"
            (closed)="onExportSelectedOption($event)">

    <form role="form">
      <fieldset>
        <div class="row" *ngIf="selectedCustomerorder != null">
          <div class="col-xs-12"><strong>{{ selectedCustomerorder.ordernum }}</strong></div>
          <div class="col-xs-12">{{ 'CUSTOMERORDER_EXPORT_NEXT' | translate }}: {{ selectedCustomerorder.eligibleForExport }}</div>
          <div class="col-xs-12">
            {{ 'CUSTOMERORDER_EXPORT_LAST' | translate }}: {{ selectedCustomerorder.lastExportOrderStatus | translate }} {{ selectedCustomerorder.lastExportDate | cwdatetime }}&nbsp;
            <pre *ngIf="selectedCustomerorder.lastExportStatus != null">{{ selectedCustomerorder.lastExportStatus }}</pre>
          </div>
          <div class="col-xs-6">
            <input name="exportAction" type="radio" [value]="'PROCEED'" [(ngModel)]="exportAction" /> {{ 'CUSTOMERORDER_EXPORT_NEXT_PROCEED' | translate }}
          </div>
          <div class="col-xs-6">
            <input name="exportAction" type="radio" [value]="'CANCEL'" [(ngModel)]="exportAction" /> {{ 'CUSTOMERORDER_EXPORT_NEXT_CANCEL' | translate }}
          </div>
        </div>
      </fieldset>
    </form>
  </cw-modal>


  <cw-modal #orderExportConfirmationModalDialog
            title="{{ 'CUSTOMERORDER_EXPORT_CONFIRM_TITLE' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_OK' | translate }}"
            [valid]="true"
            (closed)="onExportSelectedConfirmed($event)">
    <div class="row" *ngIf="selectedCustomerorder != null">
      <div class="col-xs-12">{{ 'CUSTOMERORDER_EXPORT_NEXT' | translate }} <strong>{{ selectedCustomerorder.ordernum }}</strong> =&gt; {{ selectedCustomerorder.eligibleForExport }}</div>
      <div class="col-xs-12"><p class="{{ exportAction == 'PROCEED' ? 'bg-warning' : 'bg-danger' }} text-padding block-margin-spacer">{{ ('CUSTOMERORDER_EXPORT_NEXT_TIP_' + exportAction) | translate }}</p></div>
    </div>
  </cw-modal>

  <cw-sort-select #sortSelectModal
                  [sortColumn]="customerorders.searchContext.sortBy"
                  [sortDesc]="customerorders.searchContext.sortDesc"
                  [availableOptions]=" ([
                      { key: 'ordernum', messageKey: 'CUSTOMERORDER_NUM' },
                      { key: 'orderTimestamp', messageKey: 'CUSTOMERORDER_DATE' },
                      { key: 'email', messageKey: 'CUSTOMER_EMAIL' },
                      { key: 'phone', messageKey: 'CUSTOMER_PHONE' }
                  ]) "
                  (sortSelected)="onSortSelected($event)"></cw-sort-select>
</div>
