<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <table border="1">
        <tr>
            <td wicket:id="products">
                <a wicket:id="productLinkImage"   class="image-border">
                    <img wicket:id="productDefaultImage" hspace="5" vspace="5"/>
                </a>
                <a wicket:id="productLinkName">
                    <span wicket:id="name"/>
                </a>
            </td>
        </tr>
    </table>
</wicket:panel>
</body>
</html>