<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <table border="1" width="200">
        <tr>
            <td>
                <a wicket:id="skuCodeLink">
                    <span wicket:id="skuCode">[sku code]</span>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a wicket:id="skuNameLink">
                    <span wicket:id="skuName">[name]</span>
                </a>
            </td>
        </tr>
    </table>
</wicket:panel>
</body>
</html>