<div>

  <section class="no-more-tables">
    <table class="table-bordered table-striped table-condensed cf">
      <thead class="cf">
      <tr>
        <th>{{ 'PAYMENT_DATE' | translate }}</th>
        <th>{{ 'PAYMENT_ORDER' | translate }}</th>
        <th>{{ 'PAYMENT_DELIVERY' | translate }}</th>
        <th>{{ 'PAYMENT_OPERATION' | translate }}</th>
        <th>{{ 'PAYMENT_RESULT_CODE' | translate }}</th>
        <th>{{ 'PAYMENT_DETAILS' | translate }}</th>
        <th>{{ 'PAYMENT_AMOUNT' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of filteredPayments; let i = index" class="{{row == selectedPayment ? 'active' : ''}}">
        <template [ngIf]=" ( i >= pageStart &&  i < pageEnd )">
          <td title="{{ 'PAYMENT_DATE' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{ row.createdTimestamp | ycdatetime }}</a></td>
          <td title="{{ 'PAYMENT_ORDER' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{ row.orderNumber }}</a></td>
          <td title="{{ 'PAYMENT_DELIVERY' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{ row.orderShipment }}</a>&nbsp;</td>
          <td title="{{ 'PAYMENT_OPERATION' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{ row.transactionGatewayLabel }} / {{ row.transactionOperation }}</a></td>
          <td title="{{ 'PAYMENT_RESULT_CODE' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{ ('PAYMENT_RESULT_' + row.paymentProcessorResult) | translate }} {{ row.transactionOperationResultCode }}</a> <span *ngIf="row.transactionOperationResultMessage"><i title="{{ row.transactionOperationResultMessage }}" class="fa fa-info-circle"></i></span>&nbsp;</td>
          <td title="{{ 'PAYMENT_DETAILS' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{ row.transactionReferenceId }}</a> <span *ngIf="row.cardHolderName"><i title="{{ row.cardHolderName }}, {{row.cardNumber}} {{ row.cardExpireMonth }}/{{ row.cardExpireYear }}" class="fa fa-credit-card"></i></span></td>
          <td title="{{ 'PAYMENT_AMOUNT' | translate }}" class="text-right"><a class="js-click" (click)="onSelectRow(row)">{{ row.orderCurrency }} {{ row.paymentAmount | ycprice }}</a></td>
        </template>
      </tr>
      </tbody>
    </table>
  </section>

  <div>
    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [ngModel]="currentPage" (pageChanged)="onPageChanged($event)" class="pagination-sm"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>

</div>
