<html>

<head>
    <meta charset="UTF-8">
    <title>JAUM Yes cart update manager</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" type="text/css"/>
</head>

<body ng-app="jaumApp" class="ng-cloak">

<div class="generic-container" ng-controller="ShopController as ctrl">

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">List of Users </span></div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID.</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="u in ctrl.shops">
                    <td><span ng-bind="u.id"></span></td>
                    <td><span ng-bind="u.name"></span></td>
<!--
                    <td><span ng-bind="u.address"></span></td>
                    <td><span ng-bind="u.email"></span></td>
                    <td>
                        <button type="button" ng-click="ctrl.edit(u.id)" class="btn btn-success custom-width">Edit</button>  <button type="button" ng-click="ctrl.remove(u.id)" class="btn btn-danger custom-width">Remove</button>
                    </td>
-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>


<script src="../angular/angular.js"></script>
<script src="../js/app.js"></script>
<script src="../js/service/shop-service.js"></script>
<script src="../js/controller/shop-controller.js"></script>
</body>
</html>
