<ul class="nav nav-second-level item-list-control">

  <li>
    <form class="row">
      <div class="col-xs-10">
        <div class="input-group">
          <input class="form-control filter-input" type="text" name="groupFilter" [(ngModel)]="groupFilter" (ngModelChange)="onFilterChange()" autocomplete="off"/>
          <span class="input-group-btn">
            <button class="btn btn-default btn-circle filter-btn" type="button" (click)="onClearFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
              <i class="fa fa-times-circle-o"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-xs-2">
        <button type="button" (click)="onRefresh()"  class="btn btn-info btn-circle" title="{{ 'MODAL_BUTTON_REFRESH' | translate }}">
          <i class="fa fa-refresh"></i>
        </button>
        <button type="button" (click)="onDownloadTemplatesClick(selectedGroup)" [disabled]="selectedGroup == null" class="btn btn-default btn-circle pull-right" title="{{ 'TAB_TEMPLATES' | translate }}">
          <i class="fa fa-download"></i>
        </button>
      </div>
    </form>
  </li>

</ul>

<ul class="nav nav-second-level item-list">

  <li *ngFor="let group of filteredGroups">
    <a (click)="onSelectClick(group)" class="{{ (selectedGroup != null && group != null && selectedGroup.name == group.name) ? 'bg-info js-click' : 'js-click' }}">{{getGroupName(group)}}</a>
  </li>

</ul>

