<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <form wicket:id="passwordForm">
        <table>
            <tr>
                <td>
                    <span><wicket:message key="password">[change password]</wicket:message></span>
                </td>
            <tr>
            </tr>
            <td>
                <wicket:message key="changePassword">[change password]</wicket:message>
            </td>
            <tr>
            </tr>
            <td>
                <a wicket:id="saveLink">
                    <span>
                        <wicket:message key="save">[save]</wicket:message>
                    </span>
                </a>
            </td>
            </tr>
        </table>
    </form>
</wicket:panel>
</body>
</html>