<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>

    <form wicket:id="cartForm">


        <table align="center" border="1">
            <tr><td colspan="5"> <div wicket:id="feedback">[feedpack panel]</div></td></tr>
            <tr><td colspan="5"><wicket:message key="productsInCart"> [products in cart] </wicket:message></td></tr>
            <tr>
                <td colspan="2" width="190">
                    <wicket:message key="product">[product]</wicket:message>
                </td>
                <td align="right" width="50">
                    <wicket:message key="price">[price]</wicket:message>
                </td>
                <td align="right" width="170">
                    <wicket:message key="qty">[qty]</wicket:message>
                </td>
                <td align="right">
                    <wicket:message key="amountMsg">[amount]</wicket:message>
                </td>
            </tr>
            <tr wicket:id="itemsList">
                <td width="90" valign="top">
                    <div>
                        <img border="0" wicket:id="defaultImage"/>
                    </div>
                </td>
                <td width="350" valign="top">
                    <a wicket:id="productLink">
                        <span wicket:id="name">[product name]</span>
                    </a>
                    <br>
                    <wicket:message key="skuNumber">
                        [remove all]
                    </wicket:message>
                    <span wicket:id="skunum">[sku number]</span>
                </td>
                <td width="50" align="right" valign="top">
                    <wicket:container wicket:id="skuPriceView">
                        [sku price]
                    </wicket:container>
                </td>
                <td width="170" nowrap align="right" valign="top">
                    <input wicket:id="quantity" type="text"/>
                    <input wicket:id="quantityButton" type="submit" value="Ok"/>
                    <a wicket:id="addOneLink">
                        <wicket:message key="addOneLink">[add one]</wicket:message>
                    </a>
                    <a wicket:id="removeOneLink">
                        <wicket:message key="removeOneLink">[remove one]</wicket:message>
                    </a>
                    <a wicket:id="removeAllLink">
                        <wicket:message key="removeAllLink">[remove all]</wicket:message>
                    </a>
                </td>
                <td align="right" valign="top">
                    <wicket:container wicket:id="lineAmountView">
                        [line amount price]
                    </wicket:container>
                </td>
            </tr>
            <tr>
                <td colspan="5" align="right">
                    <wicket:container wicket:id="subTotalView">
                        [sub total]
                    </wicket:container>
                </td>
            </tr>
        </table>
    </form>
</wicket:panel>
</body>
</html>