<div id="site-wrapper" class="{{ showNav ? 'show-nav' : ''}}">
  <div id="site-canvas">
    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">

        <div id="sidebar-logo">
          <a class="js-click btn btn-default pull-right" (click)="changeNav()"><i class="fa fa-bars"></i></a>
          Powered by<br/>
          <a href="http://yes-cart.org" target="_blank">YC - pure <sup>e</sup>Commerce</a>
        </div>

        <yc-sidebar (menuExpandRequired)="menuExpandRequired($event)"> </yc-sidebar>

      </div>
    </div>

    <div id="page-wrapper">
      <yc-topbar> </yc-topbar>
      <router-outlet class="page-content"></router-outlet>
    </div>
  </div>
</div>

<yc-login-modal></yc-login-modal>
<yc-error-modal></yc-error-modal>
<yc-license-modal></yc-license-modal>
