<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <span>Сортировка по имени</span>
    <a wicket:id="orderByNameA"><img border="0" src="images/layout/nav/arrows/up.jpg"/></a>
    <a wicket:id="orderByNameD"><img border="0" src="images/layout/nav/arrows/down.jpg"/></a>
    &nbsp;
    <span>по цене</span>
    <a wicket:id="orderByPriceA"><img border="0" src="images/layout/nav/arrows/up.jpg"/></a>
    <a wicket:id="orderByPriceD"><img border="0" src="images/layout/nav/arrows/down.jpg"/></a>
</wicket:panel>
</body>
</html>