<div [formGroup]="dateTimeForm" class="form-group">
  <label>{{ title }}</label>
  <div class="input-group">
    <span class="input-group-addon">{{ timeZoneAbbr }}</span>
    <input class="form-control" #dp="bsDatepicker" bsDatepicker triggers="disableClickOnly"
           placeholder="yyyy-MM-dd HH:mm:ss" formControlName="dateTime" name="dateTime" type="text"
           [(ngModel)]="valueInternal" (ngModelChange)="onValueChange($event)" (bsValueChange)="onBsValueChange($event)">
    <span class="input-group-btn">
      <button type="button" (click)="onClearDateTime()" class="btn btn-default">
        <i class="fa fa-remove"></i>
      </button>
      <button type="button" (click)="onDatepickerClick(dp)" class="btn btn-default">
        <i class="fa fa-calendar"></i>
      </button>
    </span>
  </div>
  <div [hidden]="dateTimeForm.controls['dateTime'].valid || dateTimeForm.controls['dateTime'].pristine" class="alert alert-danger">
    {{ 'DATE_REQUIRED' | translate }}
  </div>
</div>
