<fieldset [formGroup]="i18nForm">

  <div class="row">
    <div class="col-xs-12"><label>{{title}}</label></div>
  </div>

  <div class="row" [hidden]="noDefault">
    <div class="col-md-3">{{ 'DEFAULT_VALUE' | translate }}</div>
    <div class="col-md-9 col-lg-7">
      <div class="input-group">
        <textarea class="form-control" formControlName="dataValue" name="dataValue" rows="{{ expandDefault ? 6 : 1}}" [(ngModel)]="dataValue"></textarea>
        <span class="input-group-btn">
          <button class="btn btn-default btn-sm" (click)="onExpandDefault()">
            <i class="fa {{ expandDefault ? 'fa-expand':'fa-compress' }}"></i>
          </button>
        </span>
      </div>
      <div [hidden]="i18nForm.controls['dataValue'].valid || (i18nForm.controls['dataValue'].pristine)" class="alert alert-danger">
        {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
      </div>
    </div>
  </div>

  <div *ngFor="let row of dataI18n" class="row">
    <div class="col-xs-3">
      {{row.first}}
    </div>
    <div class="col-xs-5 col-md-6">
      {{row.second}}
    </div>
    <div class="col-xs-4 col-md-3 text-right">
      <button class="btn btn-default btn-circle btn-sm" (click)="onRowSelect(row)">
        <i class="fa fa-edit"></i>
      </button>
      <button class="btn btn-danger btn-circle btn-sm" (click)="onRowDelete(row)">
        <i class="fa fa-remove"></i>
      </button>
    </div>
  </div>

  <div class="row">

    <div class="form-group col-xs-3">
      <input class="form-control" formControlName="addLang" placeholder="{{ 'LANGUAGE' | translate }}" name="selectedRow.first" type="text" [(ngModel)]="selectedRow.first">
    </div>
    <div class="form-group col-xs-6 col-lg-7">
      <div class="input-group">
        <textarea class="form-control" formControlName="addVal" name="selectedRow.second" placeholder="{{ 'VALUE' | translate }}" rows="{{ expandAdd ? 6 : 1}}" [(ngModel)]="selectedRow.second"></textarea>
        <span class="input-group-btn">
          <button class="btn btn-default btn-sm" (click)="onExpandAdd()">
            <i class="fa {{ expandAdd ? 'fa-expand':'fa-compress' }}"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="form-group col-xs-3 col-lg-2 text-right">
      <button class="btn btn-default btn-circle btn-sm" (click)="onRowAdd()" [disabled]="!i18nForm.controls['addLang'].valid || !i18nForm.controls['addVal'].valid">
        <i class="fa fa-plus"></i>
      </button>
    </div>

  </div>

</fieldset>
