<yc-modal #centreModalDialog
          title="{{ 'PANEL_INVENTORY_WAREHOUSES' | translate }}"
          cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
          positiveLabel="{{ 'MODAL_BUTTON_SELECT' | translate }}"
          [valid]="validForSelect"
          (closed)="onSelectConfirmationResult($event)">
  <div class="item-list-overflow {{ loading ? 'loading-data' : '' }}">
    <ul class="nav nav-second-level item-list-control">
      <li>
        <form>
          <div class="input-group">
            <input class="form-control filter-input" type="text" name="centreFilter" [(ngModel)]="centreFilter" (ngModelChange)="onFilterChange()" autocomplete="off"/>
            <span class="input-group-btn">
              <button class="btn btn-default btn-circle filter-btn" type="button" (click)="onClearFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
                <i class="fa fa-times-circle-o"></i>
              </button>
            </span>
          </div>
        </form>
      </li>
    </ul>

    <ul class="nav nav-second-level item-list">

      <li *ngFor="let centre of filteredCentres">
        <a (click)="onSelectClick(centre)" class="{{ (selectedCentre != null && centre != null && selectedCentre.warehouseId == centre.warehouseId) ? 'bg-info js-click' : 'js-click' }}"><span class="label label-info">{{centre.code}}</span> {{centre.name}}</a>
      </li>

    </ul>

  </div>

</yc-modal>
