<template [ngIf]="cluster">
  <div class="row">
    <div>
      <h1 class="page-header">{{ 'PANEL_SYSTEM_QUERY' | translate }}</h1>
    </div>

    <div class="text-right data-control">

      <form class="pull-left">
        <select class="filter-input" type="text" name="selectedNode" [(ngModel)]="selectedNode">
          <option *ngFor="let node of cluster" [value]="node.id">{{ node.id }}</option>
        </select>
      </form>

      <button type="button" (click)="onRunHandler()" [disabled]="selectedNode == null" class="btn btn-info btn-circle btn-xl" title="{{ 'MODAL_BUTTON_QUERYRUN' | translate }}">
        <i class="fa fa-play"></i>
      </button>

      <select class="filter-input" type="text" name="selectedTabType" [(ngModel)]="selectedTabType">
        <option value="SQL">SQL</option>
        <option value="HQL">HQL</option>
        <option value="FT">FT</option>
      </select>

      <button type="button" (click)="onNewTabHandler()" class="btn btn-circle btn-xl" title="{{ 'MODAL_BUTTON_QUERYTABADD' | translate }}">
        <i class="fa fa-plus"></i>
      </button>

      <button type="button" (click)="onRefreshHandler()" class="btn btn-info btn-circle btn-xl" title="{{ 'MODAL_BUTTON_REFRESH' | translate }}">
        <i class="fa fa-refresh"></i>
      </button>

      <button type="button" (click)="onTabDeleteSelected()" [disabled]="tabs.length == 1" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_QUERYTABREMOVE' | translate }}">
        <i class="fa fa-remove"></i>
      </button>


    </div>

    <div>
      <tabset>
        <tab *ngFor="let tab of tabs; let i = index" heading="{{ ((i+1) + ' ' + tab.qtype) }}" (select)="tabSelected(i)">
          <div>
            <textarea class="js-query" [(ngModel)]="tab.query"></textarea>
          </div>
          <div>
            <div *ngIf="tab.resultQuery !== '' && tab.result === ''">
              <p class="bg-warning text-padding">{{ 'QUERY_NO_RESULTS' | translate: { query: tab.resultQuery } }}</p>
            </div>
            <div *ngIf="tab.resultQuery !== '' && tab.result !== ''">
              <p class="bg-success text-padding">{{ 'QUERY_RESULTS' | translate: { query: tab.resultQuery } }}</p>
            </div>
            <textarea class="js-query-result" [(ngModel)]="tab.result"></textarea>
          </div>
        </tab>
      </tabset>
    </div>

  </div>
</template>
