
    <div class="row">

      <div>
        <h1 class="page-header">{{ 'PANEL_DASHBOARD' | translate }}</h1>
      </div>

      <div class="col-lg-3 col-md-6" *ngIf="widgets.OrdersInShop">
        <div class="panel panel-yellow">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-shopping-cart fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ widgets.OrdersInShop.data.ordersToday }}</div>
                <div>{{ 'DASHBOARD_ORDERS_TODAY' | translate }}</div>
              </div>
            </div>
          </div>
          <a [routerLink]="['/customerorder/allorders']">
            <div class="panel-footer">
              <span class="pull-left">{{ 'DASHBOARD_VIEW_DETAILS' | translate }}</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" *ngIf="widgets.OrdersInShop">
        <div class="panel panel-yellow">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-shopping-cart fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ widgets.OrdersInShop.data.ordersThisWeek }}</div>
                <div>{{ 'DASHBOARD_ORDERS_THIS_WEEK' | translate }}</div>
              </div>
            </div>
          </div>
          <a [routerLink]="['/customerorder/allorders']">
            <div class="panel-footer">
              <span class="pull-left">{{ 'DASHBOARD_VIEW_DETAILS' | translate }}</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" *ngIf="widgets.OrdersInShop">
        <div class="panel panel-yellow">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-shopping-cart fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ widgets.OrdersInShop.data.ordersThisMonth }}</div>
                <div>{{ 'DASHBOARD_ORDERS_THIS_MONTH' | translate }}</div>
              </div>
            </div>
          </div>
          <a [routerLink]="['/customerorder/allorders']">
            <div class="panel-footer">
              <span class="pull-left">{{ 'DASHBOARD_VIEW_DETAILS' | translate }}</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" *ngIf="widgets.OrdersInShop">
        <div class="panel panel-red">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-shopping-cart fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ widgets.OrdersInShop.data.ordersWaiting }}</div>
                <div>{{ 'DASHBOARD_ORDERS_WAITING' | translate }}</div>
              </div>
            </div>
          </div>
          <a [routerLink]="['/customerorder/allorders']">
            <div class="panel-footer">
              <span class="pull-left">{{ 'DASHBOARD_VIEW_DETAILS' | translate }}</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" *ngIf="widgets.CustomersInShop">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-user fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ widgets.CustomersInShop.data.customersToday }}</div>
                <div>{{ 'DASHBOARD_CUSTOMERS_TODAY' | translate }}</div>
              </div>
            </div>
          </div>
          <a [routerLink]="['/customer/allcustomers']">
            <div class="panel-footer">
              <span class="pull-left">{{ 'DASHBOARD_VIEW_DETAILS' | translate }}</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" *ngIf="widgets.CustomersInShop">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-user fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ widgets.CustomersInShop.data.customersThisWeek }}</div>
                <div>{{ 'DASHBOARD_CUSTOMERS_THIS_WEEK' | translate }}</div>
              </div>
            </div>
          </div>
          <a [routerLink]="['/customer/allcustomers']">
            <div class="panel-footer">
              <span class="pull-left">{{ 'DASHBOARD_VIEW_DETAILS' | translate }}</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-6" *ngIf="widgets.CustomersInShop">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3">
                <i class="fa fa-user fa-5x"></i>
              </div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{ widgets.CustomersInShop.data.customersThisMonth }}</div>
                <div>{{ 'DASHBOARD_CUSTOMERS_THIS_MONTH' | translate }}</div>
              </div>
            </div>
          </div>
          <a [routerLink]="['/customer/allcustomers']">
            <div class="panel-footer">
              <span class="pull-left">{{ 'DASHBOARD_VIEW_DETAILS' | translate }}</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>

      <!--<div class="col-lg-3 col-md-6">-->
        <!--<div class="panel panel-green">-->
          <!--<div class="panel-heading">-->
            <!--<div class="row">-->
              <!--<div class="col-xs-3">-->
                <!--<i class="fa fa-truck fa-5x"></i>-->
              <!--</div>-->
              <!--<div class="col-xs-9 text-right">-->
                <!--<div class="huge">12</div>-->
                <!--<div>Shipping</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<a href="#">-->
            <!--<div class="panel-footer">-->
              <!--<span class="pull-left">View Details</span>-->
              <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
              <!--<div class="clearfix"></div>-->
            <!--</div>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-3 col-md-6">-->
        <!--<div class="panel panel-red">-->
          <!--<div class="panel-heading">-->
            <!--<div class="row">-->
              <!--<div class="col-xs-3">-->
                <!--<i class="fa fa-dropbox fa-5x"></i>-->
              <!--</div>-->
              <!--<div class="col-xs-9 text-right">-->
                <!--<div class="huge">11223</div>-->
                <!--<div>Warehouse</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<a href="#">-->
            <!--<div class="panel-footer">-->
              <!--<span class="pull-left">View Details</span>-->
              <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
              <!--<div class="clearfix"></div>-->
            <!--</div>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    </div>

