
    <div class="row">

      <div>
        <h1 class="page-header">{{ 'PANEL_DASHBOARD' | translate }}</h1>
      </div>

      <div class="text-right data-control">

        <button type="button" (click)="onAddHandler()" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_SELECT' | translate }}">
          <i class="fa fa-plus"></i>
        </button>

        <button type="button" (click)="onConfigureSelected()" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_CHANGE' | translate }}">
          <i class="fa fa-cogs"></i>
        </button>

        <button type="button" (click)="onRefreshHandler()" class="btn btn-info btn-circle btn-xl" title="{{ 'MODAL_BUTTON_REFRESH' | translate }}">
          <i class="fa fa-refresh"></i>
        </button>

      </div>

      <div class="{{ loading ? 'loading-data' : '' }}">

        <div class="row">

          <yc-widget-container *ngFor="let widget of userWidgets" [widget]="widget"></yc-widget-container>

        </div>

      </div>
    </div>

    <yc-modal #widgetModalDialog
              title="{{ 'PANEL_DASHBOARD' | translate }}"
              cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
              positiveLabel="{{ 'MODAL_BUTTON_SELECT' | translate }}"
              [valid]="validForSelect"
              (closed)="onSelectConfirmationResult($event)">
      <div class="item-list-overflow {{ loading ? 'loading-data' : '' }}">
        <ul class="nav nav-second-level item-list-control">
          <li>
            <form>
              <div class="input-group">
                <input class="form-control filter-input" type="text" name="widgetFilter" [(ngModel)]="widgetFilter" (ngModelChange)="onFilterChange()" autocomplete="off"/>
                <span class="input-group-btn">
              <button class="btn btn-default btn-circle filter-btn" type="button" (click)="onClearFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
                <i class="fa fa-times-circle-o"></i>
              </button>
            </span>
              </div>
            </form>
          </li>
        </ul>

        <ul class="nav nav-second-level item-list">

          <li *ngFor="let availableWidget of filteredAvailableWidgets">
            <a (click)="onSelectClick(availableWidget)" class="{{ (selectedWidget != null && availableWidget != null && selectedWidget.widgetId == availableWidget.widgetId) ? 'bg-info js-click' : 'js-click' }}" [title]="availableWidget.widgetId"><span>{{availableWidget.widgetDescription}}</span></a>
          </li>

        </ul>
      </div>
    </yc-modal>


    <yc-modal #widgetEditModalDialog
              title="{{ 'PANEL_DASHBOARD' | translate }}"
              cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
              positiveLabel="{{ 'MODAL_BUTTON_OK' | translate }}"
              [valid]="true"
              (closed)="onUpdateConfirmationResult($event)">
      <div class="item-list-overflow {{ loading ? 'loading-data' : '' }}">

        <ul class="nav nav-second-level item-list">

          <li *ngFor="let userWidget of selectedWidgets"  class="list-group-item">
            <span [title]="userWidget.widgetId">{{userWidget.widgetDescription}}</span>
            <button class="pull-right btn btn-default btn-circle btn-sm" (click)="onConfigureSelectedRemove(userWidget)"><i class="fa fa-remove"></i></button>
            <button class="pull-right btn btn-default btn-circle btn-sm" (click)="onConfigureSelectedDown(userWidget)"><i class="fa fa-sort-down"></i></button>
            <button class="pull-right btn btn-default btn-circle btn-sm" (click)="onConfigureSelectedUp(userWidget)"><i class="fa fa-sort-up"></i></button>
          </li>
        </ul>
      </div>
    </yc-modal>
