<div id="site-wrapper" class="{{ showNav ? 'show-nav' : ''}}">
  <div id="site-canvas">
    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">

        <div id="sidebar-logo">
          <a class="js-click btn btn-default pull-right" (click)="changeNav()"><i class="fa fa-bars"></i></a>
          Powered by<br/>
          <a href="http://yes-cart.org" target="_blank">YC - pure <sup>e</sup>Commerce</a>
        </div>

        <cw-sidebar (menuExpandRequired)="menuExpandRequired($event)"> </cw-sidebar>

      </div>
    </div>

    <div id="page-wrapper">
      <cw-topbar> </cw-topbar>
      <router-outlet class="page-content"></router-outlet>
    </div>
  </div>
</div>

<cw-login-modal></cw-login-modal>
<cw-error-modal></cw-error-modal>
<cw-license-modal></cw-license-modal>
