<template [ngIf]="brand">

  <form role="form" [formGroup]="brandForm">
    <tabset>

      <tab heading="{{ 'TAB_MAIN' | translate }}"  (select)="tabSelected('Main')">

        <div class="row">
          <div class="col-md-9 col-lg-6">
            <div class="panel-body">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'NAME' | translate }}</label>
                  <input autofocus class="form-control" placeholder="{{ 'NAME' | translate }}" formControlName="name" name="name" type="text" [(ngModel)]="brand.name" (ngModelChange)="onMainDataChange($event)">
                  <div [hidden]="brandForm.controls['name'].valid || brandForm.controls['name'].pristine" class="alert alert-danger">
                    {{ 'VALID_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'DESCRIPTION' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'DESCRIPTION' | translate }}" formControlName="description" name="description" type="text" [(ngModel)]="brand.description" (ngModelChange)="onMainDataChange($event)">
                  <div [hidden]="brandForm.controls['description'].valid || brandForm.controls['description'].pristine" class="alert alert-danger">
                    {{ 'VALID_REQUIRED' | translate }}
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </tab>

      <tab heading="{{ 'TAB_ATTRIBUTES' | translate }}"  (select)="tabSelected('Attributes')">

        <template [ngIf]="brand.brandId > 0">

          <div class="panel-body">
            <div class="row">
              <div class="text-right data-control">

                <form class="pull-left">
                  <input class="filter-input" type="text" name="attributeFilter" [(ngModel)]="attributeFilter" autocomplete="off"/>
                </form>

                <button type="button" (click)="onRowEditSelected()" [disabled]="selectedRow == null" class="btn btn-circle btn-xl">
                  <i class="fa fa-edit"></i>
                </button>

                <button type="button" (click)="onRowDeleteSelected()" [disabled]="selectedRow == null" class="btn btn-danger btn-circle btn-xl" >
                  <i class="fa fa-remove"></i>
                </button>

              </div>
            </div>

            <div class="row">
              <yc-attribute-values #attributeValuesComponent
                                   [masterObject]="brand"
                                   [objectAttributes]="attributes"
                                   [attributeFilter]="attributeFilter"
                                   (dataSelected)="onSelectRow($event)"
                                   (dataChanged)="onAttributeDataChanged($event)"></yc-attribute-values>
            </div>
          </div>
        </template>

      </tab>

    </tabset>
  </form>

</template>
