<template [ngIf]="product">

  <form role="form" [formGroup]="productForm">
    <tabset>

      <tab heading="{{ 'TAB_MAIN' | translate }}"  (select)="tabSelected('Main')">

        <div class="panel-body">

          <div class="row">
            <div class="col-md-9 col-lg-6">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'GUID' | translate }}</label>
                  <input autofocus class="form-control" placeholder="{{ 'GUID' | translate }}" formControlName="guid" name="guid" type="text" [(ngModel)]="product.guid">
                  <div [hidden]="productForm.controls['guid'].valid || productForm.controls['guid'].pristine" class="alert alert-danger">
                    <div [hidden]="!productForm.controls['guid'].hasError('checking')">
                      {{ 'REMOTE_CHECK' | translate }}
                    </div>
                    <div [hidden]="!productForm.controls['guid'].hasError('DUPLICATE')">
                      {{ 'UNIQUE_REQUIRED' | translate }}
                    </div>
                    {{ 'ALPHANUM_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'CODE' | translate }}</label>
                  <input autofocus class="form-control" placeholder="{{ 'CODE' | translate }}" formControlName="code" name="code" type="text" [(ngModel)]="product.code">
                  <div [hidden]="productForm.controls['code'].valid || productForm.controls['code'].pristine" class="alert alert-danger">
                    <div [hidden]="!productForm.controls['code'].hasError('checking')">
                      {{ 'REMOTE_CHECK' | translate }}
                    </div>
                    <div [hidden]="!productForm.controls['code'].hasError('DUPLICATE')">
                      {{ 'UNIQUE_REQUIRED' | translate }}
                    </div>
                    {{ 'ALPHANUM_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'PRODUCT_MANUFACTURER_CODE' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'PRODUCT_MANUFACTURER_CODE' | translate }}" formControlName="manufacturerCode" name="manufacturerCode" type="text" [(ngModel)]="product.manufacturerCode">
                  <div [hidden]="productForm.controls['manufacturerCode'].valid || productForm.controls['manufacturerCode'].pristine" class="alert alert-danger">
                    {{ 'NO_WHITESPACE_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'PRODUCT_MANUFACTURER_PART_CODE' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'PRODUCT_MANUFACTURER_PART_CODE' | translate }}" formControlName="manufacturerPartCode" name="manufacturerPartCode" type="text" [(ngModel)]="product.manufacturerPartCode">
                  <div [hidden]="productForm.controls['manufacturerPartCode'].valid || productForm.controls['manufacturerPartCode'].pristine" class="alert alert-danger">
                    {{ 'NO_WHITESPACE_REQUIRED' | translate }}
                  </div>
                </div>

                <div class="form-group">
                  <label>{{ 'PRODUCT_BRAND' | translate }}</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="{{ 'PRODUCT_BRAND' | translate }}" formControlName="brandName" name="brandName" type="text" [ngModel]="product.brand?.name" [readonly]="true"/>
                    <span class="input-group-btn">
                      <button type="button" (click)="onEditBrand()" class="btn">
                        <i class="fa fa-edit"></i>
                      </button>
                    </span>
                  </div>
                  <div [hidden]="productForm.controls['brandName'].valid || productForm.controls['brandName'].pristine" class="alert alert-danger">
                    {{ 'SIMPLE_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'PRODUCT_TYPE' | translate }}</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="{{ 'PRODUCT_TYPE' | translate }}" formControlName="productTypeName" name="productTypeName" type="text" [ngModel]="product.productType?.name" [readonly]="true"/>
                    <span class="input-group-btn">
                      <button type="button" (click)="onEditProductType()" class="btn">
                        <i class="fa fa-edit"></i>
                      </button>
                    </span>
                  </div>
                  <div [hidden]="productForm.controls['productTypeName'].valid || productForm.controls['productTypeName'].pristine" class="alert alert-danger">
                    {{ 'SIMPLE_REQUIRED' | translate }}
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <div class="row">
            <div class="col-md-9 col-lg-6">
              <yc-i18n-table title="{{ 'NAME' | translate }}"
                             [source]="product"
                             value="name"
                             defaultRequired="true"
                             i18n="displayNames"
                             (dataChanged)="onNameDataChange($event)"></yc-i18n-table>
            </div>
          </div>

          <div class="row">
            <div class="col-md-9 col-lg-6">
              <fieldset>

                <div class="form-group">
                  <label>{{ 'DESCRIPTION' | translate }}</label>
                  <textarea class="form-control" placeholder="{{ 'DESCRIPTION' | translate }}" formControlName="description" name="description" rows="4" [(ngModel)]="product.description"></textarea>
                </div>
              </fieldset>
            </div>
          </div>

        </div>
      </tab>

      <tab heading="{{ 'PRODUCT_TAB_AVAILABILITY' | translate }}"  (select)="tabSelected('Availability')">

        <div class="panel-body">

          <div class="row">
            <div class="col-md-9 col-lg-6">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'PRODUCT_AVAILABILITY' | translate }}</label>
                  <select class="form-control" formControlName="availability" name="availability" [(ngModel)]="product.availability">
                    <option value="1">{{ 'PRODUCT_AVAILABILITY_1' | translate }}</option>
                    <option value="2">{{ 'PRODUCT_AVAILABILITY_2' | translate }}</option>
                    <option value="4">{{ 'PRODUCT_AVAILABILITY_4' | translate }}</option>
                    <option value="8">{{ 'PRODUCT_AVAILABILITY_8' | translate }}</option>
                    <option value="16">{{ 'PRODUCT_AVAILABILITY_16' | translate }}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label>{{ 'PRODUCT_FROM' | translate }}</label>
                  <input class="form-control" placeholder="yyyy-MM-dd HH:mm:SS" formControlName="availablefrom" name="availablefrom" type="text" [(ngModel)]="availablefrom">
                  <div [hidden]="productForm.controls['availablefrom'].valid || productForm.controls['availablefrom'].pristine" class="alert alert-danger">
                    {{ 'DATE_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'PRODUCT_TO' | translate }}</label>
                  <input class="form-control" placeholder="yyyy-MM-dd HH:mm:SS" formControlName="availableto" name="availableto" type="text" [(ngModel)]="availableto">
                  <div [hidden]="productForm.controls['availableto'].valid || productForm.controls['availableto'].pristine" class="alert alert-danger">
                    {{ 'DATE_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'PRODUCT_ORDER_MIN' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'PRODUCT_ORDER_MIN' | translate }}" formControlName="minOrderQuantity" name="minOrderQuantity" type="text" [(ngModel)]="product.minOrderQuantity">
                  <div [hidden]="productForm.controls['minOrderQuantity'].valid || productForm.controls['minOrderQuantity'].pristine" class="alert alert-danger">
                    {{ 'POS_DECIMAL_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'PRODUCT_ORDER_MAX' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'PRODUCT_ORDER_MAX' | translate }}" formControlName="maxOrderQuantity" name="maxOrderQuantity" type="text" [(ngModel)]="product.maxOrderQuantity">
                  <div [hidden]="productForm.controls['maxOrderQuantity'].valid || productForm.controls['maxOrderQuantity'].pristine" class="alert alert-danger">
                    {{ 'POS_DECIMAL_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'PRODUCT_ORDER_STEP' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'PRODUCT_ORDER_STEP' | translate }}" formControlName="stepOrderQuantity" name="stepOrderQuantity" type="text" [(ngModel)]="product.stepOrderQuantity">
                  <div [hidden]="productForm.controls['stepOrderQuantity'].valid || productForm.controls['stepOrderQuantity'].pristine" class="alert alert-danger">
                    {{ 'POS_DECIMAL_REQUIRED' | translate }}
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

        </div>

      </tab>

      <tab heading="{{ 'SKU' | translate }}"  (select)="tabSelected('SKU')">

        <template [ngIf]="!(product.productId > 0)">

          <div class="row">
            <div class="col-xs-12 block-padding-spacer">
              <div class="bg-info text-padding">
                <p>{{ 'SAVEDOBJECT_REQUIRED' | translate }}</p>
              </div>
            </div>
          </div>

        </template>

        <template [ngIf]="product.productId > 0">

          <div class="panel-body">

            <div class="row">
              <yc-skus [skus]="product.sku" (dataSelected)="onSkuSelected($event)"></yc-skus>
            </div>
          </div>
        </template>

      </tab>

      <tab heading="{{ 'TAB_TEMPLATES' | translate }}"  (select)="tabSelected('Templates')">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-9 col-lg-6">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'PRODUCT_TEMPLATE' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'PRODUCT_TEMPLATE' | translate }}" formControlName="uitemplate" name="uitemplate" type="text" [ngModel]="product.productType?.uitemplate" [readonly]="true">
                </div>
                <div class="form-group">
                  <label>{{ 'PRODUCT_SEARCH_TEMPLATE' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'PRODUCT_SEARCH_TEMPLATE' | translate }}" formControlName="uisearchtemplate" name="uisearchtemplate" type="text" [ngModel]="product.productType?.uisearchtemplate" [readonly]="true">
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </tab>

      <tab heading="{{ 'TAB_SEO' | translate }}"  (select)="tabSelected('SEO')">
        <div class="panel-body">

          <div class="row" *ngIf="product.productId > 0">
            <div class="col-lg-9">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'SEO_URI' | translate }}</label>
                  <div class="input-group">
                    <div class="input-group-addon">/product/</div>
                    <input class="form-control" placeholder="{{ 'SEO_URI' | translate }}" type="text" value="{{ product.productId }}" readonly="readonly"/>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-9">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'SEO_URI' | translate }}</label>
                  <div class="input-group">
                    <div class="input-group-addon">/product/</div>
                    <input class="form-control" placeholder="{{ 'SEO_URI' | translate }}" formControlName="uri" name="uri" type="text" [(ngModel)]="product.uri"/>
                  </div>
                  <div [hidden]="productForm.controls['uri'].valid || productForm.controls['uri'].pristine" class="alert alert-danger">
                    <div [hidden]="!productForm.controls['uri'].hasError('checking')">
                      {{ 'REMOTE_CHECK' | translate }}
                    </div>
                    <div [hidden]="!productForm.controls['uri'].hasError('DUPLICATE')">
                      {{ 'UNIQUE_REQUIRED' | translate }}
                    </div>
                    {{ 'SEOURI_REQUIRED' | translate }}
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-9">
              <yc-i18n-table title="{{ 'SEO_TITLE' | translate }}"
                             [source]="product"
                             value="title"
                             i18n="displayTitles"
                             (dataChanged)="onTitleDataChange($event)"></yc-i18n-table>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-9">
              <yc-i18n-table title="{{ 'SEO_KEYWORDS' | translate }}"
                             [source]="product"
                             value="metakeywords"
                             i18n="displayMetakeywords"
                             (dataChanged)="onKeywordsDataChange($event)"></yc-i18n-table>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-9">
              <yc-i18n-table title="{{ 'SEO_DESCRIPTION' | translate }}"
                             [source]="product"
                             value="metadescription"
                             i18n="displayMetadescriptions"
                             (dataChanged)="onMetaDataChange($event)"></yc-i18n-table>
            </div>
          </div>

        </div>

      </tab>

      <tab heading="{{ 'TAB_SEARCH' | translate }}"  (select)="tabSelected('Search')">

        <div class="panel-body">

          <div class="row">
            <div class="col-md-9 col-lg-6">
              <fieldset>
                <div class="form-group">
                  <input formControlName="featured" name="featured" type="checkbox" [(ngModel)]="product.featured">
                  <label>{{ 'PRODUCT_FEATURED' | translate }}</label>
                </div>
                <div class="form-group">
                  <label>{{ 'PRODUCT_TAG' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'PRODUCT_TAG' | translate }}" formControlName="tag" name="tag" type="text" [(ngModel)]="product.tag">
                  <div [hidden]="productForm.controls['tag'].valid || productForm.controls['tag'].pristine" class="alert alert-danger">
                    {{ 'TAGS_REQUIRED' | translate }}
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>

      </tab>

      <tab heading="{{ 'TAB_EXTERNAL' | translate }}"  (select)="tabSelected('External')">

        <div class="panel-body">

          <div class="row">
            <div class="col-md-9 col-lg-6">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'PRODUCT_PIM_CODE' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'PRODUCT_PIM_CODE' | translate }}" formControlName="pimCode" name="pimCode" type="text" [(ngModel)]="product.pimCode">
                  <div [hidden]="productForm.controls['pimCode'].valid || productForm.controls['pimCode'].pristine" class="alert alert-danger">
                    {{ 'NO_WHITESPACE_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'PRODUCT_SUPPLIER_CODE' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'PRODUCT_SUPPLIER_CODE' | translate }}" formControlName="supplierCode" name="supplierCode" type="text" [(ngModel)]="product.supplierCode">
                  <div [hidden]="productForm.controls['supplierCode'].valid || productForm.controls['supplierCode'].pristine" class="alert alert-danger">
                    {{ 'NO_WHITESPACE_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'PRODUCT_SUPPLIER_CATALOG_CODE' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'PRODUCT_SUPPLIER_CATALOG_CODE' | translate }}" formControlName="supplierCatalogCode" name="supplierCatalogCode" type="text" [(ngModel)]="product.supplierCatalogCode">
                  <div [hidden]="productForm.controls['supplierCatalogCode'].valid || productForm.controls['supplierCatalogCode'].pristine" class="alert alert-danger">
                    {{ 'NO_WHITESPACE_REQUIRED' | translate }}
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

        </div>

      </tab>

      <tab heading="{{ 'TAB_ATTRIBUTES' | translate }}"  (select)="tabSelected('Attributes')">

        <template [ngIf]="!(product.productId > 0)">

          <div class="row">
            <div class="col-xs-12 block-padding-spacer">
              <div class="bg-info text-padding">
                <p>{{ 'SAVEDOBJECT_REQUIRED' | translate }}</p>
              </div>
            </div>
          </div>

        </template>

        <template [ngIf]="product.productId > 0">

          <div class="panel-body">
            <div class="row">
              <div class="text-right data-control">

                <form class="pull-left">
                  <input class="filter-input" type="text" name="attributeFilter" [(ngModel)]="attributeFilter" autocomplete="off"/>
                  <a class="js-click" (click)="onClearAttributeFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}"><i class="fa fa-remove"></i></a>
                  <a class="js-click" (click)="onSearchHelpAttributeToggle()" title="{{ 'MODAL_BUTTON_HELPFILTER' | translate }}"><i class="fa fa-question-circle"></i></a>
                </form>

                <button type="button" (click)="onRowAddAttribute()" class="btn btn-circle btn-xl" title="{{ 'MODAL_BUTTON_CREATE' | translate }}">
                  <i class="fa fa-plus"></i>
                </button>

                <button type="button" (click)="onRowEditSelectedAttribute()" [disabled]="selectedRowAttribute == null" class="btn btn-circle btn-xl" title="{{ 'MODAL_BUTTON_EDIT' | translate }}">
                  <i class="fa fa-edit"></i>
                </button>

                <button type="button" (click)="onRowDeleteSelectedAttribute()" [disabled]="selectedRowAttribute == null" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELETE' | translate }}">
                  <i class="fa fa-remove"></i>
                </button>

              </div>
            </div>

            <div class="row">

              <div *ngIf="searchHelpShowAttribute">
                <div class="bg-info text-padding">
                  <p>{{ 'SEARCH_HELP_AV_VALUES' | translate }} <span><button type="button" (click)="onSearchValues()" class="btn btn-circle"><i class="fa fa-circle"></i></button></span></p>
                  <p>{{ 'SEARCH_HELP_AV_VALUES_CHANGES' | translate }} <span><button type="button" (click)="onSearchValuesChanges()" class="btn btn-circle"><i class="fa fa-edit"></i></button></span></p>
                  <p>{{ 'SEARCH_HELP_AV_VALUES_NEW' | translate }} <span><button type="button" (click)="onSearchValuesNew()" class="btn btn-circle"><i class="fa fa-plus"></i></button></span></p>
                  <p>{{ 'SEARCH_HELP_AV_VALUES_NEW_ONLY' | translate }} <span><button type="button" (click)="onSearchValuesNewOnly()" class="btn btn-circle"><i class="fa fa-plus-circle"></i></button></span></p>
                </div>
              </div>

            </div>

            <div class="row">
              <yc-attribute-values #attributeValuesComponent
                                   [masterObject]="product"
                                   masterObjectType="product"
                                   [avPrototype]="avPrototype"
                                   [objectAttributes]="attributes"
                                   [attributeFilter]="attributeFilter"
                                   (dataSelected)="onSelectRowAttribute($event)"
                                   (dataChanged)="onAttributeDataChanged($event)"></yc-attribute-values>
            </div>
          </div>
        </template>

      </tab>

      <tab heading="{{ 'PRODUCT_TAB_CATALOG' | translate }}" (select)="tabSelected('Catalogue')">
        <yc-product-categories [product]="product" [reload]="reloadCatalogue"
                               (dataChanged)="onCategoriesDataChanged($event)"></yc-product-categories>
      </tab>


      <tab heading="{{ 'PRODUCT_TAB_ASSOCIATIONS' | translate }}"  (select)="tabSelected('Associations')">

        <template [ngIf]="!(product.productId > 0)">

          <div class="row">
            <div class="col-xs-12 block-padding-spacer">
              <div class="bg-info text-padding">
                <p>{{ 'SAVEDOBJECT_REQUIRED' | translate }}</p>
              </div>
            </div>
          </div>

        </template>

        <template [ngIf]="product.productId > 0">

          <div class="panel-body">
            <div class="row">
              <div class="text-right data-control">

                <form class="pull-left">
                  <input class="filter-input" type="text" name="associationFilter" [(ngModel)]="associationFilter" autocomplete="off"/>
                  <a class="js-click" (click)="onClearAssociationFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}"><i class="fa fa-remove"></i></a>
                  <a class="js-click" (click)="onSearchHelpAssociationToggle()" title="{{ 'MODAL_BUTTON_HELPFILTER' | translate }}"><i class="fa fa-question-circle"></i></a>
                </form>

                <button type="button" (click)="onRowAddAssociation()" class="btn btn-circle btn-xl" title="{{ 'MODAL_BUTTON_CREATE' | translate }}">
                  <i class="fa fa-plus"></i>
                </button>

                <button type="button" (click)="onRowEditSelectedAssociation()" [disabled]="selectedRowAssociation == null" class="btn btn-circle btn-xl" title="{{ 'MODAL_BUTTON_EDIT' | translate }}">
                  <i class="fa fa-edit"></i>
                </button>

                <button type="button" (click)="onRowDeleteSelectedAssociation()" [disabled]="selectedRowAssociation == null" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELETE' | translate }}">
                  <i class="fa fa-remove"></i>
                </button>

              </div>
            </div>

            <div class="row">

              <div *ngIf="searchHelpShowAssociation">
                <div class="bg-info text-padding">
                  <p>{{ 'SEARCH_HELP_ASSOCIATION_TYPE' | translate }} <span><button type="button" (click)="onSearchAssociation()" class="btn btn-circle"><i class="fa fa-tag"></i></button></span></p>
                </div>
              </div>

            </div>

            <div class="row">
              <yc-product-associations #associationsComponent
                                       [masterObject]="product"
                                       [associationFilter]="associationFilter"
                                       (dataSelected)="onSelectRowAssociation($event)"
                                       (dataChanged)="onAssociationDataChanged($event)"></yc-product-associations>

            </div>
          </div>
        </template>

      </tab>


    </tabset>
  </form>

</template>

<yc-brand-select #brandsModalDialog
                 (dataSelected)="onBrandSelected($event)"></yc-brand-select>

<yc-product-type-select #productTypesModalDialog
                        (dataSelected)="onProductTypeSelected($event)"></yc-product-type-select>
