<template [ngIf]="existingProduct">

  <div class="text-right data-control">

    <button type="button" (click)="assignToProductClick(selectedNode)" class="btn btn-circle btn-xl" [disabled]="selectedNode == null || selectedNode.id == '100'">
      <i class="fa fa-exchange"></i>
    </button>

    <button type="button" (click)="createNew(selectedNode)" class="btn btn-circle btn-xl" [disabled]="selectedNode == null">
      <i class="fa fa-plus"></i>
    </button>
  </div>

  <yc-modal #editNewCategoryName
            title="{{ 'MODAL_CREATE_TITLE' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_SAVE' | translate }}"
            [valid]="validForSave"
            (closed)="editNewCategoryNameModalResult($event)">
    <form role="form" [formGroup]="newCategoryForm">
      <fieldset>
        <div class="row">
          <div class="col-lg-3">{{ 'NAME' | translate }}</div>
          <div class="col-lg-9">
            <input class="form-control" formControlName="name" name="newCategoryName" type="text" [(ngModel)]="newCategory.name">
            <div [hidden]="newCategoryForm.controls['name'].valid || newCategoryForm.controls['name'].pristine" class="alert alert-danger">
              {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">{{ 'CODE' | translate }}</div>
          <div class="col-lg-9">
            <input class="form-control" formControlName="guid" name="newCategoryCode" type="text" [(ngModel)]="newCategory.guid">
            <div [hidden]="newCategoryForm.controls['guid'].valid || newCategoryForm.controls['guid'].pristine" class="alert alert-danger">
              <div [hidden]="!newCategoryForm.controls['guid'].hasError('checking')">
                {{ 'REMOTE_CHECK' | translate }}
              </div>
              <div [hidden]="!newCategoryForm.controls['guid'].hasError('DUPLICATE')">
                {{ 'UNIQUE_REQUIRED' | translate }}
              </div>
              {{ 'ALPHANUM_REQUIRED' | translate }}
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </yc-modal>

  <div class="row">
    <div class="col-md-6 col-lg-5">
      <h3>{{ 'ASSIGNED' | translate }}</h3>
      <ul class="treenodes lvl-1">
        <li class="treenode" *ngFor="let cat of assigned"><a class="js-click" (click)=onAssignedClick(cat)>{{cat.categoryName}} <i class="fa fa-remove"></i></a></li>
      </ul>
    </div>
    <div class="col-md-6 col-lg-5">
      <h3>{{ 'SHOP_TAB_CATALOG' | translate }}</h3>
      <yc-tree-view [nodes]="nodes"
                    [selectedNode]="selectedNode"
                    (onSelectedChanged)="onSelectNode($event)"
                    (onRequestNodes)="onRequest($event)">
      </yc-tree-view>
    </div>
  </div>

</template>
