<ng-template [ngIf]="masterObject">

  <section class="no-more-tables">
    <table class="table-bordered table-striped table-condensed cf">
      <thead class="cf">
      <tr>
        <th><a class="js-click" (click)="onSortClick('attributeCode')">{{ 'CODE' | translate }} <span [hidden]="sortColumn != 'attributeCode'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
        <th><a class="js-click" (click)="onSortClick('rank')">{{ 'AV_RANK' | translate }} <span [hidden]="sortColumn != 'rank'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
        <th><a class="js-click" (click)="onSortClick('mandatory')">{{ 'ATTRIBUTE_MANDATORY' | translate }} <span [hidden]="sortColumn != 'mandatory'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
        <th><a class="js-click" (click)="onSortClick('skuCode')">{{ 'SKU' | translate }} <span [hidden]="sortColumn != 'skuCode'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
        <th>{{ 'QUANTITY' | translate }}</th>
        <th>{{ 'PRODUCT_OPTIONS_SKU' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of filteredObjectOptions; let i = index" class="{{row == selectedRow ? 'active' : ''}}">
        <ng-template [ngIf]=" ( i >= pageStart &&  i < pageEnd )">
          <td title="{{ 'CODE' | translate }}"><a (click)="onSelectRow(row)" class="js-click"><span class="label label-info">{{row.attributeCode}}</span></a></td>
          <td title="{{ 'AV_RANK' | translate }}"><a (click)="onSelectRow(row)" class="js-click">{{row.rank}}</a></td>
          <td title="{{ 'ATTRIBUTE_MANDATORY' | translate }}"><a (click)="onSelectRow(row)" class="js-click"><i class="fa {{ row.mandatory ? 'fa-check-circle' : 'fa-times-circle' }}"></i></a></td>
          <td title="{{ 'SKU' | translate }}"><a (click)="onSelectRow(row)" class="js-click"><span class="label label-info">{{row.skuCode}}</span>&nbsp;{{getSkuName(row)}}</a></td>
          <td title="{{ 'QUANTITY' | translate }}"><a (click)="onSelectRow(row)" class="js-click">{{row.quantity | ycquantity}}</a></td>
          <td title="{{ 'PRODUCT_OPTIONS_SKU' | translate }}">
            <a (click)="onSelectRow(row)" class="js-click">
              <div *ngFor="let option of row.optionSkuCodes">
                  <span class="label label-info">{{option.first}}</span> {{option.second}}
              </div>
            </a>
          </td>
        </ng-template>
      </tr>
      </tbody>
    </table>
  </section>

  <div>
    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [ngModel]="currentPage" (pageChanged)="onPageChanged($event)" class="pagination-sm"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>



  <yc-modal #deleteConfirmationModalDialog
         title="{{ 'MODAL_CONFIRM_TITLE' | translate }}"
         cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
         positiveLabel="{{ 'MODAL_BUTTON_REMOVE' | translate }}"
         [valid]="true"
         (closed)="onDeleteConfirmationResult($event)">
    {{ 'MODAL_CONFIRM_DELETE' | translate:{value: (selectedRow ? selectedRow.attributeCode : '') } }}
  </yc-modal>

  <yc-modal #editModalDialog
         title="{{ 'PRODUCT_OPTIONS' | translate }}"
         cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
         positiveLabel="{{ 'MODAL_BUTTON_CHANGE' | translate }}"
         [valid]="validForSave"
         (closed)="onEditModalResult($event)">

    <ng-template [ngIf]="optionToEdit != null">
      <form role="form">
        <fieldset>
          <div class="row">
            <div class="col-xs-3">{{ 'CODE' | translate }}</div>
            <div class="col-xs-9">
              <input name="attributeCodeEdit" class="form-control" type="text" [ngModel]="optionToEdit.attributeCode" [readonly]="true">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">{{ 'NAME' | translate }}</div>
            <div class="col-xs-9">
              <select name="skuCodeEdit" class="form-control" type="text" [(ngModel)]="optionToEdit.skuCode" (ngModelChange)="onDataChange($event)">
                <option [value]="">-</option>
                <option *ngFor="let option of options" [value]="option.code">{{option.code}}: {{option.name}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">{{ 'AV_RANK' | translate }}</div>
            <div class="col-xs-9">
              <input name="rankEdit" class="form-control" type="text" [(ngModel)]="optionToEdit.rank" (ngModelChange)="onDataChange($event)" required>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">{{ 'QUANTITY' | translate }}</div>
            <div class="col-xs-9">
              <input name="quantityEdit" class="form-control" type="text" [(ngModel)]="optionToEdit.quantity" (ngModelChange)="onDataChange($event)" required>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">{{ 'PRODUCT_OPTIONS_SKU' | translate }}</div>
            <div class="col-xs-9">
              <div class="input-group">
                <div class="form-control">
                  <a *ngFor="let opt of optionToEdit.optionSkuCodes" class="js-click" (click)="onOptionSkuRemove(opt)" title="{{opt.second}}"><span class="label label-info">{{opt.first}} <i class="fa fa-remove"></i></span>&nbsp;</a>
                </div>
                <span class="input-group-btn">
                  <button type="button" (click)="onSearchProduct()" class="btn btn-default">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">{{ 'ATTRIBUTE_MANDATORY' | translate }}</div>
            <div class="col-xs-9">
              <input name="mandatoryEdit" type="checkbox" [(ngModel)]="optionToEdit.mandatory" (ngModelChange)="onDataChange($event)">
            </div>
          </div>
        </fieldset>
      </form>
    </ng-template>

  </yc-modal>

  <yc-modal #addModalDialog
            title="{{ 'AV_ATTRIBUTE' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_SELECT' | translate }}"
            [valid]="selectedAttribute != null"
            (closed)="onAttributeAddModalResult($event)">

    <div class="row">
      <div class="col-xs-12 item-list-overflow">
        <yc-product-attribute-select (dataSelected)="onAttributeSelected($event)"></yc-product-attribute-select>
      </div>
    </div>

  </yc-modal>

  <yc-product-sku-select #productSelectDialog (dataSelected)="onProductSelected($event)"></yc-product-sku-select>

</ng-template>
