<template [ngIf]="productType">

  <form role="form" [formGroup]="productTypeForm">
    <tabset>

      <tab heading="{{ 'TAB_MAIN' | translate }}"  (select)="tabSelected('Main')">

        <div class="row">
          <div class="col-md-9 col-lg-6">
            <div class="panel-body">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'CODE' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'CODE' | translate }}" formControlName="guid" name="guid" type="text" [(ngModel)]="productType.guid"/>
                  <div [hidden]="productTypeForm.controls['guid'].valid || productTypeForm.controls['guid'].pristine" class="alert alert-danger">
                    <div [hidden]="!productTypeForm.controls['guid'].hasError('checking')">
                      {{ 'REMOTE_CHECK' | translate }}
                    </div>
                    <div [hidden]="!productTypeForm.controls['guid'].hasError('DUPLICATE')">
                      {{ 'UNIQUE_REQUIRED' | translate }}
                    </div>
                    {{ 'ALPHANUM_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'NAME' | translate }}</label>
                  <input autofocus class="form-control" placeholder="{{ 'NAME' | translate }}" formControlName="name" name="name" type="text" [(ngModel)]="productType.name">
                  <div [hidden]="productTypeForm.controls['name'].valid || productTypeForm.controls['name'].pristine" class="alert alert-danger">
                    {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'DESCRIPTION' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'DESCRIPTION' | translate }}" formControlName="description" name="description" type="text" [(ngModel)]="productType.description">
                </div>
              </fieldset>

            </div>
          </div>
        </div>
      </tab>

      <tab heading="{{ 'TAB_TEMPLATES' | translate }}"  (select)="tabSelected('Templates')">

        <div class="row">
          <div class="col-md-9 col-lg-6">
            <div class="panel-body">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'PRODUCT_TYPE_UITEMPLATE' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'PRODUCT_TYPE_UITEMPLATE' | translate }}" formControlName="uitemplate" name="uitemplate" type="text" [(ngModel)]="productType.uitemplate">
                  <div [hidden]="productTypeForm.controls['uitemplate'].valid || productTypeForm.controls['uitemplate'].pristine" class="alert alert-danger">
                    {{ 'NO_WHITESPACE_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'PRODUCT_TYPE_UISEARCHTEMPLATE' | translate }}</label>
                  <input class="form-control" placeholder="{{ 'PRODUCT_TYPE_UITEMPLATE' | translate }}" formControlName="uisearchtemplate" name="uisearchtemplate" type="text" [(ngModel)]="productType.uisearchtemplate">
                  <div [hidden]="productTypeForm.controls['uisearchtemplate'].valid || productTypeForm.controls['uisearchtemplate'].pristine" class="alert alert-danger">
                    {{ 'NO_WHITESPACE_REQUIRED' | translate }}
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </tab>

      <tab heading="{{ 'TAB_CONFIGURATIONS' | translate }}"  (select)="tabSelected('Templates')">

        <div class="row">
          <div class="col-md-9 col-lg-6">
            <div class="panel-body">
              <fieldset>
                <div>
                  <input formControlName="ensemble" name="ensemble" type="checkbox" [(ngModel)]="productType.ensemble">
                  <label>{{ 'PRODUCT_TYPE_FLAG_ENSEMBLE' | translate }}</label>
                </div>
                <div>
                  <input formControlName="shippable" name="shippable" type="checkbox" [(ngModel)]="productType.shippable">
                  <label>{{ 'PRODUCT_TYPE_FLAG_SHIPPABLE' | translate }}</label>
                </div>
                <div>
                  <input formControlName="downloadable" name="downloadable" type="checkbox" [(ngModel)]="productType.downloadable">
                  <label>{{ 'PRODUCT_TYPE_FLAG_DOWNLOADABLE' | translate }}</label>
                </div>
                <div>
                  <input formControlName="digital" name="digital" type="checkbox" [(ngModel)]="productType.digital">
                  <label>{{ 'PRODUCT_TYPE_FLAG_DIGITAL' | translate }}</label>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </tab>

      <tab heading="{{ 'PRODUCT_TYPE_TAB_GROUPS' | translate }}" (select)="tabSelected('Groups')">

        <template [ngIf]="!(productType.producttypeId > 0)">

          <div class="row">
            <div class="col-xs-12 block-padding-spacer">
              <div class="bg-info text-padding">
                <p>{{ 'SAVEDOBJECT_REQUIRED' | translate }}</p>
              </div>
            </div>
          </div>

        </template>

        <template [ngIf]="productType.producttypeId > 0">
          <div class="panel-body">
            <div class="row">
              <div class="text-right data-control">

                <form class="pull-left">
                  <input class="filter-input" type="text" name="groupFilter" [(ngModel)]="groupFilter" autocomplete="off"/>
                  <a class="js-click" (click)="onClearFilterGroup()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}"><i class="fa fa-remove"></i></a>
                </form>

                <button type="button" (click)="onGroupRowAdd()" class="btn btn-circle btn-xl" title="{{ 'MODAL_BUTTON_CREATE' | translate }}">
                  <i class="fa fa-plus"></i>
                </button>

                <button type="button" (click)="onGroupRowEditSelected()" [disabled]="groupSelectedRow == null" class="btn btn-circle btn-xl" title="{{ 'MODAL_BUTTON_EDIT' | translate }}">
                  <i class="fa fa-edit"></i>
                </button>

                <button type="button" (click)="onGroupRowDeleteSelected()" [disabled]="groupSelectedRow == null" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELETE' | translate }}">
                  <i class="fa fa-remove"></i>
                </button>

              </div>
            </div>
          </div>

          <div class="row">
            <yc-product-type-group #groupsComponent
                                   [masterObject]="productType"
                                   [objectAttributes]="attributes"
                                   [groupFilter]="groupFilter"
                                   (dataSelected)="onGroupSelectRow($event)"
                                   (dataChanged)="onGroupDataChanged($event)"></yc-product-type-group>
          </div>

        </template>
      </tab>

      <tab heading="{{ 'TAB_TYPE_ATTRIBUTES' | translate }}"  (select)="tabSelected('Attributes')">

        <template [ngIf]="!(productType.producttypeId > 0)">

          <div class="row">
            <div class="col-xs-12 block-padding-spacer">
              <div class="bg-info text-padding">
                <p>{{ 'SAVEDOBJECT_REQUIRED' | translate }}</p>
              </div>
            </div>
          </div>

        </template>

        <template [ngIf]="productType.producttypeId > 0">

          <div class="panel-body">
            <div class="row">
              <div class="text-right data-control">

                <form class="pull-left">
                  <input class="filter-input" type="text" name="attributeFilter" [(ngModel)]="attributeFilter" autocomplete="off"/>
                  <a class="js-click" (click)="onClearFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}"><i class="fa fa-remove"></i></a>
                  <a class="js-click" (click)="onSearchHelpToggle()" title="{{ 'MODAL_BUTTON_HELPFILTER' | translate }}"><i class="fa fa-question-circle"></i></a>
                </form>

                <button type="button" (click)="onAttributeRowAdd()" class="btn btn-circle btn-xl" title="{{ 'MODAL_BUTTON_CREATE' | translate }}">
                  <i class="fa fa-plus"></i>
                </button>

                <button type="button" (click)="onAttributeRowEditSelected()" [disabled]="attributeSelectedRow == null" class="btn btn-circle btn-xl" title="{{ 'MODAL_BUTTON_EDIT' | translate }}">
                  <i class="fa fa-edit"></i>
                </button>

                <button type="button" (click)="onAttributeRowDeleteSelected()" [disabled]="attributeSelectedRow == null" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELETE' | translate }}">
                  <i class="fa fa-remove"></i>
                </button>

              </div>
            </div>

            <div class="row" *ngIf="searchHelpShow">
              <div class="bg-info text-padding block-margin-spacer">
                <p>{{ 'SEARCH_HELP_PRODUCTTYPE_ATTR_SI' | translate }} <span><button type="button" (click)="onAttributeSearchIndexFilter()" class="btn btn-circle"><i class="fa fa-search"></i></button></span></p>
                <p>{{ 'SEARCH_HELP_PRODUCTTYPE_ATTR_VISIBLE' | translate }} <span><button type="button" (click)="onAttributeVisibleFilter()" class="btn btn-circle"><i class="fa fa-eye"></i></button></span></p>
                <p>{{ 'SEARCH_HELP_PRODUCTTYPE_ATTR_INVISIBLE' | translate }} <span><button type="button" (click)="onAttributeInvisibleFilter()" class="btn btn-circle"><i class="fa fa-eye-slash"></i></button></span></p>
                <p>{{ 'SEARCH_HELP_PRODUCTTYPE_ATTR_CHANGES' | translate }} <span><button type="button" (click)="onAttributeChangesFilter()" class="btn btn-circle"><i class="fa fa-edit"></i></button></span></p>
              </div>
            </div>

            <div class="row">
              <yc-product-type-attribute #attributesComponent
                                         [masterObject]="productType"
                                         [objectAttributes]="attributes"
                                         [attributeFilter]="attributeFilter"
                                         (dataSelected)="onAttributeSelectRow($event)"
                                         (dataChanged)="onAttributeDataChanged($event)"></yc-product-type-attribute>
            </div>
          </div>
        </template>

      </tab>

    </tabset>
  </form>

</template>
