<div>

  <section class="no-more-tables">
    <table class="table-bordered table-striped table-condensed cf">
      <thead class="cf">
      <tr>
        <th><a class="js-click" (click)="onSortClick('code')">{{ 'CODE' | translate }} <span [hidden]="sortColumn != 'code'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
        <th><a class="js-click" (click)="onSortClick('manufacturerCode')">{{ 'PRODUCT_MANUFACTURER_CODE' | translate }} <span [hidden]="sortColumn != 'manufacturerCode'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
        <th><a class="js-click" (click)="onSortClick('name')">{{ 'NAME' | translate }} / {{ 'SEO_URI' | translate }} <span [hidden]="sortColumn != 'name'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
        <th><a class="js-click" (click)="onSortClick('barCode')">{{ 'PRODUCT_BAR_CODE' | translate }} <span [hidden]="sortColumn != 'barCode'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
        <th><a class="js-click" (click)="onSortClick('rank')">{{ 'AV_RANK' | translate }} <span [hidden]="sortColumn != 'rank'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of filteredSkus; let i = index" class="{{row == selectedSku ? 'active' : ''}}">
        <ng-template [ngIf]=" ( i >= pageStart &&  i < pageEnd )">
          <td title="{{ 'CODE' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.code}}</a></td>
          <td title="{{ 'PRODUCT_MANUFACTURER_CODE' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.manufacturerCode}}</a>&nbsp;</td>
          <td title="{{ 'NAME' | translate }} / {{ 'SEO_URI' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.name}}</a> <span [innerHTML]="getUri(row)"></span></td>
          <td title="{{ 'PRODUCT_BAR_CODE' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.barCode}}</a>&nbsp;</td>
          <td title="{{ 'AV_RANK' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.rank}}</a>&nbsp;</td>
        </ng-template>
      </tr>
      </tbody>
    </table>
  </section>

  <div>
    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [ngModel]="currentPage" (pageChanged)="onPageChanged($event)" class="pagination-sm"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>

</div>
