<div class="row">
  <div>
    <h1 class="page-header">{{ 'PANEL_MARKETING_PROMO' | translate }} {{ selectedShop != null ? (' / ' + selectedShop.name) : '' }} {{ selectedCurrency != null ? ('(' + selectedCurrency + ')') : ''}} {{ selectedPromotion && (!promotionEdit || promotionEdit.promotionId > 0) ? (' / ' + selectedPromotion.name) : '' }}</h1>
  </div>


  <div class="text-right data-control">

    <button type="button" (click)="onBackToList()" [hidden]="viewMode === 'promotions'" class="btn btn-info btn-circle btn-xl pull-left" style="margin-right: 2px" title="{{ 'MODAL_BUTTON_BACK' | translate }}">
      <i class="fa fa-chevron-left"></i>
    </button>

    <form class="pull-left" [hidden]="viewMode !== 'promotions'">
      <input class="filter-input" type="text" name="promotionFilter" [(ngModel)]="promotionFilter" (ngModelChange)="onFilterChange($event)" autocomplete="off"/>
      <a class="js-click" (click)="onClearFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}"><i class="fa fa-remove"></i></a>
      <a class="js-click" (click)="onSearchHelpToggle()" title="{{ 'MODAL_BUTTON_HELPFILTER' | translate }}"><i class="fa fa-question-circle"></i></a>
    </form>

    <button type="button" (click)="onForceShowAll()" [hidden]="viewMode !== 'promotions'" class="btn {{ forceShowAll ? 'btn-danger' : '' }} btn-circle btn-xl " title="{{ (forceShowAll ? 'MODAL_BUTTON_ALLFILTEROFF' : 'MODAL_BUTTON_ALLFILTERON') | translate }}">
      <i class="fa fa-filter"></i>
    </button>

    <button type="button" (click)="onShopSelect()" [hidden]="viewMode !== 'promotions'" class="btn btn-circle btn-xl" title="{{ 'MODAL_BUTTON_SELECTSHOP' | translate }}">
      <i class="fa fa-sitemap"></i>
    </button>

    <button type="button" (click)="onCurrencySelect()" [disabled]="selectedShop == null" [hidden]="viewMode !== 'promotions'" class="btn btn-circle btn-xl" title="{{ 'MODAL_BUTTON_SELECTCURRENCY' | translate }}">
      <i class="fa fa-dollar"></i>
    </button>

    <button type="button" (click)="onRowEnableSelected()" [disabled]="selectedPromotion == null"  class="btn {{selectedPromotion != null && selectedPromotion.enabled ? 'btn-success' : 'btn-danger' }} btn-circle btn-xl" title="{{ (selectedPromotion != null && selectedPromotion.enabled ? 'MODAL_BUTTON_DISABLE' : 'MODAL_BUTTON_ENABLE') | translate }}">
      <i class="fa fa-power-off"></i>
    </button>

    <button type="button" (click)="onRowNew()" [disabled]="selectedShop == null" class="btn btn-circle btn-xl" title="{{ 'MODAL_BUTTON_CREATE' | translate }}">
      <i class="fa fa-plus"></i>
    </button>

    <button type="button" (click)="onRowCopySelected()" [disabled]="selectedPromotion == null" class="btn btn-circle btn-xl" title="{{ 'MODAL_BUTTON_COPY' | translate }}">
      <i class="fa fa-copy"></i>
    </button>

    <button type="button" (click)="onRowEditSelected()" [disabled]="selectedPromotion == null" class="btn btn-circle btn-xl" title="{{ 'MODAL_BUTTON_EDIT' | translate }}">
      <i class="fa fa-edit"></i>
    </button>

    <button type="button" (click)="onRowDeleteSelected()" [disabled]="selectedPromotion == null || selectedPromotion.enabled" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELETE' | translate }}">
      <i class="fa fa-remove"></i>
    </button>

    <yc-data-control [changed]="changed"
                     [valid]="validForSave"
                     (saveEvent)="onSaveHandler()"
                     (discardEvent)="onDiscardEventHandler()"
                     (refreshEvent)="onRefreshHandler()"></yc-data-control>

  </div>

  <div [hidden]="viewMode !== 'promotions'" class="{{ loading ? 'loading-data' : '' }}">

    <div *ngIf="searchHelpShow">
      <div class="bg-info text-padding block-margin-spacer">
        <ul><li *ngFor="let promoType of promoTypes"><input type="checkbox" name="type_{{promoType.first}}" [(ngModel)]="promoType.second" (ngModelChange)="onFilterChange($event)"/> {{'PROMOTION_TYPE_' + promoType.first | translate }}</li></ul>
        <ul><li *ngFor="let promoAction of promoActions"><input type="checkbox" name="action_{{promoAction.first}}" [(ngModel)]="promoAction.second" (ngModelChange)="onFilterChange($event)"/> {{'PROMOTION_ACTION_' + promoAction.first | translate }}</li></ul>
        <p>{{ 'SEARCH_HELP_PROMOTION_DEFAULT' | translate }}</p>
        <p>{{ 'SEARCH_HELP_PROMOTION_CODE' | translate }} <span><button type="button" (click)="onSearchCode()" class="btn btn-circle"><i class="fa fa-tag"></i></button></span></p>
        <p>{{ 'SEARCH_HELP_PROMOTION_CONDITION' | translate }} <span><button type="button" (click)="onSearchCondition()" class="btn btn-circle"><i class="fa fa-calculator"></i></button></span></p>
        <p>{{ 'SEARCH_HELP_PROMOTION_ENABLED' | translate }} <span><button type="button" (click)="onSearchEnabled()" class="btn btn-circle"><i class="fa fa-power-off"></i></button></span></p>
        <p>{{ 'SEARCH_HELP_CALENDAR' | translate }} <span><button type="button" (click)="onSearchDate()" class="btn btn-circle"><i class="fa fa-calendar"></i></button></span></p>
      </div>
    </div>

    <div *ngIf="selectedShop == null">
      <p class="bg-danger text-padding">
        {{ 'SHOP_SELECTION_REQUIRED' | translate }}
      <span>
        <button type="button" (click)="onShopSelect()" class="btn btn-circle"><i class="fa fa-sitemap"></i></button>
      </span>
      </p>
    </div>

    <div *ngIf="selectedShop != null && selectedCurrency == null">
      <p class="bg-danger text-padding">
        {{ 'CURRENCY_SELECTION_REQUIRED' | translate }}
      <span>
        <button type="button" (click)="onCurrencySelect()" class="btn btn-circle"><i class="fa fa-dollar"></i></button>
      </span>
      </p>
    </div>

    <div *ngIf="promotionFilterRequired && selectedShop != null && selectedCurrency != null">
      <p class="bg-danger text-padding">{{ 'FILTER_REQUIRED' | translate }}</p>
    </div>

    <div *ngIf="promotionFilterCapped">
      <p class="bg-warning text-padding">{{ 'FILTER_CAPPED' | translate }}</p>
    </div>

    <yc-promotions [promotions]="promotions" (dataSelected)="onPromotionSelected($event)"></yc-promotions>
  </div>

  <div [hidden]="viewMode !== 'promotion'">
    <yc-promotion [promotion]="promotionEdit"
                  (dataChanged)="onPromotionChanged($event)"></yc-promotion>
  </div>

  <yc-modal #deleteConfirmationModalDialog
            title="{{ 'MODAL_CONFIRM_TITLE' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_DELETE' | translate }}"
            [valid]="true"
            (closed)="onDeleteConfirmationResult($event)">
    {{ 'MODAL_CONFIRM_DELETE' | translate:{value: deleteValue } }}
  </yc-modal>


  <yc-modal #disableConfirmationModalDialog
            title="{{ 'MODAL_CONFIRM_TITLE' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_OK' | translate }}"
            [valid]="true"
            (closed)="onDisableConfirmationResult($event)">
    {{ 'MODAL_CONFIRM_MSG_OFF' | translate:{value: deleteValue } }}
  </yc-modal>

  <yc-modal #selectShopModalDialog
            title="{{ 'PANEL_SHOPS' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_SELECT' | translate }}"
            [valid]="selectedShop != null"
            (closed)="onSelectShopResult($event)">

    <div class="item-list-overflow">
      <yc-shop-select [showNewLink]="false" (dataSelected)="onShopSelected($event)"></yc-shop-select>
    </div>
  </yc-modal>

  <yc-modal #selectCurrencyModalDialog
            title="{{ 'CURRENCY' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_SELECT' | translate }}"
            [valid]="selectedCurrency != null"
            (closed)="onSelectCurrencyResult($event)">

    <div class="item-list-overflow">
      <yc-currency-select [shop]="selectedShop" (dataSelected)="onCurrencySelected($event)"></yc-currency-select>
    </div>
  </yc-modal>

</div>
