<ng-template [ngIf]="filteredConfigurations">
  <div class="row">
    <div>
      <h1 class="page-header">{{ 'PANEL_SYSTEM_CONFIG' | translate }}</h1>
    </div>

    <div class="row data-control">


      <div class="col-xs-12 col-md-5 padding-lr-0">

        <form class="width-100">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" (click)="sortSelectModal.showDialog()" class="btn {{ sortColumn ? 'btn-info' : 'btn-default' }} btn-circle btn-xl" title="{{ 'MODAL_BUTTON_HELPSORT' | translate }}">
                <i class="fa fa-sort-amount-asc"></i>
              </button>
            </span>
            <input class="form-control filter-input" type="text" name="configurationFilter" [(ngModel)]="configurationFilter" (ngModelChange)="onFilterChange()" autocomplete="off"/>
            <span class="input-group-btn">
            <button class="btn btn-default btn-circle btn-xl" type="button" (click)="onClearFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
              <i class="fa fa-times-circle-o"></i>
            </button>
          </span>
          </div>
        </form>

      </div>

      <div class="col-xs-12 col-md-7 padding-lr-0 button-panel">

        <button type="button" (click)="onRowInfoSelected()" [disabled]="selectedRow == null" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_QUICKINFO' | translate }}">
          <i class="fa fa-info"></i>
        </button>

        <button type="button" (click)="onReloadHandler()" class="btn btn-danger btn-circle btn-xl" title="{{ 'CLUSTER_CFG_REFRESH' | translate }}">
          <i class="fa fa-gears"></i>
        </button>

        <button type="button" (click)="onRefreshHandler()" class="btn btn-info btn-circle btn-xl" title="{{ 'MODAL_BUTTON_REFRESH' | translate }}">
          <i class="fa fa-refresh"></i>
        </button>

        <button type="button" (click)="onSaveHandler()" class="btn btn-info btn-circle btn-xl hidden-sm hidden-xs" title="{{ 'MODAL_BUTTON_DOWNLOAD' | translate }}">
          <i class="fa fa-download"></i>
        </button>

      </div>

    </div>

    <div class="{{ loading ? 'loading-data' : '' }}">

      <section class="no-more-tables">
        <table class="table-bordered table-striped table-condensed cf">
          <thead class="cf">
          <tr>
            <th><a class="js-click" (click)="onSortClick('nodeId')">{{ 'CONFIG_NODE' | translate }} <span [hidden]="sortColumn != 'nodeId'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
            <th><a class="js-click" (click)="onSortClick('functionalArea')">{{ 'CONFIG_NAME' | translate }} <span [hidden]="sortColumn != 'functionalArea'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
            <th>{{ 'CONFIG_TARGET' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of filteredConfigurations; let i = index" class="{{row == selectedRow ? 'active' : ''}}">
            <ng-template [ngIf]=" ( i >= pageStart &&  i < pageEnd )">
              <td title="{{ 'CONFIG_NODE' | translate }}"><a class="js-click" (click)="onSelectRow(row)" title="{{row.nodeUri ? row.nodeUri : row.nodeId}}">{{row.nodeId}} <i class="fa fa-info-circle"></i></a></td>
              <td title="{{ 'CONFIG_NAME' | translate }}"><a class="js-click" (click)="onSelectRow(row)"><span class="label {{ (row.cfgDefault || (row.targets != null && row.targets.length > 0)) ? 'label-info' : 'label-default' }}">{{row.functionalArea}}</span> {{row.cfgInterface}}:{{row.name}}</a></td>
              <td title="{{ 'CONFIG_TARGET' | translate }}"><a class="js-click" (click)="onSelectRow(row)"><span *ngFor="let target of getTargets(row)"><span class="label label-info">{{target}}</span>&nbsp; </span></a> &nbsp;</td>
            </ng-template>
          </tr>
          </tbody>
        </table>
      </section>

      <div>
        <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [ngModel]="currentPage" (pageChanged)="onPageChanged($event)" class="pagination-sm"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
      </div>

    </div>

  </div>

  <cw-sort-select #sortSelectModal
                  [sortColumn]="sortColumn"
                  [sortDesc]="sortDesc"
                  [availableOptions]=" ([
                      { key: 'nodeId', messageKey: 'CONFIG_NODE' },
                      { key: 'functionalArea', messageKey: 'CONFIG_NAME' }
                  ]) "
                  (sortSelected)="onSortClick($event != null ? $event.first : null)"></cw-sort-select>
</ng-template>


<cw-modal #featuresModalDialog
          title="{{ selectedRow != null ? (selectedRow.cfgInterface + ':' + selectedRow.name) : '' }}"
          positiveLabel="{{ 'MODAL_BUTTON_CLOSE' | translate }}"
          disableCancel="true"
          [valid]="true">

  <ng-template [ngIf]="selectedRow">
    <div class="item-list-overflow">
      <ul class="nav nav-second-level item-list">
        <li><pre class="line-breaks" [innerHTML]="getProperties(selectedRow)"></pre></li>
      </ul>
    </div>
  </ng-template>

</cw-modal>


