<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

    <session-factory>
        <property name="cache.provider_class">net.sf.ehcache.hibernate.EhCacheProvider</property>
        <property name="cache.use_query_cache">true</property>
        <property name="cache.provider_configuration_file_resource_path">ehcache.xml</property>


        <property name="hibernate.search.default.indexBase">/npa/lucene-index</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">false</property>
        <!-- validate | update | create | create-drop -->


        <class-cache class="org.yes.cart.domain.entity.Category" usage="read-only"/>
        <collection-cache collection="org.yes.cart.domain.entity.impl.CategoryEntity.attribute" usage="read-only"/>
        <collection-cache collection="org.yes.cart.domain.entity.impl.CategoryEntity.productCategory" usage="read-only"/>

        <class-cache class="org.yes.cart.domain.entity.ProductCategory" usage="read-only"/>

        <class-cache class="org.yes.cart.domain.entity.AttributeGroup" usage="read-only"/>

        <class-cache class="org.yes.cart.domain.entity.AttributeViewGroup" usage="read-only"/>

        <class-cache class="org.yes.cart.domain.entity.Product" usage="read-only"/>
        <collection-cache collection="org.yes.cart.domain.entity.impl.ProductEntity.sku" usage="read-only"/>
        <collection-cache collection="org.yes.cart.domain.entity.impl.ProductEntity.productAssociations" usage="read-only"/>
        <collection-cache collection="org.yes.cart.domain.entity.impl.ProductEntity.ensebleOption" usage="read-only"/>
        <collection-cache collection="org.yes.cart.domain.entity.impl.ProductEntity.attribute" usage="read-only"/>

        <class-cache class="org.yes.cart.domain.entity.Seo" usage="read-only"/>

        <class-cache class="org.yes.cart.domain.entity.Etype" usage="read-only"/>
        <collection-cache collection="org.yes.cart.domain.entity.impl.EtypeEntity.attributes" usage="read-only"/>

        <class-cache class="org.yes.cart.domain.entity.Attribute" usage="read-only"/>

        <class-cache class="org.yes.cart.domain.entity.ProductType" usage="read-only"/>
        <collection-cache collection="org.yes.cart.domain.entity.impl.ProductTypeEntity.attributeViewGroup" usage="read-only"/>
        <collection-cache collection="org.yes.cart.domain.entity.impl.ProductTypeEntity.attribute" usage="read-only"/>


        <event type="post-update">
            <listener class="org.hibernate.search.event.FullTextIndexEventListener"/>
        </event>
        <event type="post-insert">
            <listener class="org.hibernate.search.event.FullTextIndexEventListener"/>
        </event>
        <event type="post-delete">
            <listener class="org.hibernate.search.event.FullTextIndexEventListener"/>
        </event>
        <event type="post-collection-recreate">
            <listener class="org.hibernate.search.event.FullTextIndexEventListener"/>
        </event>
        <event type="post-collection-remove">
            <listener class="org.hibernate.search.event.FullTextIndexEventListener"/>
        </event>
        <event type="post-collection-update">
            <listener class="org.hibernate.search.event.FullTextIndexEventListener"/>
        </event>


    </session-factory>

</hibernate-configuration>