<div class="row">
  <div>
    <h1 class="page-header">{{ 'PANEL_CUSTOMER_SERVICE_CUSTOMERS' | translate }} {{ selectedCustomer ? (' / ' + selectedCustomer.customerId + ' ' + selectedCustomer.email) : '' }}</h1>
  </div>


  <div class="row data-control">

    <div class="col-xs-12 col-md-5 padding-lr-0" [hidden]="viewMode !== 'customers'">
      <form class="width-100">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" (click)="onSearchHelpToggle()" class="btn {{ searchHelpShow ? 'btn-info' : 'btn-default' }} btn-circle btn-xl" title="{{ 'MODAL_BUTTON_HELPFILTER' | translate }}">
              <i class="fa fa-question-circle-o"></i>
            </button>
          </span>
          <span class="input-group-btn">
            <button type="button" (click)="onForceShowAll()" class="btn {{ forceShowAll ? 'btn-danger' : 'btn-default' }} btn-square btn-xl " title="{{ (forceShowAll ? 'MODAL_BUTTON_ALLFILTEROFF' : 'MODAL_BUTTON_ALLFILTERON') | translate }}">
              <i class="fa fa-filter"></i>
            </button>
          </span>
          <input class="form-control filter-input" type="text" name="customerFilter" [(ngModel)]="customerFilter" (ngModelChange)="onFilterChange($event)" autocomplete="off"/>
          <span class="input-group-btn">
            <button class="btn btn-default btn-circle btn-xl" type="button" (click)="onClearFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
              <i class="fa fa-times-circle-o"></i>
            </button>
          </span>
        </div>
      </form>
    </div>

    <div class="col-xs-12 {{ viewMode === 'customers' ? 'col-md-7' : '' }} padding-lr-0 button-panel">

      <button type="button" (click)="onBackToList()" [hidden]="viewMode === 'customers'" class="btn btn-info btn-circle btn-xl" title="{{ 'MODAL_BUTTON_BACK' | translate }}">
        <i class="fa fa-chevron-left"></i>
      </button>

      <button type="button" (click)="onRowNew()" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_CREATE' | translate }}">
        <i class="fa fa-plus"></i>
      </button>

      <button type="button" (click)="onRowEditSelected()" [disabled]="selectedCustomer == null" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_EDIT' | translate }}">
        <i class="fa fa-edit"></i>
      </button>

      <button type="button" (click)="onRowDeleteSelected()" [disabled]="selectedCustomer == null" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELETE' | translate }}">
        <i class="fa fa-remove"></i>
      </button>

      <yc-data-control [changed]="changed"
                       [valid]="validForSave"
                       (saveEvent)="onSaveHandler()"
                       (discardEvent)="onDiscardEventHandler()"
                       (refreshEvent)="onRefreshHandler()"></yc-data-control>

    </div>

  </div>

  <div [hidden]="viewMode !== 'customers'" class="{{ loading ? 'loading-data' : '' }}">

    <div *ngIf="searchHelpShow">
      <div class="bg-info text-padding block-margin-spacer">
        <p>{{ 'SEARCH_HELP_CUSTOMER_DEFAULT' | translate }}</p>
        <p>{{ 'SEARCH_HELP_CUSTOMER_NUMBER' | translate }} <span><button type="button" (click)="onSearchNumber()" class="btn btn-default btn-circle"><i class="fa fa-tag"></i></button></span></p>
        <p>{{ 'SEARCH_HELP_CUSTOMER_CUSTOMER' | translate }} <span><button type="button" (click)="onSearchCustomer()" class="btn btn-default btn-circle"><i class="fa fa-user"></i></button></span></p>
        <p>{{ 'SEARCH_HELP_CUSTOMER_ADDRESS' | translate }} <span><button type="button" (click)="onSearchAddress()" class="btn btn-default btn-circle"><i class="fa fa-home"></i></button></span></p>
        <p>{{ 'SEARCH_HELP_CUSTOMER_POLICY' | translate }} <span><button type="button" (click)="onSearchPolicy()" class="btn btn-default btn-circle"><i class="fa fa-dollar"></i></button></span></p>
        <p>{{ 'SEARCH_HELP_CALENDAR' | translate }} <span><button type="button" (click)="onSearchDate()" class="btn btn-default btn-circle"><i class="fa fa-calendar"></i></button></span></p>
      </div>
    </div>

    <div *ngIf="customerFilterRequired">
      <p class="bg-danger text-padding">{{ 'FILTER_REQUIRED' | translate }}</p>
    </div>

    <div *ngIf="customerFilterCapped">
      <p class="bg-warning text-padding">{{ 'FILTER_CAPPED' | translate }}</p>
    </div>

    <yc-customers [customers]="customers" (dataSelected)="onCustomerSelected($event)"></yc-customers>
  </div>

  <div [hidden]="viewMode !== 'customer'" class="{{ loading ? 'loading-data' : '' }}">
    <yc-customer [customer]="customerEdit" [shops]="shops" [attributes]="customerEditAttributes"
                 (dataChanged)="onCustomerChanged($event)"
                 (passwordReset)="onCustomerReset($event)"></yc-customer>
  </div>

  <yc-modal #deleteConfirmationModalDialog
            title="{{ 'MODAL_CONFIRM_TITLE' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_DELETE' | translate }}"
            [valid]="true"
            (closed)="onDeleteConfirmationResult($event)">
    {{ 'MODAL_CONFIRM_DELETE' | translate:{value: deleteValue } }}
  </yc-modal>

</div>
