<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>

	<div style="clear:both;">
		<div class="g72 m5">
			<p>
				<wicket:message key="quantity">[Quantity]</wicket:message>
			</p>
		</div>
		<div class="g144 m5">
			<p align="right">
				<wicket:message key="price">[Price]</wicket:message>
			</p>
		</div>
	</div>
	
    <div wicket:id="skusPriceTiers" style="clear:both;">
		<div class="g72 m5">
			<p align="right">
				<span wicket:id="quantity">[quantity]</span>
			</p>
		</div>
		<div class="g144 m5">
			<p align="right">
				<wicket:container wicket:id="priceView">
					[price]
				</wicket:container>
			</p>
		</div>
	</div>
	
</wicket:panel>
</body>
</html>