<p style="font-family:sans-serif;font-size:14px;font-weight:normal;text-transform:none;margin-top:0;margin-bottom:20px;color:#464951;text-align:left;">
    Шановний (-на) <b>$firstName $lastName</b>,<br>
    <% if (additionalData.callCentrePasswordReset) { %>
    Служба підтримки зробила запит на новий пароль на
    <% } else { %>
    Вами або кимось іншим був зроблений запит на новий пароль на
    <% } %>
    <% if (shopPreferredUrl != null && !shopPreferredUrl.isEmpty()) { %>
    <a href="<%out.print(shopPreferredUrl.iterator().next())%>">$shopName</a>.
    <% } else { %>
    $shopName
    <% }%>
    <br>
    <br>
    <% if (authToken != null) { %>
    <% if (shopPreferredUrl != null && !shopPreferredUrl.isEmpty()) { %>
    Перейдіть по <a href="<%out.print(shopPreferredUrl.iterator().next())%>/resetPasswordCmd/$authToken">цьому</a> посиланню для підтвердження.
    <% } else { %>
    Використайте код <b>$authToken</b> для підтвердження.
    <% }%>
    <% } else { %>
    Ваш логін: <b>$login</b>
    <br>
    Ваш новий пароль: <b>$password</b>
    <% }%>
</p>
