<p style="font-family:sans-serif;font-size:14px;font-weight:normal;text-transform:none;margin-top:0;margin-bottom:20px;color:#464951;text-align:left;">
    Guten Tag <b>$firstName $lastName</b>,<br>
    <% if (additionalData.callCentrePasswordReset) { %>
    Das Call Center hat ein neues Passwort angefragt bei
    <% } else { %>
    Sie haben ein neues Passwort angefragt bei
    <% } %>
    <% if (shopSecureUrl != null && !shopSecureUrl.isEmpty()) { %>
    <a href="<%out.print(shopSecureUrl.iterator().next())%>">$shopName</a>.
    <% } else { %>
    $shopName
    <% }%>
    <br>
    <br>
    <% if (authToken != null) { %>
    <% if (shopSecureUrl != null && !shopSecureUrl.isEmpty()) { %>
    Klicken Sie <a href="<%out.print(shopSecureUrl.iterator().next())%>/resetPasswordCmd/$authToken">hier</a> um die Zurücksetzung Ihres Passwwortes zu bestätigen.
    <% } else { %>
    Verwenden Sie diesen Link <b>$authToken</b> zur Bestätigung des zurücksetzens.
    <% }%>
    <% } else { %>
    Ihr neues Passwort lautet: <b>$password</b>
    <% }%>
</p>
