<p style="font-family:sans-serif;font-size:14px;font-weight:normal;text-transform:none;margin-top:0;margin-bottom:20px;color:#464951;text-align:left;">
    Уважаемый (-ая) <b>$firstName $lastName</b>,<br>
    <% if (additionalData.callCentrePasswordReset) { %>
    Служба поддержки запросила новый пароль на
    <% } else { %>
    Вы или кто то другой запросили новый пароль на
    <% } %>
    <% if (shopPreferredUrl != null && !shopPreferredUrl.isEmpty()) { %>
    <a href="<%out.print(shopPreferredUrl.iterator().next())%>">$shopName</a>.
    <% } else { %>
    $shopName
    <% }%>
    <br>
    <br>
    <% if (authToken != null) { %>
    <% if (shopPreferredUrl != null && !shopPreferredUrl.isEmpty()) { %>
    Перейдите по <a href="<%out.print(shopPreferredUrl.iterator().next())%>/resetPasswordCmd/$authToken">этой</a> ссылке для подтверждения.
    <% } else { %>
    Используйте код <b>$authToken</b> для подтверждения.
    <% }%>
    <% } else { %>
    Ваш логин: <b>$login</b>
    <br>
    Ваш новый пароль: <b>$password</b>
    <% }%>
</p>
