<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <!-- AddToAny BEGIN -->
    <div class="a2a_kit a2a_default_style">
        <wicket:container wicket:id="anchor">[Share Link]</wicket:container>
        <span class="a2a_divider"></span>
        <a class="a2a_button_pinterest"></a>
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_google_plus"></a>
        <a class="a2a_button_google_bookmarks"></a>
        <a class="a2a_button_odnoklassniki"></a>
        <a class="a2a_button_evernote"></a>
        <a class="a2a_button_reddit"></a>
        <a class="a2a_button_stumbleupon"></a>
        <a class="a2a_button_myspace"></a>
        <a class="a2a_button_wordpress"></a>
    </div>
    <wicket:container wicket:id="js">[JS init]</wicket:container>
    <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
</wicket:panel>
</body>
</html>