<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <table border="1">
        <tr>
            <td>
                <img wicket:id="defaultImage" id="defaultImage" align="center"/>
            </td>
        </tr>
        <tr>
            <td>
                <table border="1">
                    <tr>
                        <td wicket:id="altImageList">
                            <img wicket:id="altImage" align="center"/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</wicket:panel>
</body>
</html>