
<div id="sidebar-logo">
  Powered by<br/>
  <a href="http://yes-cart.org" target="_blank">YC - pure <sup>e</sup>Commerce</a>
</div>

<accordion [closeOthers]="oneAtATime">

  <accordion-group>
    <div accordion-heading> Customer service  </div>
    <ul class="nav nav-second-level">
      <li>
        <a [routerLink]="['/Home']">Orders</a>
      </li>
      <li>
        <a [routerLink]="['/Home']">Payments</a>
      </li>
      <li>
        <a [routerLink]="['/Home']">Customers</a>
      </li>
    </ul>
  </accordion-group>


  <accordion-group>
    <div accordion-heading> Master catalogue </div>
    <ul class="nav nav-second-level">
      <li>
        <a [routerLink]="['/Products']">Products</a>
      </li>
    </ul>
  </accordion-group>

  <accordion-group>
    <div accordion-heading> Shops  </div>
    <shoplist (shopEditTask)="selectCurrentShop($event)"></shoplist>
  </accordion-group>


<!--
  <accordion-group heading="Dynamic Body Content">
    <p>The body of the accordion group grows to fit the contents</p>
    <button type="button" class="btn btn-primary btn-sm" (click)="addItem()">Add Item</button>
    <div *ngFor="#item of items">{{item}}</div>
  </accordion-group>
-->
<!--
  <accordion-group #group [isOpen]="status.open">
    <div accordion-heading>
      I can have markup, too!
      <i class="pull-right glyphicon"
         [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
    </div>
    This is just some content to illustrate fancy headings.
  </accordion-group>
-->
</accordion>

<!--
<ul class="nav in" [closeOthers]="oneAtATime">


  <ul class="nav in" accordion>
    <li>
      <a [routerLink]="['/Home']"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
    </li>
    <li>
      <a [routerLink]="['/About']"><i class="fa fa-dashboard fa-fw"></i> About</a>
    </li>
  </ul>
</ul>
-->
