<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>
    <div class="g504" style="clear:both;" wicket:id="products">
		<div class="g144 m5">
			<a wicket:id="productLinkImage"   class="image-border">
				<img wicket:id="productDefaultImage" hspace="5" vspace="5"/>
			</a>
		</div>
		<div class="g288 m5" style="margin-top:35px;">
			<a wicket:id="productLinkName">
				<span wicket:id="name"/>
			</a>
		</div>
	</div>
</wicket:panel>
</body>
</html>