<div class="row">
  <div *ngIf="system">
    <h1 class="page-header">{{ 'PANEL_SYSTEM_PG' | translate }} {{ selectedGateway ? (' / ' + selectedGateway.name) : '' }}</h1>
  </div>


  <div class="row data-control">

    <div class="col-xs-12 col-md-5 padding-lr-0" [hidden]="viewMode !== 'pgs'">
      <form class="width-100">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" (click)="sortSelectGatewayModal.showDialog()" class="btn {{ gatewaySort.first ? 'btn-info' : 'btn-default' }} btn-circle btn-xl" title="{{ 'MODAL_BUTTON_HELPSORT' | translate }}">
              <i class="fa fa-sort-amount-asc"></i>
            </button>
          </span>
          <input class="form-control filter-input" type="text" name="gatewayFilter" [(ngModel)]="gatewayFilter" autocomplete="off"/>
          <span class="input-group-btn">
            <button class="btn btn-default btn-circle btn-xl" type="button" (click)="onClearFilterPg()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
              <i class="fa fa-times-circle-o"></i>
            </button>
          </span>
        </div>
      </form>
    </div>

    <div class="col-xs-12 col-md-5 padding-lr-0" [hidden]="viewMode !== 'params'">
      <form class="width-100">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" (click)="onSearchHelpToggle()" class="btn {{ searchHelpShow ? 'btn-info' : 'btn-default' }} btn-circle btn-xl" title="{{ 'MODAL_BUTTON_HELPFILTER' | translate }}">
              <i class="fa fa-question-circle-o"></i>
            </button>
            <button type="button" (click)="sortSelectParamModal.showDialog()" class="btn {{ paramSort.first ? 'btn-info' : 'btn-default' }} btn-square btn-xl" title="{{ 'MODAL_BUTTON_HELPSORT' | translate }}">
              <i class="fa fa-sort-amount-asc"></i>
            </button>
          </span>
          <input class="form-control filter-input" type="text" name="paramFilter" [(ngModel)]="paramFilter" autocomplete="off"/>
          <span class="input-group-btn">
            <button class="btn btn-default btn-circle btn-xl" type="button" (click)="onClearFilterParam()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
              <i class="fa fa-times-circle-o"></i>
            </button>
          </span>
        </div>
      </form>
    </div>

    <div class="col-xs-12 col-md-7 padding-lr-0 button-panel">

      <button type="button" (click)="onBackToList()" [hidden]="viewMode === 'pgs'" class="btn btn-info btn-circle btn-xl" title="{{ 'MODAL_BUTTON_BACK' | translate }}">
        <i class="fa fa-chevron-left"></i>
      </button>

      <button type="button" (click)="onIncludeSecure()"  [hidden]="viewMode === 'params'" class="btn {{ includeSecure ? 'btn-danger' : 'btn-default' }} btn-circle btn-xl" title="{{ (includeSecure ? 'MODAL_BUTTON_SECURE_ATTR_OFF' : 'MODAL_BUTTON_SECURE_ATTR_ON') | translate }}">
        <i class="fa {{ includeSecure ? 'fa-unlock' : 'fa-lock' }}"></i>
      </button>

      <button type="button" (click)="onRowListSelected()" [disabled]="selectedGateway == null" [hidden]="viewMode === 'params'" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DETAILS' | translate }}">
        <i class="fa fa-list"></i>
      </button>

      <button type="button" (click)="onRowEnableSelected()" [disabled]="selectedGateway == null"  [hidden]="viewMode !== 'pgs'" class="btn {{selectedGateway != null && selectedGateway.active ? 'btn-success' : 'btn-danger'}} btn-circle btn-xl" title="{{ (selectedGateway != null && selectedGateway.active ? 'MODAL_BUTTON_DISABLE' : 'MODAL_BUTTON_ENABLE') | translate }}">
        <i class="fa fa fa-power-off"></i>
      </button>

      <button type="button" (click)="onRowInfoSelected()" [disabled]="selectedGateway == null" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_QUICKINFO' | translate }}">
        <i class="fa fa-info"></i>
      </button>

      <button type="button" (click)="onRowNew()" [hidden]="system === false || viewMode !== 'params'" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_CREATE' | translate }}">
        <i class="fa fa-plus"></i>
      </button>

      <button type="button" (click)="onRowEditSelected()" [disabled]="selectedParam == null" [hidden]="viewMode !== 'params'" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_EDIT' | translate }}">
        <i class="fa fa-edit"></i>
      </button>

      <button type="button" (click)="onRowDeleteSelected()" [disabled]="selectedParam == null" [hidden]="viewMode !== 'params'" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELETE' | translate }}">
        <i class="fa fa-remove"></i>
      </button>

      <cw-data-control [changed]="changed"
                       [valid]="validForSave"
                       (saveEvent)="onSaveHandler()"
                       (discardEvent)="onDiscardEventHandler()"
                       (refreshEvent)="onRefreshHandler()"></cw-data-control>
    </div>

  </div>

  <div *ngIf="!system">
    <h3 class="page-header">{{ 'PANEL_SYSTEM_PG' | translate }} {{ shopCode ? (' / ' + shopCode) : '' }} {{ selectedGateway ? (' / ' + selectedGateway.name) : '' }}</h3>
  </div>

  <div [hidden]="viewMode !== 'pgs'" class="{{ loading ? 'loading-data' : '' }}">
    <cw-gateways [gateways]="gateways"
                 [filter]="gatewayFilter"
                 [sortorder]="gatewaySort"
                 (dataSelected)="onGatewaySelected($event)"
                 (pageSelected)="onPageSelectedGateway($event)"
                 (sortSelected)="onSortSelectedGateway($event)"></cw-gateways>
  </div>

  <div [hidden]="viewMode !== 'params'" class="{{ loading ? 'loading-data' : '' }}">

    <div *ngIf="searchHelpShow" class="row">

      <div class="col-xs-12 block-padding-spacer">
        <div class="bg-info text-padding">
          <p>{{ 'SEARCH_HELP_AV_VALUES' | translate }} <span><button type="button" (click)="onSearchValues()" class="btn btn-default btn-circle"><i class="fa fa-circle"></i></button></span></p>
          <p>{{ 'SEARCH_HELP_AV_VALUES_CHANGES' | translate }} <span><button type="button" (click)="onSearchValuesChanges()" class="btn btn-default btn-circle"><i class="fa fa-edit"></i></button></span></p>
          <p>{{ 'SEARCH_HELP_AV_VALUES_NEW' | translate }} <span><button type="button" (click)="onSearchValuesNew()" class="btn btn-default btn-circle"><i class="fa fa-plus"></i></button></span></p>
          <p>{{ 'SEARCH_HELP_AV_VALUES_NEW_ONLY' | translate }} <span><button type="button" (click)="onSearchValuesNewOnly()" class="btn btn-default btn-circle"><i class="fa fa-plus-circle"></i></button></span></p>
        </div>
      </div>

    </div>

    <cw-parameter-values #parameterValuesComponent
                         [paymentGateway]="selectedGateway"
                         [attributeFilter]="paramFilter"
                         [sortorder]="paramSort"
                         (dataSelected)="onParamSelected($event)"
                         (dataChanged)="onParamChange($event)"
                         (pageSelected)="onPageSelectedParam($event)"
                         (sortSelected)="onSortSelectedParam($event)"></cw-parameter-values>
  </div>

  <cw-sort-select #sortSelectParamModal
                  [sortColumn]="paramSort.first"
                  [sortDesc]="paramSort.second"
                  [availableOptions]=" ([
                              { key: 'name', messageKey: 'AV_ATTRIBUTE' }
                          ]) "
                  (sortSelected)="onSortSelectedParam($event)"></cw-sort-select>

  <cw-sort-select #sortSelectGatewayModal
                  [sortColumn]="gatewaySort.first"
                  [sortDesc]="gatewaySort.second"
                  [availableOptions]=" ([
                              { key: 'rank', messageKey: 'AV_RANK' },
                              { key: 'label', messageKey: 'CODE' },
                              { key: 'name', messageKey: 'NAME' },
                              { key: 'active', messageKey: 'PG_ENABLED' }
                          ]) "
                  (sortSelected)="onSortSelectedGateway($event)"></cw-sort-select>


  <cw-modal #featuresModalDialog
            title="{{ selectedGateway != null ? selectedGateway.name : '' }}"
            disableCancel="true"
            positiveLabel="{{ 'MODAL_BUTTON_CLOSE' | translate }}"
            [valid]="true">

    <ng-template [ngIf]="selectedGateway">
      <ul class="no-bullet">
        <li><i class="fa {{ selectedGateway.feature.onlineGateway ? 'fa-check' : 'fa-times' }}"></i> {{ 'PG_FEATURE_ONLINE' | translate }}</li>
        <li><i class="fa {{ selectedGateway.feature.externalFormProcessing ? 'fa-check' : 'fa-times' }}"></i> {{ 'PG_FEATURE_FORM' | translate }}</li>
        <li><i class="fa {{ selectedGateway.feature.supportAuthorize ? 'fa-check' : 'fa-times' }}"></i> {{ 'PG_FEATURE_AUTH' | translate }}</li>
        <li><i class="fa {{ selectedGateway.feature.supportCapture ? 'fa-check' : 'fa-times' }}"></i> {{ 'PG_FEATURE_CAPTURE' | translate }}</li>
        <li><i class="fa {{ selectedGateway.feature.supportAuthorizeCapture ? 'fa-check' : 'fa-times' }}"></i> {{ 'PG_FEATURE_AUTH_CAPTURE' | translate }}</li>
        <li><i class="fa {{ selectedGateway.feature.supportCaptureMore ? 'fa-check' : 'fa-times' }}"></i> {{ 'PG_FEATURE_CAPTURE_MORE' | translate }}</li>
        <li><i class="fa {{ selectedGateway.feature.supportCaptureLess ? 'fa-check' : 'fa-times' }}"></i> {{ 'PG_FEATURE_CAPTURE_LESS' | translate }}</li>
        <li><i class="fa {{ selectedGateway.feature.supportAuthorizePerShipment ? 'fa-check' : 'fa-times' }}"></i> {{ 'PG_FEATURE_AUTH_SHIP' | translate }}</li>
        <li><i class="fa {{ selectedGateway.feature.supportVoid ? 'fa-check' : 'fa-times' }}"></i> {{ 'PG_FEATURE_VOID' | translate }}</li>
        <li><i class="fa {{ selectedGateway.feature.supportReverseAuthorization ? 'fa-check' : 'fa-times' }}"></i> {{ 'PG_FEATURE_REVERSE_AUTH' | translate }}</li>
        <li><i class="fa {{ selectedGateway.feature.supportRefund ? 'fa-check' : 'fa-times' }}"></i> {{ 'PG_FEATURE_REFUND' | translate }}</li>
        <li><i class="fa {{ selectedGateway.feature.requireDetails ? 'fa-check' : 'fa-times' }}"></i> {{ 'PG_FEATURE_DETAILS' | translate }}</li>
        <li>{{ selectedGateway.feature.additionalFeatures }}&nbsp;</li>
      </ul>
    </ng-template>

  </cw-modal>


  <cw-modal #disableConfirmationModalDialog
            title="{{ 'MODAL_CONFIRM_TITLE' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_OK' | translate }}"
            [valid]="true"
            (closed)="onDisableConfirmationResult($event)">
    {{ 'MODAL_CONFIRM_MSG_OFF' | translate:{value: offValue } }}
  </cw-modal>

</div>
