<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
<body>
<wicket:panel>

    <span wicket:id="head">[attr name]</span>

    <ul wicket:id="linkList" class="vmenu">
        <li>
            <div class="filterdivone">
                <a wicket:id="link">
                    <span wicket:id="linkName">[attr value]</span>
                </a>
            </div>
            <div  class="filterdivtwo" align="right">
                [<span wicket:id="quantity">[qty]</span>]
            </div>
        </li>
    </ul>

</wicket:panel>

</body>
</html>