<yc-modal #customerorderModalDialog
          title="{{ 'EMAILPREVIEW_ORDER' | translate:{value: (selectedTemplate ? selectedTemplate : '')} }}"
          cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
          [disableCancel]="true"
          positiveLabel="{{ 'MODAL_BUTTON_CLOSE' | translate }}"
          [valid]="true"
          (closed)="onSelectConfirmationResult($event)">
  <div class="item-list-overflow {{ loading ? 'loading-data' : '' }}">
    <ul class="nav nav-second-level item-list-control">
      <li>
        <form>
          <div class="input-group">
            <input class="form-control filter-input" type="text" name="customerorderFilter" [(ngModel)]="customerorderFilter" (ngModelChange)="onFilterChange()" autocomplete="off"/>
            <span class="input-group-btn">
              <button class="btn btn-default btn-circle filter-btn" type="button" (click)="onClearFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
                <i class="fa fa-times-circle-o"></i>
              </button>
            </span>
          </div>
        </form>
      </li>
      <li *ngIf="customerorderFilterRequired">
        <p class="bg-danger text-padding block-margin-spacer">{{ 'FILTER_REQUIRED' | translate }}</p>
      </li>

      <li *ngIf="customerorderFilterCapped">
        <p class="bg-warning text-padding block-margin-spacer">{{ 'FILTER_CAPPED' | translate }}</p>
      </li>
    </ul>

    <ul class="nav nav-second-level item-list">

      <li *ngFor="let customerorder of filteredCustomerOrders">
        <div class="{{ (selectedCustomerOrder != null && customerorder != null && selectedCustomerOrder.ordernum == customerorder.ordernum) ? 'bg-info row' : 'row' }}" style="padding: 10px 15px" [title]="customerorder.ordernum">
          <div class="col-xs-8"><span class="label label-info">{{customerorder.code}}</span> {{customerorder.ordernum}} {{customerorder.lastname}} ({{customerorder.email}})</div>
          <div class="col-xs-4 text-right">
            <a (click)="onSelectClick(customerorder, 'html')" class="js-click"><span class="label label-info">HTML</span></a>
            <a (click)="onSelectClick(customerorder, 'txt')" class="js-click"><span class="label label-info">TXT</span></a>
          </div>
        </div>
      </li>

    </ul>
  </div>
</yc-modal>
