<ng-template [ngIf]="manager">

  <form role="form" [formGroup]="managerForm">
    <tabset>

      <tab heading="{{ 'TAB_MAIN' | translate }}"  (select)="tabSelected('Main')">

        <ng-template [ngIf]="mustSelectShop">
          <div class="row">
            <div class="col-xs-12 block-padding-spacer">
              <div class="bg-info text-padding">
                <p>{{ 'MANAGER_TAB_SHOPS_NEW' | translate }}</p>
              </div>
            </div>
          </div>
        </ng-template>

        <div class="col-md-9 col-lg-6">
          <div class="panel-body">
            <fieldset>
              <div class="form-group">
                <label>{{ 'CUSTOMER_LOGIN' | translate }}</label>
                <input autofocus class="form-control" placeholder="{{ 'CUSTOMER_LOGIN' | translate }}" formControlName="login" name="login" type="text" [(ngModel)]="manager.login" autocomplete="off" >
                <div [hidden]="managerForm.controls['login'].valid || managerForm.controls['login'].pristine" class="alert alert-danger">
                  <div [hidden]="!managerForm.controls['login'].hasError('checking')">
                    {{ 'REMOTE_CHECK' | translate }}
                  </div>
                  <div [hidden]="!managerForm.controls['login'].hasError('DUPLICATE')">
                    {{ 'UNIQUE_REQUIRED' | translate }}
                  </div>
                  {{ 'LOGIN_REQUIRED' | translate }}
                </div>
              </div>
              <div class="form-group">
                <label>{{ 'CUSTOMER_EMAIL' | translate }}</label>
                <input autofocus class="form-control" placeholder="{{ 'CUSTOMER_EMAIL' | translate }}" formControlName="email" name="email" type="text" [(ngModel)]="manager.email" autocomplete="off" >
                <div [hidden]="managerForm.controls['email'].valid || managerForm.controls['email'].pristine" class="alert alert-danger">
                  <div [hidden]="!managerForm.controls['email'].hasError('checking')">
                    {{ 'REMOTE_CHECK' | translate }}
                  </div>
                  <div [hidden]="!managerForm.controls['email'].hasError('DUPLICATE')">
                    {{ 'UNIQUE_REQUIRED' | translate }}
                  </div>
                  {{ 'EMAIL_REQUIRED' | translate }}
                </div>
              </div>
              <div class="form-group">
                <label>{{ 'CUSTOMER_FIRSTNAME' | translate }}</label>
                <input class="form-control" placeholder="{{ 'CUSTOMER_FIRSTNAME' | translate }}" formControlName="firstName" name="firstName" type="text" [(ngModel)]="manager.firstName">
                <div [hidden]="managerForm.controls['firstName'].valid || managerForm.controls['firstName'].pristine" class="alert alert-danger">
                  <div [hidden]="!managerForm.controls['firstName'].hasError('maxlength')">
                    {{ 'MAXLENGTH_REQUIRED' | translate:{value: 128} }}
                  </div>
                  {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
                </div>
              </div>
              <div class="form-group">
                <label>{{ 'CUSTOMER_LASTNAME' | translate }}</label>
                <input class="form-control" placeholder="{{ 'CUSTOMER_LASTNAME' | translate }}" formControlName="lastName" name="lastName" type="text" [(ngModel)]="manager.lastName">
                <div [hidden]="managerForm.controls['lastName'].valid || managerForm.controls['lastName'].pristine" class="alert alert-danger">
                  <div [hidden]="!managerForm.controls['lastName'].hasError('maxlength')">
                    {{ 'MAXLENGTH_REQUIRED' | translate:{value: 128} }}
                  </div>
                  {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
                </div>
              </div>
              <div class="form-group">
                <label>{{ 'CUSTOMER_COMPANY1' | translate }}</label>
                <input class="form-control" placeholder="{{ 'CUSTOMER_COMPANY1' | translate }}" formControlName="companyName1" name="companyName1" type="text" [(ngModel)]="manager.companyName1">
                <div [hidden]="managerForm.controls['companyName1'].valid || managerForm.controls['companyName1'].pristine" class="alert alert-danger">
                  <div [hidden]="!managerForm.controls['companyName1'].hasError('maxlength')">
                    {{ 'MAXLENGTH_REQUIRED' | translate:{value: 255} }}
                  </div>
                  {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
                </div>
              </div>
              <div class="form-group">
                <label>{{ 'CUSTOMER_COMPANY2' | translate }}</label>
                <input class="form-control" placeholder="{{ 'CUSTOMER_COMPANY2' | translate }}" formControlName="companyName2" name="companyName2" type="text" [(ngModel)]="manager.companyName2">
                <div [hidden]="managerForm.controls['companyName2'].valid || managerForm.controls['companyName2'].pristine" class="alert alert-danger">
                  <div [hidden]="!managerForm.controls['companyName2'].hasError('maxlength')">
                    {{ 'MAXLENGTH_REQUIRED' | translate:{value: 255} }}
                  </div>
                  {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
                </div>
              </div>
              <div class="form-group">
                <label>{{ 'CUSTOMER_DEPARTMENT' | translate }}</label>
                <input class="form-control" placeholder="{{ 'CUSTOMER_DEPARTMENT' | translate }}" formControlName="companyDepartment" name="companyDepartment" type="text" [(ngModel)]="manager.companyDepartment">
                <div [hidden]="managerForm.controls['companyDepartment'].valid || managerForm.controls['companyDepartment'].pristine" class="alert alert-danger">
                  <div [hidden]="!managerForm.controls['companyDepartment'].hasError('maxlength')">
                    {{ 'MAXLENGTH_REQUIRED' | translate:{value: 255} }}
                  </div>
                  {{ 'NON_BLANK_TRIMMED_REQUIRED' | translate }}
                </div>
              </div>
            </fieldset>
          </div>

        </div>
      </tab>

      <tab heading="{{ 'TAB_SHOPS' | translate }}"  (select)="tabSelected('Shops')">

        <ng-template [ngIf]="manager != null">

          <ng-template [ngIf]="!(manager.managerId > 0) && (manager.managerShops == null || manager.managerShops.length == 0)">
            <div class="row">
              <div class="col-xs-12 block-padding-spacer">
                <div class="bg-info text-padding">
                  <p>{{ 'MANAGER_TAB_SHOPS_NEW' | translate }}</p>
                </div>
              </div>
            </div>
          </ng-template>

          <div class="panel-body">
            <div class="row">
              <div class="col-md-6 col-lg-5">
                <div class="panel panel-default">
                  <div class="panel-heading">{{ 'ASSIGNED' | translate }}</div>
                  <ul class="list-group">
                    <li *ngFor="let supported of supportedShops" class="list-group-item {{ supported.second.disabled ? 'disabled text-muted' : '' }}">
                      <h5>
                        <span class="{{ supported.first.disabled ? 'label label-danger': (supported.first.masterCode != null ? 'label label-info' : 'label label-success') }}">{{supported.first.masterCode != null ? supported.first.masterCode + ': ' : ''}}{{supported.first.code}}</span> {{supported.first.name}}
                        <button class="pull-right btn btn-danger btn-circle btn-sm" (click)=onSupportedShopClick(supported)><i class="fa fa-unlink"></i></button>
                      </h5>
                      <p><small>{{supported.first.description}}&nbsp;</small></p>
                      <p><small>{{supported.second.updatedTimestamp | cwdatetime}} {{supported.second.updatedBy}}</small></p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-lg-5">
                <div class="panel panel-default">
                  <div class="panel-heading">{{ 'AVAILABLE' | translate }}</div>
                  <ul class="list-group">
                    <li *ngFor="let available of availableShops" class="list-group-item">
                      <h5>
                        <span class="{{ available.first.disabled ? 'label label-danger': (available.first.masterCode != null ? 'label label-info' : 'label label-success') }}">{{available.first.masterCode != null ? available.first.masterCode + ': ' : ''}}{{available.first.code}}</span> <span>{{available.first.name}}</span>
                        <button class="pull-right btn btn-default btn-circle btn-sm" (click)=onAvailableShopClick(available)><i class="fa fa-link"></i></button>
                      </h5>
                      <p><small>{{available.first.description}}&nbsp;</small></p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </ng-template>

      </tab>

      <tab heading="{{ 'TAB_SUPPLIERS' | translate }}"  (select)="tabSelected('Suppliers')">

        <ng-template [ngIf]="manager != null">

          <div class="row data-control">

            <div class="col-xs-12 padding-lr-0 button-panel">

              <button type="button" (click)="createNew()" class="btn btn-default btn-circle btn-xl">
                <i class="fa fa-plus"></i>
              </button>

            </div>
          </div>


          <div class="panel-body">
            <div class="row">
              <div class="col-md-6 col-lg-5">
                <div class="panel panel-default">
                  <div class="panel-heading">{{ 'ASSIGNED' | translate }}</div>
                  <ul class="list-group">
                    <li *ngFor="let supported of supportedSuppliers" class="list-group-item">
                      <h5>
                        <span class="label label-success">{{supported.first.code}}</span> {{supported.first.code}}
                        <button class="pull-right btn btn-danger btn-circle btn-sm" (click)=onSupportedSupplierClick(supported)><i class="fa fa-unlink"></i></button>
                      </h5>
                      <p><small>&nbsp;</small></p>
                      <p><small>{{ supported.second.updatedTimestamp | cwdatetime }} {{ supported.second.updatedBy }}</small></p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-lg-5">
                <div class="panel panel-default">
                  <div class="panel-heading">{{ 'AVAILABLE' | translate }}</div>
                  <ul class="list-group">
                    <li *ngFor="let available of availableSuppliers" class="list-group-item">
                      <h5>
                        <span class="label label-success">{{available.first.code}}</span> <span>{{available.first.code}}</span>
                        <button class="pull-right btn btn-default btn-circle btn-sm" (click)=onAvailableSupplierClick(available)><i class="fa fa-link"></i></button>
                      </h5>
                      <p><small>&nbsp;</small></p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </ng-template>

      </tab>

      <tab heading="{{ 'PRODUCT_TAB_CATALOG' | translate }}" (select)="tabSelected('Catalogue')">


        <cw-manager-categories-min [manager]="manager" [reload]="reloadCatalogue"
                                   (dataChanged)="onCategoriesDataChanged($event)"></cw-manager-categories-min>
      </tab>

      <tab heading="{{ 'TAB_ROLES' | translate }}"  (select)="tabSelected('Roles')">

        <ng-template [ngIf]="manager != null">

          <div class="panel-body">
            <div class="row">
              <div class="col-md-6 col-lg-5">
                <div class="panel panel-default">
                  <div class="panel-heading">{{ 'ASSIGNED' | translate }}</div>
                  <ul class="list-group">
                    <li *ngFor="let supported of supportedRoles" class="list-group-item">
                      <h5>
                        {{supported.first.description}}
                        <button class="pull-right btn btn-danger btn-circle btn-sm" (click)=onSupportedRoleClick(supported)><i class="fa fa-remove"></i></button>
                      </h5>
                      <p><small>{{supported.first.code}}</small></p>
                      <p><small>{{ supported.second.updatedTimestamp | cwdatetime }} {{ supported.second.updatedBy }}</small></p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-lg-5">
                <div class="panel panel-default">
                  <div class="panel-heading">{{ 'AVAILABLE' | translate }}</div>
                  <ul class="list-group">
                    <li *ngFor="let available of availableRoles" class="list-group-item">
                      <h5>
                        {{available.first.description}}
                        <button class="pull-right btn btn-default btn-circle btn-sm" (click)=onAvailableRoleClick(available)><i class="fa fa-plus"></i></button>
                      </h5>
                      <p><small>{{available.first.code}}</small></p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </ng-template>

      </tab>

      <tab  heading="{{ 'TAB_AUDIT' | translate }}" (select)="tabSelected('Audit')">

        <div class="row">
          <div class="col-xs-12">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-4"><strong>{{ 'CREATED' | translate }}</strong></div>
                <div class="col-xs-8">{{ manager.createdTimestamp | cwdatetime }} {{ manager.createdBy }}</div>
              </div>
              <div class="row">
                <div class="col-xs-4"><strong>{{ 'UPDATED' | translate }}</strong></div>
                <div class="col-xs-8">{{ manager.updatedTimestamp | cwdatetime }} {{ manager.updatedBy }}</div>
              </div>
            </div>
          </div>
        </div>

      </tab>

    </tabset>
  </form>

  <cw-modal #editNewSupplierCode
            title="{{ 'MODAL_CREATE_TITLE' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_SAVE' | translate }}"
            [valid]="validForSave"
            (closed)="editNewSupplierCodeResult($event)">
    <form role="form" [formGroup]="newSupplierForm">
      <fieldset>
        <div class="row">
          <div class="col-xs-3">{{ 'CODE' | translate }}</div>
          <div class="col-xs-9">
            <input class="form-control" formControlName="code" name="newSupplierCode" type="text" [(ngModel)]="newSupplier.code">
            <div [hidden]="newSupplierForm.controls['code'].valid || newSupplierForm.controls['code'].pristine" class="alert alert-danger">
              {{ 'ALPHANUM_REQUIRED' | translate }}
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </cw-modal>

</ng-template>



