<ng-template [ngIf]="manager">

  <form role="form" [formGroup]="managerForm">
    <tabset>

      <tab heading="{{ 'TAB_MAIN' | translate }}"  (select)="tabSelected('Main')">

        <ng-template [ngIf]="manager != null && !(manager.managerId > 0) && (manager.managerShops == null || manager.managerShops.length == 0)">
          <div class="row">
            <div class="col-xs-12 block-padding-spacer">
              <div class="bg-info text-padding">
                <p>{{ 'MANAGER_TAB_SHOPS_NEW' | translate }}</p>
              </div>
            </div>
          </div>
        </ng-template>

        <div class="col-md-9 col-lg-6">
          <div class="panel-body">
            <form role="form" [formGroup]="managerForm">
              <fieldset>
                <div class="form-group">
                  <label>{{ 'CUSTOMER_EMAIL' | translate }}</label>
                  <input autofocus class="form-control" placeholder="{{ 'CUSTOMER_EMAIL' | translate }}" formControlName="email" name="email" type="text" [(ngModel)]="manager.email" autocomplete="off" >
                  <div [hidden]="managerForm.controls['email'].valid || managerForm.controls['email'].pristine" class="alert alert-danger">
                    <div [hidden]="!managerForm.controls['email'].hasError('checking')">
                      {{ 'REMOTE_CHECK' | translate }}
                    </div>
                    <div [hidden]="!managerForm.controls['email'].hasError('DUPLICATE')">
                      {{ 'UNIQUE_REQUIRED' | translate }}
                    </div>
                    {{ 'EMAIL_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'CUSTOMER_FIRSTNAME' | translate }}</label>
                  <input autofocus class="form-control" placeholder="{{ 'CUSTOMER_FIRSTNAME' | translate }}" formControlName="firstName" name="firstName" type="text" [(ngModel)]="manager.firstName">
                  <div [hidden]="managerForm.controls['firstName'].valid || managerForm.controls['firstName'].pristine" class="alert alert-danger">
                    {{ 'SIMPLE_REQUIRED' | translate }}
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ 'CUSTOMER_LASTNAME' | translate }}</label>
                  <input autofocus class="form-control" placeholder="{{ 'CUSTOMER_LASTNAME' | translate }}" formControlName="lastName" name="lastName" type="text" [(ngModel)]="manager.lastName">
                  <div [hidden]="managerForm.controls['lastName'].valid || managerForm.controls['lastName'].pristine" class="alert alert-danger">
                    {{ 'SIMPLE_REQUIRED' | translate }}
                  </div>
                </div>
              </fieldset>
            </form>
          </div>

        </div>
      </tab>

      <tab heading="{{ 'TAB_SHOPS' | translate }}"  (select)="tabSelected('Shops')">

        <ng-template [ngIf]="manager != null">

          <ng-template [ngIf]="!(manager.managerId > 0) && (manager.managerShops == null || manager.managerShops.length == 0)">
            <div class="row">
              <div class="col-xs-12 block-padding-spacer">
                <div class="bg-info text-padding">
                  <p>{{ 'MANAGER_TAB_SHOPS_NEW' | translate }}</p>
                </div>
              </div>
            </div>
          </ng-template>

          <div class="panel-body">
            <div class="row">
              <div class="col-md-6 col-lg-5">
                <div class="panel panel-default">
                  <div class="panel-heading">{{ 'ASSIGNED' | translate }}</div>
                  <ul class="list-group">
                    <li *ngFor="let supported of supportedShops" class="list-group-item {{ supported.second.disabled ? 'disabled text-muted' : '' }}">
                      <h5>
                        <span class="{{ supported.first.disabled ? 'label label-danger': (supported.first.masterCode != null ? 'label label-info' : 'label label-success') }}">{{supported.first.masterCode != null ? supported.first.masterCode + ': ' : ''}}{{supported.first.code}}</span> {{supported.first.name}}
                        <button class="pull-right btn btn-danger btn-circle btn-sm" (click)=onSupportedShopClick(supported)><i class="fa fa-unlink"></i></button>
                      </h5>
                      <p><small>{{supported.first.description}}</small></p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-lg-5">
                <div class="panel panel-default">
                  <div class="panel-heading">{{ 'AVAILABLE' | translate }}</div>
                  <ul class="list-group">
                    <li *ngFor="let available of availableShops" class="list-group-item">
                      <h5>
                        <span class="{{ available.first.disabled ? 'label label-danger': (available.first.masterCode != null ? 'label label-info' : 'label label-success') }}">{{available.first.masterCode != null ? available.first.masterCode + ': ' : ''}}{{available.first.code}}</span> <span>{{available.first.name}}</span>
                        <button class="pull-right btn btn-default btn-circle btn-sm" (click)=onAvailableShopClick(available)><i class="fa fa-link"></i></button>
                      </h5>
                      <p><small>{{available.first.description}}</small></p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </ng-template>

      </tab>

      <tab heading="{{ 'TAB_ROLES' | translate }}"  (select)="tabSelected('Roles')">

        <ng-template [ngIf]="manager != null">

          <div class="panel-body">
            <div class="row">
              <div class="col-md-6 col-lg-5">
                <div class="panel panel-default">
                  <div class="panel-heading">{{ 'ASSIGNED' | translate }}</div>
                  <ul class="list-group">
                    <li *ngFor="let supported of supportedRoles" class="list-group-item">
                      <h5>
                        {{supported.first.description}}
                        <button class="pull-right btn btn-danger btn-circle btn-sm" (click)=onSupportedRoleClick(supported)><i class="fa fa-remove"></i></button>
                      </h5>
                      <p><small>{{supported.first.code}}</small></p>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-md-6 col-lg-5">
                <div class="panel panel-default">
                  <div class="panel-heading">{{ 'AVAILABLE' | translate }}</div>
                  <ul class="list-group">
                    <li *ngFor="let available of availableRoles" class="list-group-item">
                      <h5>
                        {{available.first.description}}
                        <button class="pull-right btn btn-default btn-circle btn-sm" (click)=onAvailableRoleClick(available)><i class="fa fa-plus"></i></button>
                      </h5>
                      <p><small>{{available.first.code}}</small></p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </ng-template>

      </tab>

    </tabset>
  </form>

</ng-template>
