<p style="font-family:sans-serif;font-size:14px;font-weight:normal;text-transform:none;margin-top:0;margin-bottom:20px;color:#464951;text-align:left;">
    Dear <b>$firstName $lastName</b>! <br>
    You are registered at
    <% if (shopPreferredUrl != null && !shopPreferredUrl.isEmpty()) { %>
    <a href="<%out.print(shopPreferredUrl.iterator().next())%>">$shopName</a>
    <% } else { %>
    $shopName
    <% }%>
    shop.
    <br>
    <br>
    Your login is: <b>$login</b>
    <br>
    Your password is: <b>$password</b>
</p>
