
  <yc-modal #errorModalDialog
         title="{{ 'MODAL_ERROR_TITLE' | translate }}"
         cancelLabel="{{ 'MODAL_BUTTON_IGNORE' | translate }}"
         positiveLabel="{{ 'MODAL_BUTTON_RESTARTAPP' | translate }}"
         [valid]="true"
         (closed)="onErrorResult($event)">
    <div>
      {{ errorTitleKey | translate: { params: { value: errorTitleParams } } }}
    </div>
    <div>
      <pre style="max-height: 100px; overflow-y: auto">{{ errorString }}</pre>
    </div>
  </yc-modal>

