  <yc-modal #errorModalDialog
         title="{{ 'MODAL_ERROR_TITLE' | translate }}"
         cancelLabel="{{ 'MODAL_BUTTON_IGNORE' | translate }}"
         positiveLabel="{{ (errorAuth ? 'MODAL_BUTTON_LOGIN':'MODAL_BUTTON_RESTARTAPP') | translate }}"
         [valid]="true"
         (closed)="onErrorResult($event)">
    <div>
      {{ errorTitleKey | translate: { params: { value: errorTitleParams } } }}
    </div>
    <div *ngIf="errorString">
      <textarea class="form-control" rows="6" readonly="readonly">{{ errorString }}</textarea>
    </div>
  </yc-modal>

