<small><b>Cookie Policy</b><br>

    We may store information about you using cookies (files which are sent by us to your computer or other access device) which

    we can access when you visit our site in future. We do this to enhance user experience. If you want to delete any cookies that

    are already on your computer, please refer to the instructions for your file management software to locate the file or directory

    that stores cookies. Our cookies will have the file names JSESSIONID, yc and yccookiepolicy. Information on deleting or controlling

    cookies is available at <a href="http://www.AboutCookies.org" target="_blank">www.AboutCookies.org</a>. Please note that by

    deleting our cookies or disabling future cookies you may not be able to access certain areas or features of our site.

</small>