<template [ngIf]="filteredCluster">
  <div class="row">
    <div>
      <h1 class="page-header">{{ 'PANEL_SYSTEM_CLUSTER' | translate }}</h1>
    </div>

    <div class="text-right data-control">

      <form class="pull-left">
        <input class="filter-input" type="text" name="clusterFilter" [(ngModel)]="clusterFilter" (ngModelChange)="onFilterChange()" autocomplete="off"/>
        <a class="js-click" (click)="onClearFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}"><i class="fa fa-remove"></i></a>
      </form>

      <button type="button" (click)="onRefreshHandler()" class="btn btn-info btn-circle btn-xl" title="{{ 'MODAL_BUTTON_REFRESH' | translate }}">
        <i class="fa fa-refresh"></i>
      </button>

      <button type="button" (click)="onSaveHandler()" class="btn btn-info btn-circle btn-xl hidden-sm hidden-xs" title="{{ 'MODAL_BUTTON_DOWNLOAD' | translate }}">
        <i class="fa fa-download"></i>
      </button>

    </div>

    <div class="{{ loading ? 'loading-data' : '' }}">

      <section class="no-more-tables">
        <table class="table-bordered table-striped table-condensed cf">
          <thead class="cf">
          <tr>
            <th>{{ 'CLUSTER_ID' | translate }}</th>
            <th>{{ 'CLUSTER_TYPE' | translate }}</th>
            <th>{{ 'CLUSTER_CONFIG' | translate }}</th>
            <th>{{ 'CLUSTER_FT_DISABLED' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let row of filteredCluster; let i = index" class="{{row == selectedRow ? 'active' : ''}}">
            <template [ngIf]=" ( i >= pageStart &&  i < pageEnd )">
              <td title="{{ 'CLUSTER_ID' | translate }}"><a class="js-click" (click)="onSelectRow(row)" title="{{row.channel ? row.channel : row.id}}">{{row.id}} <i class="fa fa-info-circle"></i></a></td>
              <td title="{{ 'CLUSTER_TYPE' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.nodeType}} v.{{row.fullVersion}}</a></td>
              <td title="{{ 'CLUSTER_CONFIG' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.nodeConfig}}</a></td>
              <td title="{{ 'CLUSTER_FT_DISABLED' | translate }}"><a class="js-click" (click)="onSelectRow(row)"><i class="fa {{ row.ftIndexDisabled ? 'fa-times-circle' : 'fa-check-circle' }}"></i></a></td>
            </template>
          </tr>
          </tbody>
        </table>
      </section>

      <div>
        <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [ngModel]="currentPage" (pageChanged)="onPageChanged($event)" class="pagination-sm"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
      </div>

    </div>

  </div>
</template>
