<div class="row">
  <div>
    <h1 class="page-header">{{ 'PANEL_CMS_CONTENT' | translate }} {{ shop != null ? (' / ' + shop.code) : '' }} {{ selectedContent ? (' / ' + selectedContent.name) : '' }}</h1>
  </div>


  <div class="row data-control">

    <div class="col-xs-12 col-md-5 padding-lr-0" [hidden]="viewMode !== 'contents'">
      <form class="width-100">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" (click)="onSearchHelpToggle()" class="btn {{ searchHelpShow ? 'btn-info' : 'btn-default' }} btn-circle btn-xl" title="{{ 'MODAL_BUTTON_HELPFILTER' | translate }}">
              <i class="fa fa-question-circle-o"></i>
            </button>
            <button type="button" (click)="sortSelectModal.showDialog()" class="btn {{ contents.searchContext.sortBy ? 'btn-info' : 'btn-default' }} btn-square btn-xl" title="{{ 'MODAL_BUTTON_HELPSORT' | translate }}">
              <i class="fa fa-sort-amount-asc"></i>
            </button>
            <button type="button" (click)="onForceShowAll()" class="btn {{ forceShowAll ? 'btn-danger' : 'btn-default' }} btn-square btn-xl " title="{{ (forceShowAll ? 'MODAL_BUTTON_ALLFILTEROFF' : 'MODAL_BUTTON_ALLFILTERON') | translate }}">
              <i class="fa fa-filter"></i>
            </button>
          </span>
          <input class="form-control filter-input" type="text" name="contentFilter" [(ngModel)]="contentFilter" (ngModelChange)="onContentFilterChange($event)" autocomplete="off"/>
          <span class="input-group-btn">
            <button class="btn btn-default btn-circle btn-xl" type="button" (click)="onClearContentFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
              <i class="fa fa-times-circle-o"></i>
            </button>
          </span>
        </div>
      </form>
    </div>

    <div class="col-xs-12 col-md-5 padding-lr-0" [hidden]="viewMode !== 'mail'">
      <form class="width-100">
        <div class="input-group">
          <input class="form-control filter-input" type="text" name="mailFilter" [(ngModel)]="mailFilter" (ngModelChange)="onMailFilterChange($event)" autocomplete="off"/>
          <span class="input-group-btn">
            <button class="btn btn-default btn-circle btn-xl" type="button" (click)="onClearMailFilter()" title="{{ 'MODAL_BUTTON_CLEARFILTER' | translate }}">
              <i class="fa fa-times-circle-o"></i>
            </button>
          </span>
        </div>
      </form>
    </div>

    <div class="col-xs-12 {{ viewMode !== 'content' ? 'col-md-7' : '' }} padding-lr-0 button-panel">

      <button type="button" (click)="onBackToList()" [hidden]="viewMode === 'contents'" class="btn btn-info btn-circle btn-xl" title="{{ 'MODAL_BUTTON_BACK' | translate }}">
        <i class="fa fa-chevron-left"></i>
      </button>

      <button type="button" (click)="onViewTree()" [hidden]="viewMode !== 'contents'" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_SELECTCONTENT' | translate }}">
        <i class="fa fa-sitemap"></i>
      </button>

      <button type="button" (click)="onMailClick()" [hidden]="viewMode !== 'contents' && viewMode !== 'mail'" class="btn {{ viewMode === 'mail' ? 'btn-info' : 'btn-default' }} btn-circle btn-xl" title="{{ 'SHOP_EMAIL_TEMPLATES' | translate }}">
        <i class="fa fa-envelope-o"></i>
      </button>

      <button type="button" (click)="onRowNew()" [disabled]="shop == null || viewMode !== 'contents'" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_CREATE' | translate }}">
        <i class="fa fa-plus"></i>
      </button>

      <button type="button" (click)="onRowEditSelected()" [disabled]="selectedContent == null || viewMode !== 'contents'" class="btn btn-default btn-circle btn-xl" title="{{ 'MODAL_BUTTON_EDIT' | translate }}">
        <i class="fa fa-edit"></i>
      </button>

      <button type="button" (click)="onRowDeleteSelected()" [disabled]="selectedContent == null || (contentEdit != null && contentEdit.contentId === 0)" class="btn btn-danger btn-circle btn-xl" title="{{ 'MODAL_BUTTON_DELETE' | translate }}">
        <i class="fa fa-remove"></i>
      </button>

      <cw-data-control [changed]="changed"
                       [valid]="validForSave"
                       (saveEvent)="onSaveHandler()"
                       (discardEvent)="onDiscardEventHandler()"
                       (refreshEvent)="onRefreshHandler()"></cw-data-control>

    </div>

  </div>

  <div [hidden]="viewMode !== 'contents'" class="{{ loading ? 'loading-data' : '' }}">

    <div *ngIf="searchHelpShow">
      <div class="bg-info text-padding block-margin-spacer">
        <p>{{ 'SEARCH_HELP_CONTENT_DEFAULT' | translate }}</p>
        <p>{{ 'SEARCH_HELP_CONTENT_PARENT' | translate }} <span><button type="button" (click)="onViewTree()" class="btn btn-default btn-circle"><i class="fa fa-sitemap"></i></button></span></p>
        <p>{{ 'SEARCH_HELP_CONTENT_URI' | translate }} <span><button type="button" (click)="onSearchURI()" class="btn btn-default btn-circle"><i class="fa fa-globe"></i></button></span></p>
      </div>
    </div>

    <div *ngIf="contentFilterRequired">
      <p class="bg-danger text-padding">{{ 'FILTER_REQUIRED' | translate }}</p>
    </div>

    <cw-contents [contents]="contents"
                 (dataSelected)="onContentSelected($event)"
                 (pageSelected)="onPageSelected($event)"
                 (sortSelected)="onSortSelected($event)"></cw-contents>
  </div>

  <div [hidden]="viewMode !== 'content'" class="{{ loading ? 'loading-data' : '' }}">
    <cw-content [content]="contentEdit" [attributes]="contentEditAttributes" [shop]="shop"
                [shopPreviewUrl]="shopPreviewUrl" [shopPreviewCss]="shopPreviewCss" [shopSupportedLanguages]="shopSupportedLanguages"
                (dataChanged)="onContentChanged($event)"></cw-content>
  </div>

  <div [hidden]="viewMode !== 'mail'" class="{{ loading ? 'loading-data' : '' }}">
    <cw-mailtemplates [shop]="shop" [filter]="mailFilter" [emailTemplates]="shopTemplates"
                      (dataSelected)="onTemplateSelected($event)"></cw-mailtemplates>
  </div>


  <cw-modal #deleteConfirmationModalDialog
            title="{{ 'MODAL_CONFIRM_TITLE' | translate }}"
            cancelLabel="{{ 'MODAL_BUTTON_CANCEL' | translate }}"
            positiveLabel="{{ 'MODAL_BUTTON_DELETE' | translate }}"
            [valid]="true"
            (closed)="onDeleteConfirmationResult($event)">
    {{ 'MODAL_CONFIRM_DELETE' | translate:{value: deleteValue } }}
  </cw-modal>

  <cw-content-min-select #contentSelectComponent [shop]="shop"
                         (dataSelected)="onContentTreeDataSelected($event)"></cw-content-min-select>

  <cw-sort-select #sortSelectModal
                  [sortColumn]="contents.searchContext.sortBy"
                  [sortDesc]="contents.searchContext.sortDesc"
                  [availableOptions]=" ([
                      { key: 'guid', messageKey: 'CODE' },
                      { key: 'name', messageKey: 'NAME' },
                      { key: 'availablefrom', messageKey: 'CONTENT_FROM' },
                      { key: 'availableto', messageKey: 'CONTENT_TO' }
                  ]) "
                  (sortSelected)="onSortSelected($event)"></cw-sort-select>
</div>
