<div>

  <section class="no-more-tables">
    <table class="table-bordered table-striped table-condensed cf">
      <thead class="cf">
      <tr>
        <th><a class="js-click" (click)="onSortClick('code')">{{ 'CARRIERSLA_CODE' | translate }} / {{ 'CARRIERSLA_REF' | translate}} <span [hidden]="sortColumn != 'code'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
        <th>{{ 'CARRIERSLA_SLATYPE' | translate }}</th>
        <th><a class="js-click" (click)="onSortClick('name')">{{ 'NAME' | translate }} <span [hidden]="sortColumn != 'name'">{{ sortDesc ? '&uarr;' : '&darr;' }}</span></a></th>
        <th>{{ 'CARRIERSLA_BILL' | translate }}</th>
        <th>{{ 'CARRIERSLA_SHIP' | translate }}</th>
        <th>{{ 'CARRIERSLA_PG' | translate }}</th>
        <th>{{ 'CARRIERSLA_FC' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of filteredSlas; let i = index" class="{{row == selectedSla ? 'active' : ''}}">
        <ng-template [ngIf]=" ( i >= pageStart &&  i < pageEnd )">
          <td title="{{ 'CARRIERSLA_CODE' | translate }} / {{ 'CARRIERSLA_REF' | translate}}"><a class="js-click" (click)="onSelectRow(row)">{{row.code}} {{ row.externalRef != null ? ('/ ' + row.externalRef) : '' }}</a></td>
          <td title="{{ 'CARRIERSLA_SLATYPE' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{ getSLaType(row) }} <i class="fa {{ row.guaranteed ? 'fa-calendar-check-o' : 'fa-calendar' }}"></i><ng-template [ngIf]="row.namedDay">+<i class="fa fa-user"></i></ng-template> {{ row.minDays > 0 ? row.minDays : '0' }}{{ row.maxDays > 0 ? ' - ' + row.maxDays : '' }} <span class="text-danger">{{ row.excludeCustomerTypes }}</span></a></td>
          <td title="{{ 'NAME' | translate }}"><a class="js-click" (click)="onSelectRow(row)">{{row.name}}</a></td>
          <td title="{{ 'CARRIERSLA_BILL' | translate }}"><a class="js-click" (click)="onSelectRow(row)"><i class="fa {{ row.billingAddressNotRequired ? 'fa-times-circle' : 'fa-check-circle' }}"></i></a></td>
          <td title="{{ 'CARRIERSLA_SHIP' | translate }}"><a class="js-click" (click)="onSelectRow(row)"><i class="fa {{ row.deliveryAddressNotRequired ? 'fa-times-circle' : 'fa-check-circle' }}"></i></a></td>
          <td title="{{ 'CARRIERSLA_PG' | translate }}"><a class="js-click" (click)="onSelectRow(row)">
            <span *ngFor="let pg of getPGNames(row)">
              <span class="label {{ pg.active ? 'label-info' : 'label-default'}}">{{pg.name}}</span>&nbsp;
            </span>
            &nbsp;
          </a></td>
          <td title="{{ 'CARRIERSLA_FC' | translate }}"><a class="js-click" (click)="onSelectRow(row)">
            <span *ngFor="let fc of getFCNames(row)">
              <span class="label label-info" title="{{fc.name}}">{{fc.code}}</span>&nbsp;
            </span>
            &nbsp;
          </a></td>
        </ng-template>
      </tr>
      </tbody>
    </table>
  </section>

  <div>
    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" [ngModel]="currentPage" (pageChanged)="onPageChanged($event)" class="pagination-sm"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>

</div>
